.c-event-calendar-categories {
  text-align: right;

  @media($bp-smaller-than-phablet) {
    padding: 0 5px;
  }

  @media($bp-larger-than-phablet) {
    padding: 0 30px;
  }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      width: 100%;
    }

    li {
      display: inline-block;
      padding: 5px 10px;
      margin: 10px 2px;
      min-width: 50px;

      border: 1px solid $color-border-gray;
      border-radius: 2px;
      background-color: #EEE;
      text-align: center;
      cursor: pointer;
      box-shadow: 1px 1px 3px 0px rgba(122, 122, 122, 0.1);
    }

  li {
    font-size: 14px;
    list-style-type: none;

    &.active {
      font-weight: 600;
    }
  }

}

.c-event-calendar-categories__label {
  border-bottom: $border;

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
