@import 'modules/variables';

.c-event-date {
  // Structure
  width: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  // Text
  text-align: center;
}

.c-event-date__month {
  // Structure
  margin-bottom: 0.25rem;

  // Text
  font-weight: $font-weight-semi-bold;
  font-size: font-size(10);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-text-gray-light;
  line-height: 1em;
}

.c-event-date__day {
  // Text
  color: $color-accent-blue;
  font-size: font-size(24);
  font-weight: $font-weight-semi-bold;
  line-height: 0.85em;
}

.c-event-date--large {
  // Structure
  width: 4.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  // Border
  border-radius: 2px;
  border: solid 1px $color-border-gray-light;

  // Extra
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);

  .c-event-date__month {
    // Text
    font-size: font-size(13);
  }

  .c-event-date__day {
    // Text
    font-size: font-size(32);
  }
}
