{% extends 'guide/base.html' %}

{% block content %}

<header class="c-banner c-banner--article" style="background-image: url('{{ article.featured_image.image.get_absolute_url }}');">
  <div class="c-banner__container">
    <div class="o-container">
      <div class="o-wrapper">
        <div class="c-banner--article__inner">
          <div class="c-banner--article__nav">
            <nav class="c-nav-top">
              <a class="o-logo--small" href="{% url 'guide-landing' %}"></a>
              <div class="c-nav-top__message">From your friends at <a href="{% url 'home' %}">The Ubyssey</a></div>
            </nav>
          </div>
          <div class="c-banner--article__headings">
            <h1 class="c-heading--main">{{ article.headline }}</h1>
            {% if article.template_fields.subheading %}<h2 class="c-heading--subheading">{{ article.template_fields.subheading }}<h2>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="c-article">
  <div class="o-container">
    <div class="o-wrapper">
      {% if article.template_fields.intro %}<p class="c-article__intro">{{ article.template_fields.intro }}</p>{% endif %}
      <div class="c-article__content">
        <div class="advertisement box sidebar">
            <div class="adslot" id="div-gpt-ad-1443288719995-15-{{ article.id }}" data-size="box" data-dfp="Box_A"></div>
        </div>
        {{ article.html|safe }}
      </div>
    </div>
  </div>
  <div class="c-up-next">
    <div class="c-up-next__arrow"></div>
    <div class="c-up-next__text">Pick one</div>
    <div class="c-up-next__arrow c-up-next__arrow--right"></div>
  </div>
  <div class="c-tiles">
    {% for a in next %}
      {% include 'guide/tile.html' with type='3' title=a.headline slug=a.slug image=a.featured_image.image.get_absolute_url %}
    {% endfor %}
  </div>
</main>
{% endblock %}
