{% extends 'guide/base.html' %}

{% block content %}

<header class="c-banner c-banner--article" style="background-image: url('{{ article.featured_image.image.get_absolute_url }}');">
  <div class="o-container">
    <div class="o-wrapper">
      <div class="c-banner--article__inner">
        <div class="c-banner--article__nav">
          <nav class="c-nav-top">
            <a class="o-logo--small" href="{% url 'guide-index' %}"></a>
            <div class="c-nav-top__message">From your friends at <a href="{% url 'home' %}">The Ubyssey</a></div>
          </nav>
        </div>
        <div class="c-banner--article__headings">
          <h1 class="c-heading--main">{{ article.headline }}</h1>
          <h2 class="c-heading--subheading">{{ article.template_fields.subheading }}<h2>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="c-article">
  <div class="o-container">
    <div class="o-wrapper">
      <p class="c-article__intro">{{ article.template_fields.intro }}</p>
      <div class="c-article__container">
        <div class="c-article__content">{{ article.get_html|safe }}</div>
        <div class="c-article__sidebar">
          <div class="advertisement box sidebar">
              <div class="adslot" id="div-gpt-ad-1443288719995-15-{{ article.id }}" data-size="box" data-dfp="News_BoxA_300x250"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-up-next">
    <div class="c-up-next__arrow"></div>
    <div class="c-up-next__text">Pick one</div>
    <div class="c-up-next__arrow c-up-next__arrow--right"></div>
  </div>
  <div class="c-tiles">
    {% include 'guide/tile.html' with type='3' title='About UBC' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/campus.png' %}
    {% include 'guide/tile.html' with type='3' title='About UBC' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/campus.png' %}
  </div>
</main>
{% endblock %}
