{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Guide to UBC{% if title %} - {{title}}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.typekit.net/cbr3nmy.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="{% static 'css/guide.css' %}" type="text/css"/>
  <script>
    // Initialize DFP
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
    '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
    })();
  </script>
</head>
<body>
  {% block content %}
  {% endblock %}
  {% include 'guide/footer.html' %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/dfp.js' %}" type="text/javascript"></script>
</body>
</html>
