<footer class="c-footer">
  <div class="o-container">
    <div class="o-wrapper">
      <a class="o-logo--small" href="{% url 'guide-index' %}"></a>
      <nav class="c-nav-footer">
        <div class="c-nav-footer__column">
          <h2>Academics</h2>
          <ul>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Academics</h2>
          <ul>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Academics</h2>
          <ul>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Academics</h2>
          <ul>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Academics</h2>
          <ul>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
            <li><a href="#">study tips</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</footer>
