<footer class="c-footer">
  <div class="o-container">
    <div class="o-wrapper">
      <a class="o-logo--small" href="{% url 'guide-landing' %}"></a>
      <nav class="c-nav-footer">
        <div class="c-nav-footer__column">
          <h2>UBC</h2>
          <ul>
            <li><a href="{% url 'guide-article' 'ams' %}">ams</a></li>
            <li><a href="{% url 'guide-article' 'clubs' %}">clubs</a></li>
            <li><a href="{% url 'guide-article' 'greek-life' %}">fraternities &amp; sororities</a></li>
            <li><a href="{% url 'guide-article' 'traditions' %}">ubc traditions</a></li>
            <li><a href="{% url 'guide-article' 'sports' %}">sports</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Academics</h2>
          <ul>
            <li><a href="{% url 'guide-article' 'study-tips' %}">study tips</a></li>
            <li><a href="{% url 'guide-article' 'professors' %}">professors</a></li>
            <li><a href="{% url 'guide-article' 'the-basics' %}">the basics</a></li>
            <li><a href="{% url 'guide-article' 'studying-abroad' %}">studying abroad</a></li>
            <li><a href="{% url 'guide-article' 'co-op' %}">co-op</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Adulting</h2>
          <ul>
            <li><a href="{% url 'guide-article' 'finding-a-job' %}">finding a job</a></li>
            <li><a href="{% url 'guide-article' 'friends' %}">friends</a></li>
            <li><a href="{% url 'guide-article' 'love-and-sex' %}">love &amp; sex</a></li>
            <li><a href="{% url 'guide-article' 'exercising' %}">exercising</a></li>
            <li><a href="{% url 'guide-article' 'finding-a-roomie' %}">finding a roommate</a></li>
            <li><a href="{% url 'guide-article' 'financial-tips' %}">financial tips</a></li>
            <li><a href="{% url 'guide-article' 'cooking-at-home' %}">cooking at home</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Recreation</h2>
          <ul>
            <li><a href="{% url 'guide-article' 'greater-vancouver' %}">greater vancouver</a></li>
            <li><a href="{% url 'guide-article' 'what-to-do-in-vancouver' %}">what to do in vancouver</a></li>
            <li><a href="{% url 'guide-article' 'cheap-eats' %}">cheap eats</a></li>
            <li><a href="{% url 'guide-article' 'travel-tips' %}">travel tips</a></li>
            <li><a href="{% url 'guide-article' 'drugs' %}">drugs</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>The Ubyssey</h2>
          <ul>
            <li><a href="{% url 'guide-article' 'ubyssey' %}">about us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</footer>
