{% extends 'guide/base.html' %}

{% block content %}

<header class="c-banner c-banner--welcome">
  <div class="c-banner--welcome__inner">
    <h2 class="c-banner--welcome__intro">The Ubyssey presents</h2>
    <div class="o-logo">Guide To UBC</div>
    <p class="c-banner--welcome__snippet">A no-nonsense guide to life at UBC</p>
  </div>
  <div class="o-welcome-arrow">
    <div class="o-welcome-arrow__text">Start here!</div>
    <div class="o-welcome-arrow__icon"></div>
  </div>
</header>

<main class="c-tiles">
{% include 'guide/tile.html' with type='4' title='About UBC' slug='welcome' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/ubc.png' highlight=True %}
{% include 'guide/tile-quote.html' with type='2' text='"Storm the Wall rocks. The UBC Theatre puts on good shows."' source='Prof Mark Maclean' color='#A5372D' %}
{% include 'guide/tile-quote.html' with type='3' text='"Storm the Wall rocks. The UBC Theatre puts on good shows."' source='Prof Mark Maclean' color='#7BA9B6' %}
{% include 'guide/tile.html' with type='3' title='About UBC' slug='welcome' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/campus.png' %}
{% include 'guide/tile.html' with type='2' title='About UBC' slug='welcome' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/academics.png' %}
{% include 'guide/tile.html' with type='2' title='About UBC' slug='welcome' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/adventure.png' %}
{% include 'guide/tile.html' with type='2' title='About UBC' slug='welcome' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/adventure.png' %}
{% include 'guide/tile.html' with type='3' title='About UBC' slug='welcome' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/adventure.png' %}
{% include 'guide/tile.html' with type='3' title='About UBC' slug='welcome' snippet='Learn about your campus' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/adventure.png' %}
</main>

{% endblock %}
