{% extends 'guide/base.html' %}

{% block content %}

<header class="c-banner c-banner--welcome">
  <div class="c-banner__container">
    <div class="c-banner--welcome__inner">
      <h2 class="c-banner--welcome__intro">The Ubyssey presents</h2>
      <div class="o-logo">Guide To UBC</div>
      <p class="c-banner--welcome__snippet">Your no-nonsense guide to life at UBC</p>
    </div>
    <div class="o-welcome-arrow">
      <div class="o-welcome-arrow__text">Start here!</div>
      <div class="o-welcome-arrow__icon"></div>
    </div>
  </div>
</header>

<main class="c-tiles">
{% include 'guide/tile.html' with type='4' title='Welcome to UBC!' slug='welcome' snippet='You must be new here' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/ubc.png' highlight=True %}
{% include 'guide/tile-quote.html' with type='2' text='"Storm the Wall rocks. The UBC Theatre puts on good shows."' source='Prof Mark MacLean' color='#A5372D' %}
{% include 'guide/tile-quote.html' with type='3' hide=True text='"Explore everything. Campus is huge. There are like eight libraries or something, a farm and tons of hidden study spots."' source='Joel Stadie' color='#7BA9B6' %}
{% include 'guide/tile.html' with type='3' title='Academics' slug='study-tips' snippet='You\'re here to learn, right?' image='https://ubyssey.s3.amazonaws.com/media/images/2015/11/Study_Spots_20151029_Arjun_Hair.jpg' %}
{% include 'guide/tile.html' with type='2' title='Get Away' slug='travel-tips' snippet='Take a break and explore' image='https://ubyssey.s3.amazonaws.com/media/images/2016/08/DSC_0984.jpg' %}
{% include 'guide/tile-quote.html' with type='2' text='"Go join a thing! There will be people at that thing and they\'ll talk to you!"' source='Jessica Hohner' color='#E58062' %}
{% include 'guide/tile.html' with type='2' title='Love and Sex' slug='love-and-sex' snippet='Find the moon of your life' image='https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/love-sex.jpg' %}
{% include 'guide/tile.html' with type='3' title='UBC Traditions' slug='traditions' snippet='The only opportunity you\'ll get to walk around campus naked' image='https://ubyssey.s3.amazonaws.com/media/images/2015/10/Polar-bear-swim_20131129__Geoff-Lister.jpg' %}
{% include 'guide/tile.html' with type='3' title='The Ubyssey' slug='ubyssey' snippet='We\'re your student paper' image='https://ubyssey.s3.amazonaws.com/media/images/2016/09/1291430_937551379634112_6007789604351105320_o.jpg' %}
</main>

{% endblock %}
