<div class="editorial__credits-container">
    <div class="editorial__credits-content">
        <div class="ubyseey_title">The Ubyssey </div>
        </br>
        <h1>Coordinating Editor</h1>
        <h2>Lua Presidio</h2>
        <h1>Visuals Editor</h1>
        <h2>Mahin E Alam</h2>
        <h1>News Editors</h1>
        <h2>Charlotte Alden and Nathan Bawaan</h2>
        <h1>Culture Editor</h1>
        <h2>Tianne Jensen-DesJardins</h2>
        <h1>Sports + Rec Editor</h1>
        <h2>Diana Hong</h2>
        <h1>Video Editor</h1>
        <h2>Josh Mckenna</h2>
        <h1>Opinion + Blog Editor</h1>
        <h2>Thomas McLeod</h2>
        <h1>Science Editor</h1>
        <h2>Sophia Russo</h2>
        <h1>Photo Editor</h1>
        <h2>Isabella Falsetti</h2>
        <h1>Features Editor</h1>
        <h2>Paloma Green</h2>
        <br>
        <h1>Web Developer</h1>
        <h2>Keegan Landrigan</h2>
        <h1>Web Developer</h1>
        <h2>Samuel Lin</h2>
        <br>
        <h1>Contributors</h1>
        <h2 style="font-size: 0.95rem;">
            Kevin Nan, Angela Villavicencio, Z.Aazadeh Raja, Zohrah Khalili, Iman Janmohamed , Jasmine Arora,
            Winnie Ha, Maheep Chawla, Jackson Dagger, Tina Yong , Farzzen Ather,
            Benjamin Morrison, Sophia Collins, Jane Diokpo, Jasmine Hathway, Alicia Kuo, Kelly Lu, Shanzeh
            Chaudhry, Polina Petlitsyna, Riya Gupta, Darcy Bandeen, Caylie Warkentin, Lalaine Alindogan, Peyton
            Murphy
            , Vik Sangar, Kathleen Jeanne Haryanto, Daniel Peres, Manya Malhotra, Ariadne Meriweather, Teagan
            Pettit, Melissa Li, Victoria Lee and Raina Cao
        </h2>
    </div>
</div>
