<div class="c-event">
  <div class="c-event__image" style="background-image: {{ image }}"></div>
  <div class="c-event__meta">
    <div class="c-event-date">
      <div class="c-event-date__month">{{ start_month }}</div>
      <div class="c-event-date__day">{{ start_day }}</div>
    </div>
    <div class="c-event__info">
      <h3 class="c-event__title">{{ title }}</h3>
      <p class="c-event__time">{{ start_time }}</p>
      <p class="c-event__location">{{ location }}</p>
    </div>
  </div>
</div>
