{% load static %}

<link rel="stylesheet" href="{% static 'css/single_event-1.2.4.css' %}" type="text/css"/>

<div class="c-event">
  <div class="c-event__image" style="background-image: url('{{ events.image }}')"></div>
  <div class="c-event__meta">
    <div class="c-event-date">
      <div class="c-event-date__month">{{ events.start_month }}</div>
      <div class="c-event-date__day">{{ events.start_day }}</div>
    </div>
    <div class="c-event__info">
      <h3 class="c-event__title">{{ events.title }}</h3>
      <p class="c-event__time">{{ events.start_time }}</p>
      <p class="c-event__location">{{ events.location }}</p>
    </div>
  </div>
</div>
