<div class="c-widget-upcoming-events">
  {% if featured_event %}
  <div class="c-widget-upcoming-events__featured">
    {% include '../events/event_box.html' with event=featured_event only %}
  </div>
  {% endif %}
  <div class="c-widget-upcoming-events__label">Upcoming Events</div>
  <div class="c-widget-upcoming-events__events mCustomScrollbar" data-mcs-theme="minimal-dark">
  {% for event in upcoming %}
    {% include '../events/event_box.html' with event=event hide_image=True only %}
  {% endfor %}
  </div>
  <a href="{% url 'events'%}"><div class="c-widget-upcoming-events__view-all">VIEW ALL</div></a>
</div>
