<div class="c-widget-upcoming-events">
  <div class="js-carousel">
    <div class="js-carousel-inner">
      {% for featured_event in featured_events %}
      <div class="c-widget-upcoming-events__featured js-carousel__item">
        {% include 'components/event-box.html' with event=featured_event only %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="c-widget-upcoming-events__label">Upcoming Events</div>
  <div class="c-widget-upcoming-events__events js-scrollbar">
  {% for event in upcoming %}
    {% include 'components/event-box.html' with event=event hide_image=True only %}
  {% endfor %}
  </div>
  <a href="{% url 'events'%}"><div class="c-widget-upcoming-events__view-all">VIEW ALL</div></a>
</div>
