<div class="c-widget-upcoming-events-horizontal">
  <div class="u-container u-container--padded">
    <div class="c-widget-upcoming-events-horizontal__label-row">
      <div class="c-widget-upcoming-events-horizontal__label">upcoming events on campus</div>
      <div class="c-widget-upcoming-events-horizontal__view-all"><a href="{% url 'events'%}">see more</a></div>
    </div>
    <div class="c-widget-upcoming-events-horizontal__events-row">
      {% for event in events %}
        <div class="c-widget-upcoming-events-horizontal__event-wrapper">
          {% include '../components/event-box.html' with event=event hide_image=True only %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
