{% load static %}
<header class = "c-header{% if subsection %} __{{ subsection }}{% else %} __home{% endif %} {{section}}">
    <ul class = "c-nav-bar">
        <li class="c-nav-left">
            <a class="o-logo--small" href="{% url 'guide-landing' 2020 %}"></a>
        </li>
        <li class="c-nav-right">
            <div class="c-nav-section" id="c-nav-section--academic">
                <a class='section-title-link' href="{% url 'guide-landing-sub' 2020 'academics' %}">Academics</a>
            </div>
            <div class="c-nav-section" id="c-nav-section--ubc">
                <a class='section-title-link' href="{% url 'guide-landing-sub' 2020 'ubc' %}">UBC</a>
            </div>
            <div class="c-nav-section" id="c-nav-section--adulting">
                <a class='section-title-link' href="{% url 'guide-landing-sub' 2020 'adulting' %}">Student Life</a>
            </div>
             <div class="c-nav-section" id="c-nav-section--vancouver">
                <a class='section-title-link' href="{% url 'guide-landing-sub' 2020 'vancouver' %}">Student Resources</a>
            </div>
            <div class="c-nav-section" id="c-nav-section--sdp">
                <a class='section-title-link' href="{% url 'guide-landing-sub' 2020 'sdp' %}">Parties , Sex, Drugs, </a>
            </div>
            <div class="c-nav-section" id="c-nav-section--vancouver">
                <a class='section-title-link' href="{% url  'guide-landing-sub' 2020 'vancouver' %}">The Ubyssey</a>
            </div>
            <div class="c-nav-section" id="c-nav-section--vancouver">
                <a class='section-title-link' href="{% url 'guide-landing-sub' 2020 'vancouver' %}">Vancouver</a>
            </div>

        </li>
        <li class="c-nav-current">
        </li>
    </ul>
</header>

<header class = "c-header-tablet{% if subsection %} __{{ subsection }}{% else %} __home{% endif %} {{section}}">
    <ul class = "c-nav-bar">
        <li id="c-nav-home-tablet">
        <a class="o-logo--small"></a>
        <ul class='c-home-more'>
             <li>
                <a class="header-button __home" href="{% url 'guide-landing' 2020 %}">Home</a>
            </li>
            <li>
                <a class="header-button __academics" href="{% url 'guide-landing-sub' 2020 'academics' %}">Academics</a>
            </li>
            <li>
                <a class="header-button __ubc" href="{% url 'guide-landing-sub' 2020 'ubc' %}">UBC</a>
            </li>
            <li>
                <a class="header-button __student-life" href="{% url 'guide-landing-sub' 2020 'adulting' %}">Student Life</a>
            </li>
             <li>
                <a class="header-button __student-resources" href="{% url 'guide-landing-sub' 2020 'adulting' %}">Resources</a>
            </li>
            <li>
                <a class="header-button __psd" href="{% url 'guide-landing-sub' 2020 'sdp' %}">P.S.D</a>
            </li>
               <li>
                <a class="header-button __the-ubyssey" href="{% url 'guide-landing-sub' 2020 'sdp' %}">The Ubyssey</a>
            </li>
            <li>
                <a class="header-button __vancouver" href="{% url 'guide-landing-sub' 2020 'vancouver' %}">Vancouver</a>
            </li>
        </ul>
        </li>
        <li class='c-nav-ubyssey'>
            <a href="https://www.ubyssey.ca"><img src="{% static 'ubyssey/images/ubyssey-dingbat-white.png' %}"/></a>
        </li>
        <li class='c-nav-current'>
            {% if subsection %}{% if subsection == 'sdp' %}Sex, Drugs, Parties{% elif subsection == 'adulting' %}Grown-Up Life{% else %}{{ subsection }}{% endif %}{% endif %}
            <ul class="c-section-more{% if subsection %} __{{ subsection }}{% else %} __home{% endif %}" id='c-section-more--current'>
                {% if subsection %}
                    <li>
                        <a class="header-button" href="{% url 'guide-landing-sub' 2020 'academics' %}">Home</a>
                    </li>
                {% endif %}
                {% if subsection == 'academics' %}
                    {% for article in articles.academics %}
                        <li>
                            <a class="header-button" href="{% url 'guide-article' 2020 'academics' article.slug %}">{{ article.headline }}</a>
                        </li>
                    {% endfor %}
                {% elif subsection == 'ubc' %}
                    {% for article in articles.ubc %}
                        <li>
                            <a class="header-button" href="{% url 'guide-article' 2020 'ubc' article.slug %}">{{ article.headline }}</a>
                        </li>
                    {% endfor %}
                {% elif subsection == 'adulting' %}
                    {% for article in articles.adulting %}
                        <li>
                            <a class="header-button" href="{% url 'guide-article' 2020 'adulting' article.slug %}">{{ article.headline }}</a>
                        </li>
                    {% endfor %}
                {% elif subsection == 'sdp' %}
                    {% for article in articles.sdp %}
                        <li>
                            <a class="header-button" href="{% url 'guide-article' 2020 'sdp' article.slug %}">{{ article.headline }}</a>
                        </li>
                    {% endfor %}
                {% elif subsection == 'vancouver' %}
                    {% for article in articles.vancouver %}
                        <li>
                            <a class="header-button" href="{% url 'guide-article' 2020 'vancouver' article.slug %}">{{ article.headline }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    </ul>
</header>

<header class = "c-header-mobile{% if subsection %} __{{ subsection }}{% else %} __home{% endif %} {{section}}">
    <ul class = "c-nav-bar">
        <li id="c-nav-home-mobile">
        <a class="o-logo--small"></a>
        <ul class='c-home-more'>
            <li>
                <a class="header-button __home" href="{% url 'guide-landing' 2020 %}">Home</a>
            </li>
            <li>
                <a class="header-button __academics" href="{% url 'guide-landing-sub' 2020 'academics' %}">Academics</a>
            </li>
            <li>
                <a class="header-button __ubc" href="{% url 'guide-landing-sub' 2020 'ubc' %}">UBC</a>
            </li>
            <li>
                <a class="header-button __student-life" href="{% url 'guide-landing-sub' 2020 'adulting' %}">Student Life</a>
            </li>
             <li>
                <a class="header-button __student-resources" href="{% url 'guide-landing-sub' 2020 'adulting' %}"> Resources</a>
            </li>
            <li>
                <a class="header-button __psd" href="{% url 'guide-landing-sub' 2020 'sdp' %}">P.S.D</a>
            </li>
               <li>
                <a class="header-button __the-ubyssey" href="{% url 'guide-landing-sub' 2020 'sdp' %}">The Ubyssey</a>
            </li>
            <li>
                <a class="header-button __vancouver" href="{% url 'guide-landing-sub' 2020 'vancouver' %}">Vancouver</a>
            </li>
        </ul>
        </li>
    </ul>
</header>