$border                           : 1px dotted $color-border-gray-dark;
$calendar-event-time-label-color  : #E06100;

#calendar {
  max-width: 1600px;

  @media($bp-smaller-than-phablet) {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.calendar-container {
  display: inline-block;
  margin-right: 15px;

  @media($bp-larger-than-phablet) {
    width: calc(100% - 275px);
  }

  @media($bp-smaller-than-phablet) {
    display: block;
    width: 100%;
    clear: both;
  }
}

.calendar-category-sidebar {
  @media($bp-larger-than-phablet) {
    display: inline-block;
    float: right;
    width: 175px;

    ul {
      line-height: 1.25em;
      padding-left: 15px;
    }

    li:before {
      content: '-';
      padding-right: 8px;
    }
  }

  @media($bp-smaller-than-phablet) {
    display: block;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    clear: both;
  }

  @media($bp-smaller-than-phablet) {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      width: 100%;
    }

    li {
      display: inline-block;
      padding: 5px 10px;
      margin: 10px 2px;
      min-width: 50px;

      border: 1px solid $color-border-gray;
      border-radius: 2px;
      background-color: #EEE;
      text-align: center;
      cursor: pointer;
      box-shadow: 1px 1px 3px 0px rgba(122, 122, 122, 0.1);
    }
  }

  li {
    font-size: 14px;
    list-style-type: none;
  }
}

.calendar-categories-label {
  border-bottom: $border;

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.calendar-year-label {
  width: 160px;

  font-size: 42px;
  text-align: left;
  border-bottom: $border;
}

.calendar-month-label {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 5px 15px;
  margin: 25px 0 0 0;

  font-size: 32px;
  text-align: left;
  border-bottom: $border;
}

.calendar-day-label {
  padding-right: 5px;
  width: 90px;
  margin-top: 36px;

  color: $calendar-event-time-label-color;
  text-align: right;
  font-size: 28px;
  vertical-align: top;

  @media($bp-larger-than-tablet) {
    display: inline-block;
  }

  @media($bp-smaller-than-tablet) {
    display: block;
  }
}

.calendar-day-row {
  border-bottom: $border;

  &:last-child {
    border-bottom: 0;
  }

  @media($bp-larger-than-tablet) {
    margin: 15px 0 0 30px;
  }

  @media($bp-smaller-than-tablet) {
    margin: 15px 5px 0 5px;
  }
}

.calendar-event-list-wrapper {
  display: inline-block;
  padding-left: 10px;

  @media($bp-larger-than-tablet) {
    width: calc(100% - 110px);
  }

  @media($bp-smaller-than-tablet) {
    width: calc(100% - 20px);
  }
}

.calendar-event-list-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.calendar-event-container {
  border: $border;
  box-shadow: 2px 2px 5px 0px rgba(122, 122, 122, 0.1);

  @media($bp-larger-than-tablet) {
    flex: 0 1 225px;
    display: block;
    width: auto;
    min-width: 225px;
    margin: 0 15px 15px 0;
    height: 310px;
  }

  @media($bp-smaller-than-tablet) {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
  }

  @media($bp-smaller-than-mobile) {
    height: 215px;
  }
}

.calender-event-image-wrapper {
  @media($bp-larger-than-tablet) {
    height: 170px;
    padding: 2px;
  }

  @media($bp-larger-than-mobile) {
    @media($bp-smaller-than-tablet) {
      height: 100px;
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
      display: inline-block;
      width: 50%;
      float: right;
    }
  }

  @media($bp-smaller-than-mobile) {
    display: block;
    height: 100px;
    margin-bottom: 10px;
  }

  a {
    display: block;
    height: 100%;
  }
}

.calendar-event-image {
  max-width: 100%;

  // centering
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media($bp-larger-than-tablet) {
    max-height: 170px;
  }

  @media($bp-smaller-than-tablet) {
    max-height: 100px;
  }
}

.calendar-event-info {
  position: relative;

  @media($bp-larger-than-tablet) {
    padding: 10px;
    height: calc(100% - 195px);
  }

  @media($bp-larger-than-mobile) {
    @media($bp-smaller-than-tablet) {
      padding: 0 5px;
      box-sizing: border-box;
      display: inline-block;
      width: 50%;
      height: 100%;
    }
  }

  @media($bp-smaller-than-mobile) {
    height: calc(100% - 105px);
  }
}

.calendar-lr-row {
  height: 39px;
}

.calendar-event-title {
  overflow: hidden;

  @media($bp-larger-than-tablet) {
    margin-bottom: 10px;
    height: 2em;
  }

  @media($bp-smaller-than-tablet) {
    margin-bottom: 5px;
    min-height: 2em;
    max-height: 3em;
  }

  & > h3 {
    margin: 0;

    font-size: 14px;
  }
}

.calendar-event-host {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;

  @media($bp-larger-than-tablet) {
    width: calc(100% - 30px);
    padding: 0 10px 5px 10px;
  }

  @media($bp-smaller-than-tablet) {
     width: 100%;
     margin-top: 5px;
     padding: 0 0;
     text-align: left;
  }

  font-size: 12px;
}

.calendar-event-host-label {
  font-size: 10px;
}

.calendar-event-left {
  display: inline-block;

  color: $calendar-event-time-label-color;
  font-weight: 600;
  text-align: center;
  font-size: 15px;

  @media($bp-larger-than-tablet) {
    width: 40%;
  }

  @media($bp-smaller-than-tablet) {
    width: 50%;
  }
}

.calendar-event-time-separator {
  font-size: 8px;
  line-height: 8px;
}

.calendar-event-right {
  display: inline-block;
  width: 48%;
  float: right;
}

.calendar-event-more-info {
  width: 75%;
  margin: auto auto;
  padding: 10px 5px 10px 5px;

  background-color: $color-accent-blue;
  color: #FFF;
  text-align: center;
  border-radius: 2px;
  border: 1px solid darken($color-accent-blue, 15%);
}

.calendar-event-start,
.calendar-event-time-separator,
.calendar-event-end {
  @media($bp-larger-than-tablet) {
    display: block;
  }
}
