.event-container {
  // structure
  margin-bottom: 25px;
  min-height: 600px;
}

.event-image-container {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 0 0 40px 40px;
  float: right;
  width: 50%;

  @media($bp-smaller-than-tablet) {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.event-image {
  // structure
  margin: 0 auto;
  max-width: 100%;
  max-height: 600px;
}

.event-info {
  // structure
  box-sizing: border-box;
  margin: 16px 0;
  padding: 0 5px;
  width: 100%;
  display: inline-block;

}

.event-title {
  border-bottom: 1px solid #ccc;

  @media($bp-smaller-than-tablet) {
    border-bottom: 0;
  }
}

.event-description {
  // structure
  padding: 15px 0;
  margin-bottom: 15px;

  // display
  font-family: $font-body;
  line-height: 1.5em;
  border-bottom: 1px dotted #ccc;

  // display
  line-height: 1.625rem;
}

.event-start, .event-end {
  // structure
  display: inline-block;

  // display
  color: $color-text-gray;
  font-weight: 400;
}

.event-time-separator {
  display: inline-block;
}

.event-category {
  display: inline-block;
  margin-right: 0.5em;

  font-weight: 600;
}

.event-fb-link > button {
  // structure
  margin-top: 25px;

  // display
  background-color: $color-social-facebook-dark;
  color: $color-white;
  border-color: $color-social-facebook-dark;
  background-image: initial;
}

.event-location-info {
  text-align: right;
  line-height: 1.25em;
}

.event-location span {
  color: $color-accent-blue;
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
}

.event-address {
  font-style: italic;
  font-size: 14px;
}
