.event-container {
  // structure
  margin-bottom: 25px;
  min-height: 600px;
}

.event-image-container {
  display: inline-block;
  box-sizing: border-box;
  padding: 50px 15px;
  float: right;
  width: 50%;

  @media($bp-smaller-than-phablet) {
    display: block;
    width: 100%;
  }
}

.event-image {
  // structure
  margin: 0 auto;
  max-width: 100%;
  max-height: 600px;
}

.event-info {
  // structure
  box-sizing: border-box;
  padding: 0 5px;
  width: 50%;
  display: inline-block;

  // display
  line-height: 2em;
}

.event-title {
 border-bottom: 1px solid #ccc;
}

.event-description {
  // structure
  padding: 15px;

  // display
  font-family: $font-body;
  line-height: 1.5em;
  border-bottom: 1px dotted #ccc;
}

.event-start {
  // structure
  display: inline-block;

  // display
  font-weight: 600;
}

.event-time-separator {
  display: inline-block;
}

.event-end {
  // structure
  display: inline-block;

  // display
  font-weight: 600;
}

.event-category {
  font-weight: 600;
}

.event-fb-link > button {
  // structure
  margin-top: 25px;

  // display
  background-color: $color-social-facebook-dark;
  color: $color-white;
  border-color: $color-social-facebook-dark;
  background-image: initial;
}

.event-location-info {
  text-align: right;
  line-height: 1.25em;
}

.event-location span {
  color: $color-accent-blue;
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
}

.event-address {
  font-style: italic;
  font-size: 14px;
}
