.c-event {
  // Background
  background: $color-white;

  // Text
  font-family: $font-default;
}

.c-event__image {
  // Structure
  position: relative;
  width: 100%;
}

.c-event__meta {
  // Structure
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.c-event__info {
  // Structure
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  // Text
  line-height: 1.4em;

  h3, p {
    // Structure
    margin: 0;
    padding: 0;
  }
}

.c-event__title {
  // Structure
  margin-top: 0;

  // Text
  font-size: font-size(16);
  font-weight: $font-weight-semi-bold;
}

.c-event__time,
.c-event__location {
  // Text
  font-size: font-size(13);
  color: $color-text-gray;
}

.c-event__time {
  // Text
  font-weight: $font-weight-semi-bold;
}

// EventBox
.c-event--box {
  display: block;
  // Border
  border: solid 1px $color-border-gray;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;

  .c-event__meta {
    // Structure
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Event Detail
.c-event--detail {
  .c-event__meta {
    // Structure
    padding-left: 0;
    padding-right: 0;
  }

  .c-event__date {
    // Structure
    display: none;
  }

  .c-event__info {
    // Structure
    padding-left: 0;

    // Text
    line-height: 1.8rem;
  }

  .c-event__title {
    // Structure
    margin-bottom: 0.5rem;

    // Text
    font-size: font-size(24);
  }

  .c-event__time,
  .c-event__location {
    // Text
    font-size: font-size(16);
  }

  .c-event__buttons {
    // Structure
    margin-bottom: 1rem;

    .c-button {
      margin-right: 0.2rem;
      margin-bottom: 0.5rem;
    }
  }

  @media($bp-larger-than-mobile) {
    .c-event__meta {
      // Structure
      margin-top: 1.5rem;
    }

    .c-event__date {
      // Structure
      display: block;
    }

    .c-event__info {
      // Structure
      padding-left: 1.5rem;
    }
  }
}

// Event Card
.c-event--card {
  // Structure
  flex: 1;

  .c-event__info {
    // Structure
    padding-left: 0;
    padding-right: 0;
  }

  .c-event__title {
    // Text
    font-size: font-size(14);
    line-height: 1.4em;
  }

  .c-event__image {
    // Structure
    height: 7rem;
  }
}
