.calendar-event-container {
  border: 1px solid $color-border-gray;
  box-shadow: 2px 2px 5px 0px rgba(122, 122, 122, 0.1);

  @media($bp-larger-than-tablet) {
    flex: 0 1 225px;
    display: block;
    width: auto;
    min-width: 225px;
    margin: 0 15px 15px 0;
  }

  @media($bp-smaller-than-tablet) {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    height: 120px;
  }

  @media($bp-smaller-than-mobile) {
    height: 215px;
  }
}

.calender-event-image-wrapper {
  @media($bp-larger-than-tablet) {
    height: 170px;
    padding: 2px;
  }

  @media($bp-larger-than-mobile) {
    @media($bp-smaller-than-tablet) {
      height: 100px;
      padding: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
      display: inline-block;
      width: 50%;
      float: right;
    }
  }

  @media($bp-smaller-than-mobile) {
    display: block;
    height: 100px;
    margin-bottom: 10px;
  }

  a {
    display: block;
    height: 100%;
  }
}

.calendar-event-image {
  max-width: 100%;

  // centering
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media($bp-larger-than-tablet) {
    max-height: 170px;
  }

  @media($bp-smaller-than-tablet) {
    max-height: 100px;
  }
}

.calendar-event-info {
  position: relative;

  @media($bp-larger-than-tablet) {
    padding: 10px;
    height: calc(100% - 195px);
  }

  @media($bp-larger-than-mobile) {
    @media($bp-smaller-than-tablet) {
      padding: 0 5px;
      box-sizing: border-box;
      display: inline-block;
      width: 50%;
      height: 100%;
    }
  }

  @media($bp-smaller-than-mobile) {
    height: calc(100% - 105px);
  }
}

.calendar-event-title {
  position: relative;
  font-size: 15px;
  font-weight: 600;

  @media($bp-larger-than-tablet) {
    margin-bottom: 10px;
    height: calc(100% - 52px);
  }

  @media($bp-smaller-than-tablet) {
    overflow: hidden;
    margin-bottom: 5px;
    min-height: 2em;
    max-height: 3em;
  }
}

.calendar-event-host {
  color: $color-text-gray;

  @media($bp-larger-than-tablet) {
    width: calc(100% - 30px);
    padding: 0;
  }

  @media($bp-smaller-than-tablet) {
     width: 100%;
     margin-top: 5px;
     padding: 0 0;
     text-align: left;
     position: absolute;
     bottom: 0;
     left: 0;
     overflow: hidden;
  }

  font-size: 12px;
}

.calendar-event-host-label {
  font-size: 12px;
}

.calendar-event-time-separator {
  font-size: 8px;
  line-height: 8px;
}

.calendar-event-time {
  color: $calendar-event-time-label-color;
  font-weight: 600;
  // text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.calendar-event-time-separator {
  font-size: 26px;
  vertical-align: sub;
}

.calendar-event-start,
.calendar-event-time-separator,
.calendar-event-end {
  display: inline-block;
}
