.event-container {
  // structure
  margin-bottom: 25px;
}

.event-image {
  // structure
  margin: 0 50px;
  padding: 15px 0;
  float: right;
  max-width: calc(50% - 30px);
  display: inline-block;
}

.event-info {
  // structure
  width: 50%;
  display: inline-block;

  // display
  line-height: 2em;
}

.event-title {
 border-bottom: 1px dotted #ccc;
}

.event-description {
  // structure
  padding: 15px;

  // display
  font-family: $font-body;
  line-height: 1.5em;
  border-bottom: 1px dotted #ccc;
}

.event-start {
  // structure
  display: inline-block;

  // display
  font-weight: 600;
}

.event-time-separator {
  display: inline-block;
}

.event-end {
  // structure
  display: inline-block;

  // display
  font-weight: 600;
}

.event-category {
  font-weight: 600;
}

.event-fb-link > button {
  // structure
  margin-top: 25px;

  // display
  background-color: $color-social-facebook-dark;
  color: $color-white;
  border-color: $color-social-facebook-dark;
  background-image: initial;
}

.event-location-info {
  text-align: right;
  line-height: 1.25em;
}

.event-location span {
  color: $color-accent-blue;
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
}

.event-address {
  font-style: italic;
  font-size: 14px;
}
