#adblock-splash {
  // Structure
  display: none;
}

.adblock-container {
  // Structure
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  // Extra
  z-index: 10;
}
.adblock-fullscreen {
  // Structure
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  
  // Background
  background-color: white;
  
  // Extra
  opacity: .5;
  z-index: 10;
}

.adblock-content {
  // Structure
  position: relative;
  height: auto;
  max-width: 500px;
  padding: 25px;
  
  // Background
  background-color: $color-ub-blue;
  
  // Extra
  opacity: 1;
  z-index: 11;
  
  // Fonts
  color: white;
  h1{
    margin-top: 0;
  }
  h3 {
    margin: 1rem 0;
  }
  p {
    margin-bottom: 5px;
  }
}

.adblock-button {
  // Structure
  position: absolute;
  width: 120px;
  right: 25px;
  bottom: 25px;
  margin-right: 0;

  // Background
  background-color: white;
  background-image: none;
  
  // Font
  color: $color-ub-blue;
  
  // Borders
  border: none;

  // Extra
  transition: opacity .1s;
  &:hover {
    opacity: .8;
  }
}

.adblock-close {
  // Structure
  position: absolute;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;

  // Extra
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.adblock-close:before, .adblock-close:after {
  // Structure
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;

  // Background
  background-color: white;
}
.adblock-close:before {
  transform: rotate(45deg);
}
.adblock-close:after {
  transform: rotate(-45deg);
}
