.c-button {
  // Structure
  display: inline-block;
  height: 45px;
  min-width: 8rem;
  line-height: 45px;
  padding-left: 1rem;
  padding-right: 1rem;

  // Background
  background-color: $color-accent-blue;
  background-image: none;

  // Border
  border: none;
  border-radius: 2px;

  // Text
  color: $color-white;
  text-align: center;
  font-size: font-size(16);

  // Extra
  cursor: pointer;

  &:hover {
    // Background
    background-color: #338dd4;

    // Text
    color: $color-white;
  }

  i {
    // Text
    font-size: 1.25em;
    margin-right: 0.25em;
  }

  i, span {
    // Text
    vertical-align: middle;
  }
}

.c-button--small {
  // Structure
  height: 36px;
  line-height: 36px;
  padding: 0 0.75rem;

  // Text
  font-size: font-size(14);
}
