.c-heading {
  // Structure
  margin: 0 0 1rem 0;

  // Text
  font: $font-weight-bold 1em $font-default;
  color: $color-text-black;
}

.c-heading--light {
  // Text
  color: $color-text-gray;
  font-weight: $font-weight-semi-bold;
}

.c-heading--2 {
  // Text
  font-size: font-size(24);
}

.c-heading--3 {
  // Text
  font-size: font-size(18);
}
