.c-homepage__bullets {
  // Structure
  padding: 0 15px 0 2.5rem;

  @media only screen
    and (min-width: 760px)
    and (max-width: 1200px) {
    display: none;
  }

  @media($bp-larger-than-desktop) {
    // Structure
    padding: 0 0 0 1.5rem;
  }
}

.c-homepage__section {
  // Structure
  padding-bottom: 1.5rem;

  @media($bp-larger-than-phablet) {
    // Structure
    margin-bottom: 1rem;

    // Border
    border-bottom: 1px solid #E0E0E0;
  }
}

.c-homepage__section--1 {
  // Structure
  margin-top: 1rem;

  .c-homepage__section__left {
    // Structure
    padding-bottom: 1rem;

    // Border
    border-bottom: 1px dotted #C8C8C8;
  }

  .c-homepage__section__stacked .o-article {
    // Structure
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    // Border
    border-bottom: 1px dotted #C8C8C8;
  }

  .c-homepage__section__bullets {
    // Structure
    margin: 0;
    padding: 0 15px 0 2.5rem;
  }

  @media($bp-larger-than-tablet) {
    // Structure
    margin: 0;

    .c-homepage__section__bullets {
      // Structure
      padding: 0 0 0 1.5rem;
    }
  }

  @media($bp-larger-than-desktop) {
    // Structure
    display: flex;

    .c-homepage__section__left {
      // Structure
      flex: 3;
      padding: 0 15px 0 0;
      margin-bottom: 0;

      // Border
      border-bottom: none;
    }

    .c-homepage__section__right {
      // Structure
      flex: 2;
      padding-left: 15px;

      // Border
      border-left: 1px solid #E6E6E6;
    }

  }
}

.c-homepage__section--2 {

  .o-article--column {
    // Structure
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    flex: 1;

    // Border
    border-bottom: thin dotted $color-border-gray-dark;

    &:last-child {
      // Structure
      margin-bottom: 0;
      padding-bottom: 0;

      // Border
      border-bottom: none;
    }

    @media($bp-larger-than-phablet) {
      // Structure
      margin: 0 0.5rem;
      padding-bottom: 0;
      flex: 1;

      // Border
      border-bottom: none;

      &:first-child {
        // Structure
        margin: 0 1rem 0 0;
      }

      &:last-child {
        // Structure
        margin: 0 0 0 1rem;
      }
    }
  }
}
