.c-page {
  @media($bp-larger-than-tablet) {
    // Structure
    display: flex;
  }
}

.c-page__header {
  // Structure
  margin: 1.5rem 0;

  @media($bp-larger-than-phablet) {
    // Structure
    display: flex;
    margin: 1.75rem 0;
  }
}

.c-subsection {
  border-top: thin groove #C8C8C8;
}
.c-subsection__header {
  // Structure
  margin: 1.5rem 0;

  @media($bp-larger-than-phablet) {
    // Structure
    display: flex;
    margin: 1.75rem 0;
  }

  h2 {
    font-size: 2rem;
  }

}
.c-page__header--banner {
  // Structure
  margin: 0;
  padding: 3rem 0;

  // Background
  background-color: $color-ub-blue-light;
  background-position: center;
  background-repeat: no-repeat;

  // Text
  text-align: center;

  .c-page__heading,
  .c-page__sub-heading {
    // Text
    color: $color-white;
  }

  .c-page__sub-heading {
    // Structure
    margin-top: 0.75rem;

    // Text
    font-weight: $font-weight-normal;
  }
}

.c-page__header__thumbnail {
  // Structure
  margin-bottom: 1rem;

  img {
    width: 100%;
  }

  @media($bp-larger-than-phablet) {
    // Structure
    padding-right: 1.75rem;

    img {
      width: 10rem;
    }

  }
}

.c-page__header__meta {
  // Structure
  flex: 1;
}

.c-page__heading {
  // Structure
  margin: 0;

  // Text
  font-size: font-size(32);
  color: $color-text-black;
}

.c-page__sub-heading {
  // Structure
  margin: 1rem 0 0 0;

  // Text
  font-weight: $font-weight-semi-bold;
  color: $color-text-black;
}

.c-page__description {
  // Structure
  margin: 1rem 0 0 0;

  // Text
  color: $color-text-gray;
  line-height: 1.45em;
  white-space: pre-wrap;

  a {
    // Text
    color: $color-accent-blue;
    font-weight: 600;

    &:hover {
      // Text
      text-decoration: underline;
    }
  }
}

.c-page__section {
  // Structure
  margin: 0 0 1rem 0;

  // Text
  font-size: 24px;
}

.c-page__content,
.c-page__sidebar {
  // Structure
  padding: 1rem 0;

  @media($bp-larger-than-tablet) {
    // Structure
    padding: 1.5rem;
  }
}

.c-page__content {
  // Structure
  flex: 2;

  @media($bp-larger-than-tablet) {
    // Structure
    padding-right: 1.5rem;
  }
}

.c-page__sidebar {
  // Structure
  flex: 1;
}

.c-page__sidebar__sticky {
  @media($bp-larger-than-tablet) {
    // Structure
    position: sticky;
    top: 1.5rem;
  }
}

.c-page__sidebar__item {
  // Structure
  margin-bottom: 1.5rem;
}

.c-videos__video {
  margin-bottom: 3rem;
}

.c-videos__title {
  display: flex;
  justify-content: space-between;

  h3 {
    max-width: 75%;
  }
}

.c-videos__wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;

  & iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}