@import 'full_width';
// @import 'suggested_column';
@import 'modules/variables';

.featured-media {
  img {
    width: 100%;
  }
}

// Article Slide

div.article-slide {
  border-top: 1px solid $color-border-gray-light;
  margin-top: 50px;

  main.article {
    padding-top: 0;
  }

  @media($bp-larger-than-tablet) {
    margin-bottom: 50px;
  }
}

div.indicator {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}

.o-breaking-news-article {
  display: flex;
  border-radius: 3px;
  background-color: #8654A4;
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  h3 {
    padding-left: 1rem;
    color: white;
    p {
      color: white;
      font-weight: lighter;
    }
  }
}


// Article
.c-article--default {
  .o-headline--article {
    @media($bp-larger-than-tablet) {
      line-height: 1.277em;
      padding-top: 25px;
      padding-bottom: 25px;
      margin: 0;
      border-top: 2px solid $color-border-gray-very-dark;
      border-bottom: 1px solid $color-border-gray;
    }
  }
}

.c-article__tag {
  // Structure
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;

  // Border
  border-radius: 4px;

  // Background
  background: $color-red;

  // Text
  color: $color-white;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.5px;
  font-size: font-size(15);
  text-transform: uppercase;
}

.c-article__info {
  margin-bottom: 1rem;

  @media($bp-larger-than-tablet) {
    margin-top: 1em;

    display: flex;
  }
}

.c-article__byline {
  margin-bottom: 0.2rem;
  font-family: $font-default;
  font-size: $font-size-15px;
  // font-weight: $font-weight-semi-bold;
  font-weight: $font-weight-bold;

  @media($bp-larger-than-tablet) {
    display: flex;
    flex: 1 0;
    line-height: 2rem;
    margin-bottom: 0;
  }
}

.c-article__byline-center{
  display: flex;
  justify-content: center;
}

.960px {
  margin-bottom: 0.9rem;
  display: inline-block;
  @media($bp-larger-than-tablet) {
    margin-bottom: 0;
  }
}

.c-article__byline__meta {
  margin-bottom: 0.75rem;

  color: #777;
  font-weight: $font-weight-normal;
  @media($bp-larger-than-tablet) {
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

.c-article__author {
  margin-bottom: 0.75rem;

  @media($bp-larger-than-tablet) {
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

.c-article__featured-media {
  // Structure
  // max-width: 585px;
  max-width: 700px;
  margin-bottom: 1.5rem;

  .article-attachment {
    width: 100%;
  }
}

// Article content
div.article-content {
  width: 75%;
  display: table-cell;
  padding: 0 20px 20px 0;
  vertical-align: top;
  box-sizing: border-box;

  > p,
  div.caption,
  > h1,
  > h2 {
    margin-top: 1.8em;
    margin-bottom: 0;
  }
  > h3,
  > ul,
  > .attachment.pull-quote {
    padding-right: $article-content-div-child-padding;
  }

  .media-column,
  > p,
  div.caption,
  > h1,
  > h2,
  > h3,
  > div.c-widget-event,
  > .attachment.pull-quote {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $article-content-div-child-padding;
    @media($bp-larger-than-phablet){
      padding: 0;
      max-width: 700px;
    }
  }

  > ul {
    padding-left: $article-content-ul-padding-left + 15;
    padding-right: 15px;
    @media($bp-larger-than-phablet){
      padding-left: $article-content-ul-padding-left;
      max-width: 585px - $article-content-ul-padding-left;
      padding-right: 0;
    }
  }

  @media ($bp-smaller-than-desktop) {
    border-right: none;
  }
  @media only screen and ($bp-smaller-than-tablet) {
    float: left;
    width: 100%;
    width: 100%;
  }
}

div.caption {
  margin-top: 6px;
  font-family: $font-default;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 19px;

  padding-left: 15px;
  padding-right: 15px;
  @media($bp-larger-than-phablet) {
    padding: 0;
  }
}

div.article-content {

  > p, > ul {
    font-family: $font-body !important;
    font-weight: $font-weight-normal !important;
    font-size: font-size(16) !important;
    color: #333333 !important;
    line-height: 1.625rem !important;
    margin-top: 1.4rem;

    a {
      color: $color-accent-blue;
      text-decoration: underline;
    }

    &:first-child {
        margin-top: 5px;
        margin-right: auto;
    }
  }

  > h1 {
    font-family: $font-default;
    font-weight: normal;
    font-size: 28px;
    margin: 30px 0 0 0;
  }

  @media($bp-smaller-than-mobile) {
    padding: 0 3%;
  }
}

// Right column

aside.right-column {

  border-left: 1px solid $color-border-gray-light;
  width: 25%;
  vertical-align: top;
  box-sizing: border-box;
  display: table-cell;

  img {
    width: 100%;
  }

  div.sidebar {
    display: none;
    .adslot {
      max-width: 100%;
    }
  }

  div.featured-media {
    margin-bottom: 20px;
  }

  .o-article__meta {
    margin-bottom: 1rem;
    .o-article__meta__image {
      
      display: block;
    }
    .o-article__headline__byline {
      flex: 1;
      min-width: 219px; // width of byline and SA img containers at width of screen >= 1000px
                        // prevents byline and img from changing until screen reaches < 960px
      .o-article__author, .o-article__interpunct-dot {
        display: none;
      }
    }
  }

  // < small
  @media($bp-smaller-than-mobile) {
    padding: 0 3%;
  }

  // < medium
  @media($bp-smaller-than-tablet) {
  }

  // > medium
  @media($bp-larger-than-tablet) {
    position: relative;
    padding: 0 0 0 20px;
    // div.featured-media {
    //   display: block;
    //   width: 500px;
    //   margin-bottom: 0;
    // }

    div.sidebar, div.suggested-articles {
      display: block;
    }
  }

  // < large
  @media only screen and ($bp-smaller-than-tablet) {
    border-left: none;
    float: left;
    padding: 15px 0;
    width: 100%;
    div.suggested-articles {
      width: 100%;
      div.o-article__snippet {
        display: block;
      }
    }
    div.o-article__meta {
      display: flex;
      div.o-article__meta__image {
        display: flex;
        .o-article__image {
          width: 9rem;
          height: auto;
        }
      }
      div.o-article__byline {
        display: flex;
        div.o-article__author, div.o-article__interpunct-dot {
          display: inline;
        }
      }
    }
    // max-width: 585px;
  }
}

.fw-story, .timeline {

  div.right-column {
    display: none;
    right: -150px;
    @media($bp-larger-than-desktophd){
      display: block;
    }
  }

  div.media-column {
    display: none;
  }
  div.article-content {
    width: 100%;
    display: block;
    padding-right: 0;
    vertical-align: top;
    box-sizing: border-box;
  }
}

// Article-list
#article-list {
  // Hide when printed
  @media print {
    display: none;
  }
}

@media only screen and ($bp-smaller-than-tablet) {
  
}