@import 'modules/fonts';
@import 'modules/variables';


// Article content accomodations
div.article-content {
  float: left;
  border-right: none;

  @media($bp-larger-than-tablet) {
    border-right: 1px solid #e6e6e6;
    display: table-cell;
    padding-right: 15px;
    padding-left: 0;
    vertical-align: top;
    box-sizing: border-box;
    width: 65%;
    :last-child {
      margin-bottom: 1.4rem;
    }
  }
}


// Right column
aside.sidebar {

  width: 37%;
  vertical-align: top;
  box-sizing: border-box;
  display: table-cell;

//   .o-article__headline {
//     font-weight: 600;
//     font-size: 1.2em;
//   }

  // < medium
//     @media($bp-smaller-than-tablet) {
//       .o-article__meta {
//         display: flex;
//       }
//   }

  // if even smaller, < small
  @media($bp-smaller-than-mobile) {
    padding: 0 3%;
    // .o-article__meta {
    //   display: block;
    // }
    // .o-article__meta__image {
    //   display: block;
    // }
  }

  // > medium; screensize just greater than the min width of article content + sidebar
  @media($bp-larger-than-tablet) {

    padding: 0 0 40px 15px;
    // max-width: 300px;

    // div.suggested-articles {
    //   display: block;
    //   position: absolute;
    //   max-width: 300px;
    //   min-width: 300px;
    // }

    // // don't display sidebar article image and publication date if displayed on the side
    // .o-article__meta__image, .o-article__interpunct-dot, .o-article__published {
    //   display: none;
    // }

    // .o-article--padded {
    //   padding-bottom: 15px;
    // }
  }

  // Smaller than tablet size, have sidebar on the bottom
  @media only screen and ($bp-smaller-than-tablet) {
    float: left;
    padding: 15px 0;
    width: 100%;
    // div.suggested-articles {
    //   width: 100%;
    // }
    max-width: 585px;
  }
}

.fw-story, .timeline {
  div.sidebar {
    display: none;
    right: -150px;
  }
}