{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
  {% include 'headers/topbar.html' with section='calendar' %}
  {% include 'headers/mobile.html' %}
{% endblock %}

{% load tz %}

{% block content %}
{% localtime on %}
{% timezone 'America/Vancouver' %}

<main id="calendar" class="u-container">
  <h1>Calendar of Events</h1>

  {% include './calendar_sidebar.html' %}

  <div class="calendar-container">
    {% for year, months in events_by_date.items %}
    {% ifnotequal year this_year %}
    <div class="calendar-year-label">
      {{ year }}
    </div>
    {% endifnotequal %}
    {% for month, days in months.items %}
    <div class="calendar-month">
      <div class="calendar-month-label">
        {{ month }}
      </div>
      {% for day, events in days.items %}
      <div class="calendar-day-row">
        <div class="calendar-day-label">
          {{ day }}
        </div>
        <div class="calendar-event-list-wrapper">
          <div class="calendar-event-list-container">
          {% for event in events %}
            <div class="calendar-event-container">
            {% include './event_box.html' with event=event hide_datebox=False hide_day_label=True only %}
            </div>
          {% endfor %}{# event #}
        </div>
        </div>
      </div>
      {% endfor %}{# day #}
    </div>
    {% endfor %}{# month #}
    {% endfor %}{# year #}
  </div>
</main>

{% endtimezone %}
{% endlocaltime %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function() {
  var classname = 'calendar-event-container--wrapped';
  function fixrows() {
    $(".calendar-event-container").each(function() {
      var parent_y = $(this).parent().position().top;
      var y = $(this).position().top;
      if (y > parent_y) {
        $(this).addClass(classname);
      } else {
        $(this).removeClass(classname);
      }
    });
  }
  fixrows();
  $(window).resize(fixrows);

  $(".c-event__image").each(function() {
    var h = $(this).outerHeight();
    if (h > 400) {
      $(this).css('padding-top', '40%');
    }
  });
});
</script>
{% endblock %}
