<div class="o-archive__sidebar__filters">
  <h3>Categories</h3>
  <ul>
    <li class="o-archive__sidebar__filter{% if category == 'all' or not category %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=all">All</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'sports' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=sports">Sports</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'music' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=music">Music</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'academic' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=academic">Academic</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'party' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=party">Party</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'business' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=business">Business</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'ceremony' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=ceremony">Ceremony</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'workshop' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=workshop">Workshop</a></li>
    <li class="o-archive__sidebar__filter{% if category == 'other' %} o-archive__sidebar__filter--is-active{% endif %}"><a href="?category=other">Other</a></li>
  </ul>
</div>
