<li class="calendar-event-container">
  <div class="calender-event-image-wrapper">
    {% if event.image %}
    <a href="/event/{{ event.pk }}/">
      <img class="calendar-event-image" src="{{ event.image.url }}" alt="{{ event.title }}">
    </a>
    {% endif %}
  </div>
  <div class="calendar-event-info">
    <div class="calendar-event-title">
      <a href="/event/{{ event.pk }}/">{{ event.title }}</a>
    </div>
    <div class="calendar-event-time">
      <div class="calendar-event-start">{{ event.start_time|date:"fA" }}</div>
      <div class="calendar-event-time-separator">-</div>
      <div class="calendar-event-end">{{ event.end_time|date:"fA" }}</div>
    </div>
    <div class="calendar-event-host"><span class="calendar-event-host-label">Hosted by</span> {{ event.host }}</div>
  </div>
</li>
