{% extends 'base.html' %}
{% load dispatch_tags %}
{% load staticfiles %}
{% block header %}
  {% include 'headers/topbar.html' with section='events' %}
  {% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main class="c-calendar">
  <div class="c-calendar__banner c-page__header c-page__header--banner">
    <div class="u-container u-container--padded">
      <h1 class="c-page__heading">Events</h1>
      <h3 class="c-page__sub-heading">Upcoming campus events from UBC clubs and student organizations</h3>
    </div>
  </div>

  <div class="c-calendar__container u-container u-container--padded ">

    {% zone 'weekly-events' %}

    <div class="c-calendar__navigation" id="results">
      <div class="c-calendar__weeks">
        <div class="c-calendar__weeks__table">
          <div class="c-calendar__weeks__labels">
            <div class="c-calendar__weeks__label"></div>
            <div class="c-calendar__weeks__label">MON</div>
            <div class="c-calendar__weeks__label">TUE</div>
            <div class="c-calendar__weeks__label">WED</div>
            <div class="c-calendar__weeks__label">THU</div>
            <div class="c-calendar__weeks__label">FRI</div>
            <div class="c-calendar__weeks__label">SAT</div>
            <div class="c-calendar__weeks__label">SUN</div>
          </div>
          {{ selected_week }}
          {% for week in weeks %}
            <a class="c-calendar__weeks__week{% if week|first == week_start %} c-calendar__weeks__week--selected{% endif %}" href="{% url 'events' %}?week={{ week|first|date:"y-m-d" }}#results">
              <div class="c-calendar__weeks__month">
              {% ifchanged week|last|date:"M" %}
              {{ week|last|date:"M" }}
              {% endifchanged %}
              </div>
              {% for day in week %}
              {% if day == today %}
              <div class="c-calendar__weeks__day c-calendar__weeks__day--selected">{{ day|date:"j" }}</div>
              {% else %}
              <div class="c-calendar__weeks__day">{{ day|date:"j" }}</div>
              {% endif %}
              {% endfor %}
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="c-calendar__info">
      {% include 'components/info-box.html' with text=info.text link_text=info.link_text link=info.link %}
      </div>
    </div>

    <div class="c-calendar__results">
      <div class="c-calendar__results__header">
        {% if week_start.month == week_end.month %}
        <h2 class="c-heading c-heading--2">{{ week_start|date:"F jS" }} to {{ week_end|date:"jS" }}</h2>
        {% else %}
        <h2 class="c-heading c-heading--2">{{ week_start|date:"F jS" }} to {{ week_end|date:"F jS" }}</h2>
        {% endif %}
      </div>
      <div class="c-calendar__results__list">
      {% for event in events %}
        <div class="c-calendar__results__event">
          <div class="c-calendar__results__event__inner">
          {% include 'components/event-box.html' with event=event %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

  </div>
</main>
{% endblock %}
