{% extends 'base.html' %}
{% load dispatch_tags %}
{% load staticfiles %}
{% block header %}
  {% include 'headers/topbar.html' with section='events' %}
  {% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main class="c-page c-page--author u-container u-container--padded">
  <div class="c-page__content">
    {% include 'components/event-detail.html' with event=event %}
    <p class="c-heading c-heading--3 c-heading--light">Information</p>
    <p class="c-paragraph">{{ event.description|safe }}</p>
    {% include 'components/related-events.html' with related=related %}
  </div>
  <div class="c-page__sidebar">
    <div class="c-page__sidebar__sticky">
      <div class="c-page__sidebar__item">
      {% include 'widgets/upcoming-events.html' with upcoming=upcoming %}
      </div>
      <div class="c-page__sidebar__item">
      {% include 'components/info-box.html' with text=info.text link_text=info.link_text link=info.link %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
