{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}

{% block header %}
{% include 'navigation/headers/topbar.html' %}
{% include 'navigation/headers/mobile.html' %}
{% endblock %}

<main class="c-page c-page--author">
	<div class="u-container u-container--padded">

		<div class="c-page__header">
			{% if self.image %}
			<div class="c-page__header__thumbnail">
				{% image self.image fill-150x200   %}

			</div>
			{% endif %}
			<div class="c-page__header__meta">
				<h1 class="c-page__heading">{{ self.title }}
					{% if self.facebook_url %}<a class="social_media_links" href={{self.facebook_url}}><i
							class="fa fa-facebook fa-fw" style="font-size:1em;"></i>&nbsp;{{self.full_name}}</a>
					{% endif %}
					{% if self.twitter_url %}<a class="social_media_links" href="{{self.twitter_url}}"><i
							class="fa fa-twitter fa-fw" style="font-size:1em;"></i>{{self.twitter_url}}</a> {% endif %}
				</h1>
				{% if self.title %}<h3 class="c-page__sub-heading">{{ self.title }}</h3>{% endif %}
				{% if self.description %}<p class="c-page__description">{{ self.description|safe }}</p>{% endif %}
			</div>
		</div>

		{% include 'archive/objects/archive.html' with page_obj=paginated_articles %}

	</div>
</main>
{% endblock %}