.c-article--isolation {
    .fw-banner.banner-image{
        margin-top: 48px;
    }
    .headline {
      font-family: 'DancingScript' !important; 
      max-width: 750px;
      font-size: 2rem;
      margin: auto;
    }
    .author{
      text-align: right;
    }

    .isolation--nav__list--container {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .isolation--nav__list {
      position: fixed;
      bottom: 0;
      background: #8654A4;
      color: white;
      width: 100%;
      height: 48px;
      font-family: 'Helvetica Neue';
    }
    .article--nav {
      position: absolute;
      display: flex;
      height: 100%;
      align-items: center;
      transition: 0.5s;
      width: 40%;
      &.previous {
        left: 20px;
      }
      &.next {
        right: 20px
      }
    }
}

.c-article--isolation-first-article {
  .fw-banner.banner-image{
      margin-top: 48px;
  }
  .headline {
    font-family: 'DancingScript' !important; 
    max-width: 750px;
    font-size: 2rem;
    margin: auto;
  }
  .author{
    text-align: right;
  }

  .isolation--nav__list--container {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
  }
  .isolation--nav__list {
    position: fixed;
    bottom: 0;
    background: #8654A4;
    color: white;
    width: 100%;
    height: 48px;
    font-family: 'Helvetica Neue';
  }
  .article--nav {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    transition: 0.5s;
    width: 40%;
    &.previous {
      left: 20px;
    }
    &.next {
      right: 20px
    }
  }
}


.c-article--isolation-last-article  {
  .fw-banner.banner-image{
      margin-top: 48px;
  }
  .headline {
    font-family: 'DancingScript' !important; 
    max-width: 750px;
    font-size: 2rem;
    margin: auto;
  }
  .author{
    text-align: right;
  }

  .isolation--nav__list--container {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
  }
  .isolation--nav__list {
    position: fixed;
    bottom: 0;
    background: #8654A4;
    color: white;
    width: 100%;
    height: 48px;
    font-family: 'Helvetica Neue';
  }
  .article--nav {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    transition: 0.5s;
    width: 40%;
    &.previous {
      left: 20px;
    }
    &.next {
      right: 20px
    }
  }
}



.isolation-header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 48px;

    background: #8654A4;
    color: white;
    font-size: 1.3rem;
    .isolation-header--container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .isolation-header--nav {
        position: absolute;
        display: flex;
        height: 100%;
        align-items: center;
        font-family: "DancingScript";
        transition: 0.5s;
        &.left {
          left: 20px;
        }
        &.right {
          right: 20px;
          width: 130px;
          height: 30px;
          background-size: cover;
          margin: 10px 0;
          background-image: url(../images/ubyssey_logo_white.png);
        }
    }
}

.bottom-banner-wrapper{
  display: none;
}

a:hover {
        color: initial;
}