.article-box--nav{
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    .article-box-gradient{
        width: 100%;
        position: absolute;
        bottom: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;
        background-image: linear-gradient(-180deg, transparent 0%, rgba(0, 0, 0, 0.5) 99.9%);
    }

    &:hover{
      .article-box-gradient {
            background-image: linear-gradient(-180deg, transparent 0%, rgba(0, 0, 0, 0.3) 99.9%);
      }
      .title{
        display: block !important;
      }
    }
}

.article-boxes{
    display: flex;
    @media($bp-smaller-than-tablet){
        display: block;
    }
  
    .article-box--article{
      margin: 20px;
      flex: 1 0;
      display: block;
      background-position: center;
      background-size: cover;
      position: relative;
      text-decoration: none;
      width: 50%;
      height: 30vw;
      max-height: 400px;
      @media($bp-smaller-than-tablet){
        width: 95%;
        height: 35vw;
        margin: 2.5%;
      }
      &-container{
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }

  .section-flex-container{
    .article-box{
        &-container{
            width: 100%;
            height: 100%;
            position: relative;
        }

        div.title {
          display: none;
          position: absolute;
          bottom: 0;
          color: white;
          z-index: 2;
          text-align: left;
          @media (pointer:none), (pointer:coarse) {
            display: block;
          }
        }
        p.title{
          padding: 0 20px;
          overflow: hidden;
          line-height: 1em;
          margin: 0;
          font-weight: 800;
          text-transform: capitalize;
        }
        p.author{
          padding: 0 20px;
          width: calc(100% - 40px);
          z-index: 100;
          overflow: hidden;
          margin: 5px 0 10px 0;
          line-height: 1em;
          text-transform: capitalize;
        }
    }
  }
