.page {
    background-color: #ecbcbc;
    position: relative;
    .grass {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 10;
        pointer-events: none;
    }
}

.house{
    display: flex;
    flex-direction: column;
}
.roof{
    position: relative;
    display: flex;
    background-size: 100%;
    width: fit-content;
    height: fit-content;
}
.roof-image{
    width: 95%;
    margin: 0 2.5%;
}
.roof-headline{
    position: absolute;
    bottom: 20%;
    width: 400px;
    right: calc(50% - 200px);
    text-align: center;

    font-family: "DancingScript";
    font-size: 2rem;
    letter-spacing: 1px;
}

.section-flex-container {
    display: block;
    height: 100%;
    width: 65%;
    margin: auto;
    padding: 0 12.5% 325px 12.5%;
    @media ($bp-smaller-than-desktop){
        padding-bottom: 20%;
    }
    background: #F0E0CE;
    position: relative;
    .isolation-description {
        font-weight: 300;
        margin-bottom: 1em;
        margin-left: 10px;
        font-size: 0.8rem;
        margin-left: 50px;
        margin-right: 50px;
    }
    .isolation-row {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }

    .article-box{
        margin: 10px;
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 100%;
    }
}

@media($bp-larger-than-tablet){
    .section-flex-container {
        .isolation-row {
            flex-direction: row;
        }
        .article-box{
            &.type-1{
                width: 40%;
            }
            &.type-2{
                width: 60%;
            }
        }
    }
}

@media($bp-smaller-than-mobile){
    .roof-headline {
        bottom: 0;
        width: 200px;
        right: calc(50% - 100px);
    }
    .section-flex-container {
        width: 75%;
        padding: 0 7.5% 100px 7.5%;
    }
}

.homepage-header{
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .home{
        display: block;
        margin: auto;
        width: 130px;
        height: 30px;
        background-size: cover;
        background-image: url(../images/ubyssey_logo_white.png);
    }
          
}