// Font families
$font-default: 'noto-sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-secondary: $font-default;
$font-headline: 'playfair-display', 'Georgia', serif;

$font-body: 'noto-serif', 'Georgia', serif;

$font-size-base: 16;

@function font-size($size) {
  $scaled-size: ($size / $font-size-base) + em;
  @return $scaled-size;
}

// Font sizes
$font-size-11px:  0.688em;
$font-size-14px:  0.875em;
$font-size-145px: 0.906em;
$font-size-15px:  0.938em;
$font-size-18px:  1.125em;
$font-size-21px:  1.313em;
$font-size-24px:  1.500em;
$font-size-26px:  1.625em;
$font-size-36px:  2.250em;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-weight-headline: 700;

// Letter spacing
$letter-spacing-noto-sans: -0.025em;
