// font faces

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family:'playfair-display';
	src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf) format("truetype-variations");
	font-weight: 400 900;
}

// @font-face {
// 	font-family:'noto-serif';
// 	src: 
// 		url('../fonts/NotoSerif-Regular.woff2') format('woff2'),
// 		url('../fonts/NotoSerif-Regular.woff') format('woff'),
// 		url('../fonts/NotoSerif-Regular.ttf') format('truetype'),
// 		url('../fonts/NotoSerif-Regular.svg#NotoSerif-Regular') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-stretch: normal;
// 	unicode-range: U+0020-25CA;
// }

// @font-face {
// 	font-family:'noto-serif';
// 	src: 
// 		url('../fonts/NotoSerif-Italic.woff2') format('woff2'),
// 		url('../fonts/NotoSerif-Italic.woff') format('woff'),
// 		url('../fonts/NotoSerif-Italic.ttf') format('truetype'),
// 		url('../fonts/NotoSerif-Italic.svg#NotoSerif-Italic') format('svg');
// 	font-weight: 400;
// 	font-style: italic;
// 	font-stretch: normal;
// 	unicode-range: U+0020-25CA;
// }

// @font-face {
// 	font-family:'noto-serif';
// 	src: 
// 		url('../fonts/NotoSerif-Bold.woff2') format('woff2'),
// 		url('../fonts/NotoSerif-Bold.woff') format('woff'),
// 		url('../fonts/NotoSerif-Bold.ttf') format('truetype'),
// 		url('../fonts/NotoSerif-Bold.svg#NotoSerif-Bold') format('svg');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-stretch: normal;
// 	unicode-range: U+0020-25CA;
// }

// @font-face {
// 	font-family:'noto-serif';
// 	src: 
// 		url('../fonts/NotoSerif-BoldItalic.woff2') format('woff2'),
// 		url('../fonts/NotoSerif-BoldItalic.woff') format('woff'),
// 		url('../fonts/NotoSerif-BoldItalic.ttf') format('truetype'),
// 		url('../fonts/NotoSerif-BoldItalic.svg#NotoSerif-BoldItalic') format('svg');
// 	font-weight: 700;
// 	font-style: italic;
// 	font-stretch: normal;
// 	unicode-range: U+0020-25CA;
// }
	

@font-face {
	font-family:'noto-sans';
	src: 
		url('../fonts/NotoSans-Regular.woff2') format('woff2'),
		url('../fonts/NotoSans-Regular.woff') format('woff'),
		url('../fonts/NotoSans-Regular.ttf') format('truetype'),
		url('../fonts/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-sans';
	src: 
		url('../fonts/NotoSans-Italic.woff2') format('woff2'),
		url('../fonts/NotoSans-Italic.woff') format('woff'),
		url('../fonts/NotoSans-Italic.ttf') format('truetype'),
		url('../fonts/NotoSans-Italic.svg#NotoSans-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-sans';
	src: 
		url('../fonts/NotoSans-Bold.woff2') format('woff2'),
		url('../fonts/NotoSans-Bold.woff') format('woff'),
		url('../fonts/NotoSans-Bold.ttf') format('truetype'),
		url('../fonts/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-sans';
	src: 
		url('../fonts/NotoSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/NotoSans-BoldItalic.woff') format('woff'),
		url('../fonts/NotoSans-BoldItalic.ttf') format('truetype'),
		url('../fonts/NotoSans-BoldItalic.svg#NotoSans-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: 
		url('../fonts/NotoSerifDisplay-Regular.woff2') format('woff2'),
		url('../fonts/NotoSerifDisplay-Regular.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-Regular.ttf') format('truetype'),
		url('../fonts/NotoSerifDisplay-Regular.svg#NotoSerifDisplay-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: 
		url('../fonts/NotoSerifDisplay-Italic.woff2') format('woff2'),
		url('../fonts/NotoSerifDisplay-Italic.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-Italic.ttf') format('truetype'),
		url('../fonts/NotoSerifDisplay-Italic.svg#NotoSerifDisplay-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: 
		url('../fonts/NotoSerifDisplay-Medium.woff2') format('woff2'),
		url('../fonts/NotoSerifDisplay-Medium.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-Medium.ttf') format('truetype'),
		url('../fonts/NotoSerifDisplay-Medium.svg#NotoSerifDisplay-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: 
		url('../fonts/NotoSerifDisplay-MediumItalic.woff2') format('woff2'),
		url('../fonts/NotoSerifDisplay-MediumItalic.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-MediumItalic.ttf') format('truetype'),
		url('../fonts/NotoSerifDisplay-MediumItalic.svg#NotoSerifDisplay-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: 
		url('../fonts/NotoSerifDisplay-SemiBold.woff2') format('woff2'),
		url('../fonts/NotoSerifDisplay-SemiBold.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-SemiBold.ttf') format('truetype'),
		url('../fonts/NotoSerifDisplay-SemiBold.svg#NotoSerifDisplay-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: 
		url('../fonts/NotoSerifDisplay-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/NotoSerifDisplay-SemiBoldItalic.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-SemiBoldItalic.ttf') format('truetype'),
		url('../fonts/NotoSerifDisplay-SemiBoldItalic.svg#NotoSerifDisplay-SemiBoldItalic') format('svg');;
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


// @font-face {
// 	font-family:'ub-minion-pro';
// 	src: url('../fonts/MinionPro-Bold_gdi.eot');
// 	src: url('../fonts/MinionPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/MinionPro-Bold_gdi.woff') format('woff'),
// 		url('../fonts/MinionPro-Bold_gdi.ttf') format('truetype'),
// 		url('../fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold') format('svg');
// 	font-weight: 800;
// 	font-style: normal;
// 	font-stretch: normal;
// 	unicode-range: U+0020-25CA;
// }