// font faces
@font-face {
	font-family:'libre-baskerville';
	src: url('../fonts/LibreBaskerville-Regular.tff');
	src: 
		url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'libre-baskerville';
	src: url('../fonts/LibreBaskerville-Italic.tff');
	src: 
		url('../fonts/LibreBaskerville-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'cormorant-garamond';
	src: url('../fonts/CormorantGaramond-Medium.tff');
	src: 
		url('../fonts/CormorantGaramond-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'cormorant-garamond';
	src: url('../fonts/CormorantGaramond-MediumItalic.tff');
	src: 
		url('../fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'cormorant-garamond';
	src: url('../fonts/CormorantGaramond-Regular.tff');
	src: 
		url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'cormorant-garamond';
	src: url('../fonts/CormorantGaramond-Italic.tff');
	src: 
		url('../fonts/CormorantGaramond-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'roboto-serif';
	src: url('../fonts/RobotoSerif-Light.tff');
	src: 
		url('../fonts/RobotoSerif-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'roboto-serif';
	src: url('../fonts/RobotoSerif-LightItalic.tff');
	src: 
		url('../fonts/RobotoSerif-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'roboto-serif';
	src: url('../fonts/RobotoSerif-Regular.tff');
	src: 
		url('../fonts/RobotoSerif-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'roboto-serif';
	src: url('../fonts/RobotoSerif-Italic.tff');
	src: 
		url('../fonts/RobotoSerif-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}



@font-face {
	font-family:'noto-sans';
	src: url('../fonts/NotoSans-Bold.tff');
	src: 
		url('../fonts/NotoSans-Bold.woff') format('woff'),
		url('../fonts/NotoSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'noto-sans';
	src: url('../fonts/NotoSans-BoldItalic.tff');
	src: 
		url('../fonts/NotoSans-BoldItalic.woff') format('woff'),
		url('../fonts/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-sans';
	src: url('../fonts/NotoSans-Regular.tff');
	src: 
		url('../fonts/NotoSans-Regular.woff') format('woff'),
		url('../fonts/NotoSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-sans';
	src: url('../fonts/NotoSans-Italic.tff');
	src: 
		url('../fonts/NotoSans-Italic.woff') format('woff'),
		url('../fonts/NotoSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: url('../fonts/NotoSerifDisplay-Regular.tff');
	src: 
		url('../fonts/NotoSerifDisplay-Regular.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: url('../fonts/NotoSerifDisplay-Italic.tff');
	src: 
		url('../fonts/NotoSerifDisplay-Italic.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: url('../fonts/NotoSerifDisplay-Medium.tff');
	src: 
		url('../fonts/NotoSerifDisplay-Medium.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: url('../fonts/NotoSerifDisplay-MediumItalic.tff');
	src: 
		url('../fonts/NotoSerifDisplay-MediumItalic.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: url('../fonts/NotoSerifDisplay-SemiBold.tff');
	src: 
		url('../fonts/NotoSerifDisplay-SemiBold.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'noto-serif-display';
	src: url('../fonts/NotoSerifDisplay-SemiBoldItalic.tff');
	src: 
		url('../fonts/NotoSerifDisplay-SemiBoldItalic.woff') format('woff'),
		url('../fonts/NotoSerifDisplay-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}




// @font-face {
// 	font-family:'ub-minion-pro';
// 	src: url('../fonts/MinionPro-Bold_gdi.eot');
// 	src: url('../fonts/MinionPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/MinionPro-Bold_gdi.woff') format('woff'),
// 		url('../fonts/MinionPro-Bold_gdi.ttf') format('truetype'),
// 		url('../fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold') format('svg');
// 	font-weight: 800;
// 	font-style: normal;
// 	font-stretch: normal;
// 	unicode-range: U+0020-25CA;
// }