@import 'modules/mixins';

// Social/share icons

.o-social-icons {
  margin: 0;
  padding: 0;

  list-style-type: none;

  // Hide when printed
  @media print {
    display: none;
  }
}

.o-social-icons--top {
  li {
    display: inline-block;
    margin-right: 5px;
  }

  @media($bp-larger-than-tablet){
    li {
      margin-right: 0;
      margin-left: 5px;
    }
  }
}

.o-social-icons--bottom {
  // Structure
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  @media($bp-larger-than-mobile){
    text-align: unset;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: 10px;

    > * {
      vertical-align: middle;
    }

    &:first-child {
      margin-left: 0;
    }

    a {
      line-height: 1.75rem;
      height: 1.75rem;
      font-weight: 500;
    }
  }

  @media($bp-larger-than-phablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.o-social-icons--left {
  @media($bp-larger-than-mobile){
    float: left;
  }
  li {
    display: inline-block;
    padding: 0px 15px 0px;
    margin: 0;
  }
}

.o-social-icons__icon {
  display: block;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.65rem;
  padding-right: 0.65rem;

  border-radius: 4px;

  font-family: $font-secondary;
  font-size: font-size(13);
  font-weight: $font-weight-bold;
  color: #fff;

  i {
    display: inline-block;
    vertical-align: middle;
    font-size: font-size(19);
    margin-right: 0.4em;
  }

  span {
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
  }

  &:hover {
    color: #fff;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.75);
  }
}

.o-social-icons__icon--facebook {
  background-color: $color-social-facebook;
  &:hover, &:focus {
    background-color: $color-social-facebook-dark;
  }
}

.o-social-icons__icon--twitter {
  background-color: $color-social-twitter;
  &:hover, &:focus {
    background-color: $color-social-twitter-dark;
  }
}

.o-social-icons__icon--reddit {
  background-color: $color-social-reddit;
  &:hover, &:focus {
    background-color: $color-social-reddit-dark;
  }
}

.o-snapchat-icon {
  // Extras
  cursor: pointer;

  &:hover .o-snapchat-icon__code {
    // Structure
    display: block;
  }
}

.o-snapchat-icon__code {
  // Structure
  display: none;
  position: absolute;
  left: -73px;
  width: 150px;
  height: 150px;

  // Border
  border-radius: 25px;
  border: 3px solid #fff;

  @include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.4));

  // Background
  background-image: url('../images/ubyssey-snapchat-code.png');
  background-size: 100%;
  background-repeat: no-repeat;

  // Extras
  z-index: 500;
}

div.fb-like {
  margin-bottom: 1em;
}
