{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block header %}
  {% include 'navigation/headers/main.html' %}
  {% include 'navigation/headers/mobile.html' with class='homepage' %}
{% endblock %}

{% block content %}
<main class="u-container u-container--large homepage">

{% for article in breaking_news_article%}
  
    <a class="o-breaking-news" href={% pageurl article %}>
      <h3>BREAKING: {{ article.title|safe }}</h3>
    </a>

{% endfor %}


  {% comment %}
    Additional fields/blocks will go here to alert students to some special events
  {% endcomment %}

   {% include 'home/objects/above_cut.html' with articles=above_cut_articles %}

  <div class="homepage-section row">
    <div class="sections" id="section_container">  
      {% comment %} 
        This is where we put the contents of the main StreamField of section blocks 
        This StreamField consists of blocks that each show off the contents of some section.
        See the models.py of this app for implementation details
      {% endcomment %}        

    {% comment %}
     Only the first section, "News", is not an ajax request so we can display it with the include_block template tag
    {% endcomment %}

      {% with self.sections_stream.0 as first_section %}
       {% include_block  first_section  %}
        
      {% endwith %}

     
    </div>

    <div class="sidebar-home">
       <div class=" sidebar-block">
                <h2 class="block-title">Check Out Our Digital Print Issue</h2>
                <div class='sidebar-issue'>
                  <h5 class="headline" id='issue-photo'><a class='issue' id ='issue1' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_may_26_2021">May 26, 2021<img src="https://image.isu.pub/210525220016-c93553f75ca5b8987d841dd8bf6add96/jpg/page_1_thumb_large.jpg"></a></h5>
                  <h5 class="headline"><a class='issue' id ='issue2' href="https://issuu.com/ubyssey/docs/the_ubyssey_april_7">April 7, 2021 - Year in Review </a></h5>
                  <h5 class="headline"><a class='issue' id ='issue3' href="https://issuu.com/ubyssey/docs/march_30_spoof_-_no_bleed">March 30, 2021 - NICE: The Ubyssey's Spoof Issue</a></h5>
                  <h5 class="headline"><a class='issue' id ='issue4' href="https://issuu.com/ubyssey/docs/the_ubyssey_march_16">March 16, 2021</a></h5>
                </div>
            </div>
      <div class="multi-zone cell right">
      {% comment %} 
        This should probably be renamed, because "zones"
        were a mis-designed feature.

        In all likelihood, it will contain another set of blocks
      {% endcomment %}
      </div>
    </div>
  </div>

     <div class="loader-container">
         <div class="loader"></div>
     </div>
</main>
{% endblock %}

<script src="{% static 'home/js/lazyloading.js' %}" type="text/javascript"></script>

{% block footer %}
  {% include 'navigation/footer.html' with homepage=True %}
{% endblock %}
