# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Static file folders
/media/
/static/
/ubyssey/static/dist/

# local GAE
/lib/

node_modules/

# Ignore Mac specific empty file
.DS_Store

ubyssey/settings*.py

# Client secret for Travis
client-secret.json
