# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Static file folders
/gcs/
/media/
/static/
/ubyssey/static/

# env files
*.env

# developer-only file folders
/localdev/
/tmp/

# swap files
*.swp

# local GAE
/lib/

node_modules/
yarn.lock

# Ignore Mac specific empty file
.DS_Store

# Ignore settings for vscode except extensions.json
.vscode

ubyssey/settings*.py

# Client secret for Travis
client-secret.json
# Keyfile for accessing gcs bucket
gcs-local.json
