dispatch==0.5.31
git+git://github.com/ubyssey/django-google-storage.git
django-gae-backends
django-canonical-domain
mysqlclient
django-phonenumber-field==2.0.0
phonenumbers
beautifulsoup4
feedparser
pyyaml
ua-parser
user-agents
django-user-agents
