dispatch==0.6.1
Django==1.11.20
git+git://github.com/ubyssey/django-google-storage.git
django-canonical-domain
mysqlclient
django-phonenumber-field==2.0.0
phonenumbers
beautifulsoup4
feedparser
pyyaml
ua-parser
user-agents
django-user-agents
gunicorn
Pillow
django-debug-toolbar
google-cloud-datastore