dispatch==1.3.2
Django==3.0.7
git+git://github.com/ubyssey/django-google-storage.git@v0.5.4#egg=django-google-storage-updated
django-canonical-domain
mysqlclient
django-phonenumber-field==2.0.0
phonenumbers
beautifulsoup4==4.7.1
feedparser
pyyaml
ua-parser
user-agents
django-user_agents
gunicorn
Pillow
google-cloud-datastore
google-cloud-storage
google-cloud-secret-manager
python-memcached
django-environ
requests
