$more-column-left-start: 2;
$more-column-left-end: 8;

$more-column-right-start: 6;
$more-column-right-end: 12;

$normal-column-left-start: 2;
$normal-column-left-end: 7;

$normal-column-right-start: 7;
$normal-column-right-end: 12;

$less-column-left-start: 2;
$less-column-left-end: 6;

$less-column-right-start: 8;
$less-column-right-end: 12;

$row-start: 2;
$row-height300-end: 8;
$row-height350-end: 9;
$row-height400-end: 10;
$row-height450-end: 11;

$margin-size: 10px;


@media (max-width: 760px) {
  $margin-size: 5px;
}

@font-face {
  font-family: Azonix;
  src: url("../fonts/Azonix.otf");
}



.mag_title{
  margin-left: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em
}

.editor_title h1{
  margin-left: 0;
}

.editors p{
  margin-top: 0;
}

.editor_name p{
  margin-top: 0;

}

.editor_name h4{
  margin-bottom: 0;

}


.home_wrapper {
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  margin: 50px auto 0 auto;
}

@media only screen and (max-width: 1050px) {
  .mag_title{
  font-size: 0.75em;
  }

  .home_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(3.5vw, auto);
    grid-gap: 20px;
  }

  .horizontal_line {
    border-top: 2px solid red;
    margin-right: 100px;
  }

  .box1 {
    grid-column: 1 / 3;
    margin: $margin-size;
    background-color: aqua;
  }

  .box1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .box2 {
    grid-column: 1 / 3;
    margin: $margin-size;
    border-bottom: 1px solid white;
  }

  .editor_title {
    font-style: italic;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .editor_note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .editor_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .editor_name h3 {
    margin-bottom: 0%;
  }
  .editor_name p {
    margin-top: 0%;
  }

  .box3 {
    grid-column: 1 / 3;
    margin: $margin-size;
  }

  .editors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5%;
    color: white;
    font-weight: bold;
  }

  .box4 {
    grid-column: 1 / 3;
    margin: $margin-size;
    background-color: aqua;
  }

  .box4 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1050px) {
  .home_wrapper {
    z-index: 1;
    width: 100%;
    max-width: 1600px;
    margin: 50px auto 0 auto;
  }

  .horizontal_line {
    border-top: 2px solid red;
    margin-right: 600px;
  }

  .home_grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1.5vw, auto);
    grid-gap: 1.5em;
    margin-top: 50px;
    margin-right: 80px;
  }

  .box1 {
    grid-column-start: $normal-column-left-start;
    grid-column-end: $normal-column-left-end;
    grid-row-start: $row-start;
    grid-row-end: $row-height300-end + 8;
    background-color: aqua;
  }

  .box1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .box2 {
    grid-column-start: $normal-column-left-end;
    grid-column-end: $normal-column-right-end;
    grid-row-start: 2;
    grid-row-end: $row-height300-end + 8;
  }

  .editor_title {
    font-style: italic;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
  }

  .editor_note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 20%;
  }

  .editor_name {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 60%;
    color: white;
  }

  .editor_name h3 {
    margin-bottom: 0%;
  }
  .editor_name p {
    margin-top: 0%;
  }

  .box3 {
    grid-column-start: $normal-column-left-start;
    grid-column-end: $normal-column-left-end;
    grid-row-start: $row-start + 30;
    grid-row-end: $row-height450-end + 6;
  }

  .editors {
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    line-height: 5%;
    color: white;
  }

  .box4 {
    grid-column-start: $normal-column-left-end;
    grid-column-end: $more-column-right-end;
    grid-row-start: $row-start + 30;
    grid-row-end: $row-height450-end + 6;
    background-color: aqua;
  }

  .box4 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}