.nav {
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
}

ul {
  list-style: none;
}

.nav li {
  width: 2.5em;
  z-index: 1000;
  font-family: 'Azonix';
}

.nav li:hover {
  cursor: default;
}

.nav1_right {
  position: fixed;
  top: 200px;
  left: calc(100vw - 135px);
  bottom: 0;
  background-color: #ff534a;
}

.nav2_right {
  background-color: #a39ef8;
  position: fixed;
  top: 200px;
  left: calc(100vw - 95px);
  bottom: 0;
}

.nav3_right {
  background-color: #2b806e;
  position: fixed;
  top: 200px;
  left: calc(100vw - 55px);
  bottom: 0;
}

.nav1_left {
  position: fixed;
  top: 200px;
  left: 10px;
  bottom: 0;
  background-color: #ff534a;
}

.nav2_left {
  background-color: #a39ef8;
  position: fixed;
  top: 200px;
  left: 50px;
  bottom: 0;
}

.nav3_left {
  background-color: #2b806e;
  position: fixed;
  top: 200px;
  left: 90px;
  bottom: 0;
}

.animation_left1 {
  animation: sampleanimation_l1 linear 0.65s forwards;
}

@keyframes sampleanimation_l1 {
  0% {
    left: calc(100vw - 135px);
    top: 200px;
  }
  25% {
    left: 1000px;
    top: 200px;
  }
  50% {
    left: 700px;
    top: 200px;
  }
  75% {
    left: 400px;
    top: 200px;
  }
  100% {
    left: 10px;
    top: 200px;
  }
}

.animation_left2 {
  animation: sampleanimation_l2 linear 0.65s forwards;
}

@keyframes sampleanimation_l2 {
  0% {
    left: calc(100vw- 95px);
    top: 200px;
  }
  25% {
    left: 1040px;
    top: 200px;
  }
  50% {
    left: 740px;
    top: 200px;
  }
  75% {
    left: 440px;
    top: 200px;
  }
  100% {
    left: 50px;
    top: 200px;
  }
}

.animation_left3 {
  animation: sampleanimation_l3 linear 0.65s forwards;
}

@keyframes sampleanimation_l3 {
  0% {
    left: calc(100vw- 55px);
    top: 200px;
  }
  25% {
    left: 1080px;
    top: 200px;
  }
  50% {
    left: 780px;
    top: 200px;
  }
  75% {
    left: 480px;
    top: 200px;
  }
  100% {
    left: 90px;
    top: 200px;
  }
}

.animation_right1 {
  animation: sampleanimation_r1 linear 0.65s forwards;
}

@keyframes sampleanimation_r1 {
  0% {
    left: 10px;
    top: 200px;
  }
  25% {
    left: 400px;
    top: 200px;
  }
  50% {
    left: 700px;
    top: 200px;
  }
  75% {
    left: 1000px;
    top: 200px;
  }
  100% {
    left: calc(100vw - 135px);
    top: 200px;
  }
}

.animation_right2 {
  animation: sampleanimation_r2 linear 0.65s forwards;
}

@keyframes sampleanimation_r2 {
  0% {
    left: 50px;
    top: 200px;
  }
  25% {
    left: 440px;
    top: 200px;
  }
  50% {
    left: 740px;
    top: 200px;
  }
  75% {
    left: 1040px;
    top: 200px;
  }
  100% {
    left: calc(100vw - 95px);
    top: 200px;
  }
}

.animation_right3 {
  animation: sampleanimation_r3 linear 0.65s forwards;
}

@keyframes sampleanimation_r3 {
  0% {
    left: 90px;
    top: 200px;
  }
  25% {
    left: 480px;
    top: 200px;
  }
  50% {
    left: 780px;
    top: 200px;
  }
  75% {
    left: 1080px;
    top: 200px;
  }
  100% {
    left: calc(100vw - 55px);
    top: 200px;
  }
}

@media only screen and (max-width: 1050px) {
  .nav {
    display: none;
  }
}