$more-column-left-start: 2;
$more-column-left-end: 8;

$more-column-right-start: 6;
$more-column-right-end: 12;

$normal-column-left-start: 2;
$normal-column-left-end: 7;

$normal-column-right-start: 7;
$normal-column-right-end: 12;

$less-column-left-start: 2;
$less-column-left-end: 6;

$less-column-right-start: 8;
$less-column-right-end: 12;

$row-start: 2;
$row-height300-end: 8;
$row-height350-end: 9;
$row-height400-end: 10;
$row-height450-end: 11;

$margin-size: 10px;
@media (max-width: 760px) {
  $margin-size: 5px;
}

.wrapper {
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  margin: 50px auto 0 auto;
}

.nested:hover .img__description {
  visibility: visible;
}

.card__overlay {
  opacity: 0;
  visibility: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  grid-column: 1 / 11;
  grid-row: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 275ms ease-in-out;

  span {
    display: inline-block;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 3rem;
    font-weight: 700;
  }
}

.nested:hover .card__overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1050px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(3.5vw, auto);
    grid-gap: 20px;
  }

  .photo_vertical {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .photo_horizontal {
    width: 50%;
  }

  .nested {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }

  /*
first article
*/
  .article_1 {
    grid-column: 1 / 3;
    margin: $margin-size;
  }

  .one div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .one div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
second article
*/

  .article_2 {
    grid-column: 1 / 3;
    margin: $margin-size;
  }

  .two div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .two div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
third article
*/

  .article_3 {
    grid-column: 1 / 3;
    margin: $margin-size;
  }

  .three div:nth-child(1) {
    background-image: url("./assests/Dog.jpg");
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .three div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
fourth article
*/

  .article_4 {
    grid-column: 1 / 3;
    margin: $margin-size;
  }

  .four div:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/11;
  }

  .four div:nth-child(2) {
    background-color: transparent;
    grid-row: 3/5;
    grid-column: 1/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
fifth article
*/

  .article_5 {
    grid-column: 1 / 3;
    margin: $margin-size;
  }

  .five div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .five div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
sixth article
*/

  .article_6 {
    grid-column: 1 / 3;
    margin: $margin-size;
  }

  .six div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .six div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }
}

@media only screen and (min-width: 1050px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 30px;
    grid-gap: 1em;
    margin: 50px;
  }

  .photo_vertical {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .photo_horizontal {
    width: 50%;
  }

  .nested {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }

  /*
first article
*/
  .article_1 {
    grid-column-start: $normal-column-left-start;
    grid-column-end: $normal-column-left-end;
    grid-row-start: $row-start;
    grid-row-end: $row-height300-end;
  }

  .one div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .one div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
second article
*/

  .article_2 {
    grid-column-start: $normal-column-right-start;
    grid-column-end: $normal-column-right-end;
    grid-row-start: $row-start + 3;
    grid-row-end: $row-height350-end + 3;
  }

  .two div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .two div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
third article
*/

  .article_3 {
    grid-column-start: $normal-column-left-start + 1;
    grid-column-end: $normal-column-left-end;
    grid-row-start: $row-start + 6;
    grid-row-end: $row-height450-end + 6;
  }

  .three div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .three div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
fourth article
*/

  .article_4 {
    grid-column-start: $more-column-right-start;
    grid-column-end: $more-column-right-end;
    grid-row-start: $row-start + 15;
    grid-row-end: $row-height350-end + 15;
  }

  .four div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .four div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
fifth article
*/

  .article_5 {
    grid-column-start: $normal-column-left-start;
    grid-column-end: $normal-column-left-end;
    grid-row-start: $row-start + 22;
    grid-row-end: $row-height450-end + 22;
  }

  .five div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .five div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }

  /*
sixth article
*/

  .article_6 {
    grid-column-start: $normal-column-right-start;
    grid-column-end: $normal-column-right-end;
    grid-row-start: $row-start + 24;
    grid-row-end: $row-height450-end + 24;
  }

  .six div:nth-child(1) {
    grid-row: 1/6;
    grid-column: 1/7;
  }

  .six div:nth-child(2) {
    background-color: transparent;
    grid-row: 1/6;
    grid-column: 7/11;
    border-style: solid;
    border-color: #fff;
  }
}

.fade-in {
  animation: fadeIn ease 0.7s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}