{% extends 'guide/2021/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}



{% block content %}

<div class="c-banner c-banner--welcome"
	style="background-image: url({% static 'ubyssey/images/guide/2021/section-covers/cover1.jpg' %})">
	<div class="c-banner__container">
		<div class="c-banner--welcome__inner">
			<h2 class="c-banner--welcome__intro">The Ubyssey presents</h2>
			<p class="c-banner--welcome__snippet">Guide To UBC</p>
		</div>
		<div class="c-banner-credits">
			Zubair Hirji
		</div>
	</div>
</div>

<main class="{{ self.main_class_name }}">
	<div class="editorial-container">
		<div class="editorial__credits-container">
			<div class="editorial__credits-content">
				<div class="ubyseey_title">The Ubyssey </div>
				</br>
				<h1>Coordinating Editor</h1>
				<h2>Lua Presidio</h2>
				<h1>Visuals Editor</h1>
				<h2>Mahin E Alam</h2>
				<h1>News Editors</h1>
				<h2>Charlotte Alden and Nathan Bawaan</h2>
				<h1>Culture Editor</h1>
				<h2>Tianne Jensen-DesJardins</h2>
				<h1>Sports + Rec Editor</h1>
				<h2>Diana Hong</h2>
				<h1>Video Editor</h1>
				<h2>Josh Mckenna</h2>
				<h1>Opinion + Blog Editor</h1>
				<h2>Thomas McLeod</h2>
				<h1>Science Editor</h1>
				<h2>Sophia Russo</h2>
				<h1>Photo Editor</h1>
				<h2>Isabella Falsetti</h2>
				<h1>Features Editor</h1>
				<h2>Paloma Green</h2>
				<br>
				<h1>Web Developer</h1>
				<h2>Keegan Landrigan</h2>
				<h1>Web Developer</h1>
				<h2>Samuel Lin</h2>
				<br>
				<h1>Contributors</h1>
				<h2 style="font-size: 0.95rem;">
					Kevin Nan, Angela Villavicencio, Z.Aazadeh Raja, Zohrah Khalili, Iman Janmohamed , Jasmine Arora,
					Winnie Ha, Maheep Chawla, Jackson Dagger, Tina Yong , Farzzen Ather,
					Benjamin Morrison, Sophia Collins, Jane Diokpo, Jasmine Hathway, Alicia Kuo, Kelly Lu, Shanzeh
					Chaudhry, Polina Petlitsyna, Riya Gupta, Darcy Bandeen, Caylie Warkentin, Lalaine Alindogan, Peyton
					Murphy
					, Vik Sangar, Kathleen Jeanne Haryanto, Daniel Peres, Manya Malhotra, Ariadne Meriweather, Teagan
					Pettit, Melissa Li, Victoria Lee and Raina Cao
				</h2>
			</div>
		</div>

		<div class="editorial__note-container">
			<div class="editorial__ home-content">
				<div class="title">Editor's Note</div>
				<div class='content-wrapper'>
					<p>Welcome, welcome , welcome! </p>
					<p>Whether you are a first year or a second year coming to campus for the first time, I truly hope
						you will find a place to call your own here at UBC. Courses can be difficult, but the hardest
						part of transitioning to unicersity is negotiating the incredible freedom you
						have just gained all at once and without precedent. There are a bajilion choices to make, a
						million places to go and hunderds of people to meet. It's overwhelming to say the least. But
						know you aren't doing it alone. There are literally thousands of students in the same position
						as you, looking for a community, like you. All you have to do is find the.
					</p>
					<br>
					<p>So take that freedom and go out there. Explore who you are. Find out who you want to be. I know
						it's scary, but I promise you that no matter what mistakes you think you might make, someone has
						already made them. They turned out just fine and so will you.</p>

				</div>
			</div>
		</div>

		<div class="land_mark_image-container"> <img src="{% static 'ubyssey/images/guide/guide-2020-cover-1.jpg' %}"
				alt="cover"> </div>


		<div class="land_mark_note-container">
			<h1> LAND ACKNOWLEDGEMENT </h1>
			<div> We wish to acknowledge that the Guide to UBC was published upon the occupied, traditional, ancestral
				and unceded territory of the Coast Salish peoples, including the xwməθkwəyə̓m (Musqueam), Sḵwxw̱ú7mesh
				(Squamish), Stó:lō and səli̓ lwətaɁɬ/Selilwitulh (Tsleil-Waututh). </div>
		</div>

		<main class="p-title"> <b>THE PANELISTS </b>
	</div>
	<div class="panelist-container">

		<div class="p-one">
			<div class="p-img">
				<img class="photo_cover" src="{% static 'ubyssey/images/guide/2021/panellists/Ainsley.jpeg' %}"
					alt="cover">
			</div>
			<div class="p-bio">
				<h3>AINSLEY CARRY </h3>
				<div> Ainsley Carry is the vice-president students at the University of British Columbia. In his 23-year
					career, he has served as vice-president for students at Auburn University and the University of
					Southern California. </div>
			</div>
		</div>
		<div class="p-two">
			<div class="p-img">
				<img class="photo_cover" src="{% static 'ubyssey/images/guide/2021/panellists/saara.jpeg' %}"
					alt="cover">
			</div>
			<div class="p-bio">
				<h3>SAARA RAJAN</h3>
				<div> Saara is a sociology major and health and society minor. She is the executive director of Kite
					Vancouver and works for UBC's Digital Emergency Medicine team. Saara loves to visit brunch and
					dessert spots around Vancouver! </div>
			</div>
		</div>
		<div class="p-three">

			<div class="p-img">
				<img class="photo_cover" src="{% static 'ubyssey/images/guide/2021/panellists/Hailey.jpeg' %}"
					alt="cover">
			</div>
			<div class="p-bio">

				<h3>HAILEY CLARKE </h3>
				<div> Hailey is a fourth-year honours political science student. She is the co-founder of the Canadian
					Undergraduate Policy Competition and a director at the UBC PSSA. She represented UBC at the 2021
					Osaka University Partner Summit. </div>

			</div>

		</div>
		<div class="p-four">
			<div class="p-img">
				<img class="photo_cover" src="{% static 'ubyssey/images/guide/2021/panellists/Emily.jpeg' %}"
					alt="cover">
			</div>
			<div class="p-bio">

				<h3>EMILY GUBSKI </h3>
				<div>After studying computer science, microbiology and immunology at UBC, Emily is back for her second
					year of medical school. She has worked all across campus, from RAing and TAing to working for the
					AMS, doing research and more. </div>

			</div>
		</div>
		<div class="p-five">

			<div class="p-img">
				<img class="photo_cover" src="{% static 'ubyssey/images/guide/2021/panellists/Emmanuel.jpeg' %}"
					alt="cover">
			</div>
			<div class="p-bio">

				<h3>EMMANUEL CANTILLER </h3>
				<div> Emmanuel is going into his fourth year majoring in political science and minoring in law and
					society. At present, he is the arts student senator and an AMS student-at-large.</div>

			</div>


		</div>
		<div class="p-six">
			<div class="p-img">
				<img class="photo_cover" src="{% static 'ubyssey/images/guide/2021/panellists/Eshana.jpeg' %}"
					alt="cover">
			</div>
			<div class="p-bio">

				<h3>ESHANA BHANGU </h3>
				<div> Eshana is a third-year student looking to major in international relations. She is the
					vice-president academic and university affairs at the AMS and a student senator-at-large on the UBC
					Vancouver Senate. </div>

			</div>
		</div>

</main>




<main class="section-grid-container">
	<div class="section-title"> Guide to UBC 2021 </div>
	<div class="academics-box"> <img class="photo_cover"
			src="{% static 'ubyssey/images/guide/2021/section-covers/Academics-cover.jpg' %}"> </div>
	<div class="ubc-box"> <img class="photo_cover"
			src="{% static 'ubyssey/images/guide/2021/section-covers/UBC-cover.jpg' %}"> </div>
	<div class="student_life-box"> <img class="photo_cover"
			src="{% static 'ubyssey/images/guide/2021/section-covers/Student-life-cover.jpg' %}"> </div>
	<div class="student_resources-box"> <img class="photo_cover"
			src="{% static 'ubyssey/images/guide/2021/section-covers/Student-resources-cover.jpg' %}"> </div>
	<div class="parties_sex_anddrugs-box"> <img class="photo_cover"
			src="{% static 'ubyssey/images/guide/2021/section-covers/Parties-cover.jpg' %}"> </div>
	<div class="the_ubyssey-box"> <img class="photo_cover"
			src="{% static 'ubyssey/images/guide/2021/section-covers/Ubyssey-cover.jpg' %}"> </div>
	<div class="vancouver-box"> <img class="photo_cover"
			src="{% static 'ubyssey/images/guide/2021/section-covers/Vancouver-cover.jpg' %}"> </div>
	<div class="section-quote"> The ultimate guide to life at UBC </div>

</main>

</div>


{% for block in self.content %}
{% include_block block %}
{% endfor %}
{% wagtailuserbar %}
</main>
{% endblock %}