{% extends 'article/article_page.html' %}
{% load static %}
{% load dispatch_tags %}
{% load wagtailimages_tags %}

{% block specific_article_class %}
    c-article--fw-story
{% endblock %}
{% block banner %}
    <div class="fw-banner {% if self.show_timeline%} timeline-banner {% endif %} {{ self.header_layout }}">
        {% if self.show_timeline%}
            <div class='c-timeline' data-current-article-id={{self.id}} data-timeline-title="{{self.timeline}}" data-nodes="{{self.timeline.data}}"></div>
        {% endif %}
        {% if self.header_layout == 'right-image' %}
            <div class="header-container">
                <div class="headline-container left">
                    {% include 'article/objects/fw_article_headline_container.html' %}
                </div>
                <div class="right">
                    <div class="full-width featured-media">
                        {% include 'article/objects/fw_article_featured_media.html' %}
                    </div>
                </div>
            </div>
        {% elif self.header_layout == 'top-image' %}
            <div class="header-container">
                <div class="featured-media">
                    {% include 'article/objects/fw_article_featured_media.html' %}
                </div>
                <div class="headline-container">
                    {% include 'article/objects/fw_article_headline_container.html' %}
                </div>
            </div>
        {% elif self.header_layout == 'banner-image' %}
            {% with self.featured_media.first as featured_image_object %}
                <div class="banner-image">
                    {% image featured_image_object.image original as featured_image %}
                    <div class="backdrop" style="background-image: url('{{ featured_image.url }}');"></div>
                    <div class="headline-container">
                        <div class="u-container u-container--padded">
                            <h1 class="headline">{{ self.title|safe }}</h1>
                            {% if self.fw_above_cut_lede %}
                                <p class="fw-description">{{ self.fw_above_cut_lede }}</p>
                            {% endif %}
                            <div class="article-byline c-article__byline-center">
                                <span class="author">By {{ self.get_authors_with_urls|safe }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ self.published_at }}</span>
                            </div>
                        </div>
                        {% if featured_image_object.caption or featured_image_object.credit %}
                            <div class="caption">
                                {% if featured_image_object.caption %}
                                    {{ featured_image_object.caption }}
                                {% endif %}
                                {% if featured_image_object.credit %}
                                    <span class="credit">{{ featured_image_object.credit }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>                    
                </div>
                <!-- {% if article.featured_image.caption or article.featured_image.credit %}
                    <div class="caption">
                        {{ article.featured_image.caption }} <span class="credit">{{ article.featured_image.credit }}</span>
                    </div>
                {% endif %} -->
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}
{% block right_column_class %}
    fw-story
    {% if self.header_layout == 'right-image' %}
        right-image
    {% endif %}
{% endblock %}

{% if self.header_layout == 'banner-image' %}
    {% block banner_ad %}{% endblock %}
{% endif %}

{% block pre-content %}
{% endblock %}

{% block right-column %}
    <div class="right-column">
        <div class="sidebar">
            {% zone 'article-sidebar' %}
            {% if explicit is not True %}
                {% if self.minutes_to_read >= 3 %}
                    {% include 'objects/advertisement.html' with size='skyscraper' name='Box_A' id=3 article=article.id %}
                    {% include 'objects/advertisement.html' with size='box' name='Box_B' id=4 article=article.id %}
                {% else %}
                    {% include 'objects/advertisement.html' with size='box' name='Box_A' id=3 article=article.id %}
                {% endif %}
            {% else %}
                {% include 'objects/replacement.html' with size='box' %}
            {% endif %}
        </div>
    </div>
{% endblock %}



{% block scripts %} 
    {% if self.show_timeline%}
         <script src="{% static 'ubyssey/js/timeline.js' %}" type="text/javascript"></script>
    {% endif %}
 {% endblock %}