{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load ubyssey_ad_filters %}
{% load ubyssey_ad_tags %}

{% block head_scripts %}
    <!-- Register ads for article page -->
    {% for orderable in settings.ads.AdTagSettings.article_head_tags.all %}
        {% gpt_define_tag orderable.ad_slot %}
    {% endfor %}
{% endblock %}

{% block header %}
    {% include 'navigation/headers/topbar.html' %}
    {% include 'navigation/headers/mobile.html' %}
{% endblock %}

{% block content %}
    <main id="article-{{ self.slug }}" class="article">
        {% block banner_ad %}
        <!-- Article Page header ads go here -->
            {% filter add_slug_to_ad_divs:self.slug %}
                {% for orderable in settings.ads.AdTagSettings.article_header_placements.all %}
                    {% gpt_placement_tag orderable.ad_slot %}
                {% endfor %}
            {% endfilter %}
        {% endblock %}

        <article class="c-article {% if timeline %}c-article--timeline {% endif %}js-article {% block specific_article_class %}{% comment %} This block is used to override styling for the main article body (as in e.g. a full width banner article) {% endcomment %}c-article--default {% endblock %}"> <!--article-->
            {% block banner %}
                <div class="u-container">
                    {% comment %} {% if breaking %}
                        <a class="o-breaking-news" href="{{ breaking.get_absolute_url }}">
                            <h3>BREAKING: {{ breaking.headline|safe }}</h3>
                        </a>        
                    {% endif %} {% endcomment %}
                </div>
                <div class="u-container u-container--content u-container--padded">
                    <h1 class="o-headline o-headline--article">{{ self.title|safe }}</h1>
                    <div class="c-article__info">
                        <div class="c-article__byline">
                            <div class="c-article__author">{{ self.authors_with_roles|safe }}</div>
                                <div class="c-article__byline__meta">
                                    <span class="c-article__published-at">{{ self.published_at|date:'N j, Y' }}</span>
                                    {% comment %}                                     
                                        {% if reading_time %}
                                            <span> &nbsp;&middot;&nbsp; </span>
                                            <span class="c-article__reading-time">{{ reading_time }} min read</span>
                                        {% endif %}
                                    {% endcomment %}
                                    {% comment %}
                                        {% if article.subsection  %}
                                            <span> &nbsp;&middot;&nbsp; </span>
                                            <a href="{{ article.subsection.get_absolute_url }}">
                                                <span class="c-article__reading-time">{{ article.subsection.name }}</span>
                                            </a>
                                        {% endif %}
                                    {% endcomment %}
                                </div>
                            </div>
                            {% comment %}
                                {% include 'objects/social-icons.html' with article=article layout='top' %}
                            {% endcomment %}
                        </div>
                    </div>
            {% endblock %}
            {% comment %} NOTE 2022/07/05: Where the hell does this element close? {% endcomment %}
            <div class="u-container clearfix {% block right_column_class %}{% comment %} This block is used to override the styling of the right column (as in e.g. a full width banner article){% endcomment %}{% endblock %}">
                {% block right-column %}
                    <div class="right-column">
                        {% if self.featured_media.first.image %}
                            {% with self.featured_media.first as featured_image_object %}
                                <div class="featured-media">
                                    {% image featured_image_object.image original as original_image %}
                                    {% image featured_image_object.image width-500 as featured_image %}
                                    <img class="article-attachment" 
                                        data-id="{{ featured_image_object.id }}"
                                        data-caption="{% if featured_image_object.caption %}{{ featured_image_object.caption }}{% endif %}"
                                        data-credit="{% if featured_image_object.credit %}{{ featured_image_object.credit }}{% endif %}"
                                        {% comment %}
                                            Differences between line data-url and arc attributes represent the difference between
                                            the obselete Dispatch equivalent of the URL for the "original image" ("data-url" attribute)
                                            the "rendition" ("src" attribute). "data-url" is included for backward compatibility,
                                            but "src" secures the primary functionality of this img element.
                                        {% endcomment %}
                                        data-url="{{ original_image.url }}"
                                        src="{{ featured_image.url }}"
                                        alt=""
                                    />
                                    {% if featured_image_object.caption or featured_image_object.credit %}
                                        <div class="caption">
                                            {% if featured_image_object.caption %}
                                                {{ featured_image_object.caption }}
                                            {% endif %}
                                            {% if featured_image_object.credit %}
                                                <span class="credit">
                                                    {{ featured_image_object.credit }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        {% elif self.featured_media.first.video %}
                            {% with self.featured_media.first as featured_video_object %}
                                <div class="featured-media">
                                    <iframe 
                                        width="500px" 
                                        height="281px" 
                                        allowfullscreen="allowfullscreen"
                                        mozallowfullscreen="mozallowfullscreen" 
                                        msallowfullscreen="msallowfullscreen" 
                                        oallowfullscreen="oallowfullscreen" 
                                        webkitallowfullscreen="webkitallowfullscreen"
                                        src="{{ featured_video_object.video.url|youtube_embed_url|safe }}">
                                    </iframe>
                                    {% if featured_video_object.caption or featured_video_object.credit %}
                                        <div class="caption">
                                            {% if featured_video_object.caption %}{{ featured_video_object.caption }}{% endif %} {% if featured_video_object.credit %}<span class="credit">{{ featured_video_object.credit }}</span>{% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        {% endif %}
                        <div class="sidebar{% if self.featured_media.first.image or self.featured_media.first.video %} offset{% endif %}">
                            <!-- Article Page sidebar ads go here -->
                            {% filter add_slug_to_ad_divs:self.slug %}
                                {% if self.is_explicit is not True %}
                                    {% for orderable in settings.ads.AdTagSettings.article_sidebar_placements.all %}
                                        {% gpt_placement_tag orderable.ad_slot %}
                                    {% endfor %}            
                                {% else %}
                                    {% comment %} {% include 'objects/replacement.html' with size='box' %} {% endcomment %}
                                {% endif %}
                            {% endfilter %}
                        </div>                        
                    </div>
                {% endblock %}
                <div class="article-content">
                    {% block pre-content %}
                    {% endblock %}
                    {% if not self.is_explicit %}
                        {% filter add_slug_to_ad_divs:self.slug %}
                            {% filter inject_ads:is_mobile %}
                                <!-- Content unique to the article starts here -->
                                {% for block in self.content %}
                                    {% include_block block %}
                                {% endfor %}
                                <!-- Content unique to the article ends here -->
                            {% endfilter %}
                        {% endfilter %}
                    {% else %}
                        <!-- Content unique to the article starts here -->
                        {% for block in self.content %}
                            {% include_block block %}
                        {% endfor %}
                        <!-- Content unique to the article ends here -->
                    {% endif %}
                    {% block post-content %}
                    {% endblock %}
                </div>
            {% comment %} {% include 'objects/social-icons-bottom.html' with article=article %} {% endcomment %}
        </article>
    </main>


    {% comment %} Former location of suggested/trending articles. Do not re-implement until a design contract exists {% endcomment %}
    {% comment %} <div class='bottom-banner-wrapper'>
    <div class='bottom-banner-container'>
    </div>
    </div> {% endcomment %}

{% endblock %}

<!-- Article-specific scripts -->
{% block scripts %}
    {% for script_obj in self.scripts.all %}
        <script src="{{ script_obj.script.file.url }}" type="text/javascript"></script>
    {% endfor %}
{% endblock %}