{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<div class="image-attachment attachment {{ self.style }} {{ self.width }}" >
    {% image self.image original as image %}
    <img class="article-attachment" data-id="{{ image.id }}" data-caption="{{ self.caption }}" data-credit="{{ self.credit }}" data-url="{{ image.url }}" src="{{ image.url }}" alt="{{ self.caption }}" />
    {% if self.caption or self.credit %}
        <div class="caption">
            {% if self.caption %}{{ self.caption|safe }}{% endif %} <span class="credit">{% if self.credit %}{{ self.credit }}{% endif %}</span>
        </div>
    {% endif %}
</div>