
<div class="article-box{% if style %}--{{ style }}{% endif %}{% if type %} type-{{ type }}{% endif %}" style="background-image: url('/media/images/2020/11/tiannerawmeat-mayarodrigo-abdi.png');">
    <nav class="article-box{% if style %}--{{ style }}{% endif %}-container">
        <a class="article-box--nav" href="#">
            <div class="article-box-gradient"></div>
        </a>
        <div class='title'>
            <p class='title'>Temperature Checks</p>
            <p class='author'>By samantha raw</p>
        </div>
    </nav>
</div>

{% comment %}
<div class="article-box{% if style %}--{{ style }}{% endif %}{% if type %} type-{{ type }}{% endif %}" style="background-image: url('{{ image }}');">
    <nav class="article-box{% if style %}--{{ style }}{% endif %}-container">
        <a class="article-box--nav" href="{% if slug %}{% url 'guide-article' 2020 subsection slug %}{% else %}#{%endif%}">
            <p>{{ title }}</p>
            <div class="article-box-gradient"></div>
        </a> 
    </nav>
</div>
{% endcomment %}