{% extends 'ubyssey/base.html' %}
{% load static %}
{% load dispatch_tags %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'ubyssey/css/isolation.css' %}" type="text/css"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block header %}
    {% include 'navigation/headers/topbar.html' %}
    {% include 'navigation/headers/mobile.html' %}
{% endblock %}

{% block content %}
<main class="page">
    <img class="grass" src="{% static 'ubyssey/images/isolation/grass.png' %}">
    <div class="u-container u-container--content u-container--padded">
    </div>
    <div class="u-container">
          {% block innerContent %}{% endblock %}
    </div>
</main>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="{% static 'ubyssey/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'ubyssey/js/dfp.js' %}" type="text/javascript"></script>
<script src="{% static 'ubyssey/js/guide-2020.js' %}" type="text/javascript"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2313592-2', 'auto');
  ga('send', 'pageview');

</script>