{% extends 'isolation/base.html' %}
{% load static %}
{% block innerContent %}
<div class="homepage-header">
    <a class="home" href="ubyssey.ca"></a>
</div>
<div class="house">
    <div class="roof" style="background-image:url({% static 'ubyssey/images/isolation/moon.png' %});">
        <img class="roof-image" src="{% static 'ubyssey/images/isolation/dollhouseroof.png' %}"/>
        <div class="roof-headline">Stories from self-isolation</div>
    </div>
    
    <main class="section-flex-container">
        <div class="isolation-description">
            <p>Fourteen months ago we locked our doors on the world that we once knew, a world without masks and a newfound fear of the outside. This series of stories is about the last year of our lives: the flights we took as we hurried home from campus, the connections rekindled with family and, of course, the never-ending boredom.</p>
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=1 title=article1.headline authors=article1.get_author_string url=article1.get_absolute_url image=article1.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=2 title=article2.headline authors=article2.get_author_string url=article2.get_absolute_url image=article2.featured_image.image.get_absolute_url%}
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=2 title=article3.headline authors=article3.get_author_string url=article3.get_absolute_url  image=article3.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=1 title=article4.headline authors=article4.get_author_string url=article4.get_absolute_url  image=article4.featured_image.image.get_absolute_url%}
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=1 title=article5.headline authors=article5.get_author_string url=article5.get_absolute_url  image=article5.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=2 title=article6.headline authors=article6.get_author_string url=article6.get_absolute_url  image=article6.featured_image.image.get_absolute_url%}
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=2 title=article7.headline authors=article7.get_author_string url=article7.get_absolute_url  image=article7.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=1 title=article8.headline authors=article8.get_author_string url=article8.get_absolute_url  image=article8.featured_image.image.get_absolute_url%}
        </div>
    </main>
     
</div>

{% endblock %}
