{% extends 'isolation/base.html' %}
{% load static %}
{% block innerContent %}
<main class="section-grid-container">
    <div class="isolation-row">
        {% include 'isolation/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug image=article.featured_image.image.get_absolute_url%}
        {% include 'isolation/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
    </div>
    <div class="isolation-row">
        {% include 'isolation/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
        {% include 'isolation/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
    </div>
    <div class="isolation-row">
        {% include 'isolation/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
    {% include 'isolation/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
    </div>
    <div class="isolation-row">
        {% include 'isolation/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
        {% include 'isolation/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
    </div>
</main>

{% endblock %}
