.c-article{
  padding: 3em 0;
}
.c-article__intro{
  &__subheading {
    font-family: $header-font;
    font-size: 2.5rem;
    font-weight: $header-weight;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.5px;
    margin: 2em 0 1em 0;
    @media($bp-smaller-than-desktop){
      margin: 0.5em 0;
    }
  }
  &__text{
    font-family: $header-font;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 2rem;
  }
}

.c-article__content {
  h1, h2, h3 {
    text-align: left;
    font-family: $header-font;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  h1{
    font-size: 1.45rem;
    margin-bottom: 1.5em;
  }

  > p, ul {
    font-family: $text-font;
    font-size: $text-size;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 1.3rem;
    margin-bottom: 1.5em;
    width: 100%;
    max-width: 600px;
  }

  b {
    font-weight: 800;
  }

  em {
    font-style: italic;
  }

  .advertisement, .pull-quote {
    width: 300px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;

    @media($bp-larger-than-phablet) {
      margin: 0;
      float: right;
      padding-left: 35px;
    }

  }
}

p{
  text-align: left;
}

.c-up-next {
  width: 200px;
  margin: auto;
  padding: 30px 0;
  text-align: center;
}

.c-up-next__arrow, .c-up-next__text {
  display: inline-block;
  vertical-align: middle;
}

.c-up-next__arrow {
  background-image: url('../images/guide/up-next-arrow-left.png');
  background-size: 100%;
  width: 21px;
  height: 22px;
  margin-top: 20px;

  &--right {
    background-image: url('../images/guide/up-next-arrow-right.png');
  }
}

.c-up-next__text {
  margin: 0 15px;
  font-family: $header-font;
  text-transform: lowercase;
  font-weight: 500;
  line-height: 1.2rem;
  color: #6E6E6E;
}


.c-welcome-article{
  position: absolute;
  display: none;
  bottom: 999999px;
  left: auto;
  right: 5%;
  z-index: 1000;

  width: 450px;
  height: auto;

  font-family: $font-default;
  color: #ffffff;
  
  @media($bp-larger-than-desktop) {
    display: block;
  }

  .quote-content--container{
    padding: 30px 5%;
  }

  &__.quote{
    width: 100%;
    height: 100%;
    text-align: left;
  }
  &__.source{
    padding-top: 20px;
    text-transform: capitalize;
    text-align: right;
  }
}

.c-welcome-article-bottom{
  position: relative;
  font-family: $font-default;
  color: #ffffff;
  z-index: 1000;
  display: block;
  @media($bp-larger-than-desktop) {
    display: none;
  }
  .quote-content--container{
    padding: 30px 0;
    margin: 0% 5%;
  }
  &__.quote{
    width: 100%;
    height: 100%;
    text-align: left;
  }
  &__.source{
    padding-top: 20px;
    text-transform: capitalize;
    text-align: right;
  }
}

.article .o-article-embed{
  margin: 0;
  max-width: 600px;
  display: block;
}