.article-box--nav{
    margin: 0;
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none!important;
    color: white;
    transition: 0.1s;
    p{
        text-align: center;
        padding: 5%;
        width: 90%;
        z-index: 100;

        font-family: $accent-font;
        line-height: 1em;
        letter-spacing: 0.2rem;
        text-transform: lowercase;
    }

    .article-box-gradient{
        width: 100%;
        position: absolute;
        bottom: 0;
        top: 0;
        z-index: 10;
        pointer-events: none;
        background-image: linear-gradient(-180deg, transparent 0%, rgba(0, 0, 0, 0.5) 99%);
    }

    &:hover{
        font-size: 2.5rem + 0.2rem;
        .article-box-gradient {
            background-image: linear-gradient(-180deg, transparent 0%, rgba(0,0,0,0.2) 99%);
        }
    }
}

.article-boxes{
    display: flex;
    @media($bp-smaller-than-tablet){
        display: block;
    }
  
    .article-box--article{
      margin: 20px;
      flex: 1 0;
      display: block;
      background-position: center;
      background-size: cover;
      position: relative;
      text-decoration: none;
      width: 50%;
      height: 30vw;
      max-height: 400px;
      @media($bp-smaller-than-tablet){
        width: 95%;
        height: 35vw;
        margin: 2.5%;
      }
      &-container{
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }

  .section-grid-container{
    .article-box{
        &-container{
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
  }
