.c-url-err-message {
  // Structure
  margin-bottom: 2.5rem;
}

.c-url-err-message__header {
  // Background
  background-color: #dd2c2c;
  padding: 1rem;

  // Border
  border: 1px solid #dd2c2c;
  border-radius: 4px 4px 0 0;

  // Text
  color: $color-white;
  font-size: font-size(16);
}

.c-url-err-message__body {
  // Structure
  padding: 1rem;

  // Border
  border: 1px solid $color-border-gray;
  border-radius: 0 0 4px 4px;
}

.c-url-err-message .c-input-group {
  // Structure
  width: 100%;
}

.c-form__row {
  // Structure
  display: flex;
}

.c-form__row label {
  display: block;
}

.c-form__row__col {
  flex: 1;
  padding: 0 0.75rem;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.c-form__input > option {
  // Structure
  display: inline-block;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;

  // Background
  background-color: #f9f9f9;
}

#previewImage {
  // Structure
  padding: 0;
  margin: 1rem 0;
  width: 100%;
  height: auto;
}
