:root {
    --color-primary: #3490d6;
    --color-primary-darker: #055C9D;
    --color-primary-dark: #003060;
    --color-primary-lighter: #0E86D4;
    --color-primary-light: aliceblue;
    --color-input-focus: #D4F1F4;
    --color-input-focus-border: #189AB4;
}

.nav-main .menu-active a {
    border-left-color: #3490d6;
}