.article-box--nav{
    margin: 0;
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    text-decoration: none!important;
    color: #0471a7;
    // color: #0958ca; // pre-2022 Guide hover color
    transition: 0.1s;
    p {
        padding: 0;
        width: 70%;
        z-index: 0;

        font-family: $accent-font;
        line-height: 1em;
        letter-spacing: 0.2rem;
        text-transform: lowercase;

        
    }
    p:first-child {
      font-weight: 500;
    }

    @media(min-width: 1200px) {
      .article-box--article_prev {
        text-align: left;
      }
      .article-box--article_next {
        text-align: right;
      }
    }


    &:hover{
        color: #0471a7;
        font-size: 2rem + 0.2rem;
        // .article-box-gradient {
        //     background-image: linear-gradient(-180deg, transparent 0%, rgba(0,0,0,0.2) 99%);
        // }
    }
}

.article-boxes{
    display: flex;
    @media($bp-smaller-than-tablet){
        display: block;
        padding-top: 10%;
    }
  
    .article-box--article{
      margin: 20px;
      flex: 1 0;
      display: block;
      background-position: center;
      background-size: cover;
      position: relative;
      text-decoration: none;
      width: 50%;
      height: 10vw;
      max-height: 400px;
      @media($bp-smaller-than-tablet){
        width: 95%;
        height: 35vw;
        margin: 2.5% 2.5% 10% 2.5%;
      }
      &-container{
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }

  .section-grid-container{
    .article-box{
        &-container{
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
  }
