$font-default: 'Oswald', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;

$header-font: 'Oswald', sans-serif;
$header-weight-regular: 400;
$header-weight: 500;
$header-size: 3.1rem;

$text-font: 'Noto Sans', sans-serif;
$text-weight: 400;
$text-weight-bold: 500;
$text-size: 1rem;

$quote-font: 'Oswald', sans-serif;
$quote-size: 1.3rem;
$quote-weight: 400;

$credit-font: 'Noto Sans', sans-serif;
$credit-style: italic;
$credit-size: 1rem;

$accent-font: 'Oswald', sans-serif;
$accent-size: 1.3rem;
