.student-resources{
    background-color: #C27BA0 ;
}

.student-life{
    background-color: #93C47D;
}

.the-ubyssey{
    background-color: #76A5Af;

}

.parties-sex-and-drugs{
background-color: #8E7CC3;
}

.vancouver{
background-color: #F6B26B;
}

.ubc{
    background-color: #6FA8DC;

}

.academics{
    background-color: #E06666;
}