.c-header .c-nav-right .c-nav-section{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.75em;
    width: 115px;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

.student-resources{
    background-color: #C27BA0 ;
}

.student-life{
    background-color: #93C47D;
}

.the-ubyssey{
    background-color: #76A5Af;

}

.parties-sex-and-drugs{
background-color: #8E7CC3;
}

.vancouver{
background-color: #F6B26B;
}

.ubc{
    background-color: #6FA8DC;

}

.academics{
    background-color: #E06666;
}