<div class="o-archive">

  <div class="o-archive__search">
    <form method="get">
      <label class="o-archive__search__label" for="c-articles-list__searchbar"><i class="fa fa-search"></i></label>
      <input class="o-archive__search__input" name="q" id="c-articles-list__searchbar" type="text" {% if q %}value="{{ q }}"{% endif %} placeholder="Search" />
    </form>
  </div>

  <div class="o-archive__container">

    {% if sections or years %}
    <div class="o-archive__sidebar show-desktop">

      <div class="o-archive__sidebar__filters">
        <h3>Year</h3>
        <ul>
          <li class="o-archive__sidebar__filter{% if not year %} o-archive__sidebar__filter--is-active{% endif %}">
            <a href="{{ request.path }}{% if q and section_id %}?q={{ q }}&section_id={{ section_id }}{% elif q %}?q={{ q }}{% elif section_id %}?section_id={{ section_id }}{% endif %}">All years</a>
          </li>
        {% for y in years %}
          <li class="o-archive__sidebar__filter{% if y == year %} o-archive__sidebar__filter--is-active{% endif %}">
            <a href="{{ request.path }}?year={{ y }}{% if q %}&q={{ q }}{% endif %}{% if section_id %}&section_id={{ section_id }}{% endif %}">{{ y }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>

      <div class="o-archive__sidebar__filters">
        <h3>Section</h3>
        <ul>
          <li class="o-archive__sidebar__filter{% if not section_id %} o-archive__sidebar__filter--is-active{% endif %}">
            <a href="{{ request.path }}{% if q and year %}?q={{ q }}&year={{ year }}{% elif q %}?q={{ q }}{% elif year %}?year={{ year }}{% endif %}">All sections</a>
          </li>
        {% for section in sections %}
          <li class="o-archive__sidebar__filter{% if section.id == section_id %} o-archive__sidebar__filter--is-active{% endif %}">
            <a href="{{ request.path }}?{% if year %}year={{ year }}&{% endif %}{% if q %}q={{ q }}&{% endif %}section_id={{ section.id }}">{{ section.name }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>

    </div>
    {% endif %}

    <div class="o-archive__main">

      <div class="o-archive__dropdown-filters">

        {% if years %}
        <div class="o-mobile-dropdown js-dropdown">

          <a class="o-mobile-dropdown__button js-disable-scroll" href="#">
            <span>{% if year %}{{ year }}{% else %}All years{% endif %}</span>
            <i class="fa fa-sort-desc"></i>
          </a>

          <div class="o-mobile-dropdown__list js-dropdown-list">
            <div class="o-mobile-dropdown__list__container js-dropdown-container">
              <div>
                <div class="o-mobile-dropdown__header">
                  <h3 class="o-mobile-dropdown__title">Filter by year:</h3>
                  <div class="o-mobile-dropdown__close">
                    <i class="fa fa-close"></i>
                  </div>
                </div>
                <ul>
                  <li class="o-mobile-dropdown__item {% if not year %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href="{{ request.path }}?{% if q %}q={{ q }}{% endif %}{% if q and section_id %}&{% endif %}{% if section_id %}section_id={{ section_id}}{% endif %}">All</a>
                  </li>
                {% for y in years %}
                  <li class="o-mobile-dropdown__item {% if year == y %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href="{{ request.path }}?year={{ y }}{% if q %}&q={{ q }}{% endif %}{% if section_id %}&section_id={{ section_id }}{% endif %}">{{ y }}</a>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>
        {% endif %}

        {% if sections %}
        <div class="o-mobile-dropdown js-dropdown">

          <a class="o-mobile-dropdown__button js-disable-scroll" href="#">
            <span>{% if section_name %}{{ section_name }}{% else %}All sections{% endif %}</span>
            <i class="fa fa-sort-desc"></i>
          </a>

          <div class="o-mobile-dropdown__list js-dropdown-list">
            <div class="o-mobile-dropdown__list__container js-dropdown-container">
              <div>
                <div class="o-mobile-dropdown__header">
                  <h3 class="o-mobile-dropdown__title">Filter by section:</h3>
                  <div class="o-mobile-dropdown__close">
                    <i class="fa fa-close"></i>
                  </div>
                </div>									<ul>
                  <li class="o-mobile-dropdown__item {% if not section_id %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href="{{ request.path }}?{% if year %}year={{ year }}{% endif %}{% if q and year %}&{% endif %}{% if q %}q={{ q }}{% endif %}">All</a>
                  </li>
                {% for section in sections %}
                  <li class="o-mobile-dropdown__item {% if section.id == section_id %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href="{{ request.path }}?{% if year %}year={{ year }}&{% endif %}{% if q %}q={{ q }}&{% endif %}section_id={{ section.id }}">{{ section.name }}</a>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>
        {% endif %}

        <div class="o-mobile-dropdown js-dropdown">

          <a class="o-mobile-dropdown__button js-disable-scroll" href="#">
            <span>{{ order|title }}</span>
            <i class="fa fa-sort-desc"></i>
          </a>

          <div class="o-mobile-dropdown__list js-dropdown-list">
            <div class="o-mobile-dropdown__list__container js-dropdown-container">
              <div>
                <div class="o-mobile-dropdown__header">
                  <h3 class="o-mobile-dropdown__title">Order by:</h3>
                  <div class="o-mobile-dropdown__close">
                    <i class="fa fa-close"></i>
                  </div>
                </div>
                <ul>
                  <li class="o-mobile-dropdown__item{% if order == 'newest' %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href="{{ request.path }}?{% if q %}q={{ q }}&{% endif %}{% if section_id %}section_id={{ section_id}}&{% endif %}{% if year %}year={{ year}}&{% endif %}order=newest">Newest</a>
                  </li>
                  <li class="o-mobile-dropdown__item{% if order == 'oldest' %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href="{{ request.path }}?{% if q %}q={{ q }}&{% endif %}{% if section_id %}section_id={{ section_id}}&{% endif %}{% if year %}year={{ year}}&{% endif %}order=oldest">Oldest</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="o-archive__header">
        <h3 class="o-archive__header__title">
          {% if articles %} {{ articles.paginator.count }} RESULTS {% else %}NO RESULTS{% endif %}
          {% if q %} FOR "{{ q }}"{% endif %}
        </h3>
        <div class="o-archive__header__sort o-dropdown js-dropdown">
          <a class="o-button o-dropdown__button">
            <span>{{ order|title }}</span>
            <i class="fa fa-sort-desc"></i>
          </a>
          <ul class="o-dropdown__list js-dropdown-list">
            <li class="o-dropdown__item{% if order == 'newest' %} o-dropdown__item--is-active{% endif %}">
              <a href="{{ request.path }}?{% if q %}q={{ q }}&{% endif %}{% if section_id %}section_id={{ section_id}}&{% endif %}{% if year %}year={{ year}}&{% endif %}order=newest">Newest</a>
            </li>
            <li class="o-dropdown__item{% if order == 'oldest' %} o-dropdown__item--is-active{% endif %}">
              <a href="{{ request.path }}?{% if q %}q={{ q }}&{% endif %}{% if section_id %}section_id={{ section_id}}&{% endif %}{% if year %}year={{ year}}&{% endif %}order=oldest">Oldest</a>
            </li>
          </ul>
        </div>
      </div>

      {% if articles|length > 0 %}
      <div class="o-archive__main__list">
      {% for object in articles %}
        {% if object == "articles" %}
          <div class="o-archive__divider">
            <div class="o-archive__line"></div>
            <div class="o-archive__line_text">Articles</div>
            <div class="o-archive__line"></div>
          </div>
          
        {% elif object == "people" %}
        <div class="o-archive__divider">
            <div class="o-archive__line"></div>
            <div class="o-archive__line_text">People</div>
            <div class="o-archive__line"></div>
          </div>
        {% elif object.headline %}
          {% include 'objects/articles/list.html' with article=object %}
        {% else %}
          {% include 'objects/author_list.html' with person=object %}
        {% endif %}
      {% endfor %}
      </div>

      <div class="o-archive__pagination">
        {% if articles.has_previous %}
        <a class="o-button o-archive__pagination__prev" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ articles.previous_page_number }}"><i class="fa fa-caret-left" aria-hidden="true"></i> Previous</a>
        {% endif %}

        <span class="o-archive__pagination__current" >
          Page {{ articles.number }} of {{ articles.paginator.num_pages }}
        </span>

        {% if articles.has_next %}
          <a class="o-button o-archive__pagination__next" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ articles.next_page_number }}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
        {% endif %}
      </div>

      {% else %}
      <div class="o-archive__no-results">No articles found 😔</div>
      {% endif %}

    </div>

  </div>

</div>
