{% load static %}
{% load dispatch_tags %}

{% block content %}
<div class='bottom-banner-wrapper'>
  <div class='bottom-banner-container'>
    <div class='area-1'>
      <div class='sa-container-outer'>
        <h2 class='bottom-banner__title'>Suggested Articles</h2>
        <div class='sa-container-inner'>
          {% for article in suggested %}
            {% include 'objects/articles/suggested.html' with article=article %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="popular sidebar-block area-2">
      <h2 class="bottom-banner__title">Most popular this week</h2>
      <ol class="article-list">
          {% for article in popular %}
          <li><h4 class="headline"><a href="{{ article.get_absolute_url }}?ref=popular&dur=week">{{ article.headline|safe }}</a></h4></li>
          {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
