<article class="o-article o-article--list">
    <a style="margin-right: 0.65rem;" href="{{ image.get_absolute_url }}">
        <img class="article-attachment" data-id="{{ image.id }}" src="{{ image.get_thumbnail_url }}" alt="{{ image.title }}" />
    </a>
    
    <div class="o-article__right">
        <div class="o-article__meta">
            <h3 style="margin: 0px;">
                <a href="{{ image.get_absolute_url }}">{{ image.title|default_if_none:"Untitled" }}</a>
            </h3>
            {% if not hide_byline %}
                <div class="o-article__byline">
                    {% if image.imageAuthors %}
                        <span class="o-article__author">By
                            {% for author in image.imageAuthors %}
                                {% if forloop.last and image.numAuthors > 1 %} and {% endif %}
                                <a href="{{ author.link }}">{{ author.name|safe }}</a>{% if not forloop.last and forloop.counter != image.numAuthors|add:-1 %},{% endif %}
                            {% endfor %}
                        </span>
                        <span> &nbsp;·&nbsp; </span>
                    {% endif %}
                    <span class="o-article__published">{{ image.created_at }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</article>