<ul class="o-social-icons o-social-icons--{{ layout }}">
  <li>
    <a class="facebook o-social-icons__icon o-social-icons__icon--facebook" href="#" data-url="{{ article.get_absolute_url }}">
      <i class="fa fa-facebook-square"></i><span>Share</span>
    </a>
  </li><li>
    <a class="twitter o-social-icons__icon o-social-icons__icon--twitter" href="#" data-url="{{ article.get_absolute_url }}" data-title="{{ article.headline|safe }}">
      <i class="fa fa-twitter"></i><span>Tweet</span>
    </a>
  </li>
</ul>
