<footer class="c-footer">
  <div class="o-container">
    <div class="o-wrapper">
      <a class="o-logo--small" href="{% url 'guide-landing' 2016 %}"></a>
      <nav class="c-nav-footer">
        <div class="c-nav-footer__column">
          <h2>UBC</h2>
          <ul>
            <li><a href="{% url 'guide-article' 2016 'ams' %}">ams</a></li>
            <li><a href="{% url 'guide-article' 2016 'clubs' %}">clubs</a></li>
            <li><a href="{% url 'guide-article' 2016 'greek-life' %}">fraternities &amp; sororities</a></li>
            <li><a href="{% url 'guide-article' 2016 'traditions' %}">ubc traditions</a></li>
            <li><a href="{% url 'guide-article' 2016 'sports' %}">sports</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Academics</h2>
          <ul>
            <li><a href="{% url 'guide-article' 2016 'study-tips' %}">study tips</a></li>
            <li><a href="{% url 'guide-article' 2016 'professors' %}">professors</a></li>
            <li><a href="{% url 'guide-article' 2016 'the-basics' %}">the basics</a></li>
            <li><a href="{% url 'guide-article' 2016 'studying-abroad' %}">studying abroad</a></li>
            <li><a href="{% url 'guide-article' 2016 'dates' %}">dates to know</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Adulting</h2>
          <ul>
            <li><a href="{% url 'guide-article' 2016 'finding-a-job' %}">finding a job</a></li>
            <li><a href="{% url 'guide-article' 2016 'friends' %}">friends</a></li>
            <li><a href="{% url 'guide-article' 2016 'love-and-sex' %}">love &amp; sex</a></li>
            <li><a href="{% url 'guide-article' 2016 'exercising' %}">exercising</a></li>
            <li><a href="{% url 'guide-article' 2016 'finding-a-roomie' %}">finding a roommate</a></li>
            <li><a href="{% url 'guide-article' 2016 'financial-tips' %}">financial tips</a></li>
            <li><a href="{% url 'guide-article' 2016 'cooking-at-home' %}">cooking at home</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>Recreation</h2>
          <ul>
            <li><a href="{% url 'guide-article' 2016 'greater-vancouver' %}">greater vancouver</a></li>
            <li><a href="{% url 'guide-article' 2016 'what-to-do-in-vancouver' %}">what to do in vancouver</a></li>
            <li><a href="{% url 'guide-article' 2016 'campus-eats' %}">campus eats</a></li>
            <li><a href="{% url 'guide-article' 2016 'travel-tips' %}">travel tips</a></li>
            <li><a href="{% url 'guide-article' 2016 'drugs' %}">drugs</a></li>
          </ul>
        </div>
        <div class="c-nav-footer__column">
          <h2>The Ubyssey</h2>
          <ul>
            <li><a href="{% url 'guide-article' 2016 'ubyssey' %}">about us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</footer>
