{% load static %}
{% load cache %}
{% load menu_tags %}

<header class="main">
  <div class="u-container u-container--large">
    <div class="branding row">
      <div class="left"><span class="since-line">UBC’s student newspaper since 1918</span></div>
      <div class="middle">
        <img class="top-logo" src="{% static 'ubyssey/images/ubyssey-logo.svg' %}" alt=""/>
      </div>
      <div class="right">
        <!-- <a class="store-link" href="https://store.ubyssey.ca/">
          <i class="fa fa-shopping-bag"></i><span>Store</span>
        </a> -->
        <a class="o-snapchat-icon"><i class="fa fa-snapchat"></i><div class="o-snapchat-icon__code"></div></a>
        <a class = "facebook-icon" href="https://www.facebook.com/ubyssey" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a class = "instagram-icon" href="https://www.instagram.com/ubyssey/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class = "twitter-icon" href="https://twitter.com/Ubyssey" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a>
      </div>
    </div>
    <nav class="main row">
        <div class="left">
          <ul class="meta">
            {% cache 604800 left_header_menu %}
              {% for menu_item in settings.navigation.SitewideMenus.left_header_menu.all %}
                <li><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
              {% endfor %}
            {% endcache %}
          </ul>
        </div>
        <div class="middle">
          <ul class="sections">
            {% cache 604800 main_header_menu %}
              {% main_menu %}
              {% comment %} {% for menu_item in settings.navigation.SitewideMenus.main_header_menu.all %}
                <li><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
              {% endfor %} {% endcomment %}
            {% endcache %}
          </ul>
        </div>
        <div class="right">
          <ul class="meta">
            {% cache 604800 right_header_menu %}
              {% for menu_item in settings.navigation.SitewideMenus.right_header_menu.all %}
                <li><a href="{{ menu_item.link }}">{{ menu_item.text}}</a></li>
              {% endfor %}
            {% endcache %}
          </ul>
        </div>
    </nav>
</div>
</header>
