{%if event %}
<a class="c-event c-event--box{% if size %} c-event--{{ size}}{% endif %}" href="{% url 'event' event.pk.hex %}">
  {% if event.image and not hide_image %}
  <img class='c-event__image'  src='{{event.image.url}}' alt=""/>
  {% endif %}
  <div class="c-event__meta">
    {% if not hide_datebox %}
    {% include 'components/event-date.html' with event=event %}
    {% endif %}
    <div class="c-event__info">
      <h3 class="c-event__title">{{ event.title|wordwrap:30|linebreaksbr }}</h3>
  
  {% if not hide_day_label %}
    {% if event.start_time|date:"Ymd" == event.end_time|date:"Ymd" %}
      <p class="c-event__time">{{ event.start_time|date:"l, M j \a\t g A" }} - {{ event.end_time|date:"g A"}}</p>
    {% else %}
      <p class="c-event__time">{{ event.start_time|date:"l, M j \a\t g A" }} - {{ event.end_time|date:"l, M j \a\t g A" }}</p>
    {% endif %}
  {% else %}
    {% if event.start_time|date:"Ymd" == event.end_time|date:"Ymd" %}
      <p class="c-event__time">{{ event.start_time|date:"g A" }} - {{ event.end_time|date:"g A"}}</p>
    {% else %}
      <p class="c-event__time">{{ event.start_time|date:"g A" }} - {{ event.end_time|date:"l \a\t g A"}}</p>
    {% endif %}
  {% endif %}
  
      <p class="c-event__location">{{ event.location|wordwrap:40|linebreaksbr }}</p>
    </div>
  </div>
</a>
{%endif%}