{% load static %}
<title>{{ meta.title|striptags|safe }}</title>
<link rel="canonical" href="{{ meta.url }}">
<meta name="description" content="{{ meta.description }}" />
{% if article %}<meta name="author" content="{{ meta.author }}" />{% endif %}

<!-- Open Graph data -->
<meta property="og:title" content="{{ meta.title|striptags|safe }}" />
<meta property="og:type" content="{% if article %}article{% else %}website{% endif %}" />
<meta property="og:url" content="{{ meta.url }}" />
<meta property="og:image" content="{% if meta.image %}{{ meta.image }}{% else %}{% static 'ubyssey/images/ubyssey-logo-square.png' %}{% endif %}" />
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:site_name" content="The Ubyssey" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ubyssey">
<meta name="twitter:title" content="{{ meta.title|striptags|safe }}">
<meta name="twitter:description" content="{{ meta.description }}">
<meta name="twitter:image" content="{{ meta.image }}">
