{% extends 'base.html' %}
{% extends}
{% load staticfiles %}
{% block header %}
	{% include 'headers/topbar.html' with article=article section=article.section.slug %}
	{% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main class="archive page">
  <div class="u-container u-container--content u-container--padded">
		<h1>Search the archive</h1>
		<div class="c-archive">
			<div class="c-archive__sidebar show-desktop">

				<div class="c-archive__sidebar__filters">
					<h3>Year</h3>
					<ul>
						<li class="c-archive__sidebar__filter{% if not year %} c-archive__sidebar__filter--is-active{% endif %}">
							<a href="{% url 'archive' %}{% if q and section_id %}?q={{ q }}&section_id={{ section_id }}{% elif q %}?q={{ q }}{% elif section_id %}?section_id={{ section_id }}{% endif %}">All years</a>
						</li>
					{% for y in years %}
						<li class="c-archive__sidebar__filter{% if y == year %} c-archive__sidebar__filter--is-active{% endif %}">
							<a href="{% url 'archive' %}?year={{ y }}{% if q %}&q={{ q }}{% endif %}{% if section_id %}&section_id={{ section_id }}{% endif %}">{{ y }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>

				<div class="c-archive__sidebar__filters">
					<h3>Section</h3>
					<ul>
						<li class="c-archive__sidebar__filter{% if not section_id %} c-archive__sidebar__filter--is-active{% endif %}">
							<a href="{% url 'archive' %}{% if q and year %}?q={{ q }}&year={{ year }}{% elif q %}?q={{ q }}{% elif year %}?year={{ year }}{% endif %}">All sections</a>
						</li>
					{% for section in sections %}
						<li class="c-archive__sidebar__filter{% if section.id == section_id %} c-archive__sidebar__filter--is-active{% endif %}">
							<a href="{% url 'archive' %}?{% if year %}year={{ year }}&{% endif %}{% if q %}q={{ q }}&{% endif %}section_id={{ section.id }}">{{ section }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>

			</div>

			<div class="c-archive__main">

				<div class="c-archive__search article-search">
					<form method="get" action="/archive/">
						<label><i class="fa fa-search"></i></label>
						<input name="q" id="author-search" type="text" value="{% if q %}{{ q }}{% endif %}"></input>
						{% if year %}<input name="year" type="hidden" value="{{ year }}"></input>{% endif %}
						{% if section_id %}<input name="section_id" type="hidden" value="{{ section_id }}"></input>{% endif %}
					</form>
				</div>

				<div class="Archive show-mobile">
					<div class="Archive dropdown filters">
						<a href="#" class="dropbutton"/><i class="Archive fa fa-sort-desc"></i><p>{% if year %}{{ year }}{% else %}Year{% endif %}</p></a>
						<ul class="dropdown-content filter">
							<li><a href="{% url 'archive' %}?{% if q %}q={{ q }}{% endif %}{% if q and section_id %}&{% endif %}{% if section_id %}section_id={{ section_id}}{% endif %}">All</a></li>
						{% for y in years %}
							<li><a href="{% url 'archive' %}?year={{ year }}{% if q %}&q={{ q }}{% endif %}{% if section_id %}&section_id={{ section_id }}{% endif %}">{{ y }}</a></li>
						{% endfor %}
							</ul>
					</div>
					<div class="Archive dropdown filters">
						<a href="#" class="dropbutton"/><i class="Archive fa fa-sort-desc"></i><p>{% if section_name %}{{ section_name }}{% else %}Section{% endif %}</p></a>
						<ul class="dropdown-content filter">
							<li><a href="{% url 'archive' %}?{% if year %}year={{ year }}{% endif %}{% if q and year %}&{% endif %}{% if q %}q={{ q }}{% endif %}">All</a></li>
						{% for section in sections %}
							<li><a href="{% url 'archive' %}?{% if year %}year={{ year }}&{% endif %}{% if q %}q={{ q }}&{% endif %}section_id={{ section_id }}">{{ section }}</a></li>
						{% endfor %}
							</ul>
					</div>
				</div>

				{% if year or section_id %}
				<ul class="c-archive__main__filters show-desktop">
				{% if year %}
					<li>
						<span>{{ year }}</span>
						<a href="{% url 'archive' %}?{% if q %}q={{ q }}{% endif %}{% if q and section_id %}&{% endif %}{% if section_id %}section_id={{ section_id}}{% endif %}" title="Remove filter">
							<i class="fa fa-close" aria-hidden="true"></i>
						</a>
					</li>
				{% endif %}
				{% if section_id %}
					<li>
						<span>{{ section_name }}</span>
						<a href="{% url 'archive' %}?{% if year %}year={{ year }}{% endif %}{% if q and year %}&{% endif %}{% if q %}q={{ q }}{% endif %}" title="Remove filter">
							<i class="fa fa-close" aria-hidden="true"></i>
						</a>
					</li>
				{% endif %}
				</ul>
				{% endif %}

				<div class="Archive article-archive">
					<div class="filter clearfix">
						{% if count %}
						<h3 class="basic uppercase">{{ count }} RESULTS{% if q %} FOR "{{ q }}"{% endif %}</h3>
						{% endif %}
						<div class="dropdown">
                        <a href="#">{{ order|title }} <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li><a href="{% url 'archive' %}?{% if q %}q={{ q }}&{% endif %}{% if section_id %}section_id={{ section_id}}&{% endif %}{% if year %}year={{ year }}&{% endif %}order=newest">Newest</a></li>
                            <li><a href="{% url 'archive' %}?{% if q %}q={{ q }}&{% endif %}{% if section_id %}section_id={{ section_id}}&{% endif %}{% if year %}year={{ year}}&{% endif %}order=oldest">Oldest</a></li>
                        </ul>
                    </div>
					</div>
				{% if articles|length > 0 %}
					<div class="list">
					{% for article in articles %}
						<article>
						{% if article.featured_image %}
							<a href="{{ article.get_absolute_url }}" class="image">
								<img src="{{ article.featured_image.image.get_absolute_url }}" />
							</a>
						{% endif %}
							<a href="{{ article.get_absolute_url }}"><h2 class="headline">{{ article.headline|safe }}</h2></a>
							<span class="byline"><span class="author">By {{ article.get_author_url|safe }}</span> &nbsp;·&nbsp; <span class="published">{{ article.published_at }}</span></span>
							<p class="snippet">{{ article.snippet|safe }}</p>
						</article>
					{% endfor %}
					</div>
				{% else %}
					<div class="no-results">No articles found.</div>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
