{% load staticfiles %}
{% load dispatch_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>The Ubyssey Centennial</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'images/favicons/android-chrome-192x192.png' %}" sizes="192x192">
  <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-96x96.png' %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}" sizes="16x16">
  <meta property="fb:pages" content="99164676792" />
  <link rel="stylesheet" href="{% add_version 'css/centennial.css' %}" type="text/css"/>

</head>
<body>
  <div class="c-wrapper">
    <header class="c-header">
      <div class="c-container">
        <div class="c-logo"></div>
      </div>
    </header>
    <div class="c-container">
      <div class="c-date">
        <div class="c-date__left">
          <h2>Save the Date</h2>
          <div class="c-date__box">
            <h3>October 27, 2018</h3>
            <p>The AMS Student Nest<br/>Vancouver, BC</p>
            <a class="c-button" href="https://docs.google.com/forms/d/1Rslc8Mg8ZaTnC3-SvC7k5-3urGijcZ9xFfExamaLzLk" target="_blank">RSVP Now</a>
          </div>
        </div>
        <div class="c-date__right">
          <p>We invite our entire alumni community of past editors, writers and staff to share their memories and commemorate 100 years of student journalism at the University of British Columbia.</p>
        </div>
      </div>
      <div class="c-join">
        <div class="c-join__left">
          <p>Join us on October 27th, 2018 for a formal sit down dinner served in the Great Hall of the AMS Student Nest. Reconnect with fellow alumni and celebrate this momentous occasion in Ubyssey history.</p>
        </div>
        <div class="c-join__right">
          <h2>Itinerary</h2>
          <div class="c-join__box">
            <div class="c-join__itinerary">
                <div class="c-join__itinerary__items">
                  <p>Reception<br/>Program</br>Dinner</p>
                </div>
                <div class="c-join__itinerary__times">
                  <p>5:30 pm<br/>6:30 pm<br/>7:00 pm</p>
                </div>
            </div>
            <div class="c-join__invitation">
              <p>Following the dinner we invite you to join us at the Gallery to continue the celebration.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-share">
        <h2>Share Your Story</h2>
        <p>Even if you can't make the celebration in October, our Centennial offers an opportunity to celebrate a century of student journalism — spanning many generations and mediums. As we embark on our 100th year, we invite you to share your memories of your time at the paper.</p>
        <a class="c-button c-button--white" href="https://docs.google.com/forms/d/1_KlOT_uDnKkawhKL40nVoFWqmZxzB1eNU1zISNTeJis" target="_blank">Get Involved</a>
      </div>
    </div>
  </div>
</body>
</html>
