{% load static %}
{% load dispatch_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>The Ubyssey Centennial</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'ubyssey/images/favicons/apple-touch-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'ubyssey/images/favicons/apple-touch-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'ubyssey/images/favicons/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'ubyssey/images/favicons/apple-touch-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'ubyssey/images/favicons/apple-touch-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'ubyssey/images/favicons/apple-touch-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'ubyssey/images/favicons/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'ubyssey/images/favicons/apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ubyssey/images/favicons/apple-touch-icon-180x180.png' %}">
  <link rel="icon" type="image/png" href="{% static 'ubyssey/images/favicons/android-chrome-192x192.png' %}" sizes="192x192">
  <link rel="icon" type="image/png" href="{% static 'ubyssey/images/favicons/favicon-16x16.png' %}" sizes="16x16">
  <link rel="icon" type="image/png" href="{% static 'ubyssey/images/favicons/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'ubyssey/images/favicons/favicon-96x96.png' %}" sizes="96x96">
  <link rel="manifest" href="{% static 'ubyssey/images/favicons/manifest.json' %}">
  <meta property="fb:pages" content="99164676792" />
  <link rel="stylesheet" href="{% static 'ubyssey/css/centennial.css' %}" type="text/css"/>

</head>
<body>
  <div class="c-wrapper">
    <header class="c-header">
      <div class="c-container">
        <div class="c-logo"></div>
      </div>
    </header>
    <div class="c-container">
      <div class="c-date">
        <div class="c-date__left">
          <h2>Save the Date</h2>
          <div class="c-date__box">
            <div class="c-date__sold_out">
                Sold Out
            </div>
            <h3>October 27, 2018</h3>
            <p>The AMS Student Nest<br/>Vancouver, BC</p>
            <!-- <a class="c-button" href="https://docs.google.com/forms/d/1Rslc8Mg8ZaTnC3-SvC7k5-3urGijcZ9xFfExamaLzLk" target="_blank">RSVP Now</a> -->
            <a class="c-button" href="" target="_blank">RSVP Now</a>
          </div>
        </div>
        <div class="c-date__right">
          <p>We invite our entire alumni community of past editors, writers and staff to share their memories and commemorate 100 years of student journalism at the University of British Columbia.</p>
        </div>
      </div>
      <div class="c-join">
        <div class="c-join__left">
          <p>Join us on October 27th, 2018 for a formal sit down dinner served in the Great Hall of the AMS Student Nest. Reconnect with fellow alumni and celebrate this momentous occasion in Ubyssey history.</p>
        </div>
        <div class="c-join__right">
          <h2>Itinerary</h2>
          <div class="c-join__box">
            <div class="c-join__itinerary">
                <div class="c-join__itinerary__items">
                  <p>Reception<br/>Program</br>Dinner</p>
                </div>
                <div class="c-join__itinerary__times">
                  <p>5:30 pm<br/>6:30 pm<br/>7:00 pm</p>
                </div>
            </div>
            <div class="c-join__invitation">
              <p>Following the dinner we invite you to join us at the Gallery to continue the celebration.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-share">
        <h2>Share Your Story</h2>
        <p>Even if you can't make the celebration in October, our Centennial offers an opportunity to celebrate a century of student journalism — spanning many generations and mediums. As we embark on our 100th year, we invite you to share your memories of your time at the paper.</p>
        <a class="c-button c-button--white" href="https://docs.google.com/forms/d/1_KlOT_uDnKkawhKL40nVoFWqmZxzB1eNU1zISNTeJis" target="_blank">Get Involved</a>
      </div>
      <div class="c-share">
          <h2>Donate</h2>
          <p>Since The Ubyssey’s founding 100 years ago, the journalism industry has gone through many changes, and the paper has always managed to keep up with them. UBC has grown and we have grown along with it. But a little help would go a long way — we’re trying to innovate, not just keep our heads above water. As we continue to tell the stories that matter most to students and the wider community, we want to be able to invest in the equipment we need to produce podcasts, shoot video, and put together the type of online journalism that students in 2018 expect of their campus newspaper.
          </p>
          <p>Please consider helping us continue to be Canada’s best student newspaper as we move into our next century, and thank you so much for your generosity.</p> 
            
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="NH4P5J6DMFTUW">
            <input style="border-radius: 20px;" type="image" src="https://ubyssey.storage.googleapis.com/media/images/2018/10/donate-button-medium.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
      </div>
    </div>
  </div>
</body>
</html>
