{% load staticfiles %}
<footer>
    <div class="u-container{% if homepage %} u-container--large{% endif %}">
        <div class="top-row">
            <a class="home-link" href="{% url 'home' %}"><img class="logo" src="{% static 'images/ubyssey-logo-small-grey.svg' %}" /></a>
            <ul class="sections">
                <li><a href="{% url 'page' 'news' %}">News</a></li>
                <li><a href="{% url 'page' 'culture' %}">Culture</a></li>
                <li><a href="{% url 'page' 'features' %}">Features</a></li>
                <li><a href="{% url 'page' 'opinion' %}">Opinion</a></li>
                <li><a href="{% url 'page' 'sports' %}">Sports</a></li>
                <li><a href="{% url 'page' 'blog' %}">Blog</a></li>
                <li><a href="{% url 'page' 'science' %}">Science</a></li>
            </ul>
        </div>
        <div class="bottom-row">
            <ul class="light">
              <li><a href="{% url 'page' 'volunteer' %}">Volunteer</a></li>
              <li><a href="{% url 'page' 'about' %}">About</a></li>
              <li><a href="{% url 'page' 'advertise' %}">Advertise</a></li>
              <!-- <li><a href="https://store.ubyssey.ca/">Store</a></li> -->
              <li><a href="{% url 'archive' %}">Archive</a></li>
              <li><a href="{% url 'frontpage-feed' %}">Feed</a></li>
              <li><a href="https://www.ubyssey.ca/cookie-policy-2018/">Cookie Policy</a></li>
            </ul>
            <div class="copyright">&copy; {% now "Y" %} The Ubyssey</div>
        </div>
    </div>
</footer>
