{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block header %}
{% include 'headers/topbar.html' with section=section.slug %}
{% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main class="section" data-id="{{ section.id }}" data-type="{{ type }}">
  {% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 %}
  <div class="u-container u-container--padded">
    <div class="c-page__header">
      <h1 class="c-page__heading">{{ section.name }}</h1>
    </div>

    <div class="c-section__featured">
      {% include 'objects/articles/featured.html' with article=featured_articles.first %}
      <div class="c-section__featured__articles u-flex--tablet">
      {% for article in featured_articles.rest %}
        {% include 'objects/articles/column.html' with article=article %}
      {% endfor %}
      </div>
      {% for subsection in subsections %}
        {% if subsection.get_published_articles %}
          {% include 'objects/subsection.html' with subsection=subsection %}
        {% endif %}
      {% endfor %}
    </div>

    <h3 class="c-page__section">Archive</h3>
    {% include 'objects/archive.html' %}

  </div>
</main>
{% endblock %}
