{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load dispatch_tags %}
{% block header %}
{% include 'headers/main.html' %}
{% include 'headers/mobile.html' with class='homepage' %}
{% endblock %}
{% block content %}
{% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 class='homepage' %}
{% include 'objects/advertisement.html' with size='mobile-leaderboard' name='Mobile_Leaderboard' id=5 class='homepage' %}
<main class="u-container u-container--large homepage">
    {% if articles.breaking %}
    <a class="o-breaking-news" href="{{ articles.breaking.get_absolute_url }}">
      <h3>BREAKING: {{ articles.breaking.headline|safe }}</h3>
    </a>
    {% endif %}
    {% if special_message %}
      <a class="o-breaking-news-article" href="{% url 'special-isolation' %}">
        <h3>Stories from Self Isolation is here: Click to see more!</h3>
      </a>
	    {% comment %} If there are any "Banners" needed {% endcomment %}
    {% endif %}

    {% zone 'frontpage' articles=articles %}
    <div class="homepage-section row">
        <div class="sections">  
            {% include 'homepage/blocks/section_1.html' with section="news" articles=sections.news %}
            {% include 'homepage/blocks/section_2.html' with section="culture" articles=sections.culture %}
            {% include 'homepage/blocks/section_2.html' with section="sports" articles=sections.sports %}
            {% include 'homepage/blocks/section_2.html' with section="opinion" articles=sections.opinion %}
            {% include 'homepage/blocks/section_2.html' with section="features" articles=sections.features %}
            {% include 'homepage/blocks/section_2.html' with section="science" articles=sections.science %}
            {% include 'homepage/blocks/section_videos.html' with section="videos" video=video %}
            <!-- {% include 'homepage/blocks/section_podcast.html' with section="podcast" podcast=podcast %}-->
            {% comment %} {% include 'homepage/blocks/section_2.html' with section="magazine" articles=sections.magazine %} {% endcomment %}
            <!-- {% include 'homepage/blocks/section_2.html' with section="themainmaller" articles=sections.themainmaller %} -->
        </div>
        <div class="sidebar-home">
            {% comment %} <div class="sidebar-block sidebar-block--advertisement">
              <a href='https://www.ams.ubc.ca/agm'>
                <img src='https://storage.googleapis.com/ubyssey/media/images/2021/10/v2_2021_ams_agm-01.png' width="333">
              </a>
            </div> {% endcomment %}
            {% comment %} <div class="popular sidebar-block">
              <h2 class="block-title">Most popular this week</h2>
              <ol class="article-list">
                  {% for article in popular %}
                  <li><h4 class="headline"><a href="{{ article.get_absolute_url }}?ref=popular&dur=week">{{ article.headline|safe }}</a></h4></li>
                  {% endfor %}
              </ol>
            </div> {% endcomment %}
            <div class="sidebar-block sidebar-block--advertisement">
              {% include 'objects/advertisement.html' with size='box' name='Box_A' id=4 %}
            </div>
            {% comment %} <div class=" sidebar-block">
              <h2 class="block-title">Lost Dog on UBC Campus</h2>
              <div class='special_poster'>
              <a class='poster' id='poster' href="https://storage.googleapis.com/ubyssey/media/images/2020/11/lost_dog_poster2.jpg"><img src="{% static 'ubyssey/images/lost_dog_poster.png' %}" alt="Lost dog poster"></a>
              </div>
            </div> {% endcomment %}
            <div class=" sidebar-block">
                <h2 class="block-title">Check Out Our Digital Print Issue</h2>
                <div class='sidebar-issue'>
                  <h5 class="headline" id='issue-photo'><a class='issue' id ='issue1' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_july_27_2021">July 27, 2021<img src="https://image.isu.pub/210727150151-561948f393e2776d2f61fe34036ec330/jpg/page_1_thumb_large.jpg"></a></h5>
                  <h5 class="headline"><a class='issue' id ='issue2' href="https://issuu.com/ubyssey/docs/june_29_2021">June 29, 2021 </a></h5>
                  <h5 class="headline"><a class='issue' id ='issue2' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_may_26_2021">May 26, 2021 </a></h5>
                  <h5 class="headline"><a class='issue' id ='issue2' href="https://issuu.com/ubyssey/docs/the_ubyssey_april_7">April 7, 2021 - Year in Review </a></h5>
     
                </div>
            </div>
            <div class="sidebar-block sidebar-block--advertisement">
              {% include 'objects/advertisement.html' with size='box' name='Box_B' id=6 %}
            </div>
            <div class="article-list blog sidebar-block">
                <h2 class="block-title">From the blog</h2>
                <ul class="article-list">
                    {% for article in blog %}
                    <li>
                      {% include 'objects/articles/column.html' with article=article padded=True hide_image=True hide_snippet=True hide_byline=True %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="multi-zone cell right">
              {% zone 'homepage-sidebar-bottom' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'footer.html' with homepage=True %}
{% endblock %}
