@import 'modules/reset';
@import 'modules/_variables.scss';

@import 'modules/article/embeds';
@import 'modules/advertisements';

@import 'modules/guide/2020/colors';
@import 'modules/guide/2020/fonts';
@import 'modules/guide/2020/base';
@import 'modules/guide/2020/objects';
@import 'modules/guide/2020/banner';
@import 'modules/guide/2020/footer';

@import 'modules/guide/2020/header';
@import 'modules/guide/2020/article-box';
// Pages
@import 'modules/guide/2020/homepage';
@import 'modules/guide/2020/article';
@import 'modules/guide/2020/section';
