@import 'modules/_variables.scss';

@import 'modules/guide/2020/colors';
@import 'modules/guide/2022/fonts';

@import 'modules/guide/2022/objects';

@import 'modules/guide/2022/banner';

@import 'modules/guide/2022/footer';
@import 'modules/guide/2022/header';
@import 'modules/guide/2022/article-box';


@import 'modules/guide/2022/homepage';
@import 'modules/guide/2022/article';
@import 'modules/guide/2022/section';




