{% load wagtailcore_tags %}

<div class="{{ self.class_name }}-container">
    <div class="{{ self.class_name }}__ home-content">
        <div class="title">
            {{ self.title }}
        </div>
        <div class='content-wrapper'>
            {% if self.use_richtext %}
                {{ self.richcontent }}
            {% else %}
                {{ self.htmlcontent }}
            {% endif %}
            <a class="{{ self.class_name }}__ home-content__nav" href="{% pageurl self.link %}">{{ self.link_text }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
