{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}

{% block content %}

<main>
  <div class="u-container u-container--padded">

    {% include 'events/submit/header.html' %}

    <div class="c-event-submit-landing">
      {{ form.non_field_errors }}

      <div class="c-event-submit-landing__column">
        <form method="post" action="{% url 'events-submit-form' %}?url_import=1">
          {% csrf_token %}

          <h3 class="c-heading c-heading--3">Import Link</h3>
          <p class="c-paragraph">Just paste the URL from a Facebook or a <a href="http://www.calendar.events.ubc.ca/cal/main/showMain.rdo">UBC</a> event below and we’ll handle the rest. Don’t worry, you’ll have a chance to double-check the information before we save it.</p>

          <input type="hidden" name="url_import" value="1" />

          <div class="c-input-group">
            {{ form.event_url.errors }}
            <input class="c-text-input" type="text" name="event_url" placeholder="Event URL" />
            <input class="c-button" type="submit" value="Import" />
          </div>
        </form>
      </div>
      <div class="c-event-submit-landing__column">
        <h3 class="c-heading c-heading--3">Submit manually</h3>
        <p class="c-paragraph">If you don’t have an event URL, you can use the manual submission form.</p>
        <a class="c-button" href="{% url 'events-submit-form' %}">Submit manually</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
