{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}

{% block content %}

<main>
  <div class="u-container u-container--padded">

    {% include 'events/submit/header.html' %}

    <div class="c-event-submit-landing">
      {{ form.non_field_errors }}

      <div class="c-event-submit-landing__column">
        <form method="post" action="{% url 'events-submit-form' %}?facebook=1">
          {% csrf_token %}

          <div class="c-two_col__title">
            <h3>Import from Facebook</h3>
          </div>

          <div class="c-two_col__description">
            <p>Just paste the Facebook event URL below and we’ll handle the rest. Don’t worry, you’ll have a chance to double-check the information before we save it.</p>
          </div>

          <div class="c-input">
            {{ form.facebook_url.errors }}
            <input class="c-input c-input--text" placeholder="Event URL" id="facebook_url" type="text" name="facebook_url" />
            <input type="hidden" name="facebook_import" value="1" />
            <input class="c-input c-input--button c-input--button--left" type="submit" value="Import" />
          </div>
        </form>
      </div>
      <div class="c-event-submit-landing__column">
          <div class="c-two_col__title">
            <h3>Submit manually</h3>
          </div>

          <div class="c-two_col__description">
            <p>If you don’t have a Facebook event, you can use the manual submission form.</p>
          </div>

          <div class="c-input">
            <a href="{% url 'events-submit-form' %}">Submit manually</a>
          </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
