{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}

{% block content %}
<main>
  <div class="u-container u-container--padded" >
    <div class="c-page__header">
      <div class="c-page__header__meta">
        <h1 class="c-page__heading">Thanks for your submission!</h1>
        <p class="c-page__description">Your event has been submitted for approval. We’ll email you once it goes live on our site. In the meantime, please don’t hesitate to contact events@ubyssey.ca if you have any questions. You can also <a href="/events/submit">submit another event</a> or <a href="/events">see all the events.</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
