$search-bar-height: 46px;

.o-archive__search {
  // Structure
  position: relative;
  margin-bottom: 1rem;
}

.o-archive__search__label {
  // Structure
  position: absolute;
  width: $search-bar-height;

  // Text
  font-size: font-size(20);
  color: #807E7E;
  text-align: center;
  line-height: $search-bar-height;
}

.o-archive__search__input {
  // Structure
  width: 100%;
  padding-left: $search-bar-height;
  padding-right: 1rem;
  box-sizing: border-box;

  // Border
  border-radius: 4px;
  border: thin solid #DADADA;

  // Background
  background: #fff;

  // Text
  line-height: $search-bar-height;
  font-size: font-size(16);

  &:focus {
    border-color: #66afe9;
    outline: 0;
  }

  @media($bp-larger-than-mobile) {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}

.o-archive__container {
  // Structure
  display: flex;
}

.o-archive__sidebar {
	// Structure
	display: none;
	width: 11.5rem;
	padding-right: 2rem;

	@media($bp-larger-than-phablet) {
		// Structure
		display: block;
	}
}

.o-archive__main {
  // Structure
  flex: 1;
}

.o-archive__sidebar__filters {
	// Structure
	margin-bottom: 5px;

	h3 {
		// Structure
		margin-top: 0;
		margin-bottom: 0.25rem;

		// Text
		font-size: font-size(14);
		color: $color-text-gray;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		font-weight: 600;
		line-height: 34px;
	}

	ul {
		// Structure
		padding: 0;
		margin-top: 0;
		margin-bottom: 1.5rem;

		// Extras
		list-style-type: none;
	}

}

.o-archive__sidebar__filter {

	a {
		// Structure
		display: block;
		height: 32px;
		padding-left: 8px;
		padding-right: 8px;
		margin-top: 2px;
		margin-bottom: 2px;

		// Border
		border-radius: 2px;

		// Text
		font-size: font-size(13);
		font-weight: 600;
		color: #353535;
		line-height: 32px;
	}

	a:hover {
		// Background
		background: #f7f7f7;
	}

	&--is-active a,
	&--is-active a:hover {
		// Background
		background: #313131;

		// Text
		color: #fff;
	}
}

.o-archive__maina__filters {
	// Structure
	padding: 0;
	margin-top: 0;
	margin-bottom: 1rem;

	// Extras
	list-style-type: none;

	li {
		// Structure
		display: inline-block;
		height: 26px;
		margin-right: 0.25rem;
		padding-left: 8px;

		// Background
		background: #fff;

		// Border
		border: 1px solid #c3c3c3;
		border-radius: 3px;

		// Text
		font-size: font-size(13);
		color: #353535;
		line-height: 26px;

		// Extras
		box-shadow: 1px 1px 0.255px rgba(0, 0, 0, 0.1);

		span {
			// Text
			vertical-align: middle;

			// Extras
			user-select: none;
			cursor: default;
		}

		a {
			// Structure
			display: inline-block;
			margin-left: 6px;
			padding-left: 8px;
			padding-right: 8px;
			height: 100%;

			// Border
			border-left: 1px solid #dadada;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;

			.fa {
				// Text
				vertical-align: middle;
			}

			&:hover {
				// Background
				background: rgb(255, 240, 240);

				// Text
				color: rgb(196, 115, 115);
			}

		}
	}
}

.o-archive__header {
	// Structure
	display: flex;
	margin-bottom: 0.8rem;
}

.o-archive__header__title {
	// Structure
	flex: 1;
	margin: 0;

	// Text
	font-size: font-size(14);
	color: $color-text-gray;
	letter-spacing: 0.05em;
	font-weight: 600;
	line-height: 34px;
}

.o-archive__header__sort {
	// Structure
	display: none;

	@media($bp-larger-than-mobile) {
		// Structure
		display: block;
	}
}

.o-archive__dropdown-filters {
	// Structure
	display: flex;
	margin-bottom: 20px;

	.o-mobile-dropdown {
		// Structure
		flex: 1;
	}

	@media($bp-larger-than-phablet) {
		// Structure
		display: none;
	}
}

.o-archive__pagination {
	// Structure
	margin-top: 2rem;
	margin-bottom: 2rem;

	// Text
	text-align: center;

  @media($bp-larger-than-phablet) {
    // Structure
  	margin-top: 1.5rem;
  	margin-bottom: 1.5rem;
  }
}

.o-archive__pagination__current {
	// Structure
	display: inline-block;
	height: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;

	// Text
	font-size: font-size(13);
	font-weight: 600;
	color: #353535;
	line-height: 2rem;
}

.o-archive__pagination__next i {
	// Structure
	margin-left: 0.2rem;
}

.o-archive__pagination__prev i {
	// Structure
	margin-right: 0.2rem;
}


.o-archive__no-results {
  // Structure
  margin-top: 3rem;
  margin-bottom: 3rem;

  // Text
  text-align: center;
  color: $color-text-gray;
}
