.o-article {

}

.o-article__image {
  width: 100%;
  height: auto;
}

.o-article__headline {
  margin-bottom: 0.5rem;
}

.o-article__meta {
  margin-bottom: 0.5rem;
}

.o-article__byline {
  // Text
  font-size: font-size(14);
  line-height: 1.5em;
}

.o-article___author {
  // Text
  font-weight: 600;
}

.o-article__published {
  // Text
  color: #6B6B6B;
}

.o-article__snippet {
  // Structure
  margin-top: 0.5rem;
  margin-bottom: 0;

  // Text
  line-height: 1.5em;
  color: #6B6B6B;
  font-size: font-size(14);
}


// Article List Item

.o-article--list {
  // Structure
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  // Border
  border-bottom: thin dotted $color-border-gray-dark;

  .o-article__left {
    // Structure
    width: 6rem;
    padding-right: 1rem;

    @media($bp-larger-than-mobile) {
      width: 8rem;
      padding-right: 2rem;
    }
  }

  .o-article__right {
    flex: 1;
  }

  .o-article__snippet {
    // Structure
    display: none;

    @media($bp-larger-than-mobile) {
      display: block;
    }
  }
}


// Article Sidebar Item

.o-article--sidebar {
  // Structure
  display: flex;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 15px;
  padding-right: 15px;

  // Border
  border-bottom: thin dotted $color-border-gray-dark;

  @media($bp-larger-than-phablet) {
    // Structure
    padding-left: 0;
    padding-right: 0;
  }

  &:last-child {
    // Structure
    margin-bottom: 0;
  }

  .o-article__meta {
    // Structure
    margin-bottom: 0;
  }

  .o-article__headline {
    // Structure
    margin-bottom: 0;

    // Text
    font-size: font-size(18);
  }

  .o-article__left {
    // Structure
    display: none;
    width: 6rem;
    padding-right: 0.5rem;

    @media($bp-larger-than-mobile) {
      padding-right: 0.75rem;
    }
  }

  &:first-child .o-article__left,
  &:nth-child(2) .o-article__left {
    // Structure
    display: block;
  }

  .o-article__right {
    flex: 1;
  }

}

// Article Secondary

.o-article--secondary {
  // Structure
  padding-bottom: 0.5rem;
  padding-left: 15px;
  padding-right: 15px;

  @media($bp-larger-than-phablet) {
    // Structure
    padding-left: 0;
    padding-right: 0;
  }

  .o-article__headline {
    // Structure
    margin-bottom: 0.35rem;

    // Text
    font-size: font-size(22);
  }

  .o-article__meta {
    // Structure
    margin-bottom: 0.25rem;
  }

  .o-article__snippet {
    // Structure
    margin-top: 0.25rem;

    // Text
    font-size: font-size(13);
  }
}
