.o-article__image {
  // Structure
  width: 100%;
  height: auto;
}

.o-article__headline {
  // Structure
  margin-top: 0;
  margin-bottom: 0.5rem;

  // Text
  font-family: $font-headline;
  font-weight: $font-weight-bold;
  line-height: 1.15em;
  font-size: font-size(24);

  a {
    // Text
    color: inherit;
    text-decoration: none;

    &:hover {
      // Text
      color: $color-accent-blue;
    }
  }
}

.o-article__meta {
  // Structure
  margin-bottom: 0.5rem;
}

.o-article__byline {
  // Text
  font-size: font-size(14);
  line-height: 1.5em;
}

.o-article___author {
  // Text
  font-weight: 600;
}

.o-article__published {
  // Text
  color: #6B6B6B;
}

.o-article__snippet {
  // Structure
  margin-top: 0.5rem;
  margin-bottom: 0;

  // Text
  line-height: 1.5em;
  color: $color-text-gray;
  font-size: font-size(14);
}


// Article List Item

.o-article--list {
  // Structure
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  // Border
  border-bottom: thin dotted $color-border-gray-dark;

  @media($bp-larger-than-phablet) {
    // Structure
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .o-article__headline {
    // Text
    font-size: font-size(18);

    @media($bp-larger-than-phablet) {
      // Text
      font-size: font-size(24);
    }
  }

  .o-article__left {
    // Structure
    width: 6rem;
    padding-right: 1rem;

    @media($bp-larger-than-mobile) {
      // Structure
      width: 9rem;
      padding-right: 1.25rem;
    }
  }

  .o-article__right {
    // Structure
    flex: 1;
  }

  .o-article__meta {
    // Structure
    margin-bottom: 0;

    @media($bp-larger-than-mobile) {
      // Structure
      margin-bottom: 0.5rem;
    }
  }

  .o-article__byline {
    // Text
    font-size: font-size(13);

    @media($bp-larger-than-mobile) {
      font-size: font-size(14);
    }
  }

  .o-article__snippet {
    // Structure
    display: none;
    margin-bottom: 0;

    @media($bp-larger-than-mobile) {
      // Structure
      display: block;
    }
  }
}


// Article Sidebar Item

.o-article--sidebar {
  // Structure
  display: flex;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 15px;
  padding-right: 15px;

  // Border
  border-bottom: thin dotted $color-border-gray-dark;

  @media($bp-larger-than-phablet) {
    // Structure
    padding-left: 0;
    padding-right: 0;
  }

  &:last-child {
    // Structure
    margin-bottom: 0;
  }

  .o-article__meta {
    // Structure
    margin-bottom: 0;
  }

  .o-article__headline {
    // Structure
    margin-bottom: 0;

    // Text
    font-size: font-size(18);
  }

  .o-article__left {
    // Structure
    display: none;
    width: 6rem;
    padding-right: 0.5rem;

    @media($bp-larger-than-mobile) {
      padding-right: 0.75rem;
    }
  }

  &:first-child .o-article__left,
  &:nth-child(2) .o-article__left {
    // Structure
    display: block;
  }

  .o-article__right {
    flex: 1;
  }

}

// Article Secondary

.o-article--secondary {
  // Structure
  padding-bottom: 0.5rem;
  padding-left: 15px;
  padding-right: 15px;

  @media($bp-larger-than-phablet) {
    // Structure
    padding-left: 0;
    padding-right: 0;
  }

  .o-article__headline {
    // Structure
    margin-bottom: 0.35rem;

    // Text
    font-size: font-size(22);
  }

  .o-article__meta {
    // Structure
    margin-bottom: 0.25rem;
  }

  .o-article__snippet {
    // Structure
    margin-top: 0.25rem;

    // Text
    font-size: font-size(13);
  }
}
