// Basic button
.o-button {
  // Structure
  display: inline-block;
  height: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  // Background
  background: #fff;

  // Border
  border: thin solid $color-border-gray-light;
  border-radius: 4px;

  // Text
  font-size: font-size(13);
  font-weight: 600;
  color: $color-text-gray;
  line-height: 2rem;

  // Extras
  cursor: pointer;

  span, i {
    // Text
    vertical-align: middle;
  }

  i {
    // Structure
    margin-top: -0.12em;
    margin-left: 0.3em;
  }

  &:hover {
    // Background
    background: whitesmoke;

    // Text
    color: $color-text-gray;
  }
}

.o-dropdown {
  // Structure
  position: relative;

  .o-button i {
    // Structure
    margin-top: -0.4em;
  }
}

.o-dropdown__list {
  // Structure
  display: none;
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-left: 0;
  right: 0;
  width: 150%;
  min-width: 160px;

  // Background
  background: #fff;

  // Border
  border: thin solid $color-border-gray-light;
  border-radius: 4px;

  // Extras
  list-style-type: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

}

.o-dropdown__item {

  a {
    // Structure
    display: block;
    height: 2rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;

    // Text
    line-height: 2rem;
    color: $color-text-gray;
    font-size: font-size(13);
    font-weight: 600;
  }

  &:first-child,
  &:first-child a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &:last-child,
  &:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  a:hover,
  &--is-active a,
  &--is-active a:hover {
    background: whitesmoke;
		color: $color-text-gray;
  }

  a:hover {
    opacity: 0.6;
  }

}

// Mobile dropdown
.o-mobile-dropdown {

	&:first-child {
		padding-right: 0.5rem;
	}

	&:last-child {
		padding-left: 0.5rem;
	}

  &:only-child {
    padding-left: 0;
    padding-right: 0;
  }
}

.o-mobile-dropdown__button {
	// Structure
	display: block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 40px;

	// Background
	background: #313131;

	// Border
	border-radius: 3px;

	// Text
	font-size: font-size(13);
	text-align: center;
	line-height: 40px;
	font-weight: 600;
	color: #fff;

	// Extras
	box-shadow: 1px 1px 1px rgba(0,0,0,0.05);

	.fa {
		margin-top: -0.4em;
		margin-left: 0.15em;
		font-size: 1.5em;
	}

	.fa, span {
		vertical-align: middle;
	}

	&:hover,
	&:focus {
		background: #484848;
    color: #fff;
	}

}

.o-mobile-dropdown__header {
	// Structure
	display: flex;
}

.o-mobile-dropdown__title {
	// Structure
	flex: 1;
	margin: 0;
	height: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

	// Text
	line-height: 2rem;
	color: #313131;
}

.o-mobile-dropdown__close {
	// Structure
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

	// Extras
	cursor: pointer;

	.fa {
		// Structure
		line-height: 2rem;
		height: 2rem;
		width: 2rem;

		// Background
		background: #313131;

		// Border
		border-radius: 3rem;

		// Text
		color: white;
		text-align: center;
		font-size: font-size(18);
	}

	&:hover .fa,
	&:focus .fa {
		background: #484848;
	}
}

.o-mobile-dropdown__list {
	// Structure
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	// Background
	background: rgba(255, 255, 255, 0.97);

	// Extras
	z-index: 300;

	ul {
		// Structure
		margin: 0;
		padding: 0;
		width: 100%;

		// Background
		background: #fff;

		// Border
    border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;

		// Extras
		list-style-type: none;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

	}

}

.o-mobile-dropdown__item {
	// Structure
	width: 100%;

	// Border
	border-bottom: 1px solid #eaeaea;

	&:last-child,
	&:hover:last-child
	&--is-active:last-child {
		border-bottom: none;
	}

	a {
		// Structure
		display: block;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;

		// Text
		text-align: center;
		font-size: font-size(16);
		font-weight: 600;
	}

	a:hover,
	a:focus {
		background: #eaeaea;
		color: inherit;
	}

	&--is-active,
	&--is-active a:hover,
	&--is-active a:focus {
		background: #313131;
		color: #fff;
	}

	&--is-active {
		border-bottom: 1px solid #313131;
	}
}

.o-mobile-dropdown__list__container {
	// Structure
	display: flex;
	align-items: center;
	height: 100%;

	> div {
		width: 100%;
	}
}
