.c-info-box {
  // Structure
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  // Border
  border: solid 1px $color-border-gray;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.c-info-box__icon {
  // Structure
  padding-right: 1rem;

  // Text
  font-size: font-size(18);
  color: $color-text-gray;
}

.c-info-box__content {
  // Structure
  flex: 1;
}

.c-info-box__text {
  // Structure
  margin-top: 0;
  margin-bottom: 1rem;

  // Text
  font-size: font-size(14);
  font-weight: $font-weight-semi-bold;
  color: $color-text-gray;
}
