<div class="c-section" style="padding-top: 4rem;">
  <div class="u-container">
    <h2 class="o-heading o-heading--blue">Who we are</h2>
    <p class="o-paragraph"><em>The Ubyssey</em>, founded in 1918, is the definitive source of news on campus. Published every Tuesday during the school year, <em>The Ubyssey</em> is the largest student paper in Western Canada, employs more than 12 full- and half-time editorial staff throughout the year and is supported by an independent, full-time business office. <em>The Ubyssey</em> boasts such alumni as Pierre Berton, Prime Minister John Turner, Allan Fotheringham and Bruce Arthur in such publications as The Globe and Mail, the Toronto Star and the Vancouver Sun, along with thousands of other alumni around the world.</p>
  </div>
</div>
