{% load staticfiles %}
<div id="guide" class="c-section c-section--inset c-section--guide c-section--green">
  <div class="u-container">
    <h2 class="o-heading o-heading--white">The Guide to UBC</h2>
    <div class="c-section--web__container">
      <div class="c-section--web__icons">
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-news.svg' %}" />
          <h2>12,000</h2>
          <p>copy distribution</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-reader.svg' %}" />
          <h2>95%</h2>
          <p>pickup rate</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-colors.svg' %}" />
          <h2>Full colour</h2>
          <p>all issues are printed in full colour</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-school.svg' %}" />
          <h2>7,000</h2>
          <p>copies distributed through campus partners</p>
        </div>
      </div>
      <div class="c-section--web__vectors">
        <img class="c-section--web__vector c-section--web__vector--newspaper" src="{% static 'images/a/guide.png' %}" />
      </div>
    </div>
  </div>
</div>

<div id="guide-ad" class="c-section">
  <div class="u-container">
    <h2 class="o-heading o-heading--green">About the Guide</h2>
    <p class="o-paragraph"><em>The Ubyssey</em>’s Guide to UBC is an 80-page booklet with all the information incoming students need to know about UBC, being a UBC student and the Vancouver area. 12,000 copies are distributed to students during first-day orientations, move-in days, around various areas of UBC and more. This makes the Guide to UBC the perfect advertising opportunity for businesses and events as this guide covers a large area of topics, such as food and activities, and is available for students to take year-round.</p>

    <div class="o-placements o-placements--guide">
      <div class="o-placements__list">
        <h3 class="o-heading o-heading--small">Placements</h3>
        <ul>
          <li class="o-placements__placement o-placements__placement--demo o-placements__placement--active" data-demo="guide-full-page">
            <div>
              <h4>Full-page</h4>
              <p>5" x 8"</p>
              <p>$975.00</p>
            </div>
          </li>
          <li class="o-placements__placement o-placements__placement--demo" data-demo="guide-half-page">
            <div>
              <h4>Half-page</h4>
              <p>5" x 4"</p>
              <p>$545.00</p>
            </div>
          </li>
          <li class="o-placements__placement o-placements__placement--demo" data-demo="guide-quarter-page">
            <div>
              <h4>Quarter-page</h4>
              <p>5" x 2"</p>
              <p>$315.00</p>
            </div>
          </li>
        </ul>

        <h3 class="o-heading o-heading--small">Premium Advertisements</h3>

        <ul>
          <li class="o-placements__placement">
            <div>
              <h4>Full-page Centre Spread</h4>
              <p>10" x 8"</p>
              <p>$2,500.00</p>
            </div>
          </li>
          <li class="o-placements__placement">
            <div>
              <h4>Full-page Back Cover</h4>
              <p>5" x 8"</p>
              <p>$1,500.00</p>
            </div>
          </li>
          <li class="o-placements__placement">
            <div>
              <h4>Inside Front / Back Cover</h4>
              <p>5" x 8"</p>
              <p>$1,250.00</p>
            </div>
          </li>
          <li class="o-placements__placement">
            <div>
              <h4>Second from Cover</h4>
              <p>5" x 8"</p>
              <p>$1,150.00</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="o-placements__demo" data-demo="guide-full-page">
        <div class="o-placements__demo__inner"></div>
      </div>
    </div>

    <div class="o-row">
      <div class="o-row">
        <div>
          <h3 class="o-heading o-heading--small">Ad Requirements</h3>

          <ul class="o-list">
            <li>full colour, <em>free of charge</em></li>
            <li>300 ppi</li>
            <li>CMYK</li>
            <li>accepted formats: JPEG, PDF, PNG</li>
            <li>artwork must be received by July 15th 2018</li>
          </ul>
        </div>
        <div>
          <h3 class="o-heading o-heading--small">Mechanical Specifications</h3>
          <ul class="o-list">
            <li>all artwork requires a bleed of 0.25"</li>
            <li>all issues are printed in full colour</li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="o-heading o-heading--green" style="margin-top:2rem;">Guide Bundles</h2>

    <div class="o-row" style="margin-top:3rem;">
      <div class="c-bundles o-row__grow">
        <div class="c-bundles__bundle">
          <div class="c-bundles__bundle__image"><img src="{% static 'images/a/bundle-premium.png' %}" /></div>
          <div class="c-bundles__bundle__info">
            <h3>Premium Bundle</h3>
            <div class="c-bundles__bundle__items">
              <div>
                <span><strong>Print</strong></span>
                <span>Size: 5" x 8"</span>
                <span>Value: $975.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">+</div>
              <div>
                <span><strong>Web</strong></span>
                <span>30,000 impressions</span>
                <span>Value: $900.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">=</div>
              <div>
                <span class="c-bundles__bundle__items__total">$1,550.00</span>
                <span>Value: $1,875.00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="c-bundles__bundle">
          <div class="c-bundles__bundle__image"><img src="{% static 'images/a/bundle-plus.png' %}" /></div>
          <div class="c-bundles__bundle__info">
            <h3>Plus Bundle</h3>
            <div class="c-bundles__bundle__items">
              <div>
                <span><strong>Print</strong></span>
                <span>Size: 5" x 4"</span>
                <span>Value: $545.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">+</div>
              <div>
                <span><strong>Web</strong></span>
                <span>20,000 impressions</span>
                <span>Value: $600.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">=</div>
              <div>
                <span class="c-bundles__bundle__items__total">$900.00</span>
                <span>Value: $1,145.00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="c-bundles__bundle">
          <div class="c-bundles__bundle__image"><img src="{% static 'images/a/bundle-guide-extra.png' %}" /></div>
          <div class="c-bundles__bundle__info">
            <h3>Extra Bundle Plus</h3>
            <div class="c-bundles__bundle__items">
              <div>
                <span><strong>Print</strong></span>
                <span>Size: 5" x 2"</span>
                <span>Value: $315.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">+</div>
              <div>
                <span><strong>Web</strong></span>
                <span>10,000 impressions</span>
                <span>Value: $300.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">=</div>
              <div>
                <span class="c-bundles__bundle__items__total">$490.00</span>
                <span>Value: $615.00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="c-bundles__bundle">
          <div class="c-bundles__bundle__image"><img src="{% static 'images/a/bundle-guide-extra.png' %}" /></div>
          <div class="c-bundles__bundle__info">
            <h3>Extra Bundle</h3>
            <div class="c-bundles__bundle__items">
              <div>
                <span><strong>Print</strong></span>
                <span>Size: 5" x 2"</span>
                <span>Value: $315.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">+</div>
              <div>
                <span><strong>Web</strong></span>
                <span>5,000 impressions</span>
                <span>Value: $150.00</span>
              </div>
              <div class="c-bundles__bundle__items__symbol">=</div>
              <div>
                <span class="c-bundles__bundle__items__total">$370.00</span>
                <span>Value: $465.00</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div>
        <div class="o-special-offer">Buy 4 weeks ads, get one week free!</div>
      </div>
    </div>

  </div>
</div>
