{% load staticfiles %}
<div id="web" class="c-section c-section--inset c-section--web c-section--orange">
  <div class="u-container">
    <h2 class="o-heading o-heading--white">Our website</h2>
    <div class="c-section--web__container">
      <div class="c-section--web__icons">
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-award.svg' %}" />
          <h2>Award winning</h2>
          <p>Named Best Campus Website by the Canadian University Press</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-eye.svg' %}" />
          <h2>668,000</h2>
          <p>impressions each month</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-computer.svg' %}" />
          <h2>115,000</h2>
          <p>unique web readers each month</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/a/vector-calendar.svg' %}" />
          <h2>450,000</h2>
          <p>unique web readers each year</p>
        </div>
      </div>
      <div class="c-section--web__vectors">
        <img class="c-section--web__vector c-section--web__vector--phone" src="{% static 'images/a/vector-phone-demo.svg' %}" />
        <img class="c-section--web__vector c-section--web__vector--tablet" src="{% static 'images/a/vector-tablet-demo.svg' %}" />
      </div>
    </div>
  </div>
</div>

<div id="web-ad" class="c-section">
  <div class="u-container">
    <h2 class="o-heading o-heading--orange">Web advertising</h2>
    <div class="o-placements o-placements--web">
      <div class="o-placements__list">
        <h3 class="o-heading o-heading--small">Placements</h3>
        <ul>
          <li class="o-placements__placement o-placements__placement--demo o-placements__placement--active" data-offset="0%" data-horizontaloffset="100%">
            <h4>Homepage</h4>
            <div>
              <h3>Leaderboard*</h3>
              <p>970 x 90 pixels (desktop)</p>
              <p>728 x 90 pixels (desktop)</p>
              <p>320 x 50 pixels (mobile)</p>
            </div>
          </li>
          <li class="o-placements__placement o-placements__placement--demo" data-offset="-20%" data-horizontaloffset="100%">
            <div>
              <h3>Box</h3>
              <p>300 x 250 pixels
              </br> (desktop + mobile)</p>
            </div>
          </li>
          <li class="o-placements__placement o-placements__placement--demo" data-offset="0%" data-horizontaloffset="0%">
            <h4>Articles</h4>
            <div>
              <h3>Leaderboard*</h3>
              <p>970 x 90 pixels (desktop)</p>
              <p>728 x 90 pixels (desktop)</p>
              <p>320 x 50 pixels (mobile)</p>
            </div>
          </li>
          <li class="o-placements__placement o-placements__placement--demo o-placements__placement--demo--sidebar" data-offset="-40%" data-horizontaloffset="0%">
            <div>
              <h3>Sidebar</h3>
              <p>300 x 250 pixels</p>
              <p>300 x 600 pixels</p>
            </div>
          </li>
          <li class="o-placements__placement o-placements__placement--demo " data-offset="-50%" data-horizontaloffset="0%">
            <div>
              <h3>Intra-Article</h3>
              <p>468 x 60 pixels (desktop)</p>
              <p>300 x 250 pixels (mobile)</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="o-placements__demo">
        <div class="o-placements__platforms">
          <div class="o-placements__platform--mode  o-placements__platforms--active" data-platform="desktop"><h3>Desktop</h3></div>
          <div class="o-placements__platform--mode" data-platform="mobile"><h3>Mobile</h3></div>
        </div>
        <div class="o-placements__demo__inner">
            <div class="o-placements__demo__inner__left">
              <img class="o-placements__demo__desktop" src="{% static 'images/a/demo-homepage-new.png' %}" />
              <img class="o-hidden o-placements__demo__mobile" src="{% static 'images/a/demo-homepage-mobile.png' %}" />
            </div>
            <div class="o-placements__demo__inner__right">
              <img class="o-placements__demo__desktop" src="{% static 'images/a/demo-article-new.png' %}" />
              <img class="o-hidden o-placements__demo__mobile" src="{% static 'images/a/demo-article-mobile.png' %}" />
            </div>
        </div>
      </div>
    </div>
    <p>*Leaderboards require all sizes mentioned</p>
    <div>
      <h3 class="o-heading o-heading--small">Pricing</h3>
      <div class="c-web-slider">
        <div class="c-web-slider__slider">
          <div class="c-web-slider__points">
            <div class="c-web-slider__point">
              <div data-cost="$30" data-content="1,000 Web Impressions, or <em>views</em> of your advertisement, is the smallest denomination we offer. Depending on the time of year and number of advertisements in circulation, it can take a few hours, or up to a full day for your ad to be viewed 1,000 times by our readers."></div>
              <label>1 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div data-cost="$300" data-content="We recommend a <em>minimum</em> of 10,000 Web Impressions for a week-long advertisement campaign. 10 CPM can be compared to an 1/8-page traditional print advertisement, both in reach as well as in price."></div>
              <label>10 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div data-cost="$600" data-content="A week-long campaign delivering 20,000 Web Impressions would provide an advertiser with consistent exposure amongst a much larger subset of our readers. 20 CPM can be compared to a 1/4-page traditional print advertisement, both in reach as well as in price."></div>
              <label>20 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div data-cost="$900" data-content="30,000 Web Impressions would provide an advertiser with exceptional coverage across the duration of a week-long campaign, likely reaching the majority of our site's visitors. 30 CPM can be compared to a 1/2-page traditional print advertisement, both in reach as well as in price."></div>
              <label>30 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div data-cost="$1500" data-content="A web campaign delivering 50,000 impressions will likely deliver to each of our readers multiple times per session. Such exhaustive coverage will re-target the same reader across multiple articles, sessions, and days. 50 CPM can be compared to a full page traditional print advertisement, both in reach as well as in price."></div>
              <label>50 CPM</label>
            </div>
          </div>
          <div class="c-web-slider__line"></div>
        </div>
        <div class="c-web-slider__tooltip">
          <div class="c-web-slider__tooltip__arrow"></div>
          <div class="c-web-slider__tooltip__content">
          1,000 Web Impressions, or <em>views</em> of your advertisement, is the smallest denomination we offer. Depending on the time of year and number of advertisements in circulation, it can take a few hours, or up to a full day for your ad to be viewed 1,000 times by our readers.
          </div>
          <div class="c-web-slider__tooltip__cost">$30</div>
        </div>
      </div>
      <div class="o-special-offer">All impressions are $30 CPM</div>
    </div>
  </div>
</div>
