{% load staticfiles %}
<div id="web" class="c-section c-section--inset c-section--web c-section--green">
  <div class="u-container">
    <h2 class="o-heading o-heading--white">Our newspaper</h2>
    <div class="c-section--web__container">
      <div class="c-section--web__icons">
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-news.svg' %}" />
          <h2>8,000</h2>
          <p>copy distribution</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-school.svg' %}" />
          <h2>85+</h2>
          <p>campus locations</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-colors.svg' %}" />
          <h2>Full colour</h2>
          <p>all issues are printed in full colour</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-tabloid.svg' %}" />
          <h2>Tabloid format</h2>
          <p>120 lpi halftone screens</p>
        </div>
      </div>
      <div class="c-section--web__vectors">
        <img class="c-section--web__vector c-section--web__vector--newspaper" src="{% static 'images/advertise/newspaper.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="c-section">
  <div class="u-container">
    <h2 class="o-heading o-heading--green">Print advertising</h2>
    <div class="o-placements">
      <div class="o-placements__list">
        <h3 class="o-placements__label">Placements</h3>
        <ul>
          <li class="o-placements__placement o-placements__placement--active" data-demo="full-page">
            <h4>Full page</h4>
            <p>10" x 13.25"</p>
            <p>$1,450.00</p>
          </li>
          <li class="o-placements__placement" data-demo="half-page-hor">
            <h4>Half-Page Horizontal</h4>
            <p>10" x 7"</p>
            <p>$950.00</p>
          </li>
          <li class="o-placements__placement" data-demo="half-page-vert">
            <h4>Half-Page Vertical</h4>
            <p>4" x 13.25"</p>
            <p>$950.00</p>
          </li>
          <li class="o-placements__placement" data-demo="quarter-page">
            <h4>Quarter-Page Vertical</h4>
            <p>6" x 6"</p>
            <p>$595.00</p>
          </li>
          <li class="o-placements__placement" data-demo="1-8-page-banner">
            <h4>1/8 Page Banner</h4>
            <p>10" x 2"</p>
            <p>$295.00</p>
          </li>
          <li class="o-placements__placement" data-demo="1-8-page-vertical">
            <h4>1/8 Page Vertical</h4>
            <p>4" x 5"</p>
            <p>$295.00</p>
          </li>
        </ul>
      </div>
      <div class="o-placements__demo" data-demo="leaderboard">
        <div class="o-placements__demo__inner"></div>
      </div>
    </div>
  </div>
</div>
