{% load staticfiles %}
<div id="web" class="c-section c-section--inset c-section--web c-section--orange">
  <div class="u-container">
    <h2 class="o-heading o-heading--white">Our website</h2>
    <div class="c-section--web__container">
      <div class="c-section--web__icons">
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-award.svg' %}" />
          <h2>Award winning</h2>
          <p>Named Best Campus Website by the Canadian University Press</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-eye.svg' %}" />
          <h2>668,000</h2>
          <p>impressions each month</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-computer.svg' %}" />
          <h2>115,000</h2>
          <p>unique web readers each month</p>
        </div>
        <div class="c-section--web__icon">
          <img src="{% static 'images/advertise/vector-calendar.svg' %}" />
          <h2>450,000</h2>
          <p>unique web readers each year</p>
        </div>
      </div>
      <div class="c-section--web__vectors">
        <img class="c-section--web__vector c-section--web__vector--phone" src="{% static 'images/advertise/vector-phone-demo.svg' %}" />
        <img class="c-section--web__vector c-section--web__vector--tablet" src="{% static 'images/advertise/vector-tablet-demo.svg' %}" />
      </div>
    </div>
  </div>
</div>

<div class="c-section">
  <div class="u-container">
    <h2 class="o-heading o-heading--orange">Web advertising</h2>
    <div class="o-placements o-placements--web">
      <div class="o-placements__list">
        <h3 class="o-heading o-heading--small">Placements</h3>
        <ul>
          <li class="o-placements__placement o-placements__placement--demo o-placements__placement--active" data-offset="0%">
            <div>
              <h4>Leaderboard</h4>
              <p>728 x 90 pixels</p>
              <p>320 x 50 pixels (mobile)</p>
            </div>
          </li>
          <li class="o-placements__placement o-placements__placement--demo" data-offset="-80%">
            <div>
              <h4>Box</h4>
              <p>300 x 250 pixels</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="o-placements__demo">
        <div class="o-placements__demo__inner">
          <img src="{% static 'images/advertise/demo-homepage.png' %}" />
        </div>
      </div>
    </div>
    <div>
      <h3 class="o-heading o-heading--small">Pricing</h3>
      <div class="c-web-slider">
        <div class="c-web-slider__slider">
          <div class="c-web-slider__points">
            <div class="c-web-slider__point">
              <div></div>
              <label>5 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div></div>
              <label>10 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div></div>
              <label>15 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div></div>
              <label>20 CPM</label>
            </div>
            <div class="c-web-slider__point">
              <div></div>
              <label>25 CPM</label>
            </div>
          </div>
          <div class="c-web-slider__line"></div>
        </div>
        <div class="c-web-slider__tooltip">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum sapien ac nulla pulvinar tempor. Nunc sit amet odio in tortor congue bibendum porttitor eu tellus.
        </div>
      </div>
    </div>
  </div>
</div>
