{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}

<div class="o-archive">

  <div class="o-archive__search">
    <form method="get">
      <label class="o-archive__search__label" for="c-articles-list__searchbar"><i class="fa fa-search"></i></label>
      <input class="o-archive__search__input" name="q" id="c-articles-list__searchbar" type="text" {% if search_query %}value="{{ search_query }}"{% endif %} placeholder="Search" />
    </form>
  </div>

  <div class="o-archive__container">
    <div class="o-archive__main">
      <div class="o-archive__dropdown-filters">
        <div class="o-mobile-dropdown js-dropdown">
          <a class="o-mobile-dropdown__button js-disable-scroll" href="#">
            <span>{{ order|title }}</span>
            <i class="fa fa-sort-desc"></i>
          </a>
          <div class="o-mobile-dropdown__list js-dropdown-list">
            <div class="o-mobile-dropdown__list__container js-dropdown-container">
              <div>
                <div class="o-mobile-dropdown__header">
                  <h3 class="o-mobile-dropdown__title">Order by:</h3>
                  <div class="o-mobile-dropdown__close">
                    <i class="fa fa-close"></i>
                  </div>
                </div>
                <ul>
                  <li class="o-mobile-dropdown__item{% if order == 'newest' %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href ="?order=newest{% for key, value in request.GET.items %}{% if key != 'order' and key != "page" %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Newest</a>
                  </li>
                  <li class="o-mobile-dropdown__item{% if order == 'oldest' %} o-mobile-dropdown__item--is-active{% endif %}">
                    <a href ="?order=oldest{% for key, value in request.GET.items %}{% if key != 'order' and key != "page" %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Oldest</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="o-archive__header">
        <h3 class="o-archive__header__title">
          {% if paginated_articles %} {{ paginated_articles.paginator.count }} RESULTS {% else %}NO RESULTS{% endif %}
          {% if search_query %} FOR "{{ search_query }}"{% endif %}
        </h3>
        <div class="o-archive__header__sort o-dropdown js-dropdown">
          <a class="o-button o-dropdown__button">
            <span>{{ order|title }}</span>
            <i class="fa fa-sort-desc"></i>
          </a>
          <ul class="o-dropdown__list js-dropdown-list">
            <li class="o-dropdown__item{% if order == 'newest' %} o-dropdown__item--is-active{% endif %}">
              <a href ="?order=newest{% for key, value in request.GET.items %}{% if key != 'order' and key != "page" %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Newest</a>
            </li>
            <li class="o-dropdown__item{% if order == 'oldest' %} o-dropdown__item--is-active{% endif %}">
              <a href ="?order=oldest{% for key, value in request.GET.items %}{% if key != 'order' and key != "page" %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Oldest</a>
            </li>
          </ul>
        </div>
      </div>

      {% if paginated_articles|length > 0 %}
        <div class="o-archive__main__list">
          {% for article in paginated_articles %}
            <article class="o-article o-article--list">
              {% if article.featured_media.first.image or article.featured_video %}
                <div class="o-article__left">
                  <a class="o-article__image" href={% pageurl article %}>
                    {% if article.featured_media.first.image %}
                      {% image article.featured_media.first.image fill-340x238-c100 %}
                    {% else %}
                      <img src="http://img.youtube.com/vi/{{ article.featured_media.first.video.url|youtube_embed_id|safe }}/0.jpg" width=300 alt="" />
                    {% endif %}
                  </a>
                </div>
              {% endif %}    
              <div class="o-article__right">
                <div class="o-article__meta">
                  <h3 class="o-article__headline">
                    <a href={% pageurl article %}>{{ article.title|safe }}</a>
                  </h3>
                  <div class="o-article__byline">
                    <span class="o-article__author">By {{ article.get_authors_with_urls|safe }}</span>
                    <span> &nbsp;·&nbsp; </span>
                    <span class="o-article__published">{{ article.published_at }}</span>
                  </div>
                </div>
                {% if article.lede %}
                  <p class="o-article__snippet">{{ article.lede|safe }}</p>
                {% endif %}
              </div>
            </article>
          {% endfor %}
        </div>

        <div class="o-archive__pagination">
          {% if paginated_articles.has_previous %}
            <a class="o-button o-archive__pagination__prev" href="?page={{ paginated_articles.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fa fa-caret-left" aria-hidden="true"></i> Previous</a>
          {% endif %}

          <span class="o-archive__pagination__current" >
            Page {{ paginated_articles.number }} of {{ paginated_articles.paginator.num_pages }}
          </span>

          {% if paginated_articles.has_next %}
            <a class="o-button o-archive__pagination__next" href="?page={{ paginated_articles.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
          {% endif %}
        </div>

      {% else %}
        <div class="o-archive__no-results">No content found 😔</div>
      {% endif %}
    </div>
  </div>
</div>