{% extends 'isolation/base.html' %}
{% load static %}
{% block innerContent %}
<div class="homepage-header">
    <a class="home" href="ubyssey.ca"></a>
</div>
<div class="house">
    <div class="roof" style="background-image:url({% static 'ubyssey/images/isolation/moon.png' %});">
        <img class="roof-image" src="{% static 'ubyssey/images/isolation/dollhouseroof.png' %}" />
        <div class="roof-headline">Stories from self-isolation</div>
    </div>

    <main class="section-flex-container">
        <div class="isolation-description">
            <p>This is a paragraph his is a paragraph his is a paragraph his is a paragraph his is a paragraph his is a
                paragraph his is a paragraph his is a paragraph his is a paragraph his is a paragraph his is a paragraph
                his is a paragraph his is a paragraph his is a paragraph</p>
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=1 title=Title1 subsection=subsection slug=article.slug image=article.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=2 title=Title2 subsection=subsection slug=article.slug image=article.featured_image.image.get_absolute_url%}
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
        </div>
        <div class="isolation-row">
            {% include 'isolation/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
            {% include 'isolation/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
        </div>
    </main>

</div>

{% endblock %}