<header class="c-header c-header--poetry u-container u-container--extra-large">
  <a class="c-header__logo" style="color: {{ color_a }}; border-color: {{ color_b }};" href="{% url 'magazine-landing' year %}">The Ubyssey Magazine</a>
  {% comment %} <div class="c-header__right"><a class="o-link" href="{% url 'magazine-landing' year %}">{{title}}</a> &nbsp;&middot;&nbsp; <a class="o-link" href="{% url 'home' %}">The Ubyssey</a></div> {% endcomment %}
  <div class="c-header__right"><a class="o-link" href="{% url 'magazine-landing' year %}">{{title}}</a> &nbsp;&middot;&nbsp; <a class="o-link" href="{% url 'wagtail_serve' '' %}">The Ubyssey</a></div>
</header>
