<header class="c-header c-header--{{ color }} c-header--{{subsection}} u-container u-container--extra-large">
  <a class="c-header__logo" href="{% url 'magazine-landing' year %}">The Ubyssey Magazine</a>
  <div class="c-header__right">
  
  {% if year < 2021%}
  <a class="o-link" href="{% url 'magazine-landing' year %}">{{title}}
  {% endif %}

   <a class="o-link" href="{% url 'magazine-landing' year %}">{{subsection}}
  

  {% comment %} </a> &nbsp;&middot;&nbsp; <a class="o-link" href="{% url 'home' %}">The Ubyssey</a> {% endcomment %}
  </a> &nbsp;&middot;&nbsp; <a class="o-link" href="{% url 'wagtail_serve' '' %}">The Ubyssey</a>
  
  </div>
</header>
