{% extends 'magazine/base.html' %}

{% block content %}

<style>
.flex-container {
    display: -webkit-flex;
    display: flex;
    height: 300px;
    background-color: lightgrey;
	align-items: center;
	padding: 0;
    margin: 0;
	justify-content: center;
	width: 75%;
	-webkit-justify-content: center;
}

.flex-item-1 {
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.flex-item-2 {
    background-color: DarkRed;
    width: 50%;
    height: 100%;
    margin: 10px;
}

.flex-item-3 {
    background-color: DarkBlue;
    width: 30%;
    height: 80%;
    margin: 10px;
}

img {
	max-width:100%;
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

</style>

<div class="flex-container">
  <div class="flex-item-1">Title 1</div>
</div>

<div class="flex-container">
  <div class="flex-item-2">Title 2</div>
  <div class="flex-item-2">Title 3</div>
</div>

<div class="flex-container">
  <div class="flex-item-3">Title 4</div>
  <div class="flex-item-3">Title 5</div>
  <div class="flex-item-3">Title 6</div>
</div>

<div class="flex-container">
  <div class="flex-item-3">Title 7</div>
  <div class="flex-item-3">Title 8</div>
  <div class="flex-item-3">Title 9</div>
</div>
{% endblock %}

