.archive{
	.dropdown-content{
		margin-top: 0px;
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		width: 100%;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		padding: 0px;
		top: 100%;
	}
	.dropbutton{
		width: 100%;
		position: relative;
	}
	.dropdown i{
		left: 0px;
		margin: 0px 5px 5px 9px;
	}
	.dropbutton p{
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		margin: 0px;
		text-align: center;
	}
	.bars{
		flex-direction: column;
		margin-top: 0px;
	}
	.sidebar {
		width: 100%;
	}
	.mainbar {
		width: 100%;
	}
	.show-desktop{
		display: none;
	}
	.main div{
		width: 100%;
	}
	.filters {
		border: 2px solid #DADADA;
		width: 48%;
		flex-direction: row;
		display: inline-flex;
		margin-bottom: 5px;
		position: relative;
	}
	.filters ul{
		list-style: none;
	}
	.filters li a{
		text-align: center;
	}
	.filters li{
		margin: 5px;
	}
	@media($bp-larger-than-phablet){
		.show-mobile{
			display: none;
		}
		.show-desktop{
			display: block;
		}
		.filters {
			border: 0px;
			display: inline;
		}
		.bars {
			margin-top: 30px;
			display: inline-flex;
			flex-direction: row;
			width: 100%;
		}
		.sidebar {
			width: 20%;
			margin-top: 30px;
		}
		.mainbar {
			width: 80%;
			margin-top: 30px;
		}
	}
}