.bars {
	margin-top: 30px;
}
.bars .bar{
	float: left;
	display: inline;
}
.sidebar {
	width: 20%;
	margin-top: 30px;
}
.mainbar {
	width: 80%;
	margin-top: 30px;
}
.main div{
	width: 100%;
}
.filters {
	float: top;
}
.filters ul{
	list-style: none;
}
.filters li{
	margin: 5px;
}