body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {

  padding: 15px 0;
  line-height: 40px;

  border-top: 1px solid #DADADA;

  text-align: center;

  ul.sections {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media($bp-960px){
    ul.sections {
      display: inline-block;
    }

    ul li a, div.copyright {
      font-family: $font-default;
      font-size: .8rem;
      font-weight: 300;
      color: #888;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 8px;
      display: inline-block;
    }
    &.light {
      margin-left: 0;
      li {
        &:last-child {
          margin-right: 0;
        }
        a {
          font-weight: 300;
        }
      }

      // Hide when printed
      @media print {
        display: none;
      }
    }
  }

  &.homepage {
    background: none;
  }
}
