// Headlines
.o-headline {
  font-family: $font-headline;
  font-weight: $font-weight-bold;
  line-height: 1.177em;
  margin-top: 0;
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $color-accent-blue;
    }
  }
}

.o-headline--h1 {
  font-size: font-size(30);
  margin-bottom: 0.75rem;
}

.o-headline--h2 {
  font-size: $font-size-24px;
  font-weight: 200;
}

.o-headline--h3 {
  font-size: 24px;
}

.o-headline--h4 {
  font-size: 18px;
}

.o-headline--article {
  line-height: 1.15em;
  margin-top: 0;
  margin-bottom: 0.85rem;

  font-size: font-size(30);

  @media($bp-larger-than-mobile) {
    font-size: font-size(36);
  }
}

.o-headline--blog {
  // Structure
  margin-bottom: 0.85rem;

  // Text
  font-family: $font-default;
  font-size: font-size(30);
  line-height: 1.15em;
}

h1, h2, h3, h4, h5 {
  &.headline {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $font-headline;
    font-weight: 800;
    line-height: 1.177em;
    overflow: hidden;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: rgb(0, 113, 201);
      }
    }
  }

  &.basic {
    font-family: $font-default;
    font-weight: $font-weight-semi-bold;
    margin: 0;
  }

  @media($bp-larger-than-phablet) {
    &.headline {
      margin: 7px 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

h1.basic {
  font-size: 36px;
}

h2.headline {
  font-size: $font-size-21px;
}

h3.headline {
  font-size: 24px;
}

h4.headline {
  font-size: 18px;
}

@media($bp-larger-than-phablet){
  h4.headline {
    font-size: 20px;
  }
}
