// Social/share icons

.o-social-icons {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.o-social-icons--top {

  li {
    display: inline-block;
    margin-right: 5px;
  }

  @media($bp-larger-than-tablet){
    li {
      margin-right: 0;
      margin-left: 5px;
    }
  }
}

.o-social-icons--left {
  @media($bp-larger-than-mobile){
    float: left;
  }
  li {
    display: inline-block;
    padding: 0px 15px 0px;
    //border-top: 1px solid #E4E4E4;
    margin: 0;
  }
}

.o-social-icons__icon {
  display: block;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  border-radius: 3px;

  font-family: $font-secondary;
  font-size: font-size(14);
  font-weight: $font-weight-semi-bold;
  color: #fff;

  i {
    display: inline-block;
    vertical-align: middle;
    font-size: font-size(19);
    margin-right: 0.5em;
  }

  &:hover {
    color: #fff;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.75);
  }

  @media($bp-larger-than-phablet) {
    font-size: font-size(13);
    font-weight: $font-weight-normal;
  }
}

.o-social-icons__icon--facebook {
  background-color: $color-social-facebook;
  &:hover, &:focus {
    background-color: $color-social-facebook-dark;
  }
}

.o-social-icons__icon--twitter {
  background-color: $color-social-twitter;
  &:hover, &:focus {
    background-color: $color-social-twitter-dark;
  }
}
