{% extends 'ubyssey/base.html' %}
{% load humanize %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}

{% block header %}
{% include 'headers/topbar.html' with section=section.slug %}
{% include 'headers/mobile.html' %}
{% endblock %}

{% block content %}
<main class="section">
  {% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 %}
  {% include 'objects/advertisement.html' with size='mobile-leaderboard' name='Mobile_Leaderboard' id=5 %}
  <div class="u-container u-container--padded">
    <div class="c-page__header">
      <h1 class="c-page__heading">{{ self.title }}</h1>
    </div>

    {% for block in self.content %}
      {% include_block block %}
    {% endfor %}

    {% comment %}
    DESIGN NOTE:
    The below will be turned into _blocks_,
    allowing editors to have user to have some level of control
    {% endcomment %}
    {% comment %}
    {% if subsections %}
      <div class="c-page__header__subsections">
        <ul>
          {% for subsection in subsections %}
            <li><a href="{% url 'subsection' subsection.slug %}">{{ subsection.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="c-section__featured">
      {% include 'objects/articles/featured.html' with article=featured_articles.first %}
      <div class="c-section__featured__articles u-flex--tablet">
      {% for article in featured_articles.rest %}
        {% include 'objects/articles/column.html' with article=article %}
      {% endfor %}
      </div>

    </div>

    <h3 class="c-page__section">Archive</h3>
    {% include 'objects/archive.html' %}
    {% endcomment %}

  </div>
</main>
{% endblock %}
