<div class="poll-attachment">
  {% block inner %}
    <div id="react-poll">
        <!-- Contents get replaced by mounted React.Component -->
        <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
        <i class="pending">Loading components...</i><br><br>
    </div>
  {% endblock %}
</div> 

<!-- {% if question %}
<div class="poll attachment">
    <p class="question">{{ question }}</p>
    {% if choice1 %}<input type="radio" name="choice" value="choice1" class="choice"> {{ choice1 }}<br>{% endif %}
    {% if choice2 %}<input type="radio" name="choice" value="choice2" class="choice"> {{ choice2 }}<br>{% endif %}
    {% if choice3 %}<input type="radio" name="choice" value="choice3" class="choice"> {{ choice3 }}<br>{% endif %}
    {% if choice4 %}<input type="radio" name="choice" value="choice4" class="choice"> {{ choice4 }}<br>{% endif %}
    {% if choice5 %}<input type="radio" name="choice" value="choice5" class="choice"> {{ choice5 }}<br>{% endif %}
</div>
{% endif %} -->
