<div class="o-article-embed o-article-embed--video js-video-youtube" data-id="{{ id }}">
    <div class="o-article-embed--video__wrapper js-video-launch">
        <div class="o-article-embed--video__inner" style="background-image: url('https://img.youtube.com/vi/{{ id }}/0.jpg');">

                <div class="o-article-embed--video__play-large">
                    <div class="o-article-embed--video__play-large__inner"></div>
                </div>

            <div class="o-article-embed--video__info o-article-embed__overlay">
                <div class="o-article-embed--video__play-small">
                    &#9658; &nbsp;Play video
                </div>
                <div class="o-article-embed--video__tag">Video</div>
                <h2 class="o-article-embed--video__title">{{ title }}</h2>
                {% if caption %}
                <p class="o-article-embed--video__caption">{{ caption|safe }}</p>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="o-article-embed--video__container" id="video-{{ id }}"></div>

    <div class="caption">
        {% if credit %}
        <span class="credit">{{ credit }}</span>
        {% endif %}
    </div>
</div>
