{% comment %} 
Arguments: featured_articles a list of article pages
Used in both section pages and homepage
{% endcomment %}
{% for article in featured_articles %}
  {% if forloop.counter == 1 %}
    {% include 'article/objects/featured.html' with article=article %}
  {% else %}
    {% if forloop.counter == 2 %}
      <div class="c-section__featured__articles u-flex--tablet">
    {% endif %}
    {% include 'article/objects/column.html' with article=article%}
    {% if forloop.last %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
