$font-default: Montserrat, sans-serif;
$font-secondary: $font-default;
$font-serif: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;


$font-size-base: 12;

@function font-size($size) {
  $scaled-size: ($size / $font-size-base) + em;
  @return $scaled-size;
}

body {
  font-family: $font-default;
  font-size: $font-size-base + px;
  color: $color-text-black;

  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight: 400;
}

h1, h3, h3, h4 {
  // Structure
  margin: 0;

  // Text
  font-family: $font-default;
}

.o-link {
	// Text
	text-decoration: none;
  color: inherit;
  margin: 0 .8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: border .25s;

	&:hover {
    color: #333;
    border-color: #333;
	}
}
