$color-text-black: #171717;
$color-text-gray: #8c8c8c;
$color-text-dark-gray: #444;

// Theme colors

$color-primary-1: #ae70af;
$color-primary-2: #0d2b37;
$color-primary-3: #103e66;
$color-accent-1: #f8d839;
$color-accent-2: #abcdbb;
$color-accent-3: #255b2d;

