$color-text-black: #171717;
$color-text-gray: #8c8c8c;
$color-text-dark-gray: #444;

// Theme colors

$color-primary-1: #ae70af;
$color-primary-2: #0d3e68;
$color-primary-3: #102c38;
$color-accent-1: #fad839;
$color-accent-2: #aacfdb;
$color-accent-3: #235b2e;

