<article class="o-article o-article--featured{% if padded %} o-article--padded{% endif %}">
    {% if video.youtube_slug %}
    <div class="o-article__left">
      <a class="o-article__image" href="{{ video_url }}">
        <img src="https://img.youtube.com/vi/{{ video.youtube_slug }}/0.jpg" alt=""/>
      </a>
    </div>
    {% endif %}
    <div class="o-article__right">
      <div class="o-article__meta">
        <h3 class="o-article__headline">
          <a href="{{ video_url }}">{{ video.title|safe }}</a>
        </h3>
        <div class="o-article__byline">
          {% if video.videoAuthors %}
            <span class="o-article__author">By 
              {% for author in video.videoAuthors %}
                {% if forloop.last and video.numAuthors > 1 %} and {% endif %}
                <a href="{{ author.link }}">{{ author.name|safe }}</a>{% if not forloop.last and forloop.counter != video.numAuthors|add:-1 %},{% endif %}
              {% endfor %}
            </span>
            <span> &nbsp;·&nbsp; </span>
          {% endif %}
          <span class="o-article__published">{{ video.created_at }}</span>
        </div>
      </div>
    </div>
  </article>
  