<article style="margin-top: 1.5rem; margin-bottom: 1.5rem; padding-bottom: 1.5rem; border-bottom: thin dotted #C8C8C8;" class="o-article o-article--column">
  <div class="o-article__meta">
    <div class="o-article__meta__image">
      {% if video.youtube_slug %}
        <a class="o-article__image" href="{{ video.video_url }}" style="background-image: url('https://img.youtube.com/vi/{{ video.youtube_slug }}/0.jpg');"></a>
      {% endif %}
        
      <div class="o-article__right">
        <div class="o-article__meta">
          <h3 style="margin: 0px;">
            <a href="{{ video.video_url }}">{{ video.title|safe }}</a>
          </h3>
          {% if not hide_byline %}
            <div class="o-article__byline">
              {% if video.videoAuthors %}
                <span class="o-article__author">By
                  {% for author in video.videoAuthors %}
                    {% if forloop.last and video.numAuthors > 1 %} and {% endif %}
                      <a href="{{ author.link }}">{{ author.name|safe }}</a>{% if not forloop.last and forloop.counter != video.numAuthors|add:-1 %},{% endif %}
                    {% endfor %}
                </span>
                <span> &nbsp;·&nbsp; </span>
              {% endif %}
              <span class="o-article__published">{{ video.created_at }}</span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>
  