{% load dispatch_filters %}
<div class="c-videos__video">
  <div class="c-videos__title">
    <h3><a name="video-{{video.id}}" href="#video-{{video.id}}">{{video.title|safe}}</a></h3>
    <h4>{{video.created_at|date:'N j, Y'}}</h4>
  </div>
  
  <div class='c-videos__wrapper'>
    Loading Video...
    <iframe 
      src="{{ video.url|youtube_embed_url|safe }}"
      allowfullscreen="allowfullscreen"
      mozallowfullscreen="mozallowfullscreen" 
      msallowfullscreen="msallowfullscreen" 
      oallowfullscreen="oallowfullscreen" 
      webkitallowfullscreen="webkitallowfullscreen"></iframe>
  </div>
  
  <em>Credits: {{video.get_author_url|safe}}</em>
</div>