{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load cache %}
  <article class="o-article o-article--column{% if padded %} o-article--padded{% endif %}">
    <div class="o-article__meta">
      <div class="o-article__meta__image">
        {% if article.featured_images.first %}
          <a class="o-article__image" href="{% pageurl article %}">
            {% image article.featured_images.first.image fill-250x250-c100 %}
          </a>
        {% comment %} {% elif article.featured_video %}
          <a class="o-article__image" href="{% pageurl article %}" style="background-image: url('http://img.youtube.com/vi/{{ article.featured_video.video.url|youtube_embed_id|safe }}/0.jpg'); background-size: contain; background-repeat: no-repeat"></a> {% endcomment %}
        {% endif %}
        <h3 class="o-article__headline">
          <a href="{% pageurl article %}">{{ article.title|safe }}</a>
        </h3>
      </div>
      <div class="o-article__byline">
        <span class="o-article__author">By {{ article.get_authors_with_urls|safe }}</span>
        <span> &nbsp;·&nbsp; </span>
        <span class="o-article__published">{{ article.published_at }}</span>
      </div>
    </div>
    <p class="o-article__snippet">{{ article.lede|safe }}</p>
  </article>