{% comment %} 
    This template object exists because both the "right image" and "top image" style fw articles were using almost identical contents when div class="featured-media
    It was seperated out to try to make the code more readable
{% endcomment %}
{% load wagtailimages_tags %}

{% if self.featured_media.first.image %}
    {% with self.featured_media.first as featured_image_object %}
        {% image featured_image_object.image original as featured_image %}
        <img
            class="article-attachment"
            data-id="{{ featured_image_object.image.id }}"
            data-caption="{{ featured_image_object.caption }}"
            data-url="{{ featured_image.url }}"
            data-credit="{{ featured_image_object.credits }}"
            src="{{ featured_image.url }}"
            alt=""
        />
        {% if featured_image_object.caption or featured_image_object.credit %}
            <div class="caption">
                {% if featured_image_object.caption %}
                    {{ featured_image_object.caption }}
                {% endif %}
                {% if featured_image_object.credit %}
                    <span class="credit">
                        {{ featured_image_object.credit }}
                    </span>
                {% endif %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
