{% if do_show %}
<div id="fb-root"></div>
<div class="c-facebook-video">
{% if title %}
	<h1>{{ title }}</h1>
{% endif %}

	<div class="c-facebook-video__info">
	{% if host %}
		<span class="c-facebook-video__host">By {{ host }}</span>
	{% endif %}
	{% if start_time %}
		<span>&nbsp;·&nbsp;</span>
		<span class="c-facebook-video__start-time">{{ start_time }}</span>
		{% endif %}
	{% if end_time %}
		<span class="c-facebook-video__end-time">until
		{% if start_time|date:"Ymd" == end_time|date:"Ymd" %}
			{{ end_time|date:"g:i a" }}
		{% else %}
			{{ end_time }}
		{% endif %}
		</span>
	{% endif %}
	{% if description %}
		<div class="c-facebook-video__description">{{ description }}</div>
	{% endif %}
	</div>

	<div class="c-facebook-video__container">
		<div class="fb-video" data-href="{{ video_url }}" data-show-text="false"></div>

		{% if show_comments %}
		<div class="c-facebook-video__comments">
			<div id="comments-mount">
				<div class="fb-comments" data-href="{{ video_url }}" data-width="350" data-numposts="3"></div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}
