$font-default: 'dk-saffron-walden', serif;
$font-secondary: 'lft-etica', Helvetica, sans-serif;

@font-face {
	font-family: 'dk-saffron-walden';
	src: url('../fonts/DKSaffronWalden.woff');
	font-weight: normal;
	font-style: normal;
}
