{% load static %}
<div>
    <div class="o-advertisement o-advertisement--{{ size }}{% if class %} o-advertisement--{{ div_class }}{% endif %}">
        <div class="adslot" id="{{ div_id }}" data-size="{{ size }}" data-dfp="{{ dfp }}">
            {% comment %}
                See: 
                https://developers.google.com/publisher-tag/guides/get-started
            {% endcomment %}
            <script>
                googletag.cmd.push(function() {
                  googletag.display('{{ div_id }}');
                });
            </script>          
        </div>
    </div>
    {% if size == "box" %}
        <a href='http://ubyssey.ca/volunteer' target="_blank">
            <div class="o-hidden o-replacement o-replacement--{{ size }}{% if div_class %} o-replacement--{{ div_class }}{% endif %}" style="background-image:url({% static 'ubyssey/images/house/volunteer.jpg' %});">
            </div>
        </a>
    {% endif %}
</div>
