.c-article {
  padding-top: 115px;
  @media (min-width: 580px) {
    padding-top:90px;
  }
  @media (min-width: 865px) {
    padding-top: 60px;
  }
}

.c-article__intro {
  font-size: 1.5em;
  color: #313131;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  margin-bottom: 1.15em;
}

.c-article__content {

  h1, h2, h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 25px;
  }

  > p, ul {
    font-size: 1em;
    font-weight: 100;
    color: #313131;
    letter-spacing: 0.2px;
    line-height: 1.75em;
    margin-bottom: 1.5em;

    width: 100%;
    max-width: 600px;
  }

  b {
    font-weight: 800;
  }

  .image-attachment {
    margin-bottom: 1.5em;
    width: 100%;
    max-width: 600px;

    @media($bp-larger-than-desktop) {
      max-width: 700px;
      margin-left: -100px;
    }

    img {
      width: 100%;
    }

    .caption {
      display: none;
    }
  }

  .pull-quote {
    text-align: left;

    @media($bp-larger-than-phablet) {
      text-align: right;
    }

    .quote {
      /* “Praesent a odio lec: */
      font-size: 1em;
      color: #313131;
      letter-spacing: 0.34px;
      line-height: 1.5em;
      font-style: italic;
      font-weight: 100;
      margin-bottom: 5px;
    }

    .source {
      font-weight: 600;
      font-size: 0.77em;
      color: #000000;
      letter-spacing: 0.27px;
      line-height: 14px;
    }
  }

  .advertisement, .pull-quote {
    width: 300px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;

    @media($bp-larger-than-phablet) {
      margin: 0;
      float: right;
      padding-left: 35px;
    }

  }
}

.c-up-next {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background-image: linear-gradient(white 50%, rgba(222, 222, 222, 0.29) 175%);
}

.c-up-next__arrow, .c-up-next__text {
  display: inline-block;
  vertical-align: middle;
}

.c-up-next__arrow {
  background-image: url('../images/guide/up-next-arrow-left.png');
  background-size: 100%;
  width: 21px;
  height: 22px;
  margin-top: 20px;

  &--right {
    background-image: url('../images/guide/up-next-arrow-right.png');
  }
}

.c-up-next__text {
  margin: 0 15px;
  font-size: 20px;
  font-weight: 600;
  color: #6E6E6E;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: uppercase;
}
