.c-banner {
  position: relative;
  width: 100%;

  background-size: cover;
  background-position: center;

  &:before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 10;
    pointer-events: none;

    background-image: linear-gradient(-180deg, transparent 0%, rgba(0,0,0,0.66) 99%);
  }

  &:after {
    content: '';
    display: block;

    @media($bp-larger-than-tablet) {
      padding-top: 37%;
    }
  }

  .o-wrapper {
    height: 100%;
  }
}

.c-banner--welcome {
  background-image: url('https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/banner.jpg');
  align-items: center;

  .c-banner__container {
    position: absolute;
    align-items: center;

    .o-container {
      height: 100%;
    }
  }

  &:after {
    padding-top: 140%;

    @media($bp-larger-than-mobile) {
      padding-top: 55%;
    }

    @media($bp-larger-than-desktop) {
      padding-top: 37%;
    }
  }
}

.c-banner__container {

  @media($bp-larger-than-tablet) {
    position: absolute;
  }

  height: 100%;
  width: 100%;
  display: flex;
}

.c-banner--welcome__inner {
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;

  @media($bp-larger-than-tablet) {
    margin-top: -40px;
  }
}

.c-banner--welcome__intro {
  font-style: italic;
  font-size: 24px;
  color: $color-white;
  letter-spacing: 0.48px;
  line-height: 28px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
  margin-bottom: 1em;
}

.c-banner--welcome__snippet {
  margin-top: 15px;
  font-size: 18px;
  color: $color-white;
  letter-spacing: 0.36px;
  line-height: 22px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
  max-width: 385px;
  margin-left: auto;
  margin-right: auto;
}

.c-banner--article__inner {
  position: relative;
  height: 100%;
  z-index: 20;
}

.c-banner--article__nav {
  padding: 2em 0;

  @media($bp-larger-than-desktop) {
    padding: 3em 0;
  }
}

.c-banner--article__headings {
  padding-bottom: 5%;

  @media($bp-larger-than-tablet) {
    position: absolute;
    bottom: 0;
  }

  @media($bp-larger-than-desktop) {
    padding-bottom: 12%;
  }

  text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.c-banner--quote{

  position: absolute;
  background-color: $color-lightblue;
  width:350px;
  height:115px;
  font-family: $font-default;

  width:100%;
  height:110px;
  @media (min-width: 580px) {
    height:80px;
  }
  @media (min-width: 889px) {
    bottom:-40px;
    right: -50px;
    width:400px;
    height:110px;
  }
  &__text{
    position: relative;
    margin:10px;
    font-family: "Minion Pro";
    line-height: 1.3em;
    font-weight: bold;
    text-align: left;
  }
  &__source{
    position: absolute;
    right: 5px;
    bottom: 10px;
    text-transform: uppercase;
    text-align: right;
    color: #000000;
    font-weight: 100;
    font-style: italic;
    font-size: 0.77em;
  }
}