#c-footer {
  display: none;
  background-color: $color-home;
  padding-top: 3%;
  margin-top: 5%;
  &__copyright{
    color: white;
    line-height: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 8px 0;
  }
  &__social{
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li{
      display: inline-block;
      margin: 35px auto 0 auto;
      font-size: 1.4em
    }
    a{
      display: block;
      color: white;
      margin: 0 6px;
      text-decoration: none;
    }
  }
}
