.c-header{
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    background-color: $color-home;
    z-index: 10000;

    a {
        color: white;
        text-decoration: none;
    }

    .c-nav-bar{
        display: flex;
        font-size: 1.3em;
        height: 50px;
    }

    .c-nav-ubyssey{
        position: absolute;
        width: 166px;
        left: 40px;
        top: 14px;
        text-align: center;
        text-transform: uppercase;
        height: 26px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        a{
            transition: 0.1s;
        }
        &:hover{
            a{
                font-size: 22px;
            }
        }
        @media($bp-smaller-than-mobile) {
            display:none;
        }
    }

    #c-nav-home{
        display: inline-block;
        position:absolute;
        right: 40px;
        top: 5px;
        @media ($bp-smaller-than-mobile){
            margin: auto;
            position: initial;
        }
        .c-home-more{
            display:none;
            position: absolute;
            width: 166px;
            background-color: $color-home;
            z-index: 10000;
            
            li {
              display: block;
              margin: 0 auto 0 auto;
              clear: left;
              line-height: 1.8;
              padding: 0;
              width:100%;
              text-align: center;
              &:hover {
                font-weight: bold;
                font-size: 1.05em;
              } 
              a{
                height:40px;
                display: block;
               }
            }
            #academics{
                background-color: $color-academics;
            }
            #ubc{
                background-color: $color-ubc;
            }
            #adulting{
                background-color: $color-adulting;
            }
            #sdp{
                background-color: $color-sdp;
            }
            #vancouver{
                background-color: $color-vancouver;
            }
            
        }
    }

    &.__academics{
        background-color: $color-academics;
    }
    &.__vancouver{
        background-color: $color-vancouver;
    }
    &.__sdp{
        background-color: $color-sdp;
    }
    &.__adulting{
        background-color: $color-adulting;
    }
    &.__ubc{
        background-color: $color-ubc;
    }
}