.home-content-container{
  @media($bp-larger-than-phablet) {
    .editorial{
      &-container{
        display: flex;
        overflow: hidden;
      }

      &__credits-{
        &container{
          width: 35%;
          background-color: $color-academics;
        }
        &content{
          padding: 15% 20%;
          letter-spacing: 1px;
          h1{
            text-transform: uppercase;
            text-align: right;
          }
          h2{
            font-weight: 300;
            text-align: right;
          }
        }
      }
      &__note-{
        &container{
          position: relative;
          width: 65%;
        }
      }
      &__.home-content{
        padding: 8% 15%;
        &__nav{
          position: absolute;
          right: 0;
          bottom: 5px;
          padding-right: 15%;
        }
      }
    }

    .who{
      &-container{
        position: relative;
        margin-left: 10%;
        margin-right: 25%;
      }
      &__.home-content{
        padding: 8%;

        &__nav{
          position: absolute;
          left: 20%;
          bottom: 5px;
        }
      }
    }

    .involved{
      &-container{
        position: relative;
        margin-right: 10%;
        margin-left: 30%;
      }
      &__.home-content{
        padding: 8% 5%;

        &__nav{
          position: absolute;
          left: 18%;
          bottom: 5px;
        }
      }
    }

    .panel-quote{
      margin-top: 5%;
      &.__1-{
        &container{
          background-color: $color-vancouver;
          width: 45%;
          margin-left: 55%;
          height: 260px;
          position: relative;
        }
        &content{
          height:55%;
          overflow: hidden;
          padding: 5% 15%;
          &__quote{

          }
          &__source{
            position: absolute;
            bottom: 15%;
            right: 10%;
          }
        }
      }

      &.__2-{
        &container{
          background-color: $color-adulting;
          width: 65%;
          margin-right: 35%;
          height: 200px;
          position: relative;
        }
        &content{
          height: 50%;
          overflow: hidden;
          padding: 3% 5%;
          &__quote{

          }
          &__source{
            position: absolute;
            bottom: 10%;
            right: 10%;
          }
        }
      }
    }

    .home-content{
      .title{
        text-align: center;
        text-transform: uppercase;
        font-size: 3.5em;
        font-weight: bold;
      }
      p{
        padding: 5% 15%;
      }
    }
  }

  .section-grid-container{
    #section--{
      &academics{
        display: none;
      }
      &ubc{
        display: none;
      }
      &adulting{
        display: none;
      }
      &sdp{
        display: none;
      }
      &vancouver{
        display: none;
      }
    }
  }
}