.c-nav-footer {
  margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.c-nav-footer__column {
  flex-basis: 50%;
  margin-bottom: 30px;

  @media($bp-larger-than-tablet) {
    flex: 1;
    flex-basis: auto;
    margin-bottom: 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: $color-white;
    letter-spacing: 0.45px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  li {
    line-height: 1.2em;
    a {
      color: $color-white;
      text-decoration: none;
      font-size: 0.8em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
