.o-logo {
  display: inline-block;
  border: 5px solid $color-white;
  padding: 35px 40px 20px 40px;

  font-family: $font-default;
  font-size: 3em;
  text-transform: uppercase;
  color: $color-white;
  letter-spacing: 1.3px;
  text-shadow: 0px 2px 1px rgba(0,0,0,0.23);

  line-height: 1.25em;

  @media($bp-larger-than-mobile) {
    font-size: 3.5em;
  }
}

.o-logo--small {
  display: block;
  height: 40px;
  width: 166px;
  background-image: url('../images/guide/guide-logo.png');
  background-size: 100%;

  transition: background-image 0.15s;

  &:hover {
    background-image: url('../images/guide/guide-logo-hover.png');
  }
}

.o-site-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.o-container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.o-wrapper {
  padding: 0 25px;
}

.o-welcome-arrow {
  position: absolute;
  z-index: 20;
  left: 15%;
  bottom: 25px;

  display: none;

  @media($bp-larger-than-tablet) {
    display: block;
  }
}


.o-welcome-arrow__text {
  font-family: $font-default;
  font-size: 32px;
  color: $color-white;
  letter-spacing: 0.73px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
  margin-bottom: 10px;
}

.o-welcome-arrow__icon {
  margin-left: 65%;
  background-image: url('https://s3-us-west-1.amazonaws.com/ubyssey/media/guide/arrow.png');
  background-size: 100%;
  width: 50px;
  height: 53px;
}
