$color-text-black: #171717;
$color-text-gray: #8c8c8c;
$color-text-dark-gray: #444;

// Theme colors

$color-primary-1: rgb(255, 0, 99);
$color-primary-2: rgb(0, 156, 140);
$color-primary-3: rgb(42, 79, 121);
