<article class="o-article o-article--list">
        <a style="margin-right: 0.65rem;" href="{{ episode.1 }}">
            <img class="article-attachment" data-id="{{ episode.0.image_id }}" src="{{ episode.0.image.get_thumbnail_url }}" alt="{{ episode.0.title }}" />
        </a>
        
        <div class="o-article__right">
            <div class="o-article__meta">
                <h3 style="margin: 0px;">
                    <a href="{{ episode.1 }}">{{ episode.0.title|safe }}</a>
                </h3>
                {% if not hide_byline %}
                    <div class="o-article__byline">
                        <span class="o-article__author">By {{ episode.0.author|safe }}</span>
                        <span> &nbsp;·&nbsp; </span>
                        <span class="o-article__published">{{ episode.0.published_at }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>