<article class="o-article o-article--featured{% if padded %} o-article--padded{% endif %}">
  {% if episode.image %}
  <div class="o-article__left">
    <a class="o-article__image" href="{{ episode_url }}">
      <img src="{{ episode.image.get_medium_url }}" alt=""/>
    </a>
  </div>
  {% endif %}
  <div class="o-article__right">
    <div class="o-article__meta">
      <h3 class="o-article__headline">
        <a href="{{ episode_url }}">{{ episode.title|safe }}</a>
      </h3>
      <div class="o-article__byline">
        <span class="o-article__author">By {{ episode.author|safe }}</span>
        <span> &nbsp;·&nbsp; </span>
        <span class="o-article__published">{{ episode.published_at }}</span>
      </div>
    </div>
    <p class="o-article__snippet__podcast__featured">{{ episode.description|safe }}</p>
  </div>
</article>
