<article class="o-article o-article--list">
        <a style="margin-right: 0.65rem;" href="{{ podcast.1 }}">
            <img class="article-attachment" data-id="{{ podcast.0.image_id }}" data-credit="{{ podcast.0.author }}" src="{{ podcast.0.image.get_thumbnail_url }}" alt="{{ podcast.0.title }}" />
        </a>
        
        <div class="o-article__right">
            <div class="o-article__meta">
                <h3 style="margin: 0px;">
                    <a href="{{ podcast.1 }}">{{ podcast.0.title|safe }}</a>
                </h3>
                {% if not hide_byline %}
                    <div class="o-article__byline">
                        <span class="o-article__author">By {{ podcast.0.author|safe }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>