{% load static %}
<footer>
    <div class="u-container{% if homepage %} u-container--large{% endif %}">

        <a class="home-link" href="{% url 'wagtail_serve' '' %}"><img class="logo" src="{% static 'ubyssey/images/ubyssey-logo-small-grey.svg' %}" alt=""/></a>
        <nav>
            <div class="top-row">
                <ul class="sections">
                    <!-- <li><a href="{% url 'section' 'themainmaller' %}">The Main Maller</a></li> -->
                    {% for menu_item in settings.navigation.SitewideMenus.main_footer_menu.navigation_menu_items.all %}
                        {% comment %} The above loop goes through the NavigationMenuItems in a NavigationMenu {% endcomment %}
                        <li><a href="{{ menu_item.link }}">{{ menu_item.text}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="bottom-row">
                <ul class="pages">
                    {% for menu_item in settings.navigation.SitewideMenus.second_footer_menu.navigation_menu_items.all %}
                        {% comment %} The above loop goes through the NavigationMenuItems in a NavigationMenu {% endcomment %}
                        <li><a href="{{ menu_item.link }}">{{ menu_item.text}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="copyright">&copy; {% now "Y" %} The Ubyssey</div>
    </div>
</footer>
