{% load static %}
{% load cache %}
{% load menu_tags %}
<footer>
    <div class="u-container{% if homepage %} u-container--large{% endif %}">

        <a class="home-link" href="{% url 'wagtail_serve' '' %}"><img class="logo" src="{% static 'ubyssey/images/ubyssey-logo-small-grey.svg' %}" alt=""/></a>
        <nav>
            <div class="top-row">
                <ul class="sections">
                    {% main_menu show_multiple_levels=False apply_active_classes=False %}
                </ul>
            </div>
            <div class="bottom-row">
                <ul class="pages">
                    {% cache 604800 second_footer_menu %}
                        {% for menu_item in settings.navigation.SitewideMenus.second_footer_menu.all %}
                            <li><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
                        {% endfor %}
                    {% endcache %}
                </ul>
            </div>
        </nav>
        <div class="copyright">&copy; {% now "Y" %} The Ubyssey</div>
    </div>
</footer>
