{% load static %}
{% load cache %}
{% load menu_tags %}
<footer>
    <div class="u-container{% if homepage %} u-container--large{% endif %}">

        <a class="home-link" href="{% url 'wagtail_serve' '' %}"><img class="logo" src="{% static 'ubyssey/images/ubyssey-logo-small-grey.svg' %}" alt=""/></a>
        <nav>
            <div class="top-row">
                <ul class="sections">
                    {% main_menu show_multiple_levels=False apply_active_classes=False %}
                </ul>
            </div>
            <div class="bottom-row">
                <ul class="pages">
                    {% flat_menu 'second_footer_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
                </ul>
            </div>
        </nav>
        <div class="copyright">&copy; {% now "Y" %} The Ubyssey</div>
    </div>
</footer>
