@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Sanchez');


.c-soccer-nationals {
  overflow-x: hidden;
}

.c-n-container {
  position:relative;
  h1,h2,h3,h4 {
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
  }
  font-family: $font-body;
}

.c-n-title {
  font-family: 'Sanchez', serif;
}
.c-nationals-title {
  margin: 0;
  text-align: center;
}

.c-n-headshot {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items:center;
  margin-bottom: -2.5rem;
  .c-n-headshot--image-container {
    position: relative;
    width: 50%;

    &::before {
      content: "";
      display: block;
      padding-top: 100%; 	/* initial ratio of 1:1*/
    }
    .c-n-headshot--image {
      // STRUCTURE
      position:  absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  
      // BORDER
      border-radius: 300px;
  
      // BACKGROUND
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

  .c-n-headshot--name {
    // TEXT
    font-size: 1.8rem;
    text-align: center;
    // STRUCTURE
    width: 100%;
    margin-top: 1rem;
  }
}

.c-n-content-container {

  .c-n-headshot--image-container {
    width: 60%;
  }
  .c-n-team-container {
    margin: .25rem;
    .c-n-team-header {
      display: flex;
      justify-content: space-between;
      align-items:center;
      width: 100%;
      height: 120px;
      color: white;
  
      .c-n-image-container {
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        .c-n-image {
          height: 65%;
          width: 100%;
          // BACKGROUND
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
  
      .c-n-title{
        font-size: 1.5rem;
        text-align: center;
        width: 65%;
      }
    }

  }

    p{
      // padding: 0 .5rem;
    }
    .c-n-content-box {
      // padding: 1rem;
      margin: 1rem;
    }
    .c-n-mvp {
      padding: 1rem;
    //   margin: 1rem;
    }
    div[id*=c-n-team-] {
      overflow: hidden;
      height: 0;
      transition: all .25s ease-in-out;
    }
}

// RIBBONS
.non-semantic-protector { 
  position: relative; 
  top: -2.5rem;
  height: 5rem;
  width: 100%;
  z-index: 1; 
  display:flex;
  justify-content: center;
  margin: 0 auto;
}

.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  // width: 50%;
  position: absolute;
  top: -.25rem;
  left:2rem;
  right:2rem;
  // background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 1rem 2rem; /* Adjust to suit */
  margin: 1rem auto 1rem; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px thremselves so we double it. */
 }
 .ribbon-before, .ribbon-after {
 //  .ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0.5rem;
  border: 1.5rem solid #986794;
  z-index: -1;
 }
 .ribbon-before{
//  .ribbon:before {
  // left: -2rem;
  left:0;
  border-right-width: 1.5rem;
  border-left-color: transparent;
 }
 .ribbon-after{
//  .ribbon:after {
  // right: -2rem;
  right: 0;
  border-left-width: 1.5rem;
  border-right-color: transparent;
 }
 .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #484848 transparent transparent transparent;
  bottom: -.5rem;
 }
 .ribbon .ribbon-content:before {
  left: 0;
  border-width: .5rem 0 0 1rem;
 }
 .ribbon .ribbon-content:after {
  right: 0;
  border-width: .5rem 1rem 0 0;
 }


 @media (min-width: 960px) {
  .c-n-desktop {
    position:relative;
    height: 95vh;
    width: 100%;
    display:flex;
    align-items: center;
  }
  .c-n-content-container {
    display: flex;
    justify-content: center;
    // width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // background-color: white;
    // position: absolute;

    .c-n-content {
      display: flex;
      // justify-content: space-around;
      // background-color: white;
      // max-width: 960px;
      width:100%;
      padding: 0 1rem;

      .c-n-content-box-container {
        $contentWidth: 375px;
        transition: all .25s;
        width: $contentWidth;
        position: absolute;
        top: 2rem;
        margin: 1rem;
        background-color: white;
        right: calc(-100%);
        &:last-child{
          left: calc(-100%);
        }
        .c-n-content-box {
          padding: 1rem;
          margin: 0;
          border: .25rem solid #233b7c;
          border-radius: .5rem;
        }
        .c-n-mvp {
        }
        .c-n-team {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          // padding: .5rem;
          // width: 50%;
          h1, h2, h3, h4 {
            text-align: center;
 
          }
        }
      }

      // .c-n-mvp, .c-n-team {
      //   width: 350px;
      //   position: absolute;
      //   top: 2rem;
      // }
      // .c-n-mvp {
      //   box-sizing: border-box;
      //   // width: 40%;
      //   padding: 1rem;
      //   margin: 1rem;
      //   right: 5%;
      // }
      // .c-n-team {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: flex-start;
      //   align-items: center;
      //   padding: .5rem;
      //   // width: 50%;
      //   left: 5%;
      //   h1, h2, h3, h4 {
      //     text-align: center;
      //     .c-n-team-stat {
      //       padding-left: .25rem;
      //       padding-right: .25rem;
      //     }
      //   }
      // }
    }
  }
 }

 span.c-n-team-stat {
  padding-left: .25rem;
  padding-right: .25rem;
}

 #c-nationals-map {
  position: relative;
  height: auto;
  width: 95vw;
  margin: 2rem auto;
  
  $time1: .25s;
  .c-n-map {
    
    path {
      opacity: 0;
      animation-fill-mode: forwards !important;
    }
    .c-n-path-red{
      animation: fade-in $time1 linear $time1;
    }

    path.c-n-path-green {
      animation: fade-in $time1 linear 2*$time1;
    }

    path.c-n-path-blue {
      animation: fade-in $time1 linear 3*$time1;
    }
    
    path.c-n-path-purple {
      animation: fade-in $time1 linear 4*$time1;
    }
  }
  
  .c-nationals-map-marker {
    opacity: 0;
    animation: fade-in $time1 linear 5*$time1 forwards;
    transition: all .3s;
    height: 36px;
    width: auto;
    position: absolute;
    transform: translate(-50%, 0%);
    &:hover {
      cursor: pointer;
      height: 60px;
      z-index: 1000;
    }
  }
}




@keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
