.c-page__header {
  // Structure
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media($bp-larger-than-tablet) {
    // Structure
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

.c-page__heading {
  // Structure
  margin-top: 0;
  margin-bottom: 1rem;

  // Text
  font-size: font-size(32);
}

.c-page__sub-heading {
  // Structure
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

  // Text
  font-weight: 600;
}

.c-page__description {
  // Structure
  margin-top: 1rem;
  margin-bottom: 0;

  // Text
  color: $color-text-gray;
  line-height: 1.35em;
}
