.c-page {
  @media($bp-larger-than-tablet) {
    // Structure
    display: flex;
  }
}

.c-page__header {
  // Structure
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media($bp-larger-than-phablet) {
    // Structure
    display: flex;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

.c-subsection {
  border-top: thin groove #C8C8C8;
}
.c-subsection__header {
  // Structure
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media($bp-larger-than-phablet) {
    // Structure
    display: flex;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  h2 {
    font-size: 2rem;
  }

}
.c-page__header--banner {
  // Structure
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;

  // Background
  background-color: $color-ub-blue-light;
  background-position: center;
  background-repeat: no-repeat;

  // Text
  text-align: center;

  .c-page__heading,
  .c-page__sub-heading {
    // Text
    color: $color-white;
  }

  .c-page__sub-heading {
    // Structure
    margin-top: 0.75rem;

    // Text
    font-weight: $font-weight-normal;
  }
}

.c-page__header__thumbnail {
  // Structure
  margin-bottom: 1rem;

  img {
    width: 100%;
  }

  @media($bp-larger-than-phablet) {
    // Structure
    padding-right: 1.75rem;

    img {
      width: 10rem;
    }

  }
}

.c-page__header__meta {
  // Structure
  flex: 1;
}

.c-page__heading {
  // Structure
  margin-top: 0;
  margin-bottom: 0;

  // Text
  font-size: font-size(32);
  color: $color-text-black;
}

.c-page__sub-heading {
  // Structure
  margin-top: 1rem;
  margin-bottom: 0;

  // Text
  font-weight: $font-weight-semi-bold;
  color: $color-text-black;
}

.c-page__description {
  // Structure
  margin-top: 1rem;
  margin-bottom: 0;

  // Text
  color: $color-text-gray;
  line-height: 1.45em;
  white-space: pre-wrap;

  a {
    // Text
    color: $color-accent-blue;
    font-weight: 600;

    &:hover {
      // Text
      text-decoration: underline;
    }
  }
}

.c-page__section {
  // Structure
  margin-top: 0;
  margin-bottom: 1rem;

  // Text
  font-size: 24px;
}

.c-page__content,
.c-page__sidebar {
  // Structure
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media($bp-larger-than-tablet) {
    // Structure
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.c-page__content {
  // Structure
  flex: 2;

  @media($bp-larger-than-tablet) {
    // Structure
    padding-right: 1.5rem;
  }
}

.c-page__sidebar {
  // Structure
  flex: 1;
}

.c-page__sidebar__sticky {
  @media($bp-larger-than-tablet) {
    // Structure
    position: sticky;
    top: 1.5rem;
  }
}

.c-page__sidebar__item {
  // Structure
  margin-bottom: 1.5rem;
}
