.c-episode-container {
  max-width: 600px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #aaa;
  max-height: 120px;
  transition: max-height .5s;
  overflow: hidden;

  h3{
    font-size: 2rem;
    font-weight: 600;
  }
  h3, h4 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  .c-episode-flex-wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      flex: 1;
      text-align: left;
    }
    h4 {
      flex: 1;
      text-align: right;
      font-weight: 600;
    }
  }
  .c-episode-flex-wrapper-mid-row {
    flex-direction: row;
  }
  .c-episode-flex-wrapper-mid-col {
    flex-direction: column;
  }
  .c-episode-flex-wrapper-mid-row, .c-episode-flex-wrapper-mid-col {
    display: flex;
    justify-content: space-between;

    .description {
      flex: 3;
      font-size: 1.2rem;
    }
  }
  .c-episode-flex-wrapper-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    audio {
      width: 100%;
      padding-top: 1rem;
    }
    .image {
      width: 480px;
      height: 360px;;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; 
    }
  }
  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
}

