$adslots: (
  leaderboard: (728px, 90px),
  large-leaderboard: (970px, 90px),
  mobile-leaderboard: (300px, 50px),
  banner: (468px, 60px),
  box: (300px, 250px),
  large-skyscraper: (300px, 600px)
);

// Desktop leaderboard ad
.o-replacement--leaderboard {
  $width: nth(map-get($adslots, leaderboard), 1);
  $height: nth(map-get($adslots, leaderboard), 2);

  display: none;

  .replacement {
    margin-left: auto;
    margin-right: auto;
    width: $width;
    height: $height;
    padding-top: 1.5rem;
  }

  &.o-replacement--homepage {
    .replacement {
      margin: 1.5rem auto;
    }
  }

  @media(min-width: $width + 40) {
    display: block;
    &.o-replacement--homepage {
      display: none;
    }
  }

  @media( min-width: 1010px ){
    $width: nth(map-get($adslots, large-leaderboard), 1);
    $height: nth(map-get($adslots, large-leaderboard), 2);

    .replacement {
      width: $width;
      height: $height;
    }
  }

  @media($bp-larger-than-tablet){
    &.o-replacement--homepage {
      display: block;
    }
  }
}

.o-replacement--banner {
  $width: nth(map-get($adslots, banner), 1);
  $height: nth(map-get($adslots, banner), 2);

  .replacement {
    margin-left: auto;
    margin-right: auto;
    width: $width;
    height: $height;
    padding-top: 1.5rem;
  }
}

main.article .o-replacement--leaderboard {
  .replacement {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.article-slide .o-replacement--leaderboard,
.article-slide .o-replacement--mobile-leaderboard {
  background: #F5F5F5;
  padding-bottom: 1rem;
  border-bottom: 1px solid #DADADA;
}

.article-slide .o-replacement--leaderboard {
  margin-bottom: 1rem;
}

.article-slide .o-replacement--mobile-leaderboard {
  margin-bottom: 0.5rem;
}


// Mobile leaderboard ad
.o-replacement--mobile-leaderboard {
  $width: nth(map-get($adslots, mobile-leaderboard), 1);
  $height: nth(map-get($adslots, mobile-leaderboard), 2);

  $desktop-width: nth(map-get($adslots, leaderboard), 1);

  .replacement {
    width: $width;
    height: $height;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media(min-width: $desktop-width + 40) {
    display: none;
  }
}

// Box
.o-replacement--mobile-frontpage-box {
  // Structure
  padding-top: 1rem;
  padding-bottom: 1rem;

  // Border
  border-bottom: thin dotted #C8C8C8;

  @media($bp-larger-than-phablet) {
    // Structure
    display: none;
  }
}

.o-replacement--box {
  $width: nth(map-get($adslots, box), 1);
  $height: nth(map-get($adslots, box), 2);

  width: $width;
  min-height: $height;
  margin-left: auto;
  margin-right: auto;
  background-size: 100% 100%;
}


// Hide ads when printed
.o-replacement {
  @media print {
    display: none;
  }
}

.o-hidden {
  display: none;
}
