.c-section__featured {
  // Structure
  margin-bottom: 2rem;
}

.c-page__header__subsections {
  ul {
    // Structure
    margin: 0;
    padding-left:0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    // Border
    border-top: 1px solid #e2e2e2;;
    border-bottom: thin groove #C8C8C8;

    list-style-type: none;

    li {
      display: inline-block;
      
      &:not(:last-child):after {
        content: "  |  ";
      }
    }
  }
}

.c-section__featured__articles {

  padding-bottom: 1rem;
  .o-article--column {

    // Structure
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    flex: 1;

    // Border
    border-bottom: thin dotted $color-border-gray-dark;

    &:last-child {
      // Border
      border-bottom: none;
    }

    @media($bp-larger-than-phablet) {
      // Structure
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0;
      padding-bottom: 0;
      flex: 1;

      // Border
      border-bottom: none;

      &:first-child {
        // Structure
        margin-left: 0;
        margin-right: 1rem;
      }

      &:last-child {
        // Structure
        margin-left: 1rem;
        margin-right: 0;
      }

      &:only-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

}
