{% load static %}
<header class="main">
  <div class="u-container u-container--large">
    <div class="branding row">
      <div class="left"><span class="since-line">UBC’s student newspaper since 1918</span></div>
      <div class="middle">
        <img class="top-logo" src="{% static 'ubyssey/images/ubyssey-logo.svg' %}" alt=""/>
      </div>
      <div class="right">
        <!-- <a class="store-link" href="https://store.ubyssey.ca/">
          <i class="fa fa-shopping-bag"></i><span>Store</span>
        </a> -->
        <a class="o-snapchat-icon"><i class="fa fa-snapchat"></i><div class="o-snapchat-icon__code"></div></a>
        <a class = "facebook-icon" href="https://www.facebook.com/ubyssey" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a class = "instagram-icon" href="https://www.instagram.com/ubyssey/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class = "twitter-icon" href="https://twitter.com/Ubyssey" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a>
      </div>
    </div>
    <nav class="main row">
        <div class="left">
          <ul class="meta">
            <li><a href="{% url 'page' 'about' %}">About</a></li>
            <li><a href="{% url 'page' 'advertise' %}">Advertise</a></li>
            <li><a href="{% url 'page' 'volunteer' %}">Volunteer</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
          </ul>
        </div>
        <div class="middle">
          <ul class="sections">
            <!-- <li><a href="{% url 'section' 'themainmaller' %}">The Main Maller</a></li> -->
            <li><a href="{% url 'section' 'news' %}">News</a></li>
            <li><a href="{% url 'section' 'culture' %}">Culture</a></li>
            <li><a href="{% url 'section' 'features' %}">Features</a></li>
            <li><a href="{% url 'section' 'opinion' %}">Opinion</a></li>
            <li><a href="{% url 'section' 'sports' %}">Sports</a></li>
            <li><a href="{% url 'section' 'blog' %}">Blog</a></li>
            <li><a href="{% url 'section' 'science' %}">Science</a></li>
            <li><a href="{% url 'section' 'videos' %}">Video<!--<span class='upper-right-decorator'>New</span>--></a></li>
            <li {% if section == 'magazine' %}class="current"{% endif %} id="sections-more-dropdown">
              <a>Magazine</a>
              <ul class="sections-more">
                  <li>
                      <a href="{% url 'magazine-landing' 2020 %}">2020</a>
                  </li>
                  <li>
                      <a href="{% url 'magazine-landing' 2019 %}">2019</a>
                  </li>
                  <li>
                      <a href="{% url 'magazine-landing' 2018 %}">2018</a>
                  </li>
                  <li>
                    <a href="{% url 'magazine-landing' 2017 %}">2017</a>
                </li>
              </ul>
            </li>
            <li><a href="{% url 'guide-landing' 2020 %}">Guide</a></li>

            <!--<li id="sections-more-dropdown"><a href="#">More</a>
              <ul class="sections-more">
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'podcasts' 'episodes' %}">Podcast</a></li>
                <li><a href="{% url 'section' 'whobyssey' %}">Who?byssey</a></li>
              </ul>
            </li>-->
          </ul>
        </div>
        <div class="right">
          <ul class="meta">
            <li><a href="{% url 'newsletter' %}">Newsletter</a></li>
            <li><a href="{% url 'page' 'advice' %}">Get advice</a></li>
            <li><a href="{% url 'page' 'submit-an-opinion' %}">Submit an opinion</a></li>
          </ul>
        </div>
    </nav>
</div>
</header>
