{% load static %}
<header class="topbar header-site">
    <div class="u-container">
        <a class="home-link" href="{% url 'home' %}"><img class="logo" src="{% static 'ubyssey/images/ubyssey-logo-small.svg' %}" alt=""/></a>
        <nav>
            <ul>
                <!-- <li {% if section == 'themainmaller' %}class="current"{% endif %}> -->
                    <!-- <a href="{% url 'page' 'themainmaller'  %}">The Main Maller</a> -->
                </li>
                <li {% if section == 'news' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'news' %}">News</a>
                </li>
                <li {% if section == 'culture' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'culture' %}">Culture</a>
                </li>
                <li {% if section == 'opinion' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'opinion' %}">Opinion</a>
                </li>
                <li {% if section == 'features' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'features' %}">Features</a>
                </li>
                <li {% if section == 'sports' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'sports' %}">Sports</a>
                </li>
                <li {% if section == 'blog' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'blog' %}">Blog</a>
                </li>
                <li {% if section == 'science' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'science' %}">Science</a>
                </li>
                <li {% if section == 'videos' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'videos' %}">Video</a>
                </li>
                <li {% if section == 'magazine' %}class="current"{% endif %} id="sections-more-dropdown">
                    <a>Magazine</a>
                    <ul class="sections-more">
                        <li>
                            <a href="{% url 'magazine-landing' 2020 %}">2020</a>
                        </li>
                        <li>
                            <a href="{% url 'magazine-landing' 2019 %}">2019</a>
                        </li>
                        <li>
                            <a href="{% url 'magazine-landing' 2018 %}">2018</a>
                        </li>
                        <li>
                            <a href="{% url 'magazine-landing' 2017 %}">2017</a>
                        </li>
                    </ul>
                </li>

                <!--<li id="sections-more-dropdown"><a href="#">More</a>
                <ul class="sections-more">
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'podcasts' 'episodes' %}">Podcast</a></li>
                <li><a href="{% url 'page' 'whobyssey' %}">Who?byssey</a></li>
                </ul>
                </li>-->
            </ul>
        </nav>
        <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a>
    </div>
</header>