$font-default: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-secondary: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: Georgia;

$font-size-base: 16;

@function font-size($size) {
  $scaled-size: ($size / $font-size-base) + em;
  @return $scaled-size;
}

body {
  font-family: $font-default;
  font-size: $font-size-base + px;
  color: $color-text-black;

  -webkit-font-smoothing: antialiased;
}

h1, h3, h3, h4 {
  // Structure
  margin: 0;

  // Text
  font-family: $font-default;
}

.o-link {
	// Text
	text-decoration: none;
	color: inherit;

	&:hover {
		color: $color-primary-1;
	}
}
