{% load humanize %}
<h1 class="section"><a href={% url 'section' section %}>{{ section|title }}</a></h1>
<section class="c-homepage__section c-homepage__section--1">
    <div class="c-homepage__section__left">
      {% with articles.first as article %}
        {% include 'objects/articles/default.html' with article=article padded=True %}
      {% endwith %}
    </div>
    <div class="c-homepage__section__right">
      <div class="c-homepage__section__stacked">
      {% for article in articles.stacked %}
        {% include 'objects/articles/default.html' with article=article hide_image=True padded=True %}
      {% endfor %}
      </div>
      <ul class="c-homepage__section__bullets">
      {% for article in articles.bullets %}
        <li>{% include 'objects/articles/bullet.html' with article=article %}</li>
      {% endfor %}
      </ul>
    </div>
</section>
