{% load static %}
{% load menu_tags %}
<header class="c-header{% if subsection %} __{{ subsection }}{% else %} __home{% endif %} {{section}}">
    <ul class="c-nav-bar">
        <li class="c-nav-left">
            <a class="o-logo--small" href="https://www.ubyssey.ca/beta/guide/2021/"></a>
        </li>

        <li class="c-nav-right">

            {% for item in menu_items %}
            <div class="c-nav-section" id="c-nav-section--{{item.handle}}">
                <a href="{{ item.href }}">{{ item.text }}</a>
                <ul class="c-section-more{% if item.text %}__{{ section }}{% else %} __home{% endif %} c-section-more __home "
                    id="c-section-more--{{item.handle}}">


                    {% sub_menu item template="navigation/headers/guide/2021/submenu.html" %}

                </ul>
            </div>
            {% endfor %}

        </li>
        <li class="c-nav-current">
        </li>
    </ul>
</header>

<header class="c-header-tablet{% if subsection %} __{{ subsection }}{% else %} __home{% endif %} {{section}}">
    <ul class="c-nav-bar">
        <li id="c-nav-home-tablet">
            <a class="o-logo--small"></a>
            <ul class='c-home-more'>
                <li>
                    <a class="header-button __home" href="https://www.ubyssey.ca/beta/guide/2021/">Home</a>
                </li>

                {% for item in menu_items %}
                <li>
                    <a class="header-button __{{item.handle}}" href="{{ item.href }}">{{item.text}}</a>
                </li>
                {% endfor %}

            </ul>
        </li>
        <li class='c-nav-ubyssey'>
            <a href="https://www.ubyssey.ca"><img src="{% static 'ubyssey/images/ubyssey-dingbat-white.png' %}" /></a>
        </li>
        <li class='c-nav-current'>

            {% for item in menu_items %}
            {% if item.handle == section %}
            <div class="c-nav-section" id="c-nav-section--{{item.handle}}">
                <a href="{{ item.href }}">{{ item.text }}</a>
                <ul class="c-section-more{% if item.text %}__{{ section }}{% else %} __home{% endif %} c-section-more __home "
                    id='c-section-more--current'>


                    {% sub_menu item template="navigation/headers/guide/2021/submenu.html" %}

                </ul>
            </div>
            {% endif %}
            {% endfor %}
    </ul>
    </li>
    </ul>
</header>

<header class="c-header-mobile __home {{section}}">
    <ul class="c-nav-bar">
        <li id="c-nav-home-mobile">
            <a class="o-logo--small"></a>
            <ul class='c-home-more'>
                <li>
                    <a class="header-button __home" href="https://www.ubyssey.ca/beta/guide/2021/">Home</a>
                </li>

                {% for item in menu_items %}
                <li>
                    <a class="header-button __{{item.handle}}" href="{{ item.href }}">{{item.text}}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</header>