@import 'full_width';
@import 'modules/variables';

.featured-image {
  img {
    width: 100%;
  }
}

// Article Slide

div.article-slide {
  border-top: 1px solid #DADADA;
  margin-top: 50px;

  main.article {
    padding-top: 0;
  }

  @media($bp-larger-than-tablet){
    margin-bottom: 50px;
  }
}

div.indicator {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}

.o-breaking-news-article{
  display:flex;
  border-radius: 3px;
  background-color:#e41818;
  display:flex;

  &:hover {
    opacity: 0.8;
  }

  h3 {
    padding-left: 1rem;
    color: white;
    p {
      color: white;
      font-weight: lighter;
    }
  }
}


// Article
.c-article--default {
  .o-headline--article {
    @media($bp-larger-than-tablet) {
      line-height: 1.277em;
      padding-top: 25px;
      padding-bottom: 25px;
      margin: 0;
      border-top: 2px solid #3E3E3E;
      border-bottom: 1px solid #D2D2D2;
    }
  }
}

.c-article__tag {
  // Structure
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;

  // Border
  border-radius: 4px;

  // Background
  background: $color-red;

  // Text
  color: $color-white;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.5px;
  font-size: font-size(15);
  text-transform: uppercase;
}

.c-article__info {
  margin-bottom: 1rem;

  @media($bp-larger-than-tablet) {
    margin-top: 1em;

    display: flex;
  }
}

.c-article__byline {
  margin-bottom: 0.2rem;
  font-family: $font-default;
  font-size: $font-size-15px;
  font-weight: $font-weight-semi-bold;

  @media($bp-larger-than-tablet) {
    display: flex;
    flex: 1 0;
    line-height: 2rem;
    margin-bottom: 0;
  }
}

.c-article__byline-center{
  display: flex;
  justify-content: center;
}

.960px {
  margin-bottom: 0.9rem;
  display: inline-block;
  @media($bp-larger-than-tablet) {
    margin-bottom: 0;
  }
}

.c-article__byline__meta {
  margin-bottom: 0.75rem;

  color: #777;
  font-weight: $font-weight-normal;
  @media($bp-larger-than-tablet) {
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

.c-article__author {
  margin-bottom: 0.75rem;

  @media($bp-larger-than-tablet) {
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

.c-article__featured-image {
  // Structure
  max-width: 585px;
  margin-bottom: 1.5rem;

  .article-attachment {
    width: 100%;
  }
}

div.article-content {
  > p,
  div.caption,
  > h1,
  > h2,
  > h3,
  > ul,
  > .attachment.pull-quote {
    padding-right: $article-content-div-child-padding;
  }

  > p,
  div.caption,
  > h1,
  > h2,
  > h3,
  > div.c-widget-event,
  > .attachment.pull-quote {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: $article-content-div-child-padding;
    @media($bp-larger-than-phablet){
      padding: 0;
      max-width: 585px;
    }
  }

  > ul {
    padding-left: $article-content-ul-padding-left + 15;
    padding-right: 15px;
    @media($bp-larger-than-phablet){
      padding-left: $article-content-ul-padding-left;
      max-width: 585px - $article-content-ul-padding-left;
      padding-right: 0;
    }
  }
}



div.caption {
  margin-top: 6px;
  font-family: $font-headline;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 19px;

  padding-left: 15px;
  padding-right: 15px;
  @media($bp-larger-than-phablet){
    padding: 0;
  }
}

div.article-content {

  > p, > ul {
    font-family: $font-body !important;
    font-size: font-size(17) !important;
    color: #333333 !important;
    line-height: 1.625rem !important;
    margin-top: 1.4rem;

    a {
      color: $color-accent-blue;
      text-decoration: underline;
    }

    &:first-child {
        margin-top: 5px;
        margin-right: auto;
    }
  }

  > h1 {
    font-family: $font-default;
    font-weight: normal;
    font-size: 28px;
    margin: 30px 0 0 0;
  }

}

@media($bp-larger-than-mobile){
  div.headline-container {
    padding: 0;
  }
}

// Right column

div.right-column {

  img {
    width: 100%;
  }

  div.sidebar {
    display: none;
  }

  div.featured-image {
    margin-bottom: 20px;
  }

  @media($bp-larger-than-tablet){

    position: relative;
    float: right;
    padding: 0 0 40px 40px;

    div.featured-image {
      display: block;
      width: 500px;
      margin-bottom: 0;
    }

    div.sidebar {
      display: block;
      position: absolute;
      right: 0;
      width: 300px;
      &.offset {
        margin-top: 3em;
      }
    }
  }
}

div.side {
    float: right;
}

.fw-story, .timeline {
  div.right-column {
    display: none;
    right: -150px;
    @media($bp-larger-than-desktophd){
      display: block;
    }
  }
}

// Article-list
#article-list {
  // Hide when printed
  @media print {
    display: none;
  }
}
