@import 'modules/fonts';

// for articles
.article {
  .o-article-embed {
    margin: 30px 0;
    max-width: 585px;
  }
}
.page {
  .o-article-embed {
    margin: 30px 0;
  }
}


.o-article-embed--advertisement {
  text-align: center;
  margin: 20px 0;

  @media($bp-larger-than-phablet) {
    margin: 30px 0;
  }

  // Hide when printed
  @media print {
    display: none;
  }
}

.o-article-embed__advertisement {
  padding: 10px;
  display: inline-block;
  background: #f9f9f9;

  .o-advertisement {
    margin-top: 10px;
  }

  &:before {
    content: 'advertisement';
    font-size: font-size(11);
    color: #9e9e9e;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }

  // Hide when printed
  @media print {
    display: none;
  }
}

.attachment {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 585px;
  div.meta {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 1%, rgba(0,0,0,0.88) 99%);
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 45px 25px 25px 25px;
    button {
      background: rgb(0, 113, 201);
      border: none;
      border-radius: 4px;
      padding: 12px 20px;
      font-family: $font-default;
      font-size: 15px;
      color: #fff;
    }
    h2 {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 5px;
    }
    span {
      opacity: 0.8;
    }
    h2, span {
      font-family: $font-default;
      color: #FFFFFF;
      font-weight: normal;
    }

    div.four.columns {
      display: none;
    }
  }
  @media($bp-larger-than-mobile){
    div.meta div.four.columns {
      display: block;
    }
  }

  &:first-child {
    margin-top: 20px;
  }
}

.gallery-attachment {
  .gallery-cover {
    position: relative;
    margin-bottom: 4px;
    img {
      width: 100%;
      vertical-align: bottom;
    }
    &:hover {
      cursor: pointer;
    }
  }
  ul.thumbs {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0 -2px;
    li {
      display: inline-block;
      width: 25%;
      height: 100px;
      box-sizing: border-box;
      padding: 0 2px;
      div {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  @media($bp-larger-than-mobile){
    ul.thumbs {
      display: block;
    }

  }
}
.o-article-embed--code {
  // Structure
  display: inline-block;
  position: relative;
  width: 100%;
}

.o-article-embed--video {
  // Structure
  position: relative;
  width: 100%;
}

.o-article-embed--video__wrapper {
  // Structure
  display: inline-block;
  position: relative;
  width: 100%;

  &:after {
    // Structure
    padding-top: 56.25%; // 16:9 ratio
    display: inline-block;
    content: '';
  }
}

.o-article-embed--video__inner {
  // Structure
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  // Background
  background-size: 100% auto;
  background-position: center;
}

.o-article-embed--video__play-large {

  // Structure
  display: none;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 45%;
  left: 50%;
  margin-top: -35px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -35px;

  // Background
  background: rgba(0, 0, 0, 0.25);

  // Border
  border-radius: 100%;
  border: 5px solid #fff;

  // Extras
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;

  transition: all .2s ease-in-out;

  @media($bp-larger-than-phablet) {
    // Structure
    display: block;
  }

  &:hover {
    // Background
    background: rgba(0, 0, 0, 0.6);

    // Extras
    transform: scale(1.05);
  }

}

.o-article-embed--video__play-large__inner {
  // Structure
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -10px;

  // Border
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #fff;

  // Extras
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  z-index: 2;
}

.o-article-embed--video__play-small {
  // Structure
  position: relative;
  width: 120px;
  height: 30px;
  margin-bottom: 0.75rem;

  // Text
  color: $color-white;
  font-size: font-size(15);
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
  line-height: 30px;

  // Background
  background: rgba(0, 0, 0, 0.45);

  // Border
  border-radius: 500px;
  border: 2px solid #fff;

  // Extras
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;

  &:hover {
    // Background
    background: rgba(0, 0, 0, 0.6);
  }

  @media($bp-larger-than-phablet) {
    display: none;
  }
}

.o-article-embed--video__info {
  // Structure
  display: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  // Text
  -webkit-font-smoothing: antialiased;

  // Background
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 1%, rgba(0,0,0,0.88) 99%);

  @media($bp-larger-than-phablet) {
    // Structure
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.o-article-embed--video__tag {
  // Structure
  display: none;
  margin-bottom: 0.25rem;

  // Text
  font-size: font-size(13);
  color: $color-white;
  letter-spacing: 1px;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;

  // Extra
  opacity: 0.75;

  @media($bp-larger-than-phablet) {
    // Structure
    display: block;
  }
}

.o-article-embed--video__title {
  // Structure
  margin-top: 0;
  margin-bottom: 0.25rem;

  // Text
  color: $color-white;
  font-size: font-size(18);

  @media($bp-larger-than-phablet) {
    // Text
    font-size: font-size(28);
  }
}

.o-article-embed--video__caption {
  // Structure
  display: inherit;
  margin-top: 0.25rem;
  margin-bottom: 0;

  // Text
  color: $color-white;
  font-size: font-size(15);
  line-height: 1.35em;
}

.o-article-embed--video__container {
  // Structure
  position: relative;
  display: none;
  top: 0;
}

.image-attachment {
  img {
    width: 100%;
  }

  @media($bp-larger-than-phablet){
    &.right, &.left {
      height: auto;
      margin: 0;
      margin-top: 15px !important;
    }
    &.right {
      margin-left: 15px !important;
      float: right;
      clear: right;
    }
    &.left {
      margin-right: 15px !important;
      float: left;
      clear: left;
    }

    &.small {
      width:100px;
    }

    &.medium {
      width:200px;
    }

    &.large {
      width:300px;
    }
  }
}

.pull-quote {
  p.quote {
    font-family: $font-body;
    font-size: 24px;
    line-height: 1.5em;
    font-style: italic;
    margin: 0;
  }
  p.source {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
