.c-banner {
  display: block;
  z-index: 200;
  padding: 15px 0;

  line-height: 1rem;
  background-color: $color-ub-blue;
  color: $color-white;
  font-size: font-size(16);
  font-weight: $font-weight-semi-bold;
  text-align: center;

  &:hover {
    color: inherit;
  }
}
