.c-widget-event {
  margin-top: 2rem;
}

.c-widget-event__view-all {
  margin-top: 0.777em;
  text-align: right;

  font-family: $font-default;
  font-size: font-size(14);
  font-weight: $font-weight-semi-bold;
  color: $color-text-gray-light;
  letter-spacing: 0.045em;
}
