.c-widget-upcoming-events-horizontal {
  background-color: #f5f5f5;
  margin: 15px 0;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  box-sizing: border-box;
  border-top: solid 1px $color-border-gray;
  border-bottom: solid 1px $color-border-gray;
}

.c-widget-upcoming-events-horizontal__label-row {;
  display: flex;

  // Text
  color: $color-text-gray;
  font-size: font-size(14);
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}

.c-widget-upcoming-events-horizontal__label {
  flex: 1;
}

.c-widget-upcoming-events-horizontal__view-all {
  text-align: right;
}

.c-widget-upcoming-events-horizontal__events-row {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  @media($bp-smaller-than-tablet) {
    display: block;

    .c-widget-upcoming-events-horizontal__event-wrapper:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

}

.c-widget-upcoming-events-horizontal__event-wrapper {
  flex-basis: 32%;

  .c-event {
    height: 100%;
  }
}
