.c-header {
  // Structure
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  // Background
  background: $color-primary-1;

  // Text
  text-align: center;
  line-height: 65px;

  // Extra
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  z-index: 50;

  &--pink {
    // Background
    background: $color-primary-1;
  }

  &--green {
    // Background
    background: $color-primary-2;
  }

  &--blue {
    // Background
    background: $color-primary-3;
  }

  &--poetry {
    // Structure
    position: static;
    height: auto;
    width: auto;
    line-height: normal;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    margin-bottom: 0;

    // Background
    background: none;

    .c-header__logo {
      // Structure
      padding-bottom: 0.4rem;

      // Border
      border-bottom: 4px solid $color-primary-1;
    }
  }

  @media($bp-larger-than-mobile) {
    // Structure
    position: static;
    display: flex;
    height: auto;
    width: auto;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 0;

    // Background
    background: none;

    // Text
    text-align: left;
    line-height: normal;

    // Extra
    box-shadow: none;

    &--poetry {
      // Structure
      padding-bottom: 0;
    }
  }
}

.c-header__logo,
.c-header__right {
  // Structure
  display: inline-block;

  // Text
  font-family: $font-secondary;
  text-transform: uppercase;
  font-size: font-size(20);
  font-weight: 400;
}

.c-header__logo {
  // Text
  color: #fff;
  user-select: none;
  text-decoration: none;

  transition: color 0.2s;

  @media($bp-larger-than-mobile) {
    // Structure
    padding-bottom: 0.4rem;

    // Border
    border-bottom: 4px solid $color-primary-1;

    // Text
    font-size: font-size(24);
    color: $color-text-black;

    &:hover {
      color: $color-primary-1;
    }
  }
}

.c-header--pink .c-header__logo {
  border-color: $color-primary-1;
  @media($bp-larger-than-mobile) {
    &:hover {
      color: $color-primary-1;
    }
  }
}

.c-header--green .c-header__logo {
  border-color: $color-primary-2;
  @media($bp-larger-than-mobile) {
    &:hover {
      color: $color-primary-2;
    }
  }
}

.c-header--blue .c-header__logo {
  border-color: $color-primary-3;
  @media($bp-larger-than-mobile) {
    &:hover {
      color: $color-primary-3;
    }
  }
}

.c-header__right {
  // Structure
  display: none;
  flex: 1;

  // Text
  text-align: right;
  font-size: font-size(18);
  line-height: font-size(28);
  color: $color-text-gray;

  @media($bp-larger-than-mobile) {
    // Structure
    display: block;
  }
}
