.o-article-box {
  // Structure
  flex: 1;
  height: 15rem;
  position: relative;
  display: block;
  margin-bottom: 1.5rem;

  // Background
  background-color: $color-primary-1;
  background-size: cover;
  background-position: center;

  &--green {
    background-color: $color-primary-2;
  }

  &--blue {
    background-color: $color-primary-3;
  }

  &.comesAround {
    background-color: $color-primary-1;
    & > h2 {
      background: $color-primary-1;
    }
  }

  &.waysForward {
    background-color: $color-primary-2;
    & > h2 {
      background: $color-primary-2;
    }
  }

  &.goesAround {
    background-color: $color-primary-3;
    & > h2 {
      background: $color-primary-3;
    }
  }

  // Extra
  transition: opacity 0.3s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

  &:hover {
    // Extra
    opacity: 0.75;
  }

  @media($bp-larger-than-mobile) {
    // Structure
    margin-bottom: 0;
    height: 20rem;

    &--featured {
      height: 15rem;
    }

    &--grid {
      height: 100%;
      margin-right: 1.5rem;
    }

    &:first-child {
      // Structre
      margin-right: 1.5rem;
    }

    &--featured:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      // Structre
      margin-left: 1.5rem;
    }

    &--featured:last-child {
      margin-left: 1rem;
    }

    &--grid:first-child {
      margin-right: 0;
    }

    &--grid:last-child {
      margin-left: 0;
    }

  }
}

.o-article-box > h2 {
  // Structure
  position: absolute;
  padding: 1rem;
  bottom: 2rem;
  margin: 0;

  // Background
  background: #333;

  // Text
  color: #fff;
  text-transform: uppercase;
}

.o-article-box--green > h2 {
  background: $color-primary-2;
}

.o-article-box--pink > h2 {
  background: $color-primary-1;
}

.o-article-box--blue > h2 {
  background: $color-primary-3;
}
