<article class="o-article o-article--column{% if padded %} o-article--padded{% endif %}">
  <div class="o-article__meta">
    <div class="o-article__meta__image">
      <a class="o-article__image" href="{{ article.get_absolute_url }}" style="background-image: url('{{ article.featured_image.image.get_medium_url }}');"></a>
      <h3 class="o-article__headline">
        <a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a>
      </h3>
    </div>
    {% if not hide_byline %}
    <div class="o-article__byline">
      <span class="o-article__author">By {{ article.get_author_url|safe }}</span>
      <span> &nbsp;·&nbsp; </span>
      <span class="o-article__published">{{ article.published_at }}</span>
    </div>
    {% endif %}
  </div>
  {% if not hide_snippet %}
  <p class="o-article__snippet">{{ article.snippet|safe }}</p>
  {% endif %}
</article>
