<article class="o-article o-article--list">
  {% if not hide_image and article.featured_image %}
  <div class="o-article__left">
    <a class="o-article__image" href="{{ article.get_absolute_url }}">
      <img src="{{ article.featured_image.image.get_thumbnail_url }}"/>
    </a>
  </div>
  {% endif %}
  <div class="o-article__right">
    <div class="o-article__meta">
      <h3 class="o-article__headline">
        <a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a>
      </h3>
      <div class="o-article__byline">
        <span class="o-article__author">By {{ article.get_author_url|safe }}</span>
        <span> &nbsp;·&nbsp; </span>
        <span class="o-article__published">{{ article.published_at }}</span>
      </div>
    </div>
    {% if not hide_snippet %}
    <p class="o-article__snippet">{{ article.snippet|safe }}</p>
    {% endif %}
  </div>
</article>
