<article class='o-article o-article--suggested'>
    {% if article.featured_image %}
    <a class="o-article__image" href="{{ article.get_absolute_url }}">
        <img src="{{ article.featured_image.image.get_medium_url }}" alt=""/>
    </a>
    {%endif%}
    
  <div class='o-article__meta'>
    <h3 class='o-article__headline'>
        <a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a>
    </h3>
    <div class="o-article__byline">
        <span class="o-article__author">By {{ article.get_author_url|safe }}</span>
        <span> &nbsp;·&nbsp; </span>
        <span class="o-article__published">{{ article.published_at|date:'N j, Y'}}</span>
      </div>
  </div>
</article>