@import './modules/variables';

$desktop-map-height: 640px;
$map-marker-size: 20px;
$primary-color: #5ec8ed;
$font-color: #333;
$light-grey: #ccc;

h1, h2 {
  text-align: left;
  font-family: "ub-lft-etica","LFT Etica","Helvetica Neue","Helvetica","Arial",sans-serif;
  max-width: 585px;
  margin: 0 auto;
  @media ($bp-smaller-than-tablet) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.c-i-desktop {
  width: 100%;
}
.c-i-container {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: $font-color;
  padding-bottom: 1rem;

  .c-i-map__instructions {
    margin-top: .5rem;
    width: 100%;
    text-align: center;
    transition: .25s;
  }

  .c-i-map__image-container{
    &:hover {
      .c-i-map__instructions{
        letter-spacing: .125rem;
      }
    }
  }

  .c-i-title {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    text-align: center;
    margin-top: 2.8rem;
    margin-bottom: 1.4rem;
    font-family: "ub-lft-etica","LFT Etica","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .c-i-map__content-title {
    font-size: 1.5rem;
    color: #111;
    font-family: 'ub-avenir', Avenir, serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .c-i-map__content-subtitle {
    font-style: italic;
  }

  .c-i-map {
    height: $desktop-map-height;
    display: flex;
    justify-content: center;
    .c-i-map__content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .c-i-map__content-container {
      transition: all .25s;
      border-left: 1px solid $light-grey;
      padding-left: 2rem;
      .c-i-map__content {
        width: 350px;
      }
    }
    .c-i-map__image-container {
      margin: 0 2rem;
      position: relative;
      z-index: 10;
    }
    .c-i-map__image {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      max-height: $desktop-map-height;
      background-size: cover;
    }
  }
  @media($bp-smaller-than-tablet)  {
    .c-i-map {
      height: 409px;
      overflow:hidden;
      .c-i-map__content-container {
        font-size: 1rem;
        opacity: 1;
        position: absolute;
        right: 0;
        padding: 1rem;
        z-index: 100;
        width: 100%;
        height: 350px;
        box-sizing: border-box;
        border: none;
        background-color: #ffffff99;
        overflow: auto;
        border-bottom: 1px solid $light-grey;
        .c-i-map__content {
          width: 100%;
        }
      }
    }
  }
}

@media($bp-smaller-than-tablet)  {
  .oyl-header__video.vertical {
    width: 100%;
    height: 100%;
  }
}

.cls-5:hover {
  stroke: white;
  stroke-width:2px;
  cursor: pointer;
}

.fa {
  transition: all .25s;
  cursor: pointer;
  padding: .25rem;
  margin-right: .5rem;

  
  @media($bp-smaller-than-tablet){
    position: absolute;
    right: 0;
    top: 33px;
  }
}
.fa:hover {
  font-size: 1.1rem;
}

body {
  overflow-x: hidden;
}

.pull-quote.attachment {
  background-color: $primary-color;
}

@media(min-width: 760px) {
  // Keeps images centered
  .oyl-article__body .image-attachment:nth-of-type(odd) {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    max-width: auto;
    &.image-attachment {
      margin: 0 auto;
      width: auto;
      max-width: 585px;
    }
  }

  .oyl-article__body .image-attachment:nth-of-type(even) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: auto;

    &.image-attachment {
      margin: 0 auto;
      width: auto;
      max-width: 585px;
    }
  }
}

.image-attachment {
  margin: 0 auto;
  max-width: 585px;
}

.oyl-nav__title, .oyl-preview__container h3, .oyl-article__title {
  color: $primary-color;
}

.loading {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oyl-article__byline {
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
  }
}

.oyl-nav__list li a.is-selected, .oyl-nav__list li a:hover {
  border-color: $primary-color;
}