
{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block header %}
{% include 'headers/topbar.html' with section='podcast' %}
{% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main class="subsection" data-id="{{ subsection.id }}" data-type="{{ type }}">
  {% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 %}
  <div class="u-container u-container--padded u-podcast-container">
    <div class="c-page__header">
      <h1 class="c-page__heading">{{ podcast.title|safe }}</h1>
      {% if podcast.description %}
        <p class="c-podcast-description">{{ podcast.description|safe }}</p>
      {% endif %}
      {% if podcast.image %}
        <div class="c-podcast-image" style="background-image: url('{{podcast.image.get_medium_url}}');"></div>
      {% endif %}
    </div>

    <div class='c-podcast-episode-list'>
        {% for episode in episodes %}
          {% include 'objects/podcasts/episode.html' with episode=episode %}
        {% endfor %}
    </div>

  </div>
</main>
{% endblock %}
