{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load ubyssey_ad_tags %}

{% block header %}
  {% include 'navigation/headers/topbar.html' %}
  {% include 'navigation/headers/mobile.html' %}
{% endblock %}

{% block content %}
  {% adslot self.home_leaderboard_ad_slot.slug %}
  {% adslot self.home_mobile_leaderboard_ad_slot.slug %}
  <main class="subsection" data-id="{{ subsection.id }}" data-type="{{ type }}">

  <main class="u-container u-container--large subsection">
    <div class="u-container u-container--padded u-podcast-container">

      <div class="c-page__header">
        <h1 class="c-page__heading">Video</h1>
      </div>
      
      {% for video in videos %}
      {% include "videos/video_snippet.html" %}

        <!-- <h2>{{ entry.title }}</h2>
        <p>{{ entry.body }}</p> -->
      {% endfor %}

      <!-- <div class="o-archive__pagination">
        {% if page_obj.has_previous %}
        <a class="o-button o-archive__pagination__prev" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}"><i class="fa fa-caret-left" aria-hidden="true"></i> Previous</a>
        {% endif %}

        <span class="o-archive__pagination__current" >
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <a class="o-button o-archive__pagination__next" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
        {% endif %}
      </div>

      <div class='c-podcast-episode-list'>
        {% for video in page_obj %}
          {% include 'objects/videos/video.html' with video=video %}
        {% endfor %}
      </div>

      <div class="o-archive__pagination">
        {% if page_obj.has_previous %}
        <a class="o-button o-archive__pagination__prev" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}"><i class="fa fa-caret-left" aria-hidden="true"></i> Previous</a>
        {% endif %}

        <span class="o-archive__pagination__current" >
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <a class="o-button o-archive__pagination__next" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
        {% endif %}
      </div> -->

    </div>

  </main>
{% endblock %}

