{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block header %}
{% include 'headers/topbar.html' with section='videos' %}
{% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main class="subsection" data-id="{{ subsection.id }}" data-type="{{ type }}">
  {% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 %}
  <div class="u-container u-container--padded u-podcast-container">
    <div class="c-page__header">
      <h1 class="c-page__heading">Video</h1>
    </div>

    <div class="o-archive__pagination">
      {% if page_obj.has_previous %}
      <a class="o-button o-archive__pagination__prev" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}"><i class="fa fa-caret-left" aria-hidden="true"></i> Previous</a>
      {% endif %}

      <span class="o-archive__pagination__current" >
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a class="o-button o-archive__pagination__next" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
      {% endif %}
    </div>

    <div class='c-podcast-episode-list'>
      {% for video in page_obj %}
        {% include 'objects/videos/video.html' with video=video %}
      {% endfor %}
    </div>

    <div class="o-archive__pagination">
      {% if page_obj.has_previous %}
      <a class="o-button o-archive__pagination__prev" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}"><i class="fa fa-caret-left" aria-hidden="true"></i> Previous</a>
      {% endif %}

      <span class="o-archive__pagination__current" >
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a class="o-button o-archive__pagination__next" href="{{ request.path }}{% if query_string %}{{ query_string }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
      {% endif %}
    </div>

  </div>
</main>
{% endblock %}