<header class = "c-header">
    <ul class = "c-nav-bar">
        <li class="c-nav-ubyssey">
            <a href="https://www.ubyssey.ca">The Ubyssey</a>
        </li>
    <li id="c-nav-home">
      <a class="o-logo--small"></a>
        <ul class = c-home-more>
            <li>
                <a id="home" href="{% url 'guide-landing' 2020 %}">Home</a>
            </li>
            <li>
                <a id="academics" href="{% url 'guide-landing' 2020 %}">Academics</a>
            </li>
            <li>
                <a id="ubc" href="{% url 'guide-landing' 2020 %}">UBC</a>
            </li>
            <li>
                <a id="adulting" href="{% url 'guide-landing' 2020 %}">Adulting</a>
            </li>
            <li>
                <a id="sdp" href="{% url 'guide-landing' 2020 %}">S.D.P</a>
            </li>
            <li>
                <a id="vancouver" href="{% url 'guide-landing' 2020 %}">Vancouver</a>
            </li>
        </ul>
    </li>
        <li class="c-nav-current">
        </li>
    </ul>
</header>
