<header class = "c-header">
    <ul class = "c-nav-bar">
    {% if next.0 %}
        <li class="c-nav-prev">
            <a href="{% url 'guide-article' 2020 next.0.slug %}"> {{ next.0.headline }} </a>
        </li>
    {% endif %}
    <li id="c-nav-home">
      <a class="o-logo--small" href="{% url 'guide-landing' 2020 %}"></a>
        <ul class = c-home-more>
        {% if next.0 %}
        <li class = c-prev>
            <a href="{% url 'guide-article' 2020 next.0.slug %}"> {{ next.0.headline }} </a>
        </li>
        {% endif %}
        {% if next.1 %}
        <li>
            <a href="{% url 'guide-article' 2020 next.1.slug %}"> {{ next.1.headline }} </a>
        </li>
        {% endif %}
        </ul>
    </li>
    {% if next.1 %}
        <li class="c-nav-next">
            <a href="{% url 'guide-article' 2020 next.1.slug %}"> {{ next.1.headline }} </a>
        </li>
    {% endif %}
    </ul>
</header>