{% extends 'guide/2020/base.html' %}

{% block content %}

<header class="c-banner c-banner--welcome">
  <div class="c-banner__container">
    <div class="c-banner--welcome__inner">
      <h2 class="c-banner--welcome__intro">The Ubyssey presents</h2>
      <div class="o-logo">Guide To UBC</div>
      <p class="c-banner--welcome__snippet">Your no-nonsense guide to life at UBC</p>
    </div>
    <div class="o-welcome-arrow">
      <div class="o-welcome-arrow__text">Start here!</div>
      <div class="o-welcome-arrow__icon"></div>
    </div>
  </div>
</header>

<main class="c-tiles">

</main>

{% endblock %}
