{% extends 'guide/2020/base.html' %}
{% load static %}
{% block content %}

<div class="c-banner c-banner--welcome" style="background-image: url({% static 'ubyssey/images/guide/guide-2020-cover.jpg' %})">
  <div class="c-banner__container">
    <div class="c-banner--welcome__inner">
      <h2 class="c-banner--welcome__intro">The Ubyssey presents</h2>
      <p class="c-banner--welcome__snippet">Guide To UBC</p>
    </div>
    <div class="c-banner-credits">
      Zubair Hirji
    </div>
  </div>
</div>

<main class="home-content-container">
  <div class="editorial-container">
    <div class="editorial__credits-container">
      <div class="editorial__credits-content">
        <h1>Coordinating Editor</h1>
        <h2>Pawan Minhas</h2>
        <h1>Visuals Editor</h1>
        <h2>Lua Presidio</h2>
        <h1>News Editors</h1>
        <h2>Charlotte Alden and Andrew Ha</h2>
        <h1>Culture Editor</h1>
        <h2>Danni Olusanya</h2>
        <h1>Sports + Rec Editor</h1>
        <h2>Diana Hong</h2>
        <h1>Video Editor</h1>
        <h2>Akshay Khandelwal</h2>
        <h1>Opinion + Blog Editor</h1>
        <h2>Sam Smart</h2>
        <h1>Science Editor</h1>
        <h2>Myla White</h2>
        <h1>Photo Editor</h1>
        <h2>Sophie Galloway</h2>
        <h1>Features Editor</h1>
        <h2>Bailey Martens</h2>
        <br>
        <h1>Web Developer</h1>
        <h2>David Kao</h2>
        <h1>Web Developer</h1>
        <h2>Keegan Landrigan</h2>
        <br>
        <h1>Contributors</h1>
        <h2 style="font-size: 0.95rem;">Sarah Zhao
          <br>Anupriya Dasgupta
          <br>Sanjana Subramanian
          <br>Campbell Speedy
          <br>Jasmine Arora
          <br>Kaila Johnson
          <br>Lara Radovic
          <br>Angela Villavicencio
          <br>Taman Mohamed
          <br>Arumann Dhillon
          <br>Semeion Wong
          <br>Shereen Lee
          <br>Benoit Dupras
          <br>Kyle Delgatty
          <br>Shanzeh Chaudhry
          <br>Sebastian Geraldo
          <br>Zubair Hirji
          <br>Theresa Wong
          <br>Thomas O’Donnell
        </h2>
      </div>
    </div>

    <div class="editorial__note-container">
      <div class="editorial__ home-content">
        <div class="title">Editor's Note</div>
        <div class='content-wrapper'>
          <p>There’s a saying back home that goes ‘If something’s tough, that just means it’s worth doing.’ I’m sure I don’t need to tell you this year’s going to be tough. The articles in this guide are to help you see that this year — with its Zoom calls, video lectures and Canvas aplenty — is worth doing. </p>
          <br>
          <p>The common thread throughout this guide is that you’re going to find some of the best folks you’ve ever known in your classes and clubs meetings — it’s just a matter of getting out there and attending. The caveat to that thread is that online learning means you’ve got to put in a bit more legwork to develop those connections, but after plenty of time spent inside, you’re likely itching to meet new people. So take those leaps of faith, turn on your trash webcam once in a while and try engaging with the course material — if you’re lucky, you’ll find some folks who make the next few years pass like a breeze. I know I did.</p>
          <br>
          <p>And one last thing: if you’re new to BC, here’s an important piece of culture to welcome you. A quote from one of the smartest folks around: “Be kind, be calm, be safe.”</p>
          
          <a class="editorial__ home-content__nav" href="{% url 'guide-landing-sub' 2020 'academics' %}">To the guide  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-quote">
    <div class="panel-quote __1-container">
      <div class="panel-quote __1-container-text">
        <div class="panel-quote __1-container-image">
          <img src="{% static 'ubyssey/images/guide/guide-2020-cover-1.jpg' %}" alt="cover">
        </div>
        <div class="panel-quote __1-text">
          <div class="panel-quote __1-text__ quote">
            <p>“Yeah, online classes aren't exactly the intro you wanted to university life. But you WILL get your iconic first-year moments when we can all return to campus. Remember - you're in university to learn, and you will still get to do that this year. Plus, it's a way better way to make the most of your time in quarantine - it's not like any of us can do the typical gap year of travel or work right now anyway.”</p>
          </div>
          <div class="panel-quote __1-text__ source">
            — Julia Burnham
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="who-container">
    <div class="who__ home-content">
      <div class="title">
        Who's the Ubyssey?
      </div>
      <div class='content-wrapper'>
        <p><it>The Ubyssey</it> — it rhymes with the Odyssey — is your student newspaper, telling the stories that matter to the UBC student body. We know what’s important to students because we’re students too. We’ve been the official campus newspaper since 1918, and we’re fully independent from the university and the AMS, both of whom we aim to call out when they mess up.</p>
        <br>
        <p>You’ve probably seen us on your Facebook or Twitter feeds (if you haven’t, give us a like and follow!), and you can also check us out online at ubyssey.ca. In these pandemic days, we’re publishing a print issue every month. But normally, we publish a print issue most Tuesdays that you can pick up around campus. </p>
        <br>
        <p>A team of lovely editors and web developers runs <it>The Ubyssey</it> from our home in the Nest — at least, when we’re not busy skipping class or shooting the shit in our office. You might be thinking, aren’t the only people who would dedicate themselves to student journalism total nerds? And you’d be completely right. Cool nerds, though. Each section has its own unique brand of chaos that you can get involved with.</p>
        <br>
        <h1>News</h1>
        <p> keeps you in the know about all things UBC before anyone else.</p>
        <br>
        <h1>Culture</h1>
        <p>gets students going on stuff like the best campus eats, or arts and performance.</p>
        <br>
        <h1>Features</h1>
        <p> is where we investigate what goes on behind the scenes at UBC through long-form articles.</p>
        <br>
        <h1>Opinion</h1>
        <p> is a place for students to talk smack and generate discussion about the issues that affect them.</p>
        <br>
        <h1>Sports + Rec</h1>
        <p>covers all things sports, so you never miss a game.</p>
        <br>
        <h1>Blog</h1>
        <p>posts the funkiest content, from humour columns to satire about UBC’s quirks.</p>
        <br>
        <h1>Science</h1>
        <p>covers all things science-related, including the research that some of your very own professors are working on.</p>
        <br>
        <h1>Video</h1>
        <p>sees UBC from a director’s eyes, creating our next viral YouTube video.</p>
        <br>
        <h1>Visuals</h1>
        <p>uses illustration and design to make our stories shine.</p>
        <br>
        <h1>Photos</h1>
        <p> captures everything on campus. Nobody would read our articles if photos didn’t tell the visual side of our stories.</p>
        <br>
        <h1>Web</h1>
        <p> is what makes our stories go viral. Our web devs coded our website from scratch.</p>
        <a class="who__ home-content__nav" href="{% url 'page' 'about' %}">more about us <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="panel-quote">
    <div class="panel-quote __2-container">
      <div class="panel-quote __2-container-text">
        <div class="panel-quote __2-container-image">
          <img src="{% static 'ubyssey/images/guide/guide-2020-cover-2.jpg' %}" alt="cover">
        </div>
        <div class="panel-quote __2-text">
          <div class="panel-quote __2-text__ quote">
            <p>“University can seem scary, especially for a large university, but everyone is so excited to make new friends that the size really doesn’t matter. And for all the first-years who are upset about their experience: just know that you are going through the same thing that everyone else is going through, and you are not alone.”</p>
          </div>
          <div class="panel-quote __2-text__ source">
            — Ioana David
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="involved-container">
    <div class="involved__ home-content">
      <div class="title">
        How to get involved
      </div>
      <div class='content-wrapper'>
        <p><it>The Ubyssey</it> is your student newspaper, and that means we’re run by students just like you. Volunteers are the backbone of our paper and we’d love to have you contribute. You can hone your drawing skills, work on web development, snap photos, film videos or snag a written byline. You can contribute twice a year or twice a week — it’s up to you. Whatever you’re into, there’s a place for you at The Ubyssey. No experience necessary.</p>
        <br>
        <p>Interested? Here’s how you can get involved.</p>
        <br>
        <h1>Contact the editors</h1>
        <p><it>The Ubyssey</it> is run by a ragtag bunch of 11 editors overseeing 10 written and visual sections. All of them are here to field your pitches and work with you to publish your work. If you’re interested in a particular topic, you can reach each editor by finding their email address at <it>ubyssey.ca/contact</it>. We’re here to pitch you, flesh out your ideas and help you become a better journalist. We don’t bite — pinky promise.</p>
        <br>
        <h1>Sign up for pitch lists</h1>
        <p>Many sections regularly send out emails with pitches that you can pick up. We’ll send out stories or illustrations and the first person to reply gets the pitch. Don’t worry, we’ll make sure you have all the info needed to do the work and we’ll support you from start to finish. What are you waiting for? Sign up at <it>ubyssey.ca/volunteer</it>.</p>
        <br>
        <h1>Visit our office</h1>
        <p>When there isn’t a pandemic ravaging the world, you can come find the editors working away 11 a.m. – 5 p.m. in our office, room 2208 in the Nest. You can talk to us about pitch ideas or anything at all. Every week, we hold weekly staff meetings where you can come meet fellow contributors. Check out our Facebook page for more details. We’re lonely. Please come bother us.</p>
        <a class="involved__ home-content__nav" href="{% url 'page' 'contact' %}">contact us <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
