{% extends 'guide/2020/base.html' %}
{% load static %}
{% block content %}

{% if subsection == 'academics' %}
  <div class="c-banner c-banner--welcome" style="background-image: url({% static 'ubyssey/images/guide/guide-2020-cover-academics.jpg' %})">
{% elif subsection == 'ubc' %}
  <div class="c-banner c-banner--welcome" style="background-image: url({% static 'ubyssey/images/guide/guide-2020-cover-ubc.jpg' %})">
{% elif subsection == 'adulting' %}
  <div class="c-banner c-banner--welcome" style="background-image: url({% static 'ubyssey/images/guide/guide-2020-cover-adulting.jpg' %})">
{% elif subsection == 'sdp' %}
  <div class="c-banner c-banner--welcome" style="background-image: url({% static 'ubyssey/images/guide/guide-2020-cover-sdp.jpg' %})">
{% elif subsection == 'vancouver' %}
  <div class="c-banner c-banner--welcome" style="background-image: url({% static 'ubyssey/images/guide/guide-2020-cover-vancouver.jpg' %})">
{% endif %}
    <div class="c-banner__container">
      <div class="c-banner--welcome__inner">
        <h2 class="c-banner--welcome__intro">Welcome To</h2>
        <p class="c-banner--welcome__snippet">{% if subsection == 'sdp' %}Sex, Drugs, Party{% else %}{{ subsection }}{% endif %}</p>
      </div>
    </div>
    <div class="c-banner-credits">{% if subsection == 'vancouver' %}Theresa Wong{% else %}Zubair Hirji{% endif %}</div>
  </div>

  <main class="section-grid-container">
    <div class="section-title"><p>What are you looking for ?</p></div>
   
      {% if subsection == 'academics' %}
      {% for article in articles.academics %}
            {% if forloop.counter == 2 %}
              {% include 'guide/2020/quote-box.html' with quote='"Talk to your professors. First it will help with understanding material in class as you can ask all the stupid questions you want. Secondly, It will help you create a repertoire with them that will undoubtedly lead to them giving you the benefit of the doubt when you eventually make a mistake. And finally, it will teach you some important social skills that you will need when you get a job and need to talk to higher ups."' source='Zubair Hirji' type=1 %}
            {% elif forloop.counter == 5 %}
              {% include 'guide/2020/quote-box.html' with quote='"Don\'t be afraid to advocate for yourself. If you are struggling with material, reach out to your professors in office hours. If you need accommodations, reach out to academic advising. There are supports that exist to help you through, but only if you have the courage to reach out."' source='Julia Burnham' type=2 %}
            {% endif %}
            {% include 'guide/2020/article-box.html' with type=forloop.counter title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%} 
      {% endfor %}
      {% elif subsection == 'ubc' %}
          {% for article in articles.ubc %}
            {% if forloop.counter == 2 %}
              {% include 'guide/2020/quote-box.html' with quote='"Know what you don’t know, and be kind to yourself. Staying up the night before cramming will not help – try to space out your studying over a week (two, before finals); and make sure you take the time to relax AND sleep well the night before your exam. The more relaxed you are mentally, the better you sleep, and the clearer your mind is the next morning. Even though it might seem counter-intuitive, it definitely helps!"' source='Ioana David' type=1 %}
            {% elif forloop.counter == 5 %}
              {% include 'guide/2020/quote-box.html' with quote='"I genuinely love my co-op experience. I get to learn about whatever I want, and play around with what has essentially become my own 3D printer. I’m currently working on a project to make a wireless pressure sensor, and I literally feel like a little kid in a toy shop at Christmas."' source='Ioana David' type=2 %}
            {% elif forloop.counter == 7 %}
              {% include 'guide/2020/quote-box.html' with quote='"Engage your curiosity and broaden your horizons. Not every student has co-op or study abroad opportunities available but if you do, seize those opportunities. Join a club, volunteer for a cause -engage yourself with the world."' source='Santa Ono' type=3 %}
            {% elif forloop.counter == 10 %}
            {% include 'guide/2020/quote-box.html' with quote='"Both Day of the Longboat and Storm the Wall are incredibly fun and exhilarating experiences that you should not graduate without having participated in! Longboat is all about teamwork, communication, and competition. Storm the wall is about planning, reliability, and jumping over a 12 foot wall. Both are by far the best traditions on campus. I recommend you wear a ridiculous costume to either event, I\'ve done them in a banana costume and in a hot dog costume."' source='Zubair Hirji' type=5 %}
            {% elif forloop.counter == 12 %}
              {% include 'guide/2020/quote-box.html' with quote='"My favourite tradition at UBC is not having enough time to get between classes."' source='Nathaniel Andre-Peirano' type=4 %}
            {% elif forloop.counter == 15 %}
              {% include 'guide/2020/quote-box.html' with quote='"Make the most out of the university environment by overcoming your fears through exploration and experimentation. Do not let your fears or your circumstances inhibit you and treat these realities as challenges that can be tinkered with or overcome so that they no longer rule your life."' source='"Nathaniel Andre-Peirano"' type=6 %}
            {% elif forloop.counter == 17 %}
              {% include 'guide/2020/quote-box.html' with quote='"Join at least one club. Could be a sports team, could be the musical theatre troupe, could even be the Ubyssey. Participate in club activity, they\'re the best way for you to find friends outside of class and they\'re also a great way for you to have experiences that you wouldn\'t normally get from your academic courses."' source='Zhi Wen Teh' type=7 %}
            {% endif %}
            {% include 'guide/2020/article-box.html' with type=forloop.counter title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
          {% endfor %}
      {% elif subsection == 'adulting' %}
          {% for article in articles.adulting %}
            {% if forloop.counter == 2 %}
              {% include 'guide/2020/quote-box.html' with quote='"Try to achieve balance. Study hard yes, but also take time to take care of yourself."' source='Santa Ono' type=1 %}
            {% elif forloop.counter == 5 %}
              {% include 'guide/2020/quote-box.html' with quote='"I try my best to reduce my expenses by cooking meals myself, making my own coffee and finding the best deals. Essentially, find out what expenses you have the most control over and then accept responsibility by keeping them low."' source='Nathaniel Andre-Peirano' type=2 %}
            {% elif forloop.counter == 7 %}
              {% include 'guide/2020/quote-box.html' with quote='"Buy a plunger before you need it."' source='Zubair Hirji' type=6 %}
            {% elif forloop.counter == 10 %}
            {% include 'guide/2020/quote-box.html' with quote='"Learn to recognize when you need to take a break. I used to get stuck in this hole where I thought I would be able to work practically 24/7, and it really didn’t work out for me. Taking a break may seem counter-intuitive but it allows you to be more productive the next day, at the expense of a couple hours. Truth me, it’s worth it – if you feel like you can’t focus, and you’re stressing out over not being able to study properly, and thinking of all the work you’ll have to do the next day… just take a break."' source='Ioana David' type=3 %}
            {% elif forloop.counter == 12 %}
              {% include 'guide/2020/quote-box.html' with quote='"Everyone adults at their own speed. I have friends of friends getting engaged, friends graduating, and it can all feel competitive. Take everything at your own pace: there is nothing wrong with enjoying your journey (after all, it IS your own)."' source='Ioana David' type=5 %}
            {% elif forloop.counter == 15 %}
              {% include 'guide/2020/quote-box.html' with quote='"Choose your roommates wisely. Those who you are friends with may not be the cleanest or most co-operative with keeping the living spaces tidy."' source='Nathaniel Andre-Peirano' type=4 %}
            {% elif forloop.counter == 17 %}
              {% include 'guide/2020/quote-box.html' with quote='"Be respectful of shared spaces, and listen to your roommates. Communication is really important, so make sure you establish a healthy relationship with them!"' source='Ioana David' type=7 %}
            {% endif %}
            {% include 'guide/2020/article-box.html' with type=forloop.counter title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
          {% endfor %}
      {% elif subsection == 'sdp' %}
          {% for article in articles.sdp %}
            {% if forloop.counter == 2 %}
              {% include 'guide/2020/quote-box.html' with quote='"An entire bottle of wine can fit in a large McDonalds cup, just FYI."' source='Julia Burnham' type=1 %}
            {% elif forloop.counter == 5 %}
              {% include 'guide/2020/quote-box.html' with quote='"If you\'re drinking and using substances, it should be fun. If the hangovers, side-effects or disruptions to your lifestyle start to outweigh any positives, it might be time to reflect on your relationship with substances and whether it\'s masking any other issues."' source='Julia Burnham' type=2 %}
            {% elif forloop.counter == 7 %}
              {% include 'guide/2020/quote-box.html' with quote='"Do what feels right, and listen to your gut. If the person you’re with can’t respect that, they’re not worth your time."' source='Ioana David' type=3 %}
            {% endif %}
            {% include 'guide/2020/article-box.html' with type=forloop.counter title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
          {% endfor %}
      {% elif subsection == 'vancouver' %}
          {% for article in articles.vancouver %}
            {% if forloop.counter == 2 %}
              {% include 'guide/2020/quote-box.html' with quote='"Vancouver is one of the most transit accessible places in North America and you have one of the cheapest ways to use it, a Upass. Use that as often as you can to get from campus to almost any other part of the Metro Vancouver for dirt cheap."' source='Zubair Hirji' type=1 %}
            {% elif forloop.counter == 5 %}
              {% include 'guide/2020/quote-box.html' with quote='"EAT. There is so much good food. So much bubble tea, ramen, sushi. Granville Island is great to start – they have a lot of variety, so you can literally eat as much as you want. And take advantage of the mountains – I’m not a big fan of hikes, but I’ve fallen in love with the views you get once you reach the top. I\'m definitely becoming a true Vancouverite."' source='Ioana David' type=2 %}
            {% endif %}
            {% include 'guide/2020/article-box.html' with type=forloop.counter title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
          {% endfor %}
      {% endif %}

      
    {% comment %}
      {% include 'guide/2020/article-box.html' with type=1 title=article.headline subsection=subsection slug=article.slug image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/quote-box.html' with type=1 %}
      {% include 'guide/2020/article-box.html' with type=2 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=3 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=4 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/quote-box.html' with type=2 %}
      {% include 'guide/2020/article-box.html' with type=5 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=6 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/quote-box.html' with type=3 %}
      {% include 'guide/2020/article-box.html' with type=7 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=8 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=9 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/quote-box.html' with type=4 %}
      {% include 'guide/2020/article-box.html' with type=10 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=11 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/quote-box.html' with type=5 %}
      {% include 'guide/2020/article-box.html' with type=12 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=13 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=14 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/quote-box.html' with type=6 %}
      {% include 'guide/2020/article-box.html' with type=15 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/article-box.html' with type=16 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
      {% include 'guide/2020/quote-box.html' with type=7 %}
      {% include 'guide/2020/article-box.html' with type=17 title=article.headline subsection=subsection slug=article.slug  image=article.featured_image.image.get_absolute_url%}
    {% endcomment %}

</main>

{% endblock %}
