{% extends 'guide/2020/base.html' %}

{% block content %}

<div class="c-banner c-banner--welcome">
    <div class="c-banner__container">
      <div class="c-banner--welcome__inner">
        <h2 class="c-banner--welcome__intro">Welcome To</h2>
        <p class="c-banner--welcome__snippet">{{ subsection }}</p>
      </div>
    </div>
  </div>

<main class="section-grid-container">
    {% include 'guide/2020/article-box.html' with type=1 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    <div class="section-title"><p>What are you looking for ?</p></div>
    {% include 'guide/2020/article-box.html' with type=2 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=3 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=4 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=5 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=6 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=7 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=8 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=9 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=10 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=11 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=12 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=13 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=14 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=15 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=16 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/article-box.html' with type=17 title='Title' url=article.url image='https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c' %}
    {% include 'guide/2020/quote-box.html' with type=1 %}
    {% include 'guide/2020/quote-box.html' with type=2 %}
    {% include 'guide/2020/quote-box.html' with type=3 %}
    {% include 'guide/2020/quote-box.html' with type=4 %}
    {% include 'guide/2020/quote-box.html' with type=5 %}
    {% include 'guide/2020/quote-box.html' with type=6 %}
    {% include 'guide/2020/quote-box.html' with type=7 %}
  <!-- {% if subsection == 'academics' %}
    <div id="section--academics">
      {% for article in articles.academics %}
        {% include 'guide/2020/block.html' with title=article.headline url=article.url image=article.featured_image highlight=True %}
      {% endfor %}
    </div>
  {% elif subsection == 'ubc' %}
    <div id="section--ubc">
      {% for article in articles.ubc %}
        {% include 'guide/2020/block.html' with title=article.headline url=article.url image=article.featured_image highlight=True %}
      {% endfor %}
    </div>
  {% elif subsection == 'adulting' %}
    <div id="section--adulting">
      {% for article in articles.adulting %}
        {% include 'guide/2020/block.html' with title=article.headline url=article.url image=article.featured_image highlight=True %}
      {% endfor %}
    </div>
  {% elif subsection == 'sdp' %}
    <div id="section--sdp">
      {% for article in articles.sdp %}
        {% include 'guide/2020/block.html' with title=article.headline url=article.url image=article.featured_image highlight=True %}
      {% endfor %}
    </div>
  {% elif subsection == 'vancouver' %}
    <div id="section--vancouver">
      {% for article in articles.vancouver %}
        {% include 'guide/2020/block.html' with title=article.headline url=article.url image=article.featured_image highlight=True %}
      {% endfor %}
    </div>
  {% endif %} -->
</main>

{% endblock %}
