{% load humanize %}
<h1 class="section"><a href="{{podcast.url}}">Podcast</a></h1>
<section class="c-homepage__section c-homepage__section--2">
	{% with podcast.episodes.first as episode_tuple %}
	{% include 'objects/podcasts/featured.html' with episode=episode_tuple.0 episode_url=episode_tuple.1 padded=True %}
	{% endwith %}
	<div class="u-flex--tablet">
		{% for episode_tuple in podcast.episodes.rest %}
		{% include 'objects/podcasts/column.html' with episode=episode_tuple.0 episode_url=episode_tuple.1 padded=True %}
		{% endfor %}
	</div>
</section>