{% load humanize %}
<h1 class="section"><a href={% url 'section' section %}>{{ section|title }}</a></h1>
<section class="c-homepage__section c-homepage__section--2">
  {% with articles.first as article %}
    {% include 'objects/articles/featured.html' with article=article padded=True %}
  {% endwith %}
  <div class="u-flex--tablet">
      {% for article in articles.rest %}
        {% include 'objects/articles/column.html' with article=article padded=True %}
      {% endfor %}
  </div>
</section>
