{% load humanize %}
{% load wagtailcore_tags %}

<h1 class="section"><a href={% pageurl section %}>{{ section|title }}</a></h1>
<section class="c-homepage__section c-homepage__section--1">
    <div class="c-homepage__section__left">
      {% with articles.0 as article %}
        {% if article %}
          {% include 'article/objects/default.html' with article=article padded=True %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="c-homepage__section__right">
      <div class="c-homepage__section__stacked">
        {% with articles.1 as article %}
          {% if article %}
            {% include 'article/objects/default.html' with article=article hide_image=True padded=True %}
          {% endif %}
        {% endwith %}
        {% with articles.2 as article %}
          {% if article %}
            {% include 'article/objects/default.html' with article=article hide_image=True padded=True %}
          {% endif %}
        {% endwith %}
      </div>
      <ul class="c-homepage__section__bullets">
        {% with articles.3 as article %}
          {% if article %}
            <li>{% include 'article/objects/bullet.html' with article=article %}</li>
          {% endif %}
        {% endwith %}     
      </ul>
    </div>
</section>
