<div class=" sidebar-block">
    <h2 class="block-title">{{ title }}</h2>
    <div class='sidebar-issue'>
        <h5 class="headline" id='issue-photo'><a class='issue' id ='issue1' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_june_21_2022">June 21, 2022<img src="https://image.isu.pub/220621200913-c2245d58d0928a81de9965ffc124def5/jpg/page_1_thumb_large.jpg"></a></h5>
        <h5 class="headline"><a class='issue' id ='issue2' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_may_24_2022">May 24, 2022 </a></h5>
        <h5 class="headline"><a class='issue' id ='issue3' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_april_5_2022">April 5, 2022 </a></h5>
        <h5 class="headline"><a class='issue' id ='issue4' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_march_30_2022">March 30, 2022 </a></h5>
    </div>
</div>