<div class=" sidebar-block">
    <h2 class="block-title">{{ title }}</h2>
    <div class='sidebar-issue'>
        <h5 class="headline" id='issue-photo'><a class='issue' id ='issue1' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_march_7_2022">March 7, 2022<img src="https://image.isu.pub/220307204607-206e6a72ebc184e20b60889eab4ec250/jpg/page_1_thumb_large.jpg"></a></h5>
        <h5 class="headline"><a class='issue' id ='issue2' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_february_15_2022">February 15, 2022 </a></h5>
        <h5 class="headline"><a class='issue' id ='issue3' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_february_1_2022">February 1, 2022 </a></h5>
        <h5 class="headline"><a class='issue' id ='issue4' href="https://issuu.com/ubyssey/docs/the_ubyssey_-_january_18_2022">January 18, 2022 </a></h5>
    </div>
</div>