<div class="o-article-embed o-article-embed--video js-video-youtube" data-id="{{ id }}">
    <div class="o-article-embed--video__wrapper js-video-launch">
        <div class="o-article-embed--video__inner" style="background-image: url('http://img.youtube.com/vi/{{ id }}/0.jpg');">
            <div class="o-article-embed--video__play"></div>
            <div class="o-article-embed--video__info o-article-embed__overlay">
                <h2 class="o-article-embed--video__title">{{ title }}</h2>
                {% if caption %}
                <p class="o-article-embed--video__caption">{{ caption|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="o-article-embed--video__container" id="video-{{ id }}"></div>
    {% if credit %}
    <div class="caption"><span class="credit">{{ credit }}</span></div>
    {% endif %}
</div>
