<div class="video-attachment youtube attachment" data-id="{{ id }}">
    <div class="video-launch wrapper">
        <div class="inner" style="background-image: url('http://img.youtube.com/vi/{{ id }}/0.jpg');">
            <div class="play-button"></div>
            <div class="meta row">
                <div class="eight columns">
                    <h2>{{ title }}</h2>
                    {% if caption %}
                    <div class="video-caption">
                        {{ caption|safe }} 
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="video-container" id="video-{{ id }}"></div>
    {% if credit %}
    <div class="caption"><span class="credit">{{ credit }}</span></div>
    {% endif %}
</div>
