{% extends base_template %}
{% load staticfiles %}
{% load widgets %}
{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main id="article-{{ article.parent_id }}" class="article">
  {% block banner_ad %}
  {% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 article=article.id %}
  {% include 'objects/advertisement.html' with size='mobile-leaderboard' name='Mobile_Leaderboard' id=2 article=article.id %}
  {% endblock %}
  <article class="c-article c-article--{{ article.template }} js-article" {% if user.is_authenticated %}data-user-id="{{ user.id }}"{% endif %} data-id="{{ article.parent_id }}" data-list="{{ reading_list.ids }}" data-list-name="{{ reading_list.name }}" data-headline="{{ article.headline }}" data-author="{{ authors_json }}" data-section="{{ article.section.slug }}" data-url="{{ article.get_absolute_url }}">
  {% block banner %}
    <div class="u-container u-container--content u-container--padded">
      <h1 class="o-headline o-headline--article">{{ article.headline|safe }}</h1>
      <div class="c-article__info">
        <div class="c-article__byline">
          <div class="c-article__author">By {{ article.get_author_type_string|safe }}</div>
          <div class="c-article__byline__meta">
            <span class="c-article__published-at">{{ article.published_at|date:'N j, Y' }}</span>
            {% if reading_time %}
            <span> &nbsp;&middot;&nbsp; </span>
            <span class="c-article__reading-time">{{ reading_time }} min read</span>
            {% endif %}
          </div>
        </div>
        {% include 'objects/social-icons.html' with article=article layout='top' %}
      </div>
    </div>
  {% endblock %}
    <div class="u-container clearfix {% if article.template_fields.header_layout %}{{ article.template }}{% endif %}">
      {% block right-column %}
      <div class="right-column">
        {% if article.featured_image %}
        <div class="featured-image">
          <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{% if article.featured_image.caption %}{{ article.featured_image.caption }}{% endif %}" data-credit="{% if article.featured_image.credit %}{{ article.featured_image.credit }}{% endif %}" data-url="{{ article.featured_image.image.get_absolute_url }}" src="{{ article.featured_image.image.get_medium_url }}"/>
          {% if article.featured_image.caption or article.featured_image.credit %}
          <div class="caption">
            {% if article.featured_image.caption %}{{ article.featured_image.caption }}{% endif %} {% if article.featured_image.credit %}<span class="credit">{{ article.featured_image.credit }}{% if not article.featured_image.has_custom_credit %} / The Ubyssey{% endif %}</span>{% endif %}
          </div>
          {% endif %}
        </div>
        <div class="sidebar offset">
        {% else %}
        <div class="sidebar">
        {% endif %}
          {% include 'objects/advertisement.html' with size='box' name='Box_A' id=3 article=article.id %}
          {% zone 'article-sidebar' %}
        </div>
      </div>
      {% endblock %}
      <div class="article-content">
      {% block pre-content %}{% endblock %}
        {{ article.html|safe }}
      </div>
      {% include 'objects/social-icons-bottom.html' with article=article %}
  </article>
</main>

{% zone 'article-horizontal' %}
<div class="slideshow">
  <div class="image-container">
    <div class="image-inner">
      <div class="slide">
        <img class="slide-image" />
        <p class="slide-caption"></p>
        <div class="navigation">
          <a class="prev-slide" href="#"><i class="fa fa-chevron-left"></i></a>
          <span class="curr-slide"></span> &nbsp; of &nbsp; <span class="total-slide"></span>
          <a class="next-slide" href="#"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="gallery"></div>

<div id="article-list"></div>
{% endblock %}

{% block scripts %}
{% endblock %}

<!-- Article-specific scripts -->
{% for s in article.scripts.all %}
<script src="http://localhost:8888/resources/js/{{ s.filename }}"></script>
{% endfor %}
