{% extends 'magazine/base.html' %}

{% block content %}
  {% include 'magazine/header.html' with color=article.template_fields.color %}

  <article class="c-article c-article--{{ article.template_fields.color }} c-article--{{ article.template_fields.display }}">
    <div class="u-container u-container--small">
      <h1 class="c-article__headline"><span class="arrow--{{ article.template_fields.color }}"></span>{{ article.headline }}</h1>
      {% if article.template_fields.description %}
      <div class="c-article__snippet c-article__snippet--{{ article.template_fields.color }}">{{ article.template_fields.description }}</div>
      {% endif %}
      <div class="c-article__byline">{{ article.template_fields.byline }}</div>
      {% if article.template_fields.byline_2 %}
      <div class="c-article__byline">{{ article.template_fields.byline_2 }}</div>
      {% endif %}
    </div>

    {% if article.featured_image %}
    <div class="c-article__featured-image u-container u-container--large u-container--no-padding">
      <img src="{{ article.featured_image.image.get_medium_url }}" />
    </div>
    {% endif %}

    <div class="u-container u-container--small">
      <div class="c-article__body">{{ article.html|safe }}</div>
    </div>

    <div class="c-article__suggested u-container u-container--large">
      {% for a in suggested %}
      <a class="o-article-box o-article-box--{{ a.template_fields.color }}" href="{{ a.get_absolute_url }}" style="background-image: url('{{ a.featured_image.image.get_medium_url }}');">
        <h2>{{ a.headline }}</h2>
      </a>
      {% endfor %}
    </div>

    <div class="c-article__explore u-container u-container--small">
      <a href="{% url 'magazine-landing' %}">Explore the magazine</a>
    </div>

  </article>

  {% include 'magazine/footer.html' with color=article.template_fields.color %}
{% endblock %}
