{% load staticfiles %}
{% load dispatch_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{{ article.headline }} - The Ubyssey</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="fb:pages" content="99164676792" />

    <link rel="stylesheet" href="{% add_version 'css/one-year-later.css' %}" />

    <link rel="canonical" href="{{ meta.url }}">
    <meta name="description" content="{{ meta.description }}" />
    <meta name="author" content="Samantha McCabe" />

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ meta.title|striptags|safe }}" />
    <meta property="og:type" content="{% if article %}article{% else %}website{% endif %}" />
    <meta property="og:url" content="{{ meta.url }}" />
    <meta property="og:image" content="{% if meta.image %}{{ meta.image }}{% else %}{% static 'images/ubyssey-logo-square.png' %}{% endif %}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:site_name" content="The Ubyssey" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ubyssey">
    <meta name="twitter:title" content="{{ meta.title|striptags|safe }}">
    <meta name="twitter:description" content="{{ meta.description }}">
    <meta name="twitter:image" content="{{ meta.image }}">
  </head>
  <body>
    <article class="oyl-article">
      <header class="oyl-header">
        <div class="oyl-header__container">
          <div>
            <div class="oyl-header__logo">
              <a href="https://www.ubyssey.ca"></a>
            </div>
            <div class="oyl-header__overlay">
              <div class="oyl-article__header">
                <h2 class="oyl-article__subtitle">{{ article.template_fields.subtitle }}</h2>
                <h1 class="oyl-article__title">{{ article.template_fields.title }}</h1>
                <p class="oyl-article__snippet">{{ article.template_fields.snippet }}</p>
                <p class="oyl-article__byline">By Samantha McCabe &nbsp;&middot;&nbsp; June 3, 2018</p>
              </div>
            </div>
            <div class="oyl-header__shadow"></div>
            <video id="header-video" preload="yes" class="oyl-header__video" autoplay muted playsinline>
              <source src="{{ article.template_fields.video_src }}.mp4" type="video/mp4">
              <source src="{{ article.template_fields.video_src }}.ogg" type="video/ogg">
            </video>
          </div>
        </div>
        <nav class="oyl-nav js-sticky">
          <a class="oyl-nav__title">One Year Later</a>
          <div class="oyl-nav__logo">
            <a href="https://www.ubyssey.ca"></a>
          </div>
          <ul class="oyl-nav__list">
            <li>
              {% if article.slug == article.template_fields.article_then.slug %}
              <a class="is-selected" href="{{ article.template_fields.article_then.get_absolute_url }}">1. Then</a>
              {% else %}
              <a href="{{ article.template_fields.article_then.get_absolute_url }}">1. Then</a>
              {% endif %}
            </li>
            <li>
              {% if article.slug == article.template_fields.article_now.slug %}
              <a class="is-selected" href="{{ article.template_fields.article_now.get_absolute_url }}">2. Now</a>
              {% else %}
              <a href="{{ article.template_fields.article_now.get_absolute_url }}">2. Now</a>
              {% endif %}
            </li>
            <li>
              {% if article.slug == article.template_fields.article_next.slug %}
              <a class="is-selected" href="{{ article.template_fields.article_next.get_absolute_url }}">3. Next</a>
              {% else %}
              <a href="{{ article.template_fields.article_next.get_absolute_url }}">3. Next</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </header>

      <div class="oyl-article__body">
        {{ article.html|safe }}

        <a class="oyl-preview" href="{{ article.template_fields.next_article.get_absolute_url }}" style="background-image: url('{{ article.template_fields.next_article.featured_image.image.get_medium_url }}')">
          <div class="oyl-preview__container">
            <h3>Up Next</h3>
            <h2>{{ article.template_fields.next_title }}</h2>
            <p>{{ article.template_fields.next_snippet }}</p>
          </div>
          <div class="oyl-preview__overlay"></div>
        </a>
      </div>
      <div class="oyl-about">
        <h3>About the series</h3>
        {{ article.template_fields.about|safe }}
      </div>
    </article>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{% add_version 'js/one-year-later.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2313592-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
