{% extends 'article/blank.html' %}
{% load staticfiles %}
{% load dispatch_tags %}

{% block content %}
<main id="article-{{ article.parent_id }}" class="article">
    <article class="c-article c-article--fw-story js-article" 
      {% if user.is_authenticated %}data-user-id="{{ user.id }}"{% endif %} 
      data-id="{{ article.parent_id }}" 
      data-list="{{ reading_list.ids }}" 
      data-list-name="{{ reading_list.name }}" 
      data-headline="{{ article.headline }}" 
      data-author="{{ authors_json }}" 
      data-section="{{ article.section.slug }}" 
      data-url="{{ article.get_absolute_url }}" 
      data-explicit="{{ explicit }}">

    <div class="u-container clearfix fw-story">
        <div class="fw-banner top-image">
            <div class="header-container">
                <div class="headline-container">
                    <h1 class="o-headline o-headline--article">{{ article.headline|safe }}</h1>
                </div>
            </div>
        </div>
        
        {% block banner %}
            <div class='c-soccer-nationals' 
                data-current-article-id='{{article.parent_id}}' 
                data-map='{{article.featured_image.image.get_medium_url}}'
                data-team-data='{{article.team_data}}'>
                <div class='c-soccer-loading'>
                    Loading Map...
                </div>
            </div>
        {% endblock %}

        <div class="fw-banner top-image grey-border-top">
            <div class="header-container no-margin-top">
                <div class="headline-container ">
                    {% if article.template_fields.description %}
                    <p class="nationals-description">{{ article.template_fields.description | safe }}</p>
                    {% endif %}
                    <div class="c-article__byline c-article__byline-center">
                        <div class="c-article__author">By {{ article.get_author_url|safe }}</div>
                        <div class="c-article__byline__meta">
                        <span class="c-article__published-at">{{ article.published_at|date:'N j, Y' }}</span>
                        {% if reading_time %}
                        <span> &nbsp;&middot;&nbsp; </span>
                        <span class="c-article__reading-time">{{ reading_time }} min read</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="article-content">
                {% block pre-content %}{% endblock %}
                {{ article.html|safe }}
        </div>

    </div>

    </article>

    {% block banner_ad %}
    {% if explicit is not True %}
        {% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 article=article.id %}
        {% include 'objects/advertisement.html' with size='mobile-leaderboard' name='Mobile_Leaderboard' id=2 article=article.id %}
    {% endif %}
    {% endblock %}

    {% include 'objects/bottom-banner.html' with article=article %}
</main>
{% endblock %}