{% extends 'article/default.html' %}
{% load staticfiles %}
{% load dispatch_tags %}

{% block banner %}
    {% with article.template_fields.header_layout as header_layout %}
    <div class="fw-banner timeline-banner {{ header_layout }}">
        <div class='c-timeline' data-current-article-id='{{article.parent_id}}' data-timeline-title='{{article.timeline_title}}' data-nodes='{{article.timeline_articles}}'></div>
        {% if header_layout == 'right-image' %}
            <div class="header-container">
                <div class="headline-container left">
                    <h1 class="headline">{{ article.headline }}</h1>
                    {% if article.template_fields.description %}
                    <p class="fw-description">{{ article.template_fields.description }}</p>
                    {% endif %}
                    <div class="c-article__byline c-article__byline-center">
                        <div class="c-article__author">By {{ article.get_author_url|safe }}</div>
                        <div class="c-article__byline__meta">
                        <span class="c-article__published-at">{{ article.published_at|date:'N j, Y' }}</span>
                        {% if reading_time %}
                        <span> &nbsp;&middot;&nbsp; </span>
                        <span class="c-article__reading-time">{{ reading_time }} min read</span>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="full-width featured-image">
                        <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{{ article.featured_image.caption }}" data-url="{{ article.featured_image.image.get_absolute_url }}" data-credit="{{ article.featured_image.credit }}" src="{{ article.featured_image.image.get_absolute_url }}"/>
                        {% if article.featured_image.caption %}
                        <div class="caption">
                            {{ article.featured_image.caption }} <span class="credit">{{ article.featured_image.credit }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% elif header_layout == 'top-image' %}
            <div class="header-container">
                <div class="featured-image">
                    <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{{ article.featured_image.caption }}" data-url="{{ article.featured_image.image.get_absolute_url }}" data-credit="{{ article.featured_image.credit }}" src="{{ article.featured_image.image.get_absolute_url }}"/>
                </div>
                <div class="headline-container">
                    <h1 class="o-headline o-headline--article">{{ article.headline|safe }}</h1>
                    {% if article.template_fields.description %}
                    <p class="fw-description">{{ article.template_fields.description }}</p>
                    {% endif %}
                    <div class="c-article__byline c-article__byline-center">
                        <div class="c-article__author">By {{ article.get_author_url|safe }}</div>
                        <div class="c-article__byline__meta">
                        <span class="c-article__published-at">{{ article.published_at|date:'N j, Y' }}</span>
                        {% if reading_time %}
                        <span> &nbsp;&middot;&nbsp; </span>
                        <span class="c-article__reading-time">{{ reading_time }} min read</span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% elif header_layout == 'banner-image' %}
            <div class="banner-image">
                <div class="backdrop" style="background-image: url('{{ article.featured_image.image.get_absolute_url }}');"></div>
                <div class="headline-container c-article__byline-center">
                    <div class="u-container u-container--padded">
                        <h1 class="headline">{{ article.headline }}</h1>
                        {% if article.template_fields.description %}
                        <p class="fw-description">{{ article.template_fields.description }}</p>
                        {% endif %}
                        <div class="article-byline">
                            <span class="author">By {{ article.get_author_url|safe }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span>
                        </div>
                    </div>
                </div>
                {% if article.featured_image.caption or article.featured_image.credit %}
                <div class="caption">
                    {{ article.featured_image.caption }} <span class="credit">{{ article.featured_image.credit }}</span>
                </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endwith %}
{% endblock %}

{% block banner_ad %}{% endblock %}

{% block pre-content %}
{% endblock %}

{% block right-column %}
    <div class="right-column">
        <div class="sidebar">
            {% zone 'article-sidebar' %}
            {% if explicit is not True %}
            {% if reading_time >= 3 %}
                {% include 'objects/advertisement.html' with size='skyscraper' name='Box_A' id=3 article=article.id %}
                {% include 'objects/advertisement.html' with size='box' name='Box_B' id=4 article=article.id %}
            {% else %}
                {% include 'objects/advertisement.html' with size='box' name='Box_A' id=3 article=article.id %}
            {% endif %}
            {% else %}
            {% include 'objects/replacement.html' with size='box' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
