// Styles for the /advertise/ page
// Renamed from 'advertise.scss' to 'a.scss' to prevent AdBlocker blocking.

// Variables
$color-white: #fff;
$color-accent: #0C78ED;
$color-accent-light: #f78e8c;
$color-text-gray: #4E4E4E;
$color-text-gray-light: #646464;
$color-gray-light: #EFEFEF;

$font-size-base: 16;
$font-weight-light: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 800;

$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;

$rotation: 3deg;

$bp-larger-than-mobile: "min-width: 1000px";

// Functions

@function font-size($size) {
  @return ($size / $font-size-base) + rem;
}

// Base

html, body {
  // Structure
  margin: 0;

  // Text
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  @media($bp-larger-than-mobile) {
    font-size: 16px;
  }
}

// Utilities

.u-container {
  // Structure
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

// Header

.c-header {
  // Structure
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;

  // Background
  background-image: linear-gradient(-178deg, #0C78ED 0%, #00B6D6 83%);

  &::after {
    // Structure
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1rem;
    width: 100%;

    // Background
    background: $color-white;
  }
}

.c-header__nav {
  // Structure
  position: relative;
  padding-top: 2rem;
  z-index: $z-index-2;

  @media(min-width: 600px) {
    // Structure
    display: flex;
  }
}

.c-header__nav__logo {
  // Structure
  display: flex;
  align-items: center;

  .c-header__nav__logo__image {
    // Structure
    display: inline-block;
    width: 200px;
  }

  .c-header__nav__logo__text {
    // Structure
    margin-left: 1rem;

    // Text
    color: $color-white;
    font-size: font-size(22);
    font-weight: $font-weight-light;
  }

}

.c-header__nav__list {
  // Structure
  display: none;
  flex: 1;
  margin: 0;
  padding: 0;
  margin-top: 1rem;

  // Extra
  list-style-type: none;

  // Text
  text-align: right;

  li {
    // Structure
    display: inline-block;
    margin-right: 1rem;
  }

  li > a {
    // Structure
    display: block;

    // Text
    font-size: font-size(17);
    color: $color-white;
    text-decoration: none;
    font-weight: $font-weight-light;

    // Extra
    transition: opacity 0.2s;

    &:hover {
      // Extra
      opacity: 0.75;
    }

  }

  li > .c-header__nav__button {
    // Structure
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    // Border
    border-radius: 3px;

    // Background
    background-color: $color-white;

    // Text
    color: $color-accent;
    font-weight: $font-weight-bold;
  }

  @media(min-width: 600px) {
    // Structure
    display: block;
  }
}

.c-header__hook {
  // Structure
  display: block;
  max-width: 30rem;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 6rem;

  // Text
  color: $color-white;
  font-size: font-size(36);
  font-weight: $font-weight-light;
}

.c-header__vectors {
  // Structure
  position: absolute;
  width: 100%;
  bottom: 0;

  // Text
  text-align: right;

  @media(min-width: 600px) {
    bottom: 1.2rem;
  }
}

.c-header__vector {
  // Structure
  position: relative;
  margin-left: 2rem;
}

.c-header__vector--phone {
  // Structure
  width: 30%;
  margin-left: 0;
  margin-bottom: -1%;
  transform: rotate(-5deg);

  @media(min-width: 600px) {
    // Structure
    width: 15%;
    margin-left: 2rem;
    margin-bottom: -2.5%;
  }
}

.c-header__vector--newspaper {
  // Structure
  z-index: $z-index-3;
  margin-bottom: -2%;
  width: 60%;
  margin-left: 20px;

  @media(min-width: 600px) {
    // Structure
    width: 25%;
    margin-left: 2rem;
  }
}

.c-header__vector--desktop {
  // Structure
  display: none;

  // Structure
  width: 32%;
  margin-bottom: -4%;

  @media(min-width: 600px) {
    // Structure
    display: inline-block;
  }
}

// Sections

.c-section {
  // Structure
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media(min-width: 600px) {
    // Structure
    padding-top: 5rem;
    padding-top: 5rem;
  }
}

.c-section--inset {
  // Structure
  position: relative;
  overflow: hidden;

  // Background
  background-image: linear-gradient(-178deg, #0C78ED 0%, #00B6D6 83%);

  &:last-of-type::after {
    display: none;
  }

  @media(min-width: 600px) {
    // Structure
    padding-bottom: 3%;
  }
}

.c-section--web__container {
  @media($bp-larger-than-mobile) {
    // Structure
    display: flex;
    margin-top: 2rem;
  }
}

.c-section--web__icons {
  // Structure
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;

  @media($bp-larger-than-mobile) {
    // Structure
    padding-bottom: 5rem;
  }
}

.c-section--web__icon {
  // Structure
  flex-basis: 50%;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;

  // Text
  text-align: center;
  color: $color-white;

  img {
    // Structure
    width: 100%;
    max-width: 150px;
  }

  h2 {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    // Text
    font-size: font-size(28);
  }

  p {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    // Text
    font-size: font-size(18);
    font-weight: $font-weight-light;
  }

  &:nth-child(odd) {
    // Structure
    padding-right: 1rem;
  }

  &:nth-child(even) {
    // Structure
    padding-left: 2rem;
  }
}

.c-section--web__vectors {
  // Structure
  flex: 2;

  @media($bp-larger-than-mobile) {
    // Structure
    padding-left: 3rem;
  }
}

.c-section--print .c-section--web__vectors,
.c-section--guide .c-section--web__vectors {
  // Structure
  display: none;

  @media($bp-larger-than-mobile) {
    display: block;
  }
}

.c-section--web__vector--phone,
.c-section--web__vector--tablet {
  // Border
  border-radius: 35px;

  // Extras
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.50);
}

.c-section--web__vector--tablet {
  // Structure
  position: absolute;
  margin-left: 2rem;
}

.c-section--web__vector--newspaper {
  // Structure
  position: absolute;
  display: block;
  width: 500px;
}

.o-placements {
  // Structure
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media($bp-larger-than-mobile) {
    // Structure
    display: flex;
    margin-top: 3rem;
  }
}

.o-placements--print,
.o-placements--guide {
  // Structure

  .o-placements__list {
    // Structure
    flex: 1;

    ul {
      // Structure
      display: flex;
      flex-wrap: wrap;
    }
  }

  .o-placements__placement {
    // Structure
    flex-basis: 50%;

    &:nth-child(odd) {
      // Structure
      padding-right: 0.5rem;
    }

    &:nth-child(even) {
      // Structure
      padding-left: 0.5rem;
    }

    &--demo {
      &:hover div, &--active div {
        // Background
        background-color: $color-accent;
      }
    }
  }

  .o-placements__demo {
    // Structure
    flex: 1;
    padding: 0;

    // Background
    background: none;

    // Border
    border-radius: 0;

    &[data-demo='full-page'] .o-placements__demo__inner::after {
      content: '10" x 13.25"';
      top: 0;
      width: 100%;
      height: 100%;
    }

    &[data-demo='half-page-hor'] .o-placements__demo__inner::after {
      content: '10" x 7"';
      top: 50%;
      height: 50%;
      width: 100%;
    }

    &[data-demo='half-page-vert'] .o-placements__demo__inner::after {
      content: '4" x 13.25"';
      height: 100%;
      width: 50%;
    }

    &[data-demo='quarter-page'] .o-placements__demo__inner::after {
      content: '6" x 6"';
      top: 50%;
      height: 50%;
      width: 60%;
    }

    &[data-demo='1-8-page-banner'] .o-placements__demo__inner::after {
      content: '10" x 2"';
      bottom: 0;
      height: 25%;
      width: 100%;
    }

    &[data-demo='1-8-page-vert'] .o-placements__demo__inner::after {
      content: '4" x 5"';
      bottom: 0;
      height: 40%;
      width: 40%;
    }

    &[data-demo='guide-full-page'] .o-placements__demo__inner::after {
      content: '5" x 8"';
      top: 0;
      width: 100%;
      height: 100%;
    }

    &[data-demo='guide-half-page'] .o-placements__demo__inner::after {
      content: '5" x 4"';
      top: 50%;
      height: 50%;
      width: 100%;
    }

    &[data-demo='guide-quarter-page'] .o-placements__demo__inner::after {
      content: '5" x 2"';
      bottom: 0;
      height: 25%;
      width: 100%;
    }

    &[data-demo='magazine-full-page'] .o-placements__demo__inner::after {
      content: '8" x 10.5"';
      top: 0;
      width: 100%;
      height: 100%;
    }

    &[data-demo='magazine-half-page'] .o-placements__demo__inner::after {
      content: '7" x 5"';
      top: 50%;
      height: 50%;
      width: 100%;
    }

    &[data-demo='magazine-third-page'] .o-placements__demo__inner::after {
      content: '7" x 3"';
      bottom: 0;
      height: 33%;
      width: 100%;
    }
  }

  .o-placements__demo__inner {
    // Structure
    height: 100%;
    padding-bottom: 120%;

    // Background
    background-color: #E4E4E4;

    &::after {
      // Structure
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;

      // Background
      background-color: $color-accent;

      // Text
      font-weight: $font-weight-bold;
      text-align: center;
      font-size: font-size(18);
      color: $color-white;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

  }
}

.o-placements__list {
  // Structure
  flex: 1;

  ul {
    // Structure
    margin: 0;
    padding: 0;

    // Extra
    list-style-type: none;
  }

  @media($bp-larger-than-mobile) {
    // Structure
    padding-right: 2rem;
  }
}

.o-placements__placement {
  // Structure
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;

  div {
    // Structure
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;

    // Border
    border: 1px solid $color-gray-light;
    border-radius: 3px;
  }

  &--demo {
    // Extras
    cursor: pointer;
  }

  &--demo:hover div, &--active div {
    // Background
    background-color: $color-accent;

    h4,
    p {
      // Text
      color: white;
    }
  }

  h4 {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    // Text
    color: $color-text-gray;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    font-size: font-size(18);
    text-transform: uppercase;
  }

  p {
    // Structure
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;

    // Text
    color: $color-text-gray-light;
    font-size: font-size(15);

    @media($bp-larger-than-mobile) {
      // Structure
      display: block;
    }
  }

}

.o-placements__demo {
  // Structure
  flex: 3;
  padding: 2rem;

  // Background
  background-color: #FDFDFD;

  // Border
  border-radius: 2rem;

  // Extras
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.09);
}

.o-placements__demo__inner {
  // Structure
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 65%;
  overflow: hidden;

  // Background
  background-color: $color-white;

  // Border
  border-radius: 3px;
  border: 4px solid #E4E4E4;

  img {
    // Structure
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;

    // Extra
    transition: top 0.5s;
  }
}

// Production Schedule

.c-production-schedule {
  // Structure
  display: none;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;

  // Border
  border: 1px solid $color-gray-light;
  border-radius: 3px;

  img {
    // Structure
    width: 100%;
  }

  @media($bp-larger-than-mobile) {
    // Structure
    display: block;
  }
}

.c-production-schedule__view {
  // Structure
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  // Extra
  cursor: pointer;
}

.c-production-schedule__modal {
  // Structure
  display: none;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;

  // Background
  background: rgba(0, 0, 0, 0.65);

  // Extra
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.c-production-schedule__modal__inner {
  // Structure
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
}

.c-production-schedule__modal__close {
  // Structure
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 30px;
  height: 30px;

  // Background
  background-image: url('../images/advertise/close.svg');
  background-size: 100%;

  // Extra
  cursor: pointer;

  &:hover {
    // Extra
    opacity: 0.5;
  }
}

.c-production-schedule__modal__inner img {
  // Structure
  height: 100%;
  width: auto;

  // Border
  border: 5px solid $color-white;
}

// Bundles

.c-bundles {
  // Structure
  margin-bottom: 2rem;

  // Text
  color: $color-text-gray;

  @media(min-width: 600px) {
    // Structure
    padding-right: 2rem;
  }
}

.c-bundles__bundle {
  // Structure
  display: flex;
  margin-bottom: 2rem;

  h3 {
    // Structure
    margin-top: 0;

    // Text
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }
}

.c-bundles__bundle__image {
  padding-right: 1.75rem;
}

.c-bundles__bundle__items {
  // Structure
  align-items: center;

  // Text
  font-size: font-size(16);
  line-height: 1.35em;

  span {
    // Structure
    display: block;
  }

  strong {
    // Text
    text-transform: uppercase;
  }

  div {
    margin-bottom: 1rem;
  }

  @media(min-width: 600px) {
    // Structure
    display: flex;

    // Text
    text-align: center;
  }
}

.c-bundles__bundle__items__symbol {
  // Structure
  display: none;
  padding-left: 1.75rem;
  padding-right: 1.75rem;

  // Text
  font-size: font-size(50);

  @media(min-width: 600px) {
    // Structure
    display: block;
  }
}

.c-bundles__bundle__items__total {
  // Structure
  margin-bottom: 0.5rem;

  // Text
  font-size: font-size(28);
  font-weight: $font-weight-bold;
}

// Web slider

.c-web-slider {
  // Structure
  position: relative;
}

.c-web-slider__points {
  // Structure
  display: flex;
  position: relative;
}

.c-web-slider__point {
  // Structure
  flex: 1;
  height: 50px;

  // Text
  text-align: center;

  &:first-child,
  &:last-child {
    flex: 0.5;
  }

  &:first-child {
    // Text
    text-align: left;

    div {
      // Structure
      margin-left: 0;
    }
  }

  &:last-child {
    // Text
    text-align: right;


    div {
      // Structure
      margin-left: -20px;
    }
  }

  div {
    // Structure
    position: absolute;
    z-index: 50;
    content: "";
    width: 20px;
    height: 20px;
    margin-left: -10px;
    display: inline-block;

    // Border
    border-radius: 20px;

    // Background
    background-color: #d2d2d2;

    // Extra
    cursor: pointer;

    &:hover {
      // Background
      background-color: #b3b3b3;
    }
  }

  label {
    // Structure
    display: block;
    margin-top: 30px;
    color: #4a4a4a;
  }
}

.c-web-slider__line {
  // Structure
  position: absolute;
  height: 4px;
  width: 100%;
  top: 8px;

  // Background
  background-color: #d2d2d2;
}

.c-web-slider__tooltip {
  // Structure
	position: relative;
  margin-top: 1.5rem;
  padding: 1.25rem;
  width: 400px;

  // Border
  border: 1px solid #d2d2d2;
  border-radius: 5px;

  // Text
  font-size: font-size(16);
  color: $color-text-gray;

  // Extra
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
  transition: margin-left 0.5s;

  @media(max-width: 400px) {
    width: 100%;
    box-sizing: border-box;
  }
}

.c-web-slider__tooltip__arrow {
  // Structure
  position: absolute;
  left: 8%;
  top: 0;

  // Extra
  transition: left 0.5s;
}

.c-web-slider__tooltip__content {
  // Text
  line-height: 1.35em;
}

.c-web-slider__tooltip__arrow:after,
.c-web-slider__tooltip__arrow:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.c-web-slider__tooltip__arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
  border-width: 16px;
  margin-left: -16px;
}

.c-web-slider__tooltip__arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #d2d2d2;
	border-width: 17px;
	margin-left: -17px;
}

.c-web-slider__tooltip__cost {
  // Structure
  margin-top: 1rem;

  // Text
  font-weight: $font-weight-bold;
}

// Form

.c-form {
  // Structure
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;

  .o-heading {
    margin-bottom: 2rem;
  }

  input[type="text"], input[type="email"], textarea {
    // Structure
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    // Border
    border: none;
    border-radius: 5px;

    // Text
    font-size: font-size(18);

    // Extra
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  }

  input[type="submit"] {
    // Structure
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    // Border
    border: none;
    border-radius: 3px;

    // Background
    background-color: $color-white;

    // Text
    font-size: font-size(16);
    color: $color-accent;
    font-weight: $font-weight-bold;

    // Extra
    cursor: pointer;

    &:hover {
      // Extra
      opacity: 0.75;
    }
  }

}

// Headings

.o-heading {
  // Structure
  margin-top: 0;
  margin-bottom: 1.5rem;

  // Text
  font-size: font-size(24);
  color: $color-text-gray;
  font-weight: $font-weight-bold;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media($bp-larger-than-mobile) {
    // Text
    font-size: font-size(32);
  }
}

.o-heading--small {
  // Structure
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;

  // Text
  font-weight: $font-weight-bold;
  font-size: font-size(14);
  line-height: 1.5em;
  letter-spacing: 2px;
  color: $color-text-gray-light;
  text-transform: uppercase;
  //text-shadow: none;

  &:before {
    // Structure
    display: none;
  }
}

.o-heading--white {
  // Text
  color: $color-white;

  &:before {
    // Border
    border-color: #dcdcdc;

    // Background
    background: $color-white;
  }
}

.o-row {
  @media($bp-larger-than-mobile) {
    // Structure
    display: flex;
  }

  > div {
    // Structure
    flex: 1;
    padding-right: 2rem;

    &.o-row__grow {
      flex: none;
    }

    &:last-child {
      // Structure
      padding-right: 0;
    }
  }
}

// Paragraphs

.o-paragraph {
  // Structure
  margin-top: 1rem;
  margin-bottom: 1rem;


  // Text
  color: $color-text-gray;
  font-size: font-size(20);
  line-height: font-size(32);
  font-weight: $font-weight-light;
}

// List

.o-list {
  // Structure
  padding-left: 1.2rem;

  li {
    // Text
    font-size: font-size(16);
    color: $color-text-gray;
    line-height: 1.5em;
  }
}

// Button
.o-button {
  // Structure
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;

  // Backgorund
  background-color: $color-accent;

  // Border
  border: none;
  border-radius: 3px;
  color: $color-white;
  font-size: 1.125rem;

  // Extra
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
}


// Special offer
.o-special-offer {
  // Structure
  margin-top: 2rem;
  padding: 1.5rem;

  // Background
  background-color: $color-white;

  // Border
  border: 1px solid $color-gray-light;
  border-radius: 3px;

  // Text
  color: $color-text-gray;
  font-weight: $font-weight-bold;
  font-size: font-size(22);
  text-align: center;
}
