// Variables

$color-white: #fff;
$color-accent-red: #E91F3B;
$color-accent-red-light: #ff8394;
$color-accent-blue: #4F68D9;
$color-accent-blue-light: #C9D1F4;
$color-accent-orange: #e53e17;
$color-accent-orange-light: #e88770;
$color-text-gray: #4E4E4E;
$color-text-gray-light: #646464;
$color-gray-light: #EFEFEF;

$font-size-base: 16;
$font-weight-light: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 600;

$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;

$rotation: 3deg;

$bp-larger-than-mobile: "min-width: 1000px";

// Functions

@function font-size($size) {
  @return ($size / $font-size-base) + rem;
}

// Base

html, body {
  // Structure
  margin: 0;

  // Text
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  @media($bp-larger-than-mobile) {
    font-size: 16px;
  }
}

// Utilities

.u-container {
  // Structure
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

// Header

.c-header {
  // Structure
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;

  // Background
  background-image: linear-gradient(-181deg, #62D3F6 0%, #5074D9 68%);

  &:before {
    // Structure
    position: absolute;
    content: "";
    top: -10%;
    height: 40%;
    width: 100%;
    z-index: $z-index-1;

    // Background
    background-image: linear-gradient(0, transparent 0%, rgba(0, 0, 0, 0.3) 100%);

    // Extra
    transform: rotate($rotation);
  }

  &:after {
    // Structure
    position: absolute;
    content: "";
    left: -10%;
    bottom: -16%;
    height: 22%;
    width: 150%;

    // Background
    background: $color-white;

    // Extra
    transform: rotate($rotation);
    box-shadow: 0 -1px 5px 2px rgba(0, 0, 0, 0.25);
  }
}

.c-header__nav {
  // Structure
  position: relative;
  display: flex;
  padding-top: 2rem;
  z-index: $z-index-2;
}

.c-header__nav__logo {
  // Structure
  display: flex;
  align-items: center;

  .c-header__nav__logo__image {
    // Structure
    display: inline-block;
    width: 200px;
  }

  .c-header__nav__logo__text {
    // Structure
    margin-left: 1rem;

    // Text
    color: $color-white;
    font-size: font-size(22);
    font-weight: $font-weight-light;
  }

}

.c-header__nav__list {
  // Structure
  flex: 1;
  margin: 0;
  padding: 0;

  // Text
  text-align: right;

  // Extra
  list-style-type: none;

  li {
    // Structure
    display: inline-block;
    margin-left: 2rem;
  }

  li > a {
    // Structure
    display: block;

    // Text
    font-size: font-size(17);
    color: $color-white;
    text-decoration: none;
    font-weight: $font-weight-light;

    // Extra
    transition: opacity 0.2s;

    &:hover {
      // Extra
      opacity: 0.5;
    }

  }
}

.c-header__nav__button {
  // Structure
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  // Border
  border-radius: 3px;

  // Background
  background-color: $color-accent-red;
}

.c-header__hook {
  // Structure
  display: block;
  max-width: 30rem;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 6rem;

  // Text
  color: $color-white;
  font-size: font-size(36);
  font-weight: $font-weight-light;
}

.c-header__vectors {
  // Structure
  position: absolute;
  width: 100%;
  bottom: 6%;

  // Text
  text-align: right;
}

.c-header__vector {
  // Structure
  position: relative;
  margin-left: 2rem;
}

.c-header__vector--phone {
  // Structure
  width: 13%;
}

.c-header__vector--newspaper {
  // Structure
  z-index: $z-index-3;
  margin-bottom: -2%;
  width: 25%;
}

.c-header__vector--desktop {
  // Structure
  width: 32%;
  margin-bottom: -4%;
}

// Sections

.c-section {
  // Structure
  padding-bottom: 2rem;
}

.c-section--inset {
  // Structure
  position: relative;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 5%;


  &:before {
    // Structure
    position: absolute;
    content: "";
    left: -10%;
    top: -4rem;
    height: 8rem;
    width: 150%;

    // Background
    background: $color-white;

    // Extra
    transform: rotate($rotation);
    box-shadow: 0 -1px 5px 2px rgba(0, 0, 0, 0.25);
  }

  &:after {
    // Structure
    position: absolute;
    content: "";
    left: -10%;
    bottom: -16%;
    height: 22%;
    width: 150%;

    // Background
    background: $color-white;

    // Extra
    transform: rotate($rotation);
    box-shadow: 0 -1px 5px 2px rgba(0, 0, 0, 0.25);
  }
}

.c-section--web {
  // Background
  background-image: linear-gradient(-178deg, #ED210C 0%, #E53E17 83%);
}

.c-section--web__container {
  @media($bp-larger-than-mobile) {
    // Structure
    display: flex;
  }
}

.c-section--web__icons {
  // Structure
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;

  @media($bp-larger-than-mobile) {
    // Structure
    padding-bottom: 5rem;
  }
}

.c-section--web__icon {
  // Structure
  flex-basis: 50%;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;

  // Text
  text-align: center;
  color: $color-white;

  img {
    // Structure
    width: 100%;
    max-width: 150px;
  }

  h2 {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    // Text
    font-size: font-size(28);
  }

  p {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    // Text
    font-size: font-size(18);
    font-weight: $font-weight-light;
  }

  &:nth-child(odd) {
    // Structure
    padding-right: 1rem;
  }

  &:nth-child(even) {
    // Structure
    padding-left: 2rem;
  }
}

.c-section--web__vectors {
  // Structure
  flex: 2;

  // Extra
  overflow: hidden;
  transform: rotate($rotation);

  @media($bp-larger-than-mobile) {
    // Structure
    padding-left: 3rem;
  }
}

.c-section--web__vector {
  // Border
  border-radius: 35px;

  // Extras
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.50);
}

.c-section--web__vector--tablet {
  // Structure
  position: absolute;
  margin-left: 2rem;
}

.o-placements {
  // Structure
  margin-top: 2rem;

  @media($bp-larger-than-mobile) {
    // Structure
    display: flex;
    margin-top: 3rem;
  }
}

.o-placements__label {
  // Structure
  display: block;
  margin-bottom: 1rem;

  // Text
  font-weight: $font-weight-bold;
  font-size: font-size(14);
  letter-spacing: 2px;
  color: $color-text-gray-light;
  text-transform: uppercase;
}

.o-placements__list {
  // Structure
  flex: 1;

  ul {
    // Structure
    margin: 0;
    padding: 0;

    // Extra
    list-style-type: none;
  }

  @media($bp-larger-than-mobile) {
    // Structure
    padding-right: 2rem;
  }
}

.o-placements__placement {
  // Structure
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1rem;

  // Border
  border: 1px solid $color-gray-light;
  border-radius: 10px;

  // Extras
  cursor: pointer;

  h4 {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    // Text
    color: $color-text-gray;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    font-size: font-size(18);
    text-transform: uppercase;
  }

  p {
    // Structure
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;

    // Text
    color: $color-text-gray-light;
    font-size: font-size(15);

    @media($bp-larger-than-mobile) {
      // Structure
      display: block;
    }
  }

  &:hover, &--active {
    // Background
    background-color: #fdfdfd;
  }

}

.o-placements__demo {
  // Structure
  flex: 3;
  padding: 35px;

  // Background
  background-color: #FDFDFD;

  // Border
  border-radius: 35px;

  // Extras
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.09);
}

.o-placements__demo__inner {
  // Structure
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 56%;

  // Background
  background-color: $color-white;
  background-position: center top;
  background-size: 100% auto;

  // Border
  border-radius: 3px;
  border: 4px solid #E4E4E4;
}

.o-placements__demo[data-demo="leaderboard"] .o-placements__demo__inner {
  background-image: url('../images/advertise/demo-leaderboard.png');
}

.o-placements__demo[data-demo="box"] .o-placements__demo__inner {
  background-image: url('../images/advertise/demo-box.png');
}


// Headings

.o-heading {
  // Structure
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  // Text
  font-size: font-size(32);
  line-height: font-size(32);
  letter-spacing: 1.3px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.18);
  text-transform: uppercase;

  &:before {
    // Structure
    position: relative;
    top: 0.15em;
    display: inline-block;
    content: "";
    width: 0.6em;
    height: 0.6em;
    margin-right: 0.5em;

    // Border
    border-radius: 1em;
    border-width: 0.2em;
    border-style: solid;
    border-color: $color-accent-blue-light;

    // Background
    background: $color-accent-blue;
  }
}

.o-heading--blue {
  // Text
  color: $color-accent-blue;

  &:before {
    // Border
    border-color: $color-accent-blue-light;

    // Background
    background: $color-accent-blue;
  }
}

.o-heading--red {
  // Text
  color: $color-accent-red;

  &:before {
    // Border
    border-color: $color-accent-red-light;

    // Background
    background: $color-accent-red;
  }
}

.o-heading--orange {
  // Text
  color: $color-accent-orange;

  &:before {
    // Border
    border-color: $color-accent-orange-light;

    // Background
    background: $color-accent-orange;
  }
}

.o-heading--white {
  // Text
  color: $color-white;

  &:before {
    // Border
    border-color: #dcdcdc;

    // Background
    background: $color-white;
  }
}

// Paragraphs

.o-paragraph {
  // Structure
  margin-top: 1rem;
  margin-bottom: 1rem;


  // Text
  color: $color-text-gray;
  font-size: font-size(20);
  line-height: font-size(32);
  font-weight: $font-weight-light;
}
