@import 'modules/fonts';
@import 'modules/font_faces';

$color-white: #fff;
$color-background: rgba(36, 65, 135, 0.9);
$color-secondary: #2F4F97;

html {
  min-height: 100%;
}

body {
  font-family: $font-default;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
  background-image: url('../images/centennial/office.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100%;
}

.c-wrapper {
  background-color: $color-background;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

.c-container {
  max-width: 860px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.c-header {
  padding-top: 2rem;
  margin-bottom: 2rem;

  @media(min-width: 500px) {
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
}

.c-logo {
  width: 100%;
  height: 140px;
  background-image: url('../images/centennial/ubyssey-centennial-logo.svg');
  background-position: center;
  background-repeat: no-repeat;

  background-size: 100% auto;
  @media(min-width: 500px) {
    background-size: auto 100%;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: $color-white;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  text-shadow: 0 0 3px rgba(0,0,0,0.21);
  margin-top: 0;
  margin-bottom: 1.5rem;

  @media(min-width: 840px) {
    font-size: 20px;
    font-weight: 600;
  }
}

a.c-button {
  display: inline-block;
  min-width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: $color-secondary;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  color: $color-white;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
}

a.c-button--white {
  color: $color-secondary;
  background-color: $color-white;
}

.c-join {
  @media(min-width: 840px) {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.c-join__left {
  flex: 2;

  @media(min-width: 840px) {
    padding-right: 3rem;
    max-width: none;
    text-align: right;
  }

  text-align: center;

  padding-top: 2rem;
}

.c-join__left, .c-join__right {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.c-join__right {
  flex: 2;
  text-align: center;

}

.c-join__box {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 220px;
  background-color: $color-white;
  color: $color-secondary;

  p {
    font-size: 18px;
    text-shadow: none;
  }
}

.c-join__itinerary {
  P {
    font-size: 20px;
  }
}

.c-join__itinerary__items {
  float: left;
  text-align: left;
}

.c-join__itinerary__times {
  float: right;
}

.c-join__invitation {
  float: left;
}

.c-date {
  @media(min-width: 840px) {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.c-date__left {
  flex: 2;
  text-align: center;
}

.c-date__left, .c-date__right {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.c-date__right {
  flex: 3;

  @media(min-width: 840px) {
    padding-left: 3rem;
    padding-top: 3.5rem;
    max-width: none;
    text-align: left;
  }

  text-align: center;

  padding-top: 2rem;
}

.c-date__box {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-white;
  color: $color-secondary;

  p {
    font-size: 18px;
    text-shadow: none;
  }
}

.c-share {
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 3rem;
  padding-bottom: 3rem;

  @media(min-width: 840px) {
    margin-top: 4rem;
    padding-bottom: 3rem;
  }
}
