@import 'modules/reset';
@import 'modules/_variables.scss';

@import 'modules/guide/2016/colors';
@import 'modules/guide/2016/fonts';
@import 'modules/guide/2016/base';
@import 'modules/guide/2016/objects';
@import 'modules/guide/2016/tiles';
@import 'modules/guide/2016/headings';
@import 'modules/guide/2016/banner';
@import 'modules/guide/2016/footer';
@import 'modules/guide/2016/navigation';
@import 'modules/guide/2016/advertisements';

// Pages
@import 'modules/guide/2016/homepage';
@import 'modules/guide/2016/article';
