@import './modules/variables';

$desktop-map-height: 640px;
$map-marker-color: #333;
$map-marker-size: 20px;

h1, h2 {
  text-align: center;
}

.c-i-desktop {
  width: 100%;
}
.c-i-container {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: #333;
  padding-bottom: 1rem;

  .c-i-map__instructions {
    margin-top: .5rem;
    width: 100%;
    text-align: center;
  }

  .c-i-title {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: .5rem;
  }
  .c-i-subtitle {
    font-size: 1.2rem;
    color: #333;
    text-align:center;
    margin-bottom: 1rem;
  }
  .c-i-map__content-title {
    font-size: 1.5rem;
    color: #111;
    font-family: 'ub-avenir', Avenir, serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .c-i-map {
    height: $desktop-map-height;
    display: flex;
    justify-content: center;
    .c-i-map__content-container {
      transition: all .25s;
      border-left: 1px solid rgb(204, 204, 204);
      padding-left: 2rem;
      .c-i-map__content {
        width: 350px;
      }
    }
    .c-i-map__image-container {
      margin: 0 2rem;
      position: relative;
      z-index: 10;
    }
    .c-i-map__image {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      max-height: $desktop-map-height;
      background-size: cover;
      .c-i-map__marker-pointer-container {
        height: 100%;
        width: 1rem;
        position: absolute;
        right: 0;
        transition: transform .25s;
        .c-i-map__marker-pointer {
          position: absolute;
          top: -1rem;
          right: 0;
          
  
          width: 0; 
          height: 0; 
          border-top: 1rem solid transparent;
          border-bottom: 1rem solid transparent; 
          
          border-right:1.5rem solid #333; 
        }
      }
    }
  }
  @media($bp-smaller-than-tablet)  {
    .c-i-map {
      height: 450px;
      .c-i-map__image-container {
        width: calc(100% - 2rem);
      }
      .c-i-map__content-container {
        // transform: translate(15vw);
        font-size: .9rem;
        opacity: 1;
        position: absolute;
        right: 0;
        padding: 1rem;
        z-index: 100;
        width: 75%;
        height: 450px;
        box-sizing: border-box;
        background-color: white;
        overflow: auto;
        .c-i-map__content {
          width: 100%;
        }
      }
    }
  }
}

@media($bp-smaller-than-tablet)  {
  .oyl-header__video.vertical {
    width: 100%;
    height: 100%;
  }
}

// polygon {
//   transition: transform .25s;
// }

.cls-5:hover {
  // transform: scale(2);
  stroke: white;
  stroke-width:2px;
  cursor: pointer;
}

.fa {
  transition: all .25s;
  cursor: pointer;
}
.fa:hover {
  font-size: 1.1rem;
}

body {
  overflow-x: hidden;
}
