/** @format */

@import "modules/magazine/2019/colors";
@import "modules/magazine/mixins";
@import "modules/magazine/utilities";
@import "modules/magazine/2019/text";
// @import "modules/magazine/header";
@import "modules/magazine/footer";
@import "modules/magazine/article";
@import "modules/magazine/2019/article";
@import "modules/magazine/2019/header";
@import "modules/magazine/2019/poetry";
@import "modules/magazine/objects";

@font-face {
  font-family: "ub-avenir-sans";
  src: url("../fonts/Avenir-Regular.woff2") format("woff2"), url("../fonts/Avenir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$border: 15px solid $color-primary-1;

$spacing: 1.5rem;

$time: 0.5s;

video {
  width: 100%;
}

.c-cover__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: font-size(32);
  position: absolute;
  top: 0;
  margin-top: 44%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  @media ($bp-larger-than-mobile) {
    font-size: font-size(50);
    margin-top: 36%;
  }
}

.c-cover__option-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin-top: 50%;
  justify-content: space-between;
  position: absolute;

  .c-cover__option {
    background-color: #ffffff8f;
    width: 100%;
    display: flex;
    justify-content: center;
    & > h3 {
      padding: 0.25rem;
      text-align: center;
    }
    &:hover {
      background-color: #fff;
    }
  }
}

h3,
h4 {
  font-family: "ub-avenir", Avenir, serif;
  font-weight: 300;
}

$headerHeight: 60px;

#magazine-title {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

#magazine-nav {
  width: 100%;
  height: $headerHeight;
  z-index: 100;
  color: #333333;
  cursor: default;

  position: relative;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  transition: background-color $time;

  &.show {
    // Structure
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .item {
    width: 320px;
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;

    position: absolute;
    transition: transform $time, opacity $time;
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    &.left {
      left: 0;
      text-transform: uppercase;
      .subsection {
        padding: 0.5rem;
        border: 1px solid #333;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    &.center {
      left: 50%;
      transform: translateX(-50%);
      text-transform: capitalize;
      h1 {
        font-weight: 300;
        text-transform: capitalize;
        font-family: "Montserrat", sans-serif;
      }
    }
    &.right {
      right: 1rem;
      text-transform: capitalize;
    }

    .subsection {
      display: inline-block;
      border-bottom: 1px solid transparent;
      transition: border-color #{$time/2};
      &.selected,
      &:hover {
        border-color: #333333;
      }
    }
  }
}

.magazine-container {
  max-width: calc(960px + #{$spacing * 2});
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: $headerHeight;
  min-height: 90vh;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  transition: opacity $time;

  &.show {
    opacity: 1;
  }

  #magainze-cover {
    display: flex;
  }

  @media ($bp-larger-than-mobile) {
    width: calc(100% - #{$spacing});
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .cover-photo-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .cover-photo-container {
      margin: 0 auto;
      max-width: 700px;
      width: 100%;
      height: calc(100vh - #{$headerHeight});
      display: flex;
      flex-direction: column;
      align-items: center;
      background-position: center;
      background-size: cover;
      box-shadow: none;
    }
  }

  .article-grid-wrapper {
    width: 100%;
    position: absolute;
    top: calc(100vh - 60px);
    left: 0;
    right: 0;
    margin-top: 0;
    background-color: white;
    transition: margin $time;

    &.slide-up {
      margin-top: -100vh;
      padding-top: $headerHeight;
    }
  }
  .article-grid-container {
    display: flex;
    max-width: calc(960px + 3rem);
    margin: 0 auto;
    min-height: 100vh;
    flex-direction: column;

    @media ($bp-larger-than-mobile) {
      flex-wrap: wrap;
      align-items: stretch;
      flex-direction: row;
      margin-top: $headerHeight;
    }
    .article-grid {
      $gridSize: 240px;
      margin-top: 1.5rem;

      .o-article-box {
        opacity: 0;
        transition: opacity $time;
        &.show {
          opacity: 1;
        }
      }

      &.redefine {
        .o-article-box {
          background-color: $color-primary-1;
          > h2 {
            background-color: $color-primary-1;
          }
        }
      }
      &.resolve {
        .o-article-box {
          background-color: $color-primary-2;
          > h2 {
            background-color: $color-primary-2;
          }
        }
      }
      &.reclaim {
        .o-article-box {
          background-color: $color-primary-3;
          > h2 {
            background-color: $color-primary-3;
          }
        }
      }

      @media ($bp-larger-than-mobile) {
        $gridSize: 320px;
        transition: opacity #{$time/2};

        &:hover {
          opacity: 0.75;
        }

        &:nth-of-type(n) {
          min-width: calc(#{$gridSize} - #{$spacing});
          height: calc(#{$gridSize} - #{$spacing});
          flex-grow: 1;
          flex-shrink: 0;
          .o-article-box {
            margin-left: #{$spacing/2};
            margin-right: #{$spacing/2};
          }
        }

        &:nth-of-type(5n + 1) {
          flex: 1 0 40%;
        }

        &:nth-of-type(5n + 2) {
          min-width: 60%;
          flex: 1 0 60%;
        }

        &:nth-of-type(5n + 4) {
          min-width: 60%;
          flex: 1 0 60%;
        }

        &:nth-of-type(5n) {
          flex: 1 0 40%;
        }

        &:nth-of-type(5n + 3) {
          flex: 1 0 100%;
        }

        &.resolve {
          &:nth-of-type(5n + 1) {
            // min-width: 60%;
            flex: 1 0 60%;
          }

          &:nth-of-type(5n + 2) {
            min-width: 40%;
            flex: 1 0 40%;
          }

          &:nth-of-type(5n + 3) {
            // height: calc(#{$gridSize * 2} - #{$spacing});
            min-width: 60%;
            flex: 1 0 60%;
          }

          &:nth-of-type(5n + 4) {
            // height: calc(#{$gridSize * 2} - #{$spacing});
            flex: 1 0 40%;
          }

          &:nth-of-type(5n) {
            flex: 1 0 100%;
          }
        }
      }
    }
  }
}
