/** @format */

@import "modules/magazine/2019/colors";
@import "modules/magazine/mixins";
@import "modules/magazine/utilities";
@import "modules/magazine/text";
@import "modules/magazine/header";
@import "modules/magazine/footer";
@import "modules/magazine/article";
@import "modules/magazine/2019/article";
@import "modules/magazine/poetry";
@import "modules/magazine/objects";

@font-face {
  font-family: "ub-avenir-sans";
  src: url("../fonts/Avenir-Regular.woff2") format("woff2"), url("../fonts/Avenir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$border: 15px solid $color-primary-1;

$spacing: 1.5rem;

$time: 0.5s;

.c-cover__logo {
  font-family: "Georgia", Georgia, serif;
  font-weight: 500;
  font-size: font-size(32);
  position: absolute;
  top: 0;
  margin-top: 44%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  @media ($bp-larger-than-mobile) {
    font-size: font-size(50);
    margin-top: 38%;
  }
}

.c-cover__option-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin-top: 50%;
  justify-content: space-between;
  position: absolute;

  .c-cover__option {
    background-color: #ffffff8f;
    width: 100%;
    display: flex;
    justify-content: center;
    & > h3 {
      padding: 0.25rem;
      text-align: center;
    }
    &:hover {
      background-color: #fff;
    }
  }
}

h3,
h4 {
  font-family: "ub-avenir", Avenir, serif;
  font-weight: 300;
}

$headerHeight: 60px;

#magazine-title {
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ub-avenir", Avenir, serif;
  text-transform: uppercase;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 100%);
  color: white;
}

#magazine-nav {
  background-color: white;
  height: $headerHeight;
  z-index: 100;
  color: $color-text-black;
  cursor: default;

  // top: calc(100vh - #{$headerHeight});
  // left: 0;
  // right: 0;
  display: flex;
  align-items: center;

  &.js-sticky--fixed {
    // Structure
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .item {
    width: 320px;
    display: flex;
    justify-content: space-around;
    font-family: "ub-avenir", Avenir, serif;
    text-transform: uppercase;
    position: absolute;
    transition: transform $time, opacity $time;
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    &.left {
      left: 0;
    }
    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
    &.right {
      right: 1rem;
    }

    .subsection {
      display: inline-block;
      border-bottom: 1px solid transparent;
      transition: border-color #{$time/2};
      &.selected,
      &:hover {
        border-color: $color-primary-1;
      }
    }
  }
}

.magazine-container {
  max-width: calc(960px + #{$spacing * 2});
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: $headerHeight;
  min-height: 90vh;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  transition: opacity $time;

  &.show {
    opacity: 1;
  }

  #magainze-cover {
    display: flex;
  }

  @media ($bp-larger-than-mobile) {
    width: calc(100% - #{$spacing});
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .cover-photo-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .cover-photo-container {
      margin: 0 auto;
      max-width: 700px;
      width: 100%;
      height: calc(100vh - #{$headerHeight});
      background-position: center;
      background-size: cover;
      box-shadow: none;

      .cover-photo {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .article-grid-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    position: absolute;
    top: calc(100vh - 60px);
    left: 0;
    right: 0;
    margin-top: 0;
    // margin-top: calc(#{$headerHeight} + #{$spacing});
    transition: margin-top 5000;

    &.slide-up {
      margin-top: calc(100vh - #{headerHeight});
    }
    @media ($bp-larger-than-mobile) {
      flex-wrap: wrap;
      align-items: stretch;
      flex-direction: row;
    }
    // .article-grid--reclaim,
    // .article-grid--resolve,
    // .article-grid--redefine {
    //   display: none;
    // }
    .article-grid {
      $gridSize: 240px;
      // display: none;
      // opacity: 0;

      margin-bottom: $spacing;

      // transition: opacity $time;

      .o-article-box {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity $time;
        &.show {
          opacity: 1;
        }
      }

      @media ($bp-larger-than-mobile) {
        $gridSize: 320px;
        transition: opacity #{$time/2};
        &:hover {
          opacity: 0.75;
        }

        &:nth-of-type(n) {
          min-width: calc(#{$gridSize} - #{$spacing});
          height: calc(#{$gridSize} - #{$spacing});
          flex-grow: 1;
          flex-shrink: 0;
          .o-article-box {
            margin-left: #{$spacing/2};
            margin-right: #{$spacing/2};
          }
        }

        &.reclaim {
          .o-article-box {
            background-color: $color-primary-1;
          }
          h2 {
            background: $color-accent-1;
          }
          // &:nth-of-type(5n + 1) {
          //   flex: 1 0 33.3%;
          // }

          // &:nth-of-type(5n + 2) {
          //   min-width: 66.7%;
          //   flex: 1 0 66.7%;
          // }

          // &:nth-of-type(5n + 3) {
          //   height: calc(#{$gridSize * 2} - #{$spacing});
          //   min-width: 66.7%;
          //   flex: 1 0 66.7%;
          // }

          // &:nth-of-type(5n + 4) {
          //   height: calc(#{$gridSize * 2} - #{$spacing});
          //   flex: 1 0 33.3%;
          // }

          // &:nth-of-type(5n) {
          //   flex: 1 0 100%;
          // }
        }
        &.resolve {
          .o-article-box {
            background-color: $color-primary-2;
          }
          h2 {
            background: $color-accent-2;
          }
          // &:nth-of-type(5n + 1) {
          //   min-width: 66.7%;
          //   flex: 1 0 66.7%;
          // }

          // &:nth-of-type(5n + 2) {
          //   flex: 1 0 33.3%;
          // }

          // &:nth-of-type(5n + 4) {
          //   height: calc(#{$gridSize * 2} - #{$spacing});
          //   flex: 1 0 66.7%;
          // }

          // &:nth-of-type(5n + 3) {
          //   height: calc(#{$gridSize * 2} - #{$spacing});
          //   min-width: 33.3%;
          //   flex: 1 0 33.3%;
          // }

          // &:nth-of-type(5n) {
          //   flex: 1 0 100%;
          // }
        }
        &.redefine {
          .o-article-box {
            background-color: $color-primary-3;
          }
          h2 {
            background: $color-accent-3;
          }
          // &:nth-of-type(5n + 1) {
          //   flex: 1 0 100%;
          // }

          // &:nth-of-type(5n + 2) {
          //   min-width: 66.7%;
          //   flex: 1 0 66.7%;
          // }

          // &:nth-of-type(5n + 3) {
          //   height: calc(#{$gridSize * 2} - #{$spacing});
          //   min-width: 33.3%;
          //   flex: 1 0 33.3%;
          // }

          // &:nth-of-type(5n + 4) {
          //   height: calc(#{$gridSize * 2} - #{$spacing});
          //   flex: 1 0 33.3%;
          // }

          // &:nth-of-type(5n) {
          //   flex: 1 0 66.7%;
          // }
        }
      }
    }
  }
}
