@import 'modules/magazine/colors';
@import 'modules/magazine/mixins';
@import 'modules/magazine/utilities';
@import 'modules/magazine/text';

.c-cover__logo {
	font-family: 'Georgia', Georgia, serif;
	font-weight: 500;
	font-size: font-size(32);
	position: absolute;
	margin-top: 37%;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

	@media($bp-larger-than-mobile) {
		font-size: font-size(50);
		margin-top: 38%;
	}
}
