/** @format */

@import "modules/magazine/2019/colors";
@import "modules/magazine/mixins";
@import "modules/magazine/utilities";
@import "modules/magazine/text";
@import "modules/magazine/header";
@import "modules/magazine/footer";
@import "modules/magazine/article";
@import "modules/magazine/poetry";
@import "modules/magazine/objects";

@font-face {
  font-family: "ub-avenir-sans";
  src: url("../fonts/Avenir-Regular.woff2") format("woff2"), url("../fonts/Avenir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$border: 15px solid $color-primary-1;

$spacing: 1.5rem;

$time: 0.5s;

.c-cover__logo {
  font-family: "Georgia", Georgia, serif;
  font-weight: 500;
  font-size: font-size(32);
  position: absolute;
  margin-top: 37%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  @media ($bp-larger-than-mobile) {
    font-size: font-size(50);
    margin-top: 38%;
  }
}

h3,
h4 {
  font-family: "ub-avenir", Avenir, serif;
  font-weight: 300;
}

.magazine-container {
  $headerHeight: 50px;

  max-width: calc(960px + #{$spacing * 2});
  box-sizing: border-box;
  margin-top: calc(#{$headerHeight} + 1rem);
  min-height: 90vh;

  display: flex;
  // align-items: center;
  justify-content: center;

  @media ($bp-larger-than-mobile) {
    width: calc(100% - #{$spacing});
  }

  .cover-photo-container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    opacity: 0;
    transition: opacity $time;

    &.show {
      opacity: 1;
    }
  }

  .magazine-header {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $headerHeight;
    z-index: 100;
    border-bottom: 1px solid $color-text-black;
    color: $color-text-black;

    .item {
      width: 320px;
      display: flex;
      justify-content: flex-start;
      font-family: "ub-avenir", Avenir, serif;

      &.left,
      &.right {
        .subsection {
          text-transform: uppercase;
          margin: 0 0.5rem;
          border-bottom: 2px solid transparent;
          transition: all $time;

          cursor: pointer;
          &.selected,
          &:hover {
            border-color: $color-primary-1;
          }
        }
      }
      &.left,
      &.center {
        display: none;
        & > h1 {
          font-family: "ub-avenir-sans", Avenir, serif;
          text-align: center;
        }
        @media ($bp-larger-than-mobile) {
          display: block;
        }
      }
      &.right {
        justify-content: center;
        @media ($bp-larger-than-mobile) {
          justify-content: flex-end;
        }
      }
    }
  }

  .article-grid-container {
    width: 100%;
    flex-direction: row;
    margin-top: $spacing;

    @media ($bp-larger-than-mobile) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }

    .article-grid {
      $gridSize: 240px;
      margin-bottom: $spacing;

      transition: opacity $time;

      .o-article-box {
        opacity: 0;
        transition: opacity $time;

        &.show {
          opacity: 1;
        }
      }
      @media ($bp-larger-than-mobile) {
        $gridSize: 320px;
        &:hover {
          opacity: 0.75;
        }

        &:nth-child(n) {
          min-width: calc(#{$gridSize} - #{$spacing});
          height: calc(#{$gridSize} - #{$spacing});
          .o-article-box {
            margin-left: #{$spacing/2};
            margin-right: #{$spacing/2};
          }
        }

        &.reclaim {
          .o-article-box {
            background-color: $color-primary-1;
          }
          h2 {
            background: $color-accent-1;
          }
          &:nth-child(5n + 1) {
            flex: 1 0 33.3%;
          }

          &:nth-child(5n + 2) {
            min-width: 66.7%;
            flex: 1 0 66.7%;
          }

          &:nth-child(5n + 3) {
            height: calc(#{$gridSize * 2} - #{$spacing});
            min-width: 66.7%;
            flex: 1 0 66.7%;
          }

          &:nth-child(5n + 4) {
            height: calc(#{$gridSize * 2} - #{$spacing});
            flex: 1 0 33.3%;
          }

          &:nth-child(5n) {
            flex: 1 0 100%;
          }
        }
        &.resolve {
          .o-article-box {
            background-color: $color-primary-2;
          }
          h2 {
            background: $color-accent-2;
          }
          &:nth-child(5n + 1) {
            min-width: 66.7%;
            flex: 1 0 66.7%;
          }

          &:nth-child(5n + 2) {
            flex: 1 0 33.3%;
          }

          &:nth-child(5n + 4) {
            height: calc(#{$gridSize * 2} - #{$spacing});
            flex: 1 0 66.7%;
          }

          &:nth-child(5n + 3) {
            height: calc(#{$gridSize * 2} - #{$spacing});
            min-width: 33.3%;
            flex: 1 0 33.3%;
          }

          &:nth-child(5n) {
            flex: 1 0 100%;
          }
        }
        &.redefine {
          .o-article-box {
            background-color: $color-primary-3;
          }
          h2 {
            background: $color-accent-3;
          }
          &:nth-child(5n + 1) {
            flex: 1 0 100%;
          }

          &:nth-child(5n + 2) {
            min-width: 66.7%;
            flex: 1 0 66.7%;
          }

          &:nth-child(5n + 3) {
            height: calc(#{$gridSize * 2} - #{$spacing});
            min-width: 33.3%;
            flex: 1 0 33.3%;
          }

          &:nth-child(5n + 4) {
            height: calc(#{$gridSize * 2} - #{$spacing});
            flex: 1 0 33.3%;
          }

          &:nth-child(5n) {
            flex: 1 0 66.7%;
          }
        }
      }
    }
  }
}

// keyframes
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
