@import 'modules/core';
@import 'modules/grid';
@import 'modules/fonts';
@import 'modules/font_faces';
@import 'modules/advertisements';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/utilities';

// Ubyssey site-specific files

@import 'modules/header';
@import 'modules/footer';

@import 'modules/headlines';
@import 'modules/buttons';

@import 'modules/homepage';

@import 'modules/article/base';
@import 'modules/article/embeds';
@import 'modules/article/comments_bar';
@import 'modules/article/gallery';
@import 'modules/article/full_width';
@import 'modules/social';
@import 'modules/search';

@import 'objects/article';
@import 'objects/inputs';
@import 'objects/archive';
@import 'objects/bottom_banner';

@import 'components/adblock-splash';
@import 'components/button';
@import 'components/cookie-disclaimer';
@import 'components/elections-sidebar';
@import 'components/replacement';
@import 'components/section-page';
@import 'components/suggested-articles';
@import 'components/form';
@import 'components/header-banner';
@import 'components/heading';
@import 'components/homepage';
@import 'components/info-box';
@import 'components/input-group';
@import 'components/page';
@import 'components/paragraph';
@import 'components/poll';
@import 'components/text-input';

@import 'components/events/calendar';
@import 'components/events/event-submit-form';
@import 'components/events/event-submit-landing';
@import 'components/events/related-events';
@import 'components/timeline';

@import 'modules/events/calendar';
@import 'modules/events/event';
@import 'modules/events/date_box';

@import 'modules/widgets/event';
@import 'modules/widgets/upcoming_events';
@import 'modules/widgets/upcoming_events_horizontal';
@import 'modules/widgets/facebook_video_big';
@import 'modules/widgets/banner';
@import 'modules/widgets/weekly-events';
@import 'modules/widgets/twitter';

body, html, #page-wrapper {
  max-height: 100%;
  height: 100%;

  @media screen {
    overflow: hidden;
  }
}

#page-wrapper {
  @media screen {
    display: flex;
    flex-direction: column;
  }
}

#content-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

div.image-container {
    height: 100%;
    display: table;
    margin: 0 auto;
    width: 100%;
}

div.image-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

p.slide-caption {
    font-family: $font-default;
    font-size: 13px;
    color: #fff;
    line-height: 19px;
}

p.slide-credit {
		font-family: $font-default;
		font-size: 13px;
		color: #9c9c9c;
		font-style: italic;
}

span.credit {
  font-style: italic;
  color: #969696;
}

img.article-attachment:hover {
    cursor: pointer;
}

img.slide-image {
    max-width: 100%;
}

div.navigation {
    color: white;
    font-family: $font-secondary;
    font-size: 13px;
    text-align: center;
}

div.navigation a {
    display: inline-block;
    padding: 6px 9px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 12px;
}

div.navigation a:hover {
    color: black;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
}

a.image {
  display: block;
  margin-bottom: 15px;
  img {
    display: block;
  }
  @media($bp-larger-than-phablet){
    margin-bottom: 0;
  }
}
