@font-face {
	font-family:'ub-minion-pro';
	src: url('../fonts/MinionPro-Bold_gdi.eot');
	src: url('../fonts/MinionPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MinionPro-Bold_gdi.woff') format('woff'),
		url('../fonts/MinionPro-Bold_gdi.ttf') format('truetype'),
		url('../fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-minion-pro';
	src: url('../fonts/MinionPro-BoldIt_gdi.eot');
	src: url('../fonts/MinionPro-BoldIt_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MinionPro-BoldIt_gdi.woff') format('woff'),
		url('../fonts/MinionPro-BoldIt_gdi.ttf') format('truetype'),
		url('../fonts/MinionPro-BoldIt_gdi.svg#MinionPro-BoldIt') format('svg');
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-minion-pro';
	src: url('../fonts/MinionPro-Regular_gdi.eot');
	src: url('../fonts/MinionPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MinionPro-Regular_gdi.woff') format('woff'),
		url('../fonts/MinionPro-Regular_gdi.ttf') format('truetype'),
		url('../fonts/MinionPro-Regular_gdi.svg#MinionPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-minion-pro';
	src: url('../fonts/MinionPro-It_gdi.eot');
	src: url('../fonts/MinionPro-It_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MinionPro-It_gdi.woff') format('woff'),
		url('../fonts/MinionPro-It_gdi.ttf') format('truetype'),
		url('../fonts/MinionPro-It_gdi.svg#MinionPro-It') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'ub-avenir';
    src: url('../fonts/Avenir-Bold.woff2') format('woff2'),
        url('../fonts/Avenir-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ub-avenir';
    src: url('../fonts/Avenir-It.woff2') format('woff2'),
        url('../fonts/Avenir-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ub-avenir';
    src: url('../fonts/Avenir-Regular.woff2') format('woff2'),
        url('../fonts/Avenir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.oyl-header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  background: #000;
}

.oyl-header__container {
  flex: 1;
  width: 100%;


  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.oyl-nav {
  height: 50px;
  width: 100%;
  background: #000;
  position: relative;
  z-index: 400;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

  //display: flex;
  //align-items: center;
}

.oyl-nav.js-sticky--fixed {
  .oyl-nav__title {
    opacity: 1;
  }

  .oyl-nav__list {
    right: 160px;
  }

  .oyl-nav__logo {
    opacity: 1;
  }
}

.oyl-nav__logo {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  opacity: 0;
  transition: opacity 0.25s;

  display: none;

  @media(min-width: 800px) {
    display: block;
  }

  a {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-image: url(../images/ubyssey_logo_white.png);
    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;
    align-self: center;
    top: 10px;
  }
}

.oyl-nav__title {
  font-family: 'ub-avenir', Avenir, serif;
  font-size: 16px;
  color: #F5A623;
  line-height: 50px;
  margin-left: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.5s;

  display: none;

  @media(min-width: 760px) {
    display: block;
  }
}

.oyl-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 0;

  text-align: center;
  transition: right 0.5s;

  height: 50px;

  @media(min-width: 760px) {
    top: 0;
    position: absolute;

    right: 50%;
    width: 320px;
    margin-right: -160px;
  }

  li {
    display: inline-block;
    line-height: 50px;
    margin-left: 1.15rem;
    margin-right: 1.15rem;

    a {
      color: #fff;
      font-family: 'ub-avenir', Avenir, serif;
      font-weight: bold;
      font-size: 18px;
      text-shadow: 0 2px 0 rgba(0,0,0,0.23);
      border-width: 0 0 3px 0;
      border-style: solid;
      border-color: transparent;
      text-decoration: none;

      transition: border-color 0.25s;

      &.is-selected, &:hover {
        border-color: #f3a633;
      }
    }
  }
}

.oyl-header__logo {
  position: absolute;
  width: 100%;
  z-index: 300;
  padding-top: 1.5rem;
  text-align: center;
}

.oyl-header__logo > a {
  display: inline-block;
  width: 141px;
  height: 33px;
  background-image: url('../images/ubyssey_logo_white.png');
  background-size: 100%;

  opacity: 1;
  transition: opacity 0.25s;
}

.oyl-header__logo > a:hover {
  opacity: 0.75;
}

.oyl-header__overlay {
  width: 100%;
  z-index: 200;

  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;

  position: absolute;
  top: 0;
  bottom: 0;
}

.oyl-header__shadow {
  position: absolute;
  z-index: 100;
  top: -50%;
  height: 150%;
  left: -50%;
  width: 200%;
  background-image: radial-gradient(50% 97%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.00) 97%);

  opacity: 0;
  transition: opacity 4.5s ease-in;

  @media(min-width: 760px) {
    left: -25%;
    width: 150%;
  }
}

.oyl-header__shadow.is-visible {
  opacity: 1;
}

.oyl-header__video {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 10;
  background: #000;

  &.vertical {
    width: auto;
    height: 100%;
  }
}

.oyl-article__header {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.oyl-article__header.is-visible {
  opacity: 1;
}

.oyl-article__subtitle {
  font-family: 'ub-avenir', Avenir, serif;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,0.23);
}

.oyl-article__title {
  font-family: 'ub-minion-pro', serif;
  color: #F5A623;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,0.42);
  line-height: 1em;

  margin-top: 1rem;
  margin-bottom: 0.75rem;

  font-size: 48px;

  @media(min-width: 760px) {
    font-size: 64px;
  }
}

.oyl-article__snippet {
  font-family: 'ub-avenir', Avenir, serif;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.35);

  max-width: 460px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4em;
  margin-top: 0.75rem;
}

.oyl-article__byline {
  opacity: 0.85;
  font-family: 'ub-avenir', Avenir, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0;
  text-align: center;
}

.oyl-article__body {

  @media(min-width: 760px) {
    padding-top: 1rem;
  }

  p {
    max-width: 585px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  p {
    font-family: "Georgia", serif;
    font-size: 1.0625em;
    color: #333333;
    line-height: 1.625rem;
    margin-top: 1.4rem;

    a {
      color: #F5A623;
    }
  }
}

.attachment.pull-quote {
  background: #f3a633;
  padding: 1.5rem;
  margin-bottom: 1.25rem;

  .quote {
    margin: 0;
    font-family: 'ub-avenir', Avenir, serif;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.4em;
  }

  .source {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-family: 'ub-avenir', Avenir, serif;
    color: white;
  }
}

.oyl-graphic {
  background: #f3a633;
  padding: 1.5rem;
  margin-bottom: 1.25rem;

  ul {
    margin: 0;
    padding-left: 1.5rem;

    li {
      margin: 0;
      font-family: 'ub-avenir', Avenir, serif;
      font-weight: bold;
      font-size: 16px;
      color: #ffffff;
      line-height: 1.4em;
      margin-bottom: 0.75rem;
    }
  }
}

@media(min-width: 760px) {
  .oyl-article__body .attachment:nth-of-type(odd) {
    float: left;
    margin-right: 1.75rem;
    margin-left: 12%;
    width: 25%;
    max-width: 500px;

    &.image-attachment {
      margin-left: 8%;
      width: 35%;
    }
  }

  .oyl-article__body .attachment:nth-of-type(even) {
    float: right;
    margin-left: 1.75rem;
    margin-right: 12%;
    width: 25%;
    max-width: 500px;

    &.image-attachment {
      margin-right: 8%;
      width: 35%;
    }
  }
}

.image-attachment {
  img {
    width: 100%;
    height: auto;
  }

  .caption {
    font-family: 'ub-avenir', Avenir, serif;
    font-size: 14px;
    color: #666;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding-left: 15px;
    padding-right: 15px;

    @media(min-width: 760px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.oyl-preview {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 585px;
  min-height: 225px;
  padding-top: 22%;
  background: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-size: cover;

  &:hover .oyl-preview__overlay {
    opacity: 0.8;
  }
}

.oyl-preview__overlay {
  /* Rectangle 4: */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.81) 100%);

  opacity: 1;
  transition: opacity 0.2s;
}

.oyl-preview__container {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  z-index: 200;

  @media(min-width: 500px) {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }

  h3 {
    font-family: 'ub-avenir', Avenir, serif;
    font-size: 16px;
    color: #F5A623;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    font-family: 'ub-avenir', Avenir, serif;
    font-size: 36px;
    color: #FFFFFF;;
  }

  p {
    color: #fff;
    padding: 0;
    margin-top: 0.25rem;
    font-family: 'ub-avenir', Avenir, serif;
    margin-bottom: 0;
  }
}

.dropcap > p:first-letter {
  float: left;
  font-size: 70px;
  line-height: 70px;
  padding-right: 10px;
}

.js-sticky--fixed {
  // Structure
  position: fixed;
  top: 0;
}


.oyl-about {
  max-width: 585px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;

  h3, p {
    font-family: 'ub-avenir', Avenir, serif;
    color: #555;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 17px;
    line-height: 1.5em;
  }

}
