@import 'modules/core';
@import 'modules/fonts';
@import 'modules/font_faces';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/header';
@import 'modules/footer';

@import 'objects/inputs';

.u-container--padded {
  flex: auto;
  padding-top: 17rem;
  padding-bottom: 15rem;
  text-align: center;
  position: relative;
}
