@import 'modules/core';
@import 'modules/fonts';
@import 'modules/font_faces';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/header';
@import 'modules/footer';

@import 'objects/inputs';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.u-container {
  // Structure
  padding-top: 0rem;

  // Text
  text-align: center;
}

.c-success--message {
  text-color: #4e4e4e;
}
